<%= content_for :browser_title, t('page_titles.provider.user_permissions') %>
<% content_for :before_content do %>
  <%= breadcrumbs({
    t('page_titles.provider.account') => provider_interface_account_path,
    t('page_titles.provider.user_permissions') => nil,
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.provider.user_permissions') %></h1>

    <h2 class="govuk-heading-m"><%= t('.access_to_orgs.heading') %></h2>
    <%= render SummaryListComponent.new(
      rows: [
        {
          key: t('.access_to_orgs.key'),
          value: @providers.map(&:name),
          paragraph_format: true,
        },
      ],
    ) %>

    <% @providers.each do |provider| %>
      <h2 class="govuk-heading-m"><%= t('.permissions_for', provider_name: provider.name) %></h2>
      <p class="govuk-body">All users can view applications</p>

      <%= render ProviderInterface::UserPermissionSummaryComponent.new(
        provider_user: current_provider_user,
        provider: provider,
      ) %>
    <% end %>
  </div>
</div>
