<%= f.govuk_error_summary %>
<%= f.hidden_field(:provider_id) %>
<%= f.hidden_field(:course_id) %>

<% if @wizard.current_step.provider_exists? %>
  <p class="govuk-caption-xl govuk-!-margin-top-0">
    <%= @wizard.current_step.provider.name %>
  </p>
<% end %>

<%= f.govuk_radio_buttons_fieldset :study_mode, legend: { text: t('page_titles.which_study_mode'), size: 'xl', tag: 'h1' } do %>
  <%= f.govuk_radio_button :study_mode, :full_time, label: { text: 'Full time' }, link_errors: true %>
  <%= f.govuk_radio_button :study_mode, :part_time, label: { text: 'Part time' } %>
<% end %>

<%= f.govuk_submit t('continue') %>
