<% content_for :title, title_with_error_prefix(t('page_titles.which_study_mode'), @wizard.current_step.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@wizard.previous_step_path(fallback: service_link)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @wizard.current_step,
          url: @wizard.current_step_path(provider_id: params[:provider_id], course_id: params[:course_id]),
        ) do |f| %>
       <%= f.govuk_error_summary %>

       <%= f.govuk_radio_buttons_fieldset :study_mode, legend: { text: t('page_titles.which_study_mode'), size: 'xl', tag: 'h1' } do %>
         <%= f.govuk_radio_button :study_mode, :full_time, label: { text: 'Full time' }, link_errors: true %>
         <%= f.govuk_radio_button :study_mode, :part_time, label: { text: 'Part time' } %>
       <% end %>

       <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
