<dl class="govuk-summary-list">
  <% reasons.each do |reason| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><%= reason.label %></dt>
      <dd class="govuk-summary-list__value">
        <% if reason.details&.text.present? %>
          <%= simple_format(reason.details.text) %>
        <% elsif reason.selected_reasons.present? %>
          <ul class="govuk-list govuk-list--spaced">
            <% reason.selected_reasons.each do |nested_reason| %>
              <% if nested_reason.details %>
                <li>
                  <p><%= nested_reason.label_text %>:</p>
                  <%= simple_format(nested_reason.details.text) %>
                </li>
              <% else %>
                <li><%= nested_reason.label %></li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p><%= I18n.t("rejection_reasons.#{reason.id}.description") %></p>
        <% end %>
        <%= link_to_find_when_rejected_on_qualifications if render_link_to_find?(reason) %>
      </dd>
      <% if editable? %>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to 'Change', new_provider_interface_rejection_path(application_choice) %>
        </dd>
      <% end %>
    </div>
  <% end %>
</dl>
