<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="0"></th>
          <th scope="colgroup" class="govuk-table__header govuk-!-border-bottom-0 govuk-table__header--numeric" colspan="3"> <%= provider_name %> </th>
          <th scope="colgroup" class="govuk-table__header govuk-!-border-bottom-0 govuk-table__header--numeric" colspan="3">All providers</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= subject_table ? 'Subject' : 'Level' %></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-font-weight-regular">This cycle</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-font-weight-regular">Last cycle</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-font-weight-regular">Change</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-font-weight-regular">This cycle</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-font-weight-regular">Last cycle</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-font-weight-regular">Change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% provider_model.each do |row| %>
          <% if top_level_only %>
            <% next unless row['level'] == 'top' %>
          <% end %>

          <% next if row[first_column].delete(',').to_i.zero? && row[second_column].delete(',').to_i.zero? %>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular <%= row['level'] == 'top' ? '' : 'govuk-!-padding-left-2' %>">
              <%= row['tad_subject'] %>
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= row[first_column] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= row[second_column] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= row[third_column] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= national_model.find { |national_row| national_row['tad_subject'] == row['tad_subject'] }[first_column] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= national_model.find { |national_row| national_row['tad_subject'] == row['tad_subject'] }[second_column] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= national_model.find { |national_row| national_row['tad_subject'] == row['tad_subject'] }[third_column] %></td>
          </tr>
        <% end %>
      </tbody>
      <% if include_total %>
        <tfoot>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_with_delimiter(provider_model.select { |row| row['level'] == 'top' }.map { |row| row[first_column]&.delete(',').to_i }.sum, delimiter: ',') %></td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_with_delimiter(provider_model.select { |row| row['level'] == 'top' }.map { |row| row[second_column]&.delete(',').to_i }.sum, delimiter: ',') %></td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
              <% first_total = provider_model.select { |row| row['level'] == 'top' }.map { |row| row[first_column]&.delete(',').to_i }.sum %>
              <% second_total = provider_model.select { |row| row['level'] == 'top' }.map { |row| row[second_column]&.delete(',').to_i }.sum %>
              <% percentage_change = second_total.to_f.zero? ? 0 : (first_total - second_total).to_f / second_total * 100 %>
              <%= number_with_precision(percentage_change, precision: 0) %>%
            </td>

            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_with_delimiter(national_model.select { |row| row['level'] == 'top' }.map { |row| row[first_column]&.delete(',').to_i }.sum, delimiter: ',') %></td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_with_delimiter(national_model.select { |row| row['level'] == 'top' }.map { |row| row[second_column]&.delete(',').to_i }.sum, delimiter: ',') %></td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
              <% first_total = national_model.select { |row| row['level'] == 'top' }.map { |row| row[first_column]&.delete(',').to_i }.sum %>
              <% second_total = national_model.select { |row| row['level'] == 'top' }.map { |row| row[second_column]&.delete(',').to_i }.sum %>
              <% percentage_change = second_total.to_f.zero? ? 0 : (first_total - second_total).to_f / second_total * 100 %>
              <%= number_with_precision(percentage_change, precision: 0) %>%</td>
            </td>
          </tr>
        </tfoot>
      <% end %>
    </table>
  </div>
</div>
