<%= content_for :title, t('page_titles.provider.status_of_active_applications') %>
<%= content_for :before_content, breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path, "Mid-cycle reprot" => nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"> <%= @provider.name %></span>
      2022 to 2023 recruitment cycle performance
    </h1>

    <p class="govuk-body">This report shows your organisation’s initial teacher training recruitment performance from 11 October 2022 to 3 April 2023 (halfway through the cycle).</p>

    <p class="govuk-body">The report compares your organisation's recruitment data this cycle, to the same time last recruitment cycle. It also includes national level data.</p>

    <h2 class="govuk-heading-m">How the data in this report compares to other data we publish</h2>

    <p class="govuk-body">Previously, we shared a monthly statistics page with training providers. We calculate the data for the monthly statistics page in the same way UCAS used to.</p>

    <p class="govuk-body">The new report about your recruitment performance, calculates data in a new, improved way. For this reason, you should not compare it with the monthly statistics page.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</h2>

    <ol class="govuk-list govuk-!-margin-bottom-8 app-toc">
      <li>
        <a href="#submitted" class="govuk-link app-toc__link">
          <span class="app-toc__number">1.</span>
          <span class="app-toc__content">Submitted applications</span>
        </a>
      </li>
      <li>
        <a href="#number-applications" class="govuk-link app-toc__link">
          <span class="app-toc__number">2.</span>
          <span class="app-toc__content">Number of applications</span>
        </a>
      </li>
      <li>
        <a href="#offer" class="govuk-link app-toc__link">
          <span class="app-toc__number">3.</span>
          <span class="app-toc__content">Applications with an offer</span>
        </a>
      </li>
      <li>
       <a href="#accepted" class="govuk-link app-toc__link">
         <span class="app-toc__number">4.</span>
         <span class="app-toc__content">Offers accepted</span>
       </a>
     </li>
      <li>
        <a href="#deferrals" class="govuk-link app-toc__link">
          <span class="app-toc__number">5.</span>
          <span class="app-toc__content">Deferrals</span>
        </a>
      </li>
      <li>
        <a href="#rejected" class="govuk-link app-toc__link">
          <span class="app-toc__number">6.</span>
          <span class="app-toc__content">Applications rejected</span>
        </a>
      </li>
      <li>
        <a href="#automatically" class="govuk-link app-toc__link">
          <span class="app-toc__number">7.</span>
          <span class="app-toc__content">Applications rejected automatically</span>
        </a>
      </li>
      <li>
        <a href="#proportion" class="govuk-link app-toc__link">
          <span class="app-toc__number">8.</span>
          <span class="app-toc__content">Proportion of applications rejected</span>
        </a>
      </li>
    </ol>
  </div>
</div>

    <h2 class="govuk-heading-m" id="submitted">Submitted applications</h2>

    <p class="govuk-body">This table shows the number of candidates who’ve submitted at least 1 application to <%= @provider.name %> this recruitment cycle.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0"></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3"><%= @provider.name %></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3">All providers (national data)</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Level</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">Primary</th>
          <td class="govuk-table__cell">130</td>
          <td class="govuk-table__cell">141</td>
          <td class="govuk-table__cell">+10%</td>
          <td class="govuk-table__cell">13,401</td>
          <td class="govuk-table__cell">11,7341</td>
          <td class="govuk-table__cell">-30%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Secondary</th>
          <td class="govuk-table__cell">50</td>
          <td class="govuk-table__cell">34</td>
          <td class="govuk-table__cell">-25%</td>
          <td class="govuk-table__cell">12,401</td>
          <td class="govuk-table__cell">13,734</td>
          <td class="govuk-table__cell">-14%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">130</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">141</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+10%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">13,401</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">11,734</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">-30%</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" id="number-applications">Number of applications</h2>
    <p class="govuk-body">This table shows the total number of applications received by <%= @provider.name %> from 11 October 2022 to 3 April 2023.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0"></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3"><%= @provider.name %></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3">All providers (national data)</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Level</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">Primary</th>
          <td class="govuk-table__cell">130</td>
          <td class="govuk-table__cell">No data for last recruitment cycle</td>
          <td class="govuk-table__cell">+10%</td>
          <td class="govuk-table__cell">13,401</td>
          <td class="govuk-table__cell">11,7341</td>
          <td class="govuk-table__cell">-30%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Secondary</th>
          <td class="govuk-table__cell">50</td>
          <td class="govuk-table__cell">34</td>
          <td class="govuk-table__cell">-25%</td>
          <td class="govuk-table__cell">12,401</td>
          <td class="govuk-table__cell">13,734</td>
          <td class="govuk-table__cell">-14%</td>
        </tr>

        <% ["Art and design", "Biology", "Chemistry", "Computing", "Design and technology", "Drama", "English", "Geography", "History", "Mathematics", "Modern foreign languages", "Music", "Physical education", "Physics"].each do |subject| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular govuk-!-padding-left-2"><%= subject %></th>
            <td class="govuk-table__cell">30</td>
            <td class="govuk-table__cell">24</td>
            <td class="govuk-table__cell">-25%</td>
            <td class="govuk-table__cell">4,551</td>
            <td class="govuk-table__cell">3,491</td>
            <td class="govuk-table__cell">-14%</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">130</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">141</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+10%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">13,401</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">11,734</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">-30%</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m" id="offer">Applications with an offer</h2>

    <p class="govuk-body">This table shows the number of applications with an offer from <%= @provider.name %> from 11 October 2022 to 3 April 2023.</p>

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0"></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3"><%= @provider.name %></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3">All providers (national data)</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Subject</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">Primary</th>
          <td class="govuk-table__cell">130</td>
          <td class="govuk-table__cell">No data for last recruitment cycle</td>
          <td class="govuk-table__cell">+10%</td>
          <td class="govuk-table__cell">13,401</td>
          <td class="govuk-table__cell">11,7341</td>
          <td class="govuk-table__cell">-30%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Secondary</th>
          <td class="govuk-table__cell">50</td>
          <td class="govuk-table__cell">34</td>
          <td class="govuk-table__cell">-25%</td>
          <td class="govuk-table__cell">12,401</td>
          <td class="govuk-table__cell">13,7341</td>
          <td class="govuk-table__cell">-14%</td>
        </tr>
        <% ["Art and design", "Biology", "Chemistry", "Computing", "Design and technology", "Drama", "English", "Geography", "History", "Mathematics", "Modern foreign languages", "Music", "Physical education", "Physics"].each do |subject| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular govuk-!-padding-left-2"><%= subject %></th>
            <td class="govuk-table__cell">30</td>
            <td class="govuk-table__cell">24</td>
            <td class="govuk-table__cell">-25%</td>
            <td class="govuk-table__cell">4,551</td>
            <td class="govuk-table__cell">3,491</td>
            <td class="govuk-table__cell">-14%</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">130</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">141</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+10%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">13,401</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">11,7341</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">-30%</td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m" id="accepted">Offers accepted</h2>

    <p class="govuk-body">This table shows the number of offers that have been accepted from 11 October to 3 April 2023.</p>

    <p class="govuk-body">This table does not include any deferrals from last cycle or this cycle.</p>

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0"></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3"><%= @provider.name %></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3">All providers (national data)</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Subject</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">Primary</th>
          <td class="govuk-table__cell">130</td>
          <td class="govuk-table__cell">No data for last recruitment cycle</td>
          <td class="govuk-table__cell">+10%</td>
          <td class="govuk-table__cell">13,401</td>
          <td class="govuk-table__cell">11,7341</td>
          <td class="govuk-table__cell">-30%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Secondary</th>
          <td class="govuk-table__cell">50</td>
          <td class="govuk-table__cell">34</td>
          <td class="govuk-table__cell">-25%</td>
          <td class="govuk-table__cell">12,401</td>
          <td class="govuk-table__cell">13,7341</td>
          <td class="govuk-table__cell">-14%</td>
        </tr>
        <% ["Art and design", "Biology", "Chemistry", "Computing", "Design and technology", "Drama", "English", "Geography", "History", "Mathematics", "Modern foreign languages", "Music", "Physical education", "Physics"].each do |subject| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular govuk-!-padding-left-2"><%= subject %></th>
            <td class="govuk-table__cell">30</td>
            <td class="govuk-table__cell">24</td>
            <td class="govuk-table__cell">-25%</td>
            <td class="govuk-table__cell">4,551</td>
            <td class="govuk-table__cell">3,491</td>
            <td class="govuk-table__cell">-14%</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">130</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">141</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+10%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">13,401</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">11,7341</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">-30%</td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-m" id="deferrals">Deferrals</h2>

    <p class="govuk-body">This table shows the number of deferrals that have happened so far this cycle (from 11 October 2022 to 3 April 2023). It also shows deferrals from last cycle, where a candidate deferred their offer into this cycle.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deferrals</th>
          <th scope="col" class="govuk-table__header">Deferrals this cycle (as of 3 April 2023) to next cycle</th>
          <th scope="col" class="govuk-table__header">Deferrals from last cycle to this cycle</th>
          <th scope="col" class="govuk-table__header">Total</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular"><%= @provider.name %></th>
          <td class="govuk-table__cell">130</td>
          <td class="govuk-table__cell">141</td>
          <td class="govuk-table__cell">271</td>

        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">All providers (national data)</th>
          <td class="govuk-table__cell">300</td>
          <td class="govuk-table__cell">450</td>
          <td class="govuk-table__cell">750</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m" id="rejected">Applications rejected</h2>

    <p class="govuk-body">This table shows the number of applications rejected from 11 October 2022 to 3 April 2023.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0"></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3"><%= @provider.name %></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3">All providers (national data)</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Subject</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">Primary</th>
          <td class="govuk-table__cell">130</td>
          <td class="govuk-table__cell">No data for last recruitment cycle</td>
          <td class="govuk-table__cell">+10%</td>
          <td class="govuk-table__cell">13,401</td>
          <td class="govuk-table__cell">11,7341</td>
          <td class="govuk-table__cell">-30%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Secondary</th>
          <td class="govuk-table__cell">50</td>
          <td class="govuk-table__cell">34</td>
          <td class="govuk-table__cell">-25%</td>
          <td class="govuk-table__cell">12,401</td>
          <td class="govuk-table__cell">13,7341</td>
          <td class="govuk-table__cell">-14%</td>
        </tr>
        <% ["Art and design", "Biology", "Chemistry", "Computing", "Design and technology", "Drama", "English", "Geography", "History", "Mathematics", "Modern foreign languages", "Music", "Physical education", "Physics"].each do |subject| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular govuk-!-padding-left-2"><%= subject %></th>
            <td class="govuk-table__cell">30</td>
            <td class="govuk-table__cell">24</td>
            <td class="govuk-table__cell">-25%</td>
            <td class="govuk-table__cell">4,551</td>
            <td class="govuk-table__cell">3,491</td>
            <td class="govuk-table__cell">-14%</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">130</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">141</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+10%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">13,401</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">11,7341</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">-30%</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h2 class="govuk-heading-m" id="automatically">Applications rejected automatically</h2>
    <p class="govuk-body">This table shows the percentage of applications rejected automatically from 11 October 2022 to 3 April 2023.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0"></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3"><%= @provider.name %></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3">All providers (national data)</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Subject</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">Primary</th>
          <td class="govuk-table__cell">49%</td>
          <td class="govuk-table__cell">No data for last recruitment cycle</td>
          <td class="govuk-table__cell">+9%</td>
          <td class="govuk-table__cell">60%</td>
          <td class="govuk-table__cell">50%</td>
          <td class="govuk-table__cell">+10%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Secondary</th>
          <td class="govuk-table__cell">49%</td>
          <td class="govuk-table__cell">40%</td>
          <td class="govuk-table__cell">+9%</td>
          <td class="govuk-table__cell">60%</td>
          <td class="govuk-table__cell">50%</td>
          <td class="govuk-table__cell">+10%</td>
        </tr>
        <% ["Art and design", "Biology", "Chemistry", "Computing", "Design and technology", "Drama", "English", "Geography", "History", "Mathematics", "Modern foreign languages", "Music", "Physical education", "Physics"].each do |subject| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular govuk-!-padding-left-2"><%= subject %></th>
            <td class="govuk-table__cell">49%</td>
            <td class="govuk-table__cell">40%</td>
            <td class="govuk-table__cell">+9%</td>
            <td class="govuk-table__cell">60%</td>
            <td class="govuk-table__cell">50%</td>
            <td class="govuk-table__cell">+10%</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">49%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">40%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+9%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">60%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">50%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+10%</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m" id="proportion">Proportion of applications rejected</h2>

    <p class="govuk-body">This table shows what proportion of your overall applications were rejected from 11 October 2022 to 3 April 2023.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row app-table__row--no-bottom-border">
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0"></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3"><%= @provider.name %></th>
          <th scope="col" class="govuk-table__header govuk-!-border-bottom-0" colspan="3">All providers (national data)</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Subject</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
          <th scope="col" class="govuk-table__header">This cycle</th>
          <th scope="col" class="govuk-table__header">Last cycle</th>
          <th scope="col" class="govuk-table__header">Percentage change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">Primary</th>
          <td class="govuk-table__cell">130</td>
          <td class="govuk-table__cell">No data for last recruitment cycle</td>
          <td class="govuk-table__cell">+10%</td>
          <td class="govuk-table__cell">13,401</td>
          <td class="govuk-table__cell">11,7341</td>
          <td class="govuk-table__cell">-30%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Secondary</th>
          <td class="govuk-table__cell">50</td>
          <td class="govuk-table__cell">34</td>
          <td class="govuk-table__cell">-25%</td>
          <td class="govuk-table__cell">12,401</td>
          <td class="govuk-table__cell">13,7341</td>
          <td class="govuk-table__cell">-14%</td>
        </tr>
        <% ["Art and design", "Biology", "Chemistry", "Computing", "Design and technology", "Drama", "English", "Geography", "History", "Mathematics", "Modern foreign languages", "Music", "Physical education", "Physics"].each do |subject| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular govuk-!-padding-left-2"><%= subject %></th>
            <td class="govuk-table__cell">30</td>
            <td class="govuk-table__cell">24</td>
            <td class="govuk-table__cell">-25%</td>
            <td class="govuk-table__cell">4,551</td>
            <td class="govuk-table__cell">3,491</td>
            <td class="govuk-table__cell">-14%</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">130</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">141</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">+10%</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">13,401</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">11,7341</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">-30%</td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
