<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: change_offer_form,
          url: next_step_url,
          method: next_step_method do |f| %>

      <%= f.hidden_field :step %>
      <%= f.hidden_field :entry %>
      <%= f.hidden_field :provider_id %>
      <%= f.hidden_field :course_id %>
      <%= f.govuk_radio_buttons_fieldset :course_option_id do %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl"><%= application_choice.application_form.full_name %></span>
            <%= page_title %>
          </h1>
        </legend>

        <% course_options.each do |course_option| %>
          <%= f.govuk_radio_button :course_option_id, course_option.id, label: { text: course_option.site.name }, hint_text: course_option.site.full_address %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
    </p>
  </div>
</div>
