<% content_for :title, t('authentication.expired_token.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: candidate_interface_create_expired_sign_in_path, method: :post do |f| %>
      <h1 class="govuk-heading-xl">
        <%= t('authentication.expired_token.heading') %>
      </h1>
      <p class="govuk-body">
        Sign in links only work once and expire after one hour, so you need to request a new one. We’ll send this by email.
      </p>

      <%= hidden_field_tag :u, params[:u], html: { autocomplete: 'off' } %>
      <%= hidden_field_tag :token, params[:token], html: { autocomplete: 'off' } %>

      <%= f.govuk_submit t('authentication.expired_token.button') %>
    <% end %>
  </div>
</div>
