<% content_for :title, title_with_error_prefix(t('page_titles.sign_in'), candidate.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_create_account_or_sign_in_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: candidate, url: candidate_interface_sign_in_path(providerCode: params[:providerCode], courseCode: params[:courseCode]), html: { novalidate: true } do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.sign_in') %>
      </h1>

      <p class="govuk-body-l">Enter the email address you used to register with, and we will send you a link to sign in.</p>

      <%= f.govuk_email_field :email_address, label: { text: t('authentication.sign_up.email_address.label'), size: 'm' }, width: 'two-thirds', autocomplete: 'email', spellcheck: false %>
      <%= hidden_field_tag :path, params.fetch('path', nil) %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
