<% content_for :title, t('page_titles.sign_in') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_start_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t('page_titles.sign_in') %>
    </h1>

    <p class="govuk-body-l">Enter the email address you used to register with, and we will send you a link to sign in.</p>

    <%= form_with model: @candidate, url: candidate_interface_sign_in_path, html: { novalidate: true } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :email_address, label: { text: t('authentication.sign_up.email_address.label'), size: 'm' }, type: :email, width: 'two-thirds', autocomplete: 'email' %>

      <%= f.submit t('authentication.sign_up.button_continue'), class: 'govuk-button', 'data-module': 'govuk-button', 'data-prevent-double-click': true %>
    <% end %>
  </div>
</div>
