<% content_for :browser_title, title_with_error_prefix(t('.title'), @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<div class="govuk-grid-row">
  <%= form_with(
    model: @form,
    url: candidate_interface_previous_teacher_training_path(@previous_teacher_training),
    method: :put,
  ) do |f| %>
    <%= f.govuk_error_summary %>

    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>

    <% if @form.started_yes? %>
      <%= govuk_inset_text(
        text: t(
          '.qts_guidance_html',
          return_to_teaching: govuk_link_to('return to teaching', t('teaching_vacancies.url_return_to_teaching'), new_tab: true),
        ),
      ) %>
    <% end %>

    <div class="app-summary-card govuk-!-margin-bottom-6">
      <div class="app-summary-card__body">
        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key { t('.started_teacher_training') } %>
            <% row.with_value { @form.started.capitalize } %>
            <% if @section_policy.can_edit? %>
              <% row.with_action(
                text: t('.change'),
                href: edit_candidate_interface_previous_teacher_trainings_path(
                  @previous_teacher_training,
                  return_to: 'review',
                ),
                visually_hidden_text: t('.change_started_teacher_training'),
              ) %>
            <% end %>
          <% end %>

          <% if @form.started_yes? %>
            <% summary_list.with_row do |row| %>
              <% row.with_key { t('.provider_name') } %>
              <% row.with_value { @form.provider_name } %>
              <% if @section_policy.can_edit? %>
                <% row.with_action(
                  text: t('.change'),
                  href: new_candidate_interface_previous_teacher_training_name_path(
                    @previous_teacher_training,
                    return_to: 'review',
                  ),
                  visually_hidden_text: t('.change_provider_name'),
                ) %>
              <% end %>
            <% end %>

            <% summary_list.with_row do |row| %>
              <% row.with_key { t('.training_dates') } %>
              <% row.with_value { @previous_teacher_training.formatted_dates } %>
              <% if @section_policy.can_edit? %>
                <% row.with_action(
                  text: t('.change'),
                  href: new_candidate_interface_previous_teacher_training_date_path(
                    @previous_teacher_training,
                    return_to: 'review',
                  ),
                  visually_hidden_text: t('.change_training_dates'),
                ) %>
              <% end %>
            <% end %>

            <% summary_list.with_row do |row| %>
              <% row.with_key { t('.details') } %>
              <% row.with_value { simple_format(@form.details) } %>
              <% if @section_policy.can_edit? %>
                <% row.with_action(
                  text: t('.change'),
                  href: new_candidate_interface_previous_teacher_training_detail_path(
                    @previous_teacher_training,
                    return_to: 'review',
                  ),
                  visually_hidden_text: t('.change_details'),
                ) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render(CandidateInterface::CompleteSectionComponent.new(
      section_policy: @section_policy,
      form: f,
    )) %>
  <% end %>
</div>
