<% content_for :title, t('page_titles.references_retry_request') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_references_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference_email_address_form,
      url: candidate_interface_references_retry_request_path(@reference.id),
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @reference.name %></span>
        <%= t('page_titles.references_retry_request') %>
      </h1>

      <%= f.govuk_text_field(
        :email_address,
        label: { text: t('application_form.references.retry_request.email_address.label'), size: 'm' },
        hint: { text: t('application_form.references.retry_request.email_address.hint_text') },
      ) %>

      <%= f.govuk_submit t('application_form.references.retry_request.confirm') %>
    <% end %>
  </div>
</div>
