<% content_for :before_content, govuk_back_link_to(@back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_reasons_for_rejection_commit_path do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= @application_choice.application_form.full_name %></span>
      <% if @application_choice.rejected_by_default? %>
        <h1 class="govuk-heading-l">Check and send your feedback</h1>
      <% else %>
        <h1 class="govuk-heading-l">Check your feedback and reject application</h1>
      <% end %>

      <p class="govuk-body">
        Your feedback will be given to the candidate in the format below.
      </p>

      <div class="govuk-inset-text">
        <%= render ReasonsForRejectionComponent.new(
          application_choice: @application_choice,
          reasons_for_rejection: @wizard.to_model,
          editable: true,
        ) %>
      </div>

      <% if @application_choice.rejected_by_default? %>
        <%= f.govuk_submit 'Send feedback' %>
      <% else %>
        <%= f.govuk_submit 'Reject application' %>
      <% end %>
    <% end %>

    <p class="govuk-body"><%= govuk_link_to t('cancel'), provider_interface_application_choice_path(@application_choice) %></p>
  </div>
</div>
