<% content_for :title, title_with_error_prefix(t('page_titles.add_job'), @job_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @job_form, url: candidate_interface_new_restructured_work_history_path(@return_to[:params]) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= t('page_titles.work_history') %></span>
        <%= t('page_titles.add_job') %>
      </h1>

      <%= render 'form', f: f %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
