<% content_for :title, t('page_titles.interview_preferences.review') %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_interview_preferences_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <%= t('page_titles.interview_preferences.review') %>
  </h1>

  <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>
  <%= render CandidateInterface::InterviewPreferencesReviewComponent.new(application_form: @application_form, editable: @section_policy.can_edit?) %>
  <%= render CandidateInterface::CompleteSectionComponent.new(section_policy: @section_policy, form: f) %>
<% end %>
