<%= govuk_inset_text(classes: 'app-inset-text--important govuk-!-margin-top-0 govuk-!-margin-bottom-0') do %>
  You have a break in your work history (<%= format_months_to_years_and_months(@break_period.length) %>)
  <br>
  <%= govuk_link_to(candidate_interface_new_restructured_work_history_path(return_to_params)) do %>
    Add another job<span class="govuk-visually-hidden"> <%= between_formatted_dates %></span><% end %>
    or
  <%= govuk_link_to(candidate_interface_new_restructured_work_history_break_path(add_a_reason_params)) do %>
    add a reason for this break<span class="govuk-visually-hidden"> <%= between_formatted_dates %></span>
  <% end %>
<% end %>
