<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-0"><%= @work_experience.organisation %></h2>

    <% if @work_experience.part_time? %>
      <p class="govuk-body govuk-!-margin-bottom-0"><%= @work_experience.role %> (Part time)</p>
    <% else %>
      <p class="govuk-body govuk-!-margin-bottom-0"><%= @work_experience.role %></p>
    <% end %>

    <p class="govuk-body" data-qa="job-date">
      <%= formatted_start_date %> <%= formatted_end_date %>
    </p>

    <% if @work_experience.relevant_skills %>
      <p class="govuk-body-s govuk-!-margin-bottom-1">This role used skills relevant to teaching</p>
    <% elsif @work_experience.relevant_skills.nil? && @editable %>
      <%= govuk_inset_text(classes: 'app-inset-text--error') do %>
        <%= govuk_link_to(
          'Select if this role used skills relevant to teaching',
          candidate_interface_edit_restructured_work_history_path(@work_experience.id, return_to_params),
        ) %>
      <% end %>
    <% end %>
  </div>

  <% if @editable %>
    <div class="govuk-grid-column-one-third govuk-body app-grid-column-one-third--actions">
      <%= govuk_link_to(candidate_interface_edit_restructured_work_history_path(@work_experience.id, return_to_params), class: 'govuk-!-margin-right-2') do %>
        Change <span class="govuk-visually-hidden">job <%= @work_experience.role %> for <%= @work_experience.organisation %></span>
      <% end %>

      <%= govuk_link_to(candidate_interface_destroy_restructured_work_history_path(@work_experience.id, return_to_params)) do %>
        Delete <span class="govuk-visually-hidden">job <%= @work_experience.role %> for <%= @work_experience.organisation %></span>
      <% end %>
    </div>
  <% end %>
</div>
