<% content_for :browser_title, "UCAS match: #{@match.candidate.email_address}" %>

<%= render 'ucas_match_navigation', title: 'Details', match: @match %>

<%= render SupportInterface::UCASMatchActionComponent.new(@match) %>

<% application = @match.candidate.application_forms.first %>
<% status = [govuk_tag(text: @match.action_taken&.humanize || 'New match', colour: @match.resolved? ? 'green' : 'purple')] %>
<% if @match.invalid_matching_data? %>
  <% status << govuk_tag(text: 'Invalid data', colour: 'red') %>
<% elsif @match.action_needed? %>
  <% status << govuk_tag(text: 'Action needed', colour: 'yellow') %>
<% end %>

<%= render SummaryListComponent.new(rows: {
  'Recruitment cycle year' => @match.recruitment_cycle_year.to_s,
  'Candidate name' => "#{application.first_name} #{application.last_name}",
  'Candidate email' => @match.candidate.email_address.to_s,
  'Last updated' => @match.updated_at.to_s(:govuk_date_and_time),
  'First added' => @match.created_at.to_s(:govuk_date_and_time),
  'Status' => status,
  'Trackable applicant key' => @match.trackable_applicant_key,
  'Application on Apply' => govuk_link_to('View application', support_interface_application_form_path(application)),
}) %>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Course choices</h2>
<%= render SupportInterface::UCASMatchTableComponent.new(@match) %>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Matched courses</h2>
<% @match.matching_data.each do |matching_datum| %>
  <%= render SummaryCardComponent.new(rows: matching_datum) %>
<% end %>
