<% content_for :title, title_with_error_prefix(t('page_titles.work_history'), @work_details_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @work_details_form, url: candidate_interface_work_history_length_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.work_history') %>
      </h1>

      <p class="govuk-body">
        Training providers need a complete picture of your
        work history, including time out of the workplace, to safeguard
        children.
      </p>

      <p class="govuk-body">
        Breaks in work history will not impact your application if you have a
        reasonable explanation for them (for example, parenting
        responsibilities, redundancy, illness or personal reasons such as
        study or travel).
      </p>

      <div class="govuk-!-margin-top-6">
        <%= f.govuk_radio_buttons_fieldset :work_history, legend: { text: 'Do you have any work history to add?', size: 'm' } do %>
          <%= f.govuk_radio_button :work_history, :complete, label: { text: t('application_form.work_history.complete.label'), size: 's' }, hint: { text: t('application_form.work_history.complete.hint_text') }, link_errors: true %>
          <%= f.govuk_radio_button :work_history, :missing, label: { text: t('application_form.work_history.missing.label'), size: 's' } %>
        <% end %>

        <%= f.govuk_submit t('continue') %>
      </div>
    <% end %>
  </div>
</div>
