<% reasons.selected_reasons.each do |reason| %>
  <div class="app-rejection app-inset-text--narrow-border">
    <p class="app-rejection__label govuk-body govuk-!-margin-bottom-0"><%= reason.label %>:</p>
    <%= govuk_inset_text(classes: 'app-rejection__body govuk-!-margin-top-2') do %>
      <% if reason.details&.text.present? %>
        <%= simple_format(reason.details.text) %>
      <% elsif reason.selected_reasons.present? %>
        <ul class="govuk-list govuk-list--spaced">
          <% reason.selected_reasons.each do |nested_reason| %>
            <% if nested_reason.details %>
              <li>
                <p><%= nested_reason.label %>:</p>
                <%= simple_format(nested_reason.details.text) %>
              </li>
            <% else %>
              <li><%= nested_reason.label %></li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p><%= I18n.t("rejection_reasons.#{reason.id}.description") %></p>
      <% end %>
    <% end %>
    <% if render_link_to_find?(reason) %>
      <p><%= link_to_find_when_rejected_on_qualifications(application_choice) %></p>
    <% end %>
  </div>
<% end %>
