<% reasons.selected_reasons.each do |reason| %>
  <div class="app-rejection">
    <h3 class="govuk-heading-s"><%= reason.label %></h3>
    <% if reason.details&.text.present? %>
      <%= simple_format(reason.details.text) %>
    <% elsif reason.selected_reasons.present? %>
      <ul class="govuk-list govuk-list--spaced">
        <% reason.selected_reasons.each do |nested_reason| %>
          <% if nested_reason.details %>
            <li>
              <p><%= nested_reason.label %>:</p>
              <%= simple_format(nested_reason.details.text) %>
            </li>
          <% else %>
            <li><%= nested_reason.label %></li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p><%= I18n.t("rejection_reasons.#{reason.id}.description") %></p>
    <% end %>
    <p><%= link_to_find_when_rejected_on_qualifications(application_choice) if render_link_to_find?(reason) %></p>
  </div>
<% end %>
