<% content_for :title, title_with_error_prefix(t('.title', provider: @invite.provider_name), @fac_invite_response_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_invites_path) %>

<%= form_with(model: @fac_invite_response_form, url: candidate_interface_invite_path(@invite), method: :patch) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8"><%= t('.heading', provider: @invite.provider_name) %></h1>

  <% if @invite.provider_message? %>
    <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2"><%= t('.provider_message', provider: @invite.provider_name) %></h2>
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <p class="govuk-body"><%= markdown(@invite.message_content) %></p>
    </div>
  <% end %>

  <div class="govuk-!-width-two-thirds">
    <%= govuk_summary_list do |summary_list| %>
      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t('.course')) %>
        <% row.with_value(text: @invite.course.name_and_code) %>
      <% end %>
      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t('.fee')) %>
        <% if @invite.course.fee_international.nil? %>
          <% row.with_value(text: t('.uk_fee_details', uk_fee: number_to_currency(@invite.course.fee_domestic))) %>
        <% else %>
          <% row.with_value(text: t('.both_fee_details_html', uk_fee: number_to_currency(@invite.course.fee_domestic), non_uk_fee: number_to_currency(@invite.course.fee_international))) %>
        <% end %>
      <% end %>
      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t('.length')) %>
        <% row.with_value(text: t('.length_details', length: DisplayCourseLength.call(course_length: @invite.course.course_length), mode: @invite.course.study_mode.humanize.downcase)) %>
      <% end %>
      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t('.age')) %>
        <% row.with_value(text: t('.age_details', range: @invite.course.age_range, level: @invite.course.level)) %>
      <% end %>
      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t('.qualification')) %>
        <% row.with_value(text: @invite.course.qualifications_to_s) %>
      <% end %>
      <% summary_list.with_row do |row| %>
        <% row.with_key(text: t('.start_date')) %>
        <% row.with_value(text: @invite.course.start_date.to_fs(:month_and_year)) %>
      <% end %>
    <% end %>
  </div>

  <p class="govuk-body govuk-!-margin-bottom-6"><%= govuk_link_to(t('.view_course'), @invite.course.find_url, new_tab: true) %></p>

    <%= f.govuk_radio_buttons_fieldset :apply_for_this_course,
                                      legend: { text: t('.apply_legend'), size: 'l' } do %>
      <%= f.govuk_radio_button :apply_for_this_course, 'yes', label: { text: t('.accept') }, link_errors: true %>
      <%= f.govuk_radio_button :apply_for_this_course, 'no', label: { text: t('.decline') }, hint: { text: t('.decline_caption') } %>
    <% end %>

      <%= f.govuk_submit t('.submit_text') %>
    <% end %>
    </div>
  </div>
