<% content_for :title, t('page_titles.application_submit_interruption') %>
<% content_for(:before_content, govuk_back_link_to(candidate_interface_course_choices_course_review_path(@application_choice.id), 'Back to your application')) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.application_submit_interruption') %>
    </h1>
    <p class="govuk-body">Before you submit your application check that you:</p>

    <%= govuk_list type: :bullet, spaced: true do %>
      <%= tag.li "are aware that you are unlikely to qualify for financial support and you will have to cover the costs of the course and living expenses yourself" %>
      <% if current_application.requires_visa_sponsorship? %>
        <%= tag.li "either have the correct visa with enough time to complete the course before it expires, or you have applied to a course that sponsors visas" %>
      <% end %>
    <% end %>

    <h2 class="govuk-heading-m">Qualifications and other documents</h2>

    <p class="govuk-body">Make sure you already have, or are in the process of getting:</p>
    <%= govuk_list type: :bullet, spaced: true do %>
      <%= tag.li "original copies of your qualifications and they have been translated into English if needed - the training provider will need to see these" %>
      <%= tag.li "your ENIC certificate for your degree, maths and English qualifications - the training provider may not consider your application if you do not have these" %>
      <%= tag.li "an English as a foreign language assessment (EFL) if English is not your first language - check with your training provider what grade and how recently it should have been taken" %>
    <% end %>

    <div class="app-section--with-top-border">
      <h2 class="govuk-heading-m">Find out more on the Get Into Teaching website</h2>

      <p class="govuk-body">
        You can read more about the qualifications you need, visas and fees and financial support on the <%= govuk_link_to "Get Into Teaching website", t("get_into_teaching.url_international_candidates"), new_tab: true %>
      </p>

      <p class="govuk-body">
        If you are not sure about any of these things, you can <%= govuk_link_to "get help", t("get_into_teaching.url_online_chat"), new_tab: true %> or contact the training provider before you submit this application.
      </p>
    </div>

    <div class="app-section--with-top-border">
      <h2 class="govuk-heading-m">Do you want to submit your application?</h2>

      <p class="govuk-body">
        Make sure that all the information is up to date and correct. You will not be able to make changes to most of the information after you submit.
      </p>

      <p class="govuk-body">
        By submitting this application, you confirm that your details are true, complete and accurate.
      </p>
    </div>

    <div class="govuk-button-group app-course-choice__confirm-submission">
      <%= govuk_button_to('Confirm and submit application', candidate_interface_course_choices_submit_course_choice_path(@application_choice.id), method: :post) %>
      <%= govuk_link_to('Save as draft', candidate_interface_application_choices_path) %>
    </div>
  </div>
</div>
