<%= f.govuk_error_summary %>

<%= f.govuk_radio_buttons_fieldset(
  :right_to_work_or_study,
  legend: { text: t('page_titles.immigration_right_to_work'), size: 'l' },
) do %>

  <p class="govuk-body">
    You’ll need the right to work or study in the UK for the duration of your course.
  </p>

  <p class="govuk-body"> <%= govuk_link_to('Check if you’ve already got the right to work or study in the UK, or whether you’ll need to apply for a visa',
                    t('train_to_teach_in_england.url_citizen_visa')) %>.
  </p>

  <%= f.govuk_radio_buttons_fieldset :right_to_work_or_study, legend: { size: 'm', text: 'Do you already have the right to work or study in the UK?' } do %>
  <%= f.govuk_radio_button :right_to_work_or_study, 'yes', label: { text: 'Yes' }, link_errors: true %>
  <%= f.govuk_radio_button :right_to_work_or_study, 'no', label: { text: 'Not yet' } %>
    <% end %>
<% end %>

<%= f.govuk_submit t('save_and_continue') %>
