<% content_for :browser_title, t('.title') %>
<%= render ProviderInterface::FindCandidates::NavigationComponent.new(:invited) %>

<h1 class="govuk-heading-l">
  <%= t('.title') %>
</h1>
<%= render PaginatedFilterComponent.new(filter: @filter, collection: @candidate_invites) do %>
  <% if @candidate_invites.any? %>
    <h2 class="govuk-heading-m">
      <%= t('.candidates_invited', count: @filter.candidate_count) %>
    </h2>

    <%= render ProviderInterface::FindCandidates::InvitedCandidatesTableComponent.new(@candidate_invites) %>

    <%= govuk_pagination(pagy: @pagy) %>
  <% else %>
    <p class="govuk-body">
      <%= t('.no_candidates') %>
    </p>
  <% end %>
<% end %>
