<%= render 'settings_navigation', title: 'Recruitment cycles' %>

<% unless HostingEnvironment.production? %>
  <%= form_with model: SupportInterface::ChangeCycleForm.new, url: support_interface_switch_cycle_schedule_path, method: :post do |f| %>
    <%= f.govuk_radio_buttons_fieldset :cycle_schedule_name,
      legend: { text: 'Current point in the recruitment cycle' } do %>

      <%= f.govuk_radio_button :cycle_schedule_name, 'real', label: { text: t('cycles.real.name') }, hint: { text: t('cycles.real.description') } %>

      <%= f.govuk_radio_divider %>

      <% (CycleTimetable.fake_schedules.keys.map(&:to_s) - %w[real]).each_with_index do |option, i | %>
        <%= f.govuk_radio_button :cycle_schedule_name, option, label: { text: t("cycles.#{option}.name") }, hint: { text: t("cycles.#{option}.description") }, link_errors: i.zero? %>
      <% end %>
    <% end %>

    <%= f.govuk_submit 'Update point in recruitment cycle' %>
  <% end %>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<% end %>

<h2 class="govuk-heading-m">Cycle years</h2>

<%= render SummaryListComponent.new(rows: {
  'Previous cycle year' => RecruitmentCycle.previous_year,
  'Current cycle year' => RecruitmentCycle.current_year,
  'Next cycle year' => RecruitmentCycle.next_year,
  'Years visible to providers' => RecruitmentCycle.years_visible_to_providers.to_sentence,
}) %>

<h2 class="govuk-heading-m">Deadlines</h2>

<p class="govuk-body">(Today is <%= Time.zone.today.to_s(:govuk_date) %>)</p>

<%= render SummaryListComponent.new(rows: {
  'Appy 1 deadline' => CycleTimetable.apply_1_deadline.to_s(:govuk_date),
  'Apply 2 deadline' => CycleTimetable.apply_2_deadline.to_s(:govuk_date),
  'Find closes on' => CycleTimetable.find_closes.to_s(:govuk_date),
  'Find reopens on' => CycleTimetable.find_reopens.to_s(:govuk_date),
  'Apply reopens on' => CycleTimetable.apply_reopens.to_s(:govuk_date),
}) %>

<h2 class="govuk-heading-m">Flags</h2>

<%= render SummaryListComponent.new(rows: {
  'Show Apply 1 deadline banner?' => boolean_to_word(CycleTimetable.show_apply_1_deadline_banner?),
  'Show Apply 2 deadline banner?' => boolean_to_word(CycleTimetable.show_apply_2_deadline_banner?),
  'Are we between cycles for Apply 1?' => boolean_to_word(CycleTimetable.between_cycles_apply_1?),
  'Are we between cycles for Apply 2?' => boolean_to_word(CycleTimetable.between_cycles_apply_2?),
  'Is find down?' => boolean_to_word(CycleTimetable.find_down?),
}) %>
