<%= render 'settings_navigation', title: 'Feature flags' %>

<% FeatureFlag::FEATURES.each do |feature_name, feature_flag| %>
  <%= render SummaryCardComponent.new(editable: true, border: true, rows: [
    {
      key: 'Description',
      value: feature_flag.description,
    },
    {
      key: 'Status',
      value: render(
        TagComponent.new(
          text: FeatureFlag.active?(feature_name) ? 'Active' : 'Inactive',
          type: FeatureFlag.active?(feature_name) ? 'green' : 'grey',
        ),
      ),
    },
    {
      key: 'Owner',
      value: feature_flag.owner,
    },
    {
      key: 'History',
      value: render(
        SupportInterface::FeatureAuditTrailComponent.new(feature: feature_flag.feature),
      ),
    },
  ].compact) do %>
    <%= render SummaryCardHeaderComponent.new(title: feature_name.humanize, heading_level: 2) do %>
      <% protect_against_mistakes do %>
        <% if FeatureFlag.active?(feature_name) %>
          <%= govuk_button_to support_interface_deactivate_feature_flag_path(feature_name),
                 class: 'app-button--tertiary govuk-!-margin-bottom-0' do %>
            Deactivate<span class="govuk-visually-hidden"> ‘<%= feature_name.humanize %>’ feature</span>
          <% end %>
        <% else %>
          <%= govuk_button_to support_interface_activate_feature_flag_path(feature_name),
                 class: 'app-button--tertiary govuk-!-margin-bottom-0' do %>
            Activate<span class="govuk-visually-hidden"> ‘<%= feature_name.humanize %>’ feature</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
