<%= render 'settings_navigation', title: 'Send notify template' %>

<h1 class="govuk-label-wrapper">
  <label class="govuk-label govuk-label--l" for="more-detail">
    Send a Govuk notify template with attachment
  </label>
</h1>

<%= form_with url: support_interface_send_notify_template_path, method: :post do |f| %>
  <%= f.govuk_text_field :template_id, label: { text: 'Notify template id' } %>
  <%= f.govuk_file_field :distribution_list, label: { text: 'Distribution list' } %>
  <%= f.govuk_file_field :attachment, label: { text: 'Attachment' } %>
  <%= f.govuk_submit 'Send' %>
<% end %>
