<% content_for :browser_title, title_with_error_prefix('Send notify template - Settings', errors: true) %>
<% content_for :title, 'Error sending notify template - Settings' %>
<% content_for :before_content, govuk_back_link_to(support_interface_notify_template_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          <%= t('.error_summary.title') %>
        </h2>
        <div class="govuk-error-summary__body">
          <div class="govuk-list govuk-error-summary__list">
            <p class="govuk-heading-s">
              <%= t('.error_summary.errors_to_fix', count: @form.invalid_email_address_rows.count) %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-m"><%= @form.distribution_list.original_filename %></h2>

    <%= govuk_table do |table| %>
      <% table.with_head do |head| %>
        <% head.with_row do |row| %>
          <% row.with_cell text: 1 %>
          <% row.with_cell text: 'Email address' %>
        <% end %>
      <% end %>

      <% table.with_body do |body| %>
        <% @form.invalid_email_address_rows.each do |invalid_email_address_row| %>
          <% body.with_row(html_attributes: { id: "row_#{invalid_email_address_row[:row_number]}" }) do |row| %>
            <% row.with_cell(text: invalid_email_address_row[:row_number]) %>

            <% row.with_cell do %>
              <p>
                <strong class="error-text">Invalid email address</strong><br>
                <%= invalid_email_address_row[:email_address] %>
              </p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <p class="govuk-body govuk-!-text-align-centre secondary-text">
      Only showing rows with errors
    </p>

    <%= govuk_button_link_to 'Upload file again', support_interface_notify_template_path %>
  </div>
</div>
