<% content_for :title, t('page_titles.providers') %>

<h1 class="govuk-heading-xl govuk-!-width-two-thirds">
  <%= t('page_titles.providers') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You can apply to the following training providers and courses using <%= service_name %>. Providers not signed up to <%= service_name %> can only receive applications through UCAS.</p>
    <h2 class="govuk-heading-s">We suggest you use Apply for teacher training if:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>you want to try a streamlined service with personalised support</li>
      <li>all your chosen providers are available on the new service</li>
    </ul>
    <p class="govuk-body"><%= govuk_link_to 'Use ' + service_name, candidate_interface_start_path %></p>

    <h2 class="govuk-heading-s">We suggest you use UCAS if:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>you’ve already started applying with UCAS</li>
      <li>some of your chosen providers are not available on <%= service_name %> and you don’t want to use 2 different services.</li>
    </ul>
    <p class="govuk-body"><%= govuk_link_to 'Use UCAS', 'https://2020.teachertraining.apply.ucas.com/apply/student/login.do' %></p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <% @courses_by_provider_and_region.each do |region_code, courses_by_provider| %>
        <h3><%= region_code %></h3>
        <% courses_by_provider.each_with_index do |provider, index| %>
          <section class="govuk-accordion__section">
            <header class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= index %>"><%= provider.provider_name %></span>
              </h2>
            </header>
            <div class="govuk-accordion__section-content" id="accordion-default-content-<%= index %>" aria-labelledby="accordion-default-heading-<%= index %>">
              <ul class="govuk-list govuk-list--bullet">
                <% provider.courses.sort_by(&:name).each do |course| %>
                  <li><%= govuk_link_to course.name_and_code, "https://www.find-postgraduate-teacher-training.service.gov.uk/course/#{course.provider.code}/#{course.code}" %></li>
                <% end %>
              </ul>
            </div>
          </section>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
