<% content_for :title, t('page_titles.providers') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.providers') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You can apply to the following training providers and courses using <%= govuk_link_to service_name, candidate_interface_start_path %>. Providers not signed up to <%= service_name %> can only receive applications through UCAS.</p>
    <h2 class="govuk-heading-s">We suggest you use Apply for teacher training if:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>you want to try out a new, streamlined service with personalised support</li>
      <li>all the providers on your shortlist are signed up to Apply for teacher training</li>
    </ul>
    <h2 class="govuk-heading-s">We suggest you use UCAS if:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>you’ve already started applying through UCAS</li>
      <li>some of your preferred providers aren’t signed up for Apply for teacher training and you’d rather not go through different systems</li>
    </ul>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <% @courses_by_provider.each_with_index do |provider, index| %>
        <section class="govuk-accordion__section">
          <header class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= index %>"><%= provider.provider_name %></span>
            </h2>
          </header>
          <div class="govuk-accordion__section-content" id="accordion-default-content-<%= index %>" aria-labelledby="accordion-default-heading-<%= index %>">
            <ul class="govuk-list govuk-list--bullet">
              <% provider.courses.sort_by(&:name).each do |course| %>
                <li><%= govuk_link_to course.name_and_code, "https://www.find-postgraduate-teacher-training.service.gov.uk/course/#{course.provider.code}/#{course.code}" %></li>
              <% end %>
            </ul>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</div>
