<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Set up permissions</span>
    <h1 class="govuk-heading-xl">Check permissions</h1>

    <%= form_with(
      model: @form,
      url: provider_interface_update_provider_relationship_permissions_path,
      method: :patch
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h2 class="govuk-heading-m">
        For courses run by <%= @training_provider_permissions.training_provider.name %> and ratified by <%= @training_provider_permissions.ratifying_provider.name %>
      </h2>

      <%= f.fields_for :ratifying_provider_permissions do |abp| %>
        <%= abp.hidden_field :view_safeguarding_information,
          value: @form.ratifying_provider_permissions.view_safeguarding_information %>
        <%= abp.hidden_field :make_decisions,
          value: @form.ratifying_provider_permissions.make_decisions %>
      <% end %>

      <%= f.fields_for :training_provider_permissions do |tpp| %>
        <%= tpp.hidden_field :view_safeguarding_information,
          value: @form.training_provider_permissions.view_safeguarding_information %>
        <%= tpp.hidden_field :make_decisions,
          value: @form.training_provider_permissions.make_decisions %>
      <% end %>

      <%= render 'provider_permissions', provider: @training_provider_permissions.training_provider, permissions: @training_provider_permissions %>

      <%= render 'provider_permissions', provider: @ratifying_provider_permissions.ratifying_provider, permissions: @ratifying_provider_permissions %>

      <button class="govuk-button" data-module="govuk-button">
        Save permissions
      </button>
    <% end %>
  </div>
</div>
