<% content_for :browser_title, title_with_error_prefix('', @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <%= form_with(
    model: @form,
    url: provider_interface_update_provider_relationship_permissions_path,
    method: :patch,
  ) do |f| %>
    <%= f.govuk_error_summary %>
    <span class="govuk-caption-xl">Change permissions</span>
    <h1 class="govuk-heading-xl">
      For courses run by <%= @form.training_provider.name %> and ratified by
      <%= @form.ratifying_provider.name %>
    </h1>

    <div class="app-banner">
      <div class="app-banner__message">
        <p>All users at your organisation and ratifying organisation(s) will be able to view applications to these courses. You do not need to set permissions for this.</p>
        <%= govuk_details(
          summary: 'More about permissions',
        ) do %>
          <h2 class="govuk-heading-m">Permission to make decisions</h2>
          <p>You can allow an organisation to make offers, amend offers and reject applications.</p>

          <h2 class="govuk-heading-m">Permission to view safeguarding information</h2>
          <p>You can give an organisation access to information disclosed in the ‘criminal convictions and professional misconduct’ section of the application.</p>
          <p>This may include highly sensitive material about the candidate.</p>

          <h2 class="govuk-heading-m">Permission to view diversity information</h2>
          <p>You can give an organisation access to information disclosed by the candidate in the ‘equality and diversity’ section of the application. </p>

          <p>To avoid any unconscious bias in the selection process, this information only becomes available to training providers after an offer has been made and accepted. </p>
        <% end %>
      </div>
    </div>

      <% ProviderRelationshipPermissions::PERMISSIONS.each do |permission_name| %>
        <div class="govuk-form-group <%= permission_name.to_s.dasherize %>">
          <%= f.govuk_check_boxes_fieldset permission_name, legend: { text: "Which organisations can #{permission_name.to_s.humanize.downcase}?" } do %>
            <%= hidden_field_tag "#{f.object_name}[#{permission_name}][]", '', html: { autocomplete: 'off' } %>
            <%= f.govuk_check_box permission_name, 'training',
                                  label: { text: @form.training_provider.name },
                                  link_errors: true %>

            <%= f.govuk_check_box permission_name, 'ratifying',
                                  label: { text: @form.ratifying_provider.name } %>
          <% end %>
        </div>
      <% end %>

      <button class="govuk-button" data-module="govuk-button">
        Save permissions
      </button>
    <% end %>
  </div>
</div>
