<% content_for :title, title_with_error_prefix(t('page_titles.which_location'), @pick_site.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @pick_site,
          url: candidate_interface_course_choices_site_path(
            params[:provider_id], params[:course_id], params[:study_mode], course_choice_id: @course_choice_id
          ),
        ) do |f| %>
            <%= f.govuk_error_summary %>

            <%= f.govuk_radio_buttons_fieldset :course_option_id, legend: { text: t('page_titles.which_location'), size: 'xl', tag: 'h1' } do %>
              <% available_sites.each_with_index do |option, i| %>
                <%= f.govuk_radio_button :course_option_id, option.id, label: { text: option.site.name }, hint: { text: option.site.full_address }, link_errors: i.zero? %>
              <% end %>
            <% end %>

          <%= f.govuk_submit t('continue') %>
        <% end %>
  </div>
</div>
