<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= t('application_form.application_complete') %>
  </h1>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('application_form.personal_details_section.heading') %></h1>

    <dl class="govuk-summary-list govuk-!-font-size-16 govuk-summary-list--no-border">
      <%= render partial: 'shared/description_list_item', locals: { field: :title, value: @personal_details.title } %>
      <%= render partial: 'shared/description_list_item', locals: { field: :first_name, value: @personal_details.first_name } %>
      <%= render partial: 'shared/description_list_item', locals: { field: :last_name, value: @personal_details.last_name } %>
      <%= render partial: 'shared/description_list_item', locals: { field: :preferred_name, value: @personal_details.preferred_name } %>
      <%= render partial: 'shared/description_list_item', locals: { field: :date_of_birth, value: @personal_details.date_of_birth.to_s(:govuk_human_readable) } %>
    </dl>
  </div>
</div>
