<% content_for :title, title_with_error_prefix('Please select all that apply to you', @disabilities.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_edit_equality_and_diversity_disability_status_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @disabilities, url: candidate_interface_update_equality_and_diversity_disabilities_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :disabilities, legend: { size: 'xl', text: equality_and_diversity_caption + 'Please select all that apply to you' } do %>
        <div class="govuk-!-margin-top-6">
          <% disabilities_checkboxes.each do |checkbox| %>
            <%= f.govuk_check_box :disabilities, checkbox.name, label: { text: checkbox.name, size: 's' }, hint_text: checkbox.hint_text %>
          <% end %>

          <%= f.govuk_check_box :disabilities, 'Other', label: { text: 'Other', size: 's' } do %>
            <%= f.govuk_text_field :other_disability, label: { text: 'Describe your disability (optional)' } %>
          <% end %>

        </div>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
