<% content_for :title, 'Are you disabled?' %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_edit_equality_and_diversity_sex_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @disability_status, url: candidate_interface_update_equality_and_diversity_disability_status_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :disability_status, legend: { size: 'xl', text: equality_and_diversity_caption + 'Are you disabled?' } do %>
        <div class="govuk-!-margin-top-6">
          <%= f.govuk_radio_button :disability_status, :yes, label: { text: 'Yes' }, link_errors: true %>
          <%= f.govuk_radio_button :disability_status, :no, label: { text: 'No' } %>
          <%= f.govuk_radio_divider %>
          <%= f.govuk_radio_button :disability_status, 'Prefer not to say', label: { text: 'Prefer not to say' } %>
        </div>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
