<% content_for :title, title_with_error_prefix(t('equality_and_diversity.sex.title'), @sex.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@review_back_link || application_form_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @sex, url: candidate_interface_edit_equality_and_diversity_sex_path(return_to: params[:return_to]), method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= t('equality_and_diversity.title') %></span>

      <h1 class="govuk-heading-l"><%= t('equality_and_diversity.sex.title') %></h1>

      <p class="govuk-body">We ask this question to prevent discrimination in teacher recruitment.</p>

      <p class="govuk-body">Training providers will not see your answer when deciding to offer you a place. They'll only see your answer if you accept an offer from them.</p>

      <%= f.govuk_radio_buttons_fieldset :sex, legend: { text: t('equality_and_diversity.sex.question'), size: 'm' } do %>
        <%= f.govuk_radio_button :sex, :female, label: { text: t('equality_and_diversity.sex.female.label') }, link_errors: true %>
        <%= f.govuk_radio_button :sex, :male, label: { text: t('equality_and_diversity.sex.male.label') } %>
        <%= f.govuk_radio_button :sex, :other, label: { text: t('equality_and_diversity.sex.other.label') } %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :sex, t('equality_and_diversity.sex.opt_out.label'), label: { text: t('equality_and_diversity.sex.opt_out.label') } %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
