<% content_for :title, title_with_error_prefix(t('equality_and_diversity.sex.title'), @sex.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_start_equality_and_diversity_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @sex, url: candidate_interface_edit_equality_and_diversity_sex_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :sex, caption: { text: t('equality_and_diversity.title'), size: 'xl' }, legend: { text: t('equality_and_diversity.sex.title'), size: 'xl', tag: 'h1' } do %>
        <%= f.govuk_radio_button :sex, :female, label: { text: t('equality_and_diversity.sex.female.label') }, link_errors: true %>
        <%= f.govuk_radio_button :sex, :male, label: { text: t('equality_and_diversity.sex.male.label') } %>
        <%= f.govuk_radio_button :sex, :intersex, label: { text: t('equality_and_diversity.sex.intersex.label') } %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :sex, t('equality_and_diversity.sex.opt_out.label'), label: { text: t('equality_and_diversity.sex.opt_out.label') } %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
