<% content_for :title, 'Check your answers to equality and diversity questions' %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @section_complete_form, url: candidate_interface_complete_equality_and_diversity_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= t('equality_and_diversity.title') %></span>
        Check your answers to equality and diversity questions
      </h1>

      <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>
      <%= render(CandidateInterface::EqualityAndDiversityReviewComponent.new(application_form: @current_application, editable: @section_policy.can_edit?)) %>
      <% if @current_application.equality_and_diversity_answers_provided? %>
        <%= render CandidateInterface::CompleteSectionComponent.new(section_policy: @section_policy, form: f) %>
      <% end %>
    <% end %>
  </div>
</div>
