<% content_for :title, page_title('sign_up') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_start_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with model: @sign_up_form, url: candidate_interface_sign_up_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: true } do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('authentication.sign_up.heading') %>
      </h1>

      <%= f.govuk_text_field :email_address, label: { text: t('authentication.sign_up.email_address.label'), size: 'm' }, hint_text: t('authentication.sign_up.email_address.hint_label'), type: :email, width: 'two-thirds' %>

      <h2 class="govuk-heading-m">You won’t need a password to use this service</h2>
      <p class="govuk-body">Instead, you’ll sign in using your email address. Each time you sign in, we'll send you a link so you can return to your application.</p>

      <h2 class="govuk-heading-m">Terms and conditions</h2>
      <p class="govuk-body">Our <%= govuk_link_to 'terms of use', '/candidate/terms-of-use' %> contain important information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the application process</li>
        <li>contacting us</li>
        <li>our use of your data</li>
        <li>checking you’re safe to work with children</li>
      </ul>

      <div class='govuk-form-group'>
        <%= f.govuk_check_boxes_fieldset :accept_ts_and_cs do %>
          <%= f.govuk_check_box :accept_ts_and_cs, true, multiple: false, link_errors: true, label: { text: t('authentication.sign_up.accept_terms_checkbox') } %>
        <%- end %>
      </div>
      <%= f.govuk_submit t('authentication.sign_up.button_continue') %>
    <% end %>
  </div>
</div>
