<% content_for :title, t('page_titles.sign_up') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_start_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with model: @sign_up_form, url: candidate_interface_sign_up_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: true } do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('authentication.sign_up.heading') %>
      </h1>

      <%= f.govuk_text_field :email_address, label: { text: t('authentication.sign_up.email_address.label'), size: 'm' }, hint_text: t('authentication.sign_up.email_address.hint_label'), type: :email, width: 'two-thirds' %>

      <h2 class="govuk-heading-m">You won’t need a password to use this service</h2>
      <p class="govuk-body">Instead, you’ll sign in using your email address. Each time you sign in, we'll send you a link so you can return to your application.</p>

      <h2 class="govuk-heading-m">How we look after your data</h2>
      <p class="govuk-body">Your data will be looked after by the Department for Education and the training providers you apply to.</p>
      <p class="govuk-body">We use it to process your application, build a better service and improve teacher recruitment and retention.</p>
      <p class="govuk-body">Take a look at our <%= govuk_link_to 'privacy policy', '/candidate/privacy-statement' %> before starting your application to check you understand how we use your data.</p>

      <h2 class="govuk-heading-m">Guidance and terms of use</h2>
      <p class="govuk-body">Our <%= govuk_link_to 'Guidance and terms of use', '/candidate/terms-of-use' %> contain useful information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how the application process works</li>
        <li>contacting us if you need help</li>
        <li>how we check you’re safe to work with children</li>
      </ul>

      <div class='govuk-form-group'>
        <%= f.govuk_check_boxes_fieldset :accept_ts_and_cs do %>
          <%= f.govuk_check_box :accept_ts_and_cs, true, multiple: false, link_errors: true, label: { text: t('authentication.sign_up.accept_terms_checkbox') } %>
        <%- end %>
      </div>
      <%= f.govuk_submit t('authentication.sign_up.button_continue') %>
    <% end %>
  </div>
</div>
