<%= render RecruitmentPerformanceReport::SubjectTableComponent.new(
  @provider,
  table_caption: 'candidates_rejected',
  subject_rows: @row_builder.subject_rows,
  summary_row: @row_builder.summary_row,
  region:,
  recruitment_cycle_year:,
) do %>
  <span>
    <% if recruitment_cycle_year == RecruitmentCycleTimetable.previous_year %>
      <p class="govuk-body">
        This table shows the number of candidates who have had all their applications to <%= @provider.name %> rejected in the <%= recruitment_cycle_year %> cycle.
      </p>
    <% else %>
      <p class="govuk-body">
        <%= t('shared.recruitment_performance_report.candidates_rejected_table_component.number_of_rejected_candidates', provider_name: @provider.name) %>
      </p>
    <% end %>

    <p class="govuk-body">
      <%= t('shared.recruitment_performance_report.candidates_rejected_table_component.candidates_rejected_and_awaiting_decisions', provider_name: @provider.name) %>
    </p>
  </span>
<% end %>
