<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m"><%= title %></h2>
  <% statistics.each do |data| %>
    <h3 class="govuk-body govuk-!-margin-bottom-0"><%= data['nonprovider_filter'] %></h3>

    <%= govuk_table(html_attributes: {class: 'govuk-!-margin-bottom-8'}) do |table| %>
      <%= table.with_caption(text: 'Regional equality diversity and inclusion report', html_attributes: { class: 'govuk-visually-hidden' }) %>

      <%= table.with_head do |head| %>
        <%= head.with_row do |row| %>
          <%= row.with_cell(scope: false, html_attributes: { class: 'th-border-none' }) %>
          <%= row.with_cell(scope: false, html_attributes: { class: 'th-border-none' }) %>
          <%= row.with_cell(text: 'Applied', html_attributes: { class: 'govuk-!-text-align-right th-border-none' }) %>
          <%= row.with_cell(text: 'Offered', html_attributes: { class: 'govuk-!-text-align-right th-border-none' }) %>
          <%= row.with_cell(text: 'Recruited', html_attributes: { class: 'govuk-!-text-align-right th-border-none' }) %>
          <%= row.with_cell(text: 'Percentage recruited', html_attributes: { class: 'govuk-!-text-align-right th-border-none' }) %>
        <% end %>
      <% end %>

      <%= table.with_body do |body| %>
        <%= body.with_row do |row| %>
          <%= row.with_cell(rowspan: 2, header: true, text: provider.name) %>
          <%= row.with_cell(header: true, text: 'This cycle', html_attributes: { class: 'th-border-none' }) %>

          <%= row.with_cell(
            text: number_with_delimiter(data['number_of_candidates_submitted_to_date']) || 'Not available',
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>
          <%= row.with_cell(
            text: number_with_delimiter(data['number_of_candidates_with_offers_to_date']) || 'Not available',
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>
          <%= row.with_cell(
            text: number_with_delimiter(data['number_of_candidates_accepted_to_date']) || 'Not available',
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>

          <%= row.with_cell(
            text: provider_percentage(data['recruited_rate_to_date']),
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>
        <% end %>

        <%= body.with_row do |row| %>
          <%= row.with_cell(header: true, text: 'Last cycle') %>

          <%= row.with_cell(
            text: number_with_delimiter(data['number_of_candidates_submitted_to_same_date_previous_cycle']) || 'Not available',
            numeric: true,
          ) %>
          <%= row.with_cell(
            text: number_with_delimiter(data['number_of_candidates_with_offers_to_same_date_previous_cycle']) || 'Not available',
            numeric: true,
          ) %>
          <%= row.with_cell(
            text: number_with_delimiter(data['number_of_candidates_accepted_to_same_date_previous_cycle']) || 'Not available',
            numeric: true,
          ) %>
          <%= row.with_cell(
            text: provider_percentage(data['recruited_rate_to_same_date_previous_cycle']),
            numeric: true,
          ) %>
        <% end %>

        <%= body.with_row do |row| %>
          <%= row.with_cell(rowspan: 2, header: true, text: t("shared.#{@region}")) %>
          <%= row.with_cell(header: true, text: 'This cycle', html_attributes: { class: 'th-border-none' }) %>

          <%= row.with_cell(
            text: regional_report_number(
              data['nonprovider_filter'],
              'number_of_candidates_submitted_to_date',
            ),
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>
          <%= row.with_cell(
            text: regional_report_number(
              data['nonprovider_filter'],
              'number_of_candidates_with_offers_to_date',
            ),
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>
          <%= row.with_cell(
            text: regional_report_number(
              data['nonprovider_filter'],
              'number_of_candidates_accepted_to_date',
            ),
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>
          <%= row.with_cell(
            text: regional_percentage(
              data['nonprovider_filter'],
              'recruited_rate_to_date',
            ),
            numeric: true,
            html_attributes: { class: 'th-border-none' },
          ) %>
        <% end %>

        <%= body.with_row(html_attributes: { class: 'condition-divider' }) do |row| %>
          <%= row.with_cell(header: true, text: 'Last cycle') %>

          <%= row.with_cell(
            text: regional_report_number(
              data['nonprovider_filter'],
              'number_of_candidates_submitted_to_same_date_previous_cycle',
            ),
            numeric: true,
          ) %>
          <%= row.with_cell(
            text: regional_report_number(
              data['nonprovider_filter'],
              'number_of_candidates_with_offers_to_same_date_previous_cycle',
            ),
            numeric: true,
          ) %>
          <%= row.with_cell(
            text: regional_report_number(
              data['nonprovider_filter'],
              'number_of_candidates_accepted_to_same_date_previous_cycle',
            ),
            numeric: true,
          ) %>
          <%= row.with_cell(
            text: regional_percentage(
              data['nonprovider_filter'],
              'recruited_rate_to_same_date_previous_cycle',
            ),
            numeric: true,
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
