<%= render RecruitmentPerformanceReport::SubjectTableComponent.new(
  @provider,
  table_caption: 'offers_accepted',
  subject_rows: @row_builder.subject_rows,
  summary_row: @row_builder.summary_row,
  region:,
  recruitment_cycle_year:,
) do %>
  <span>
    <% if recruitment_cycle_year == RecruitmentCycleTimetable.previous_year %>
      <p class="govuk-body">
        The table includes candidates who accepted and then deferred an offer from the provider in a previous cycle, which has been confirmed in the <%= recruitment_cycle_year %> cycle. It also includes candidates who accepted offers, but then did not meet the conditions of that offer.
      </p>
      <p class="govuk-body">
        <%= t('hared.recruitment_performance_report.offers_accepted_table_component.table_does_not_include') %>
      </p>
      <%= govuk_list([
        'withdrawn by the provider',
        'withdrawn by candidates',
        'deferred',
      ], type: :bullet) %>
    <% else %>
      <p class="govuk-body">
        <%= t('shared.recruitment_performance_report.offers_accepted_table_component.candidates_who_have_accepted_offers') %>
      </p>
      <p class="govuk-body">
        <%= t('shared.recruitment_performance_report.offers_accepted_table_component.table_does_not_include') %>
      </p>
      <%= govuk_list([
        t('shared.recruitment_performance_report.offers_accepted_table_component.withdrawn_by_provider'),
        t('shared.recruitment_performance_report.offers_accepted_table_component.withdrawn_by_candidate'),
        t('shared.recruitment_performance_report.offers_accepted_table_component.deferred'),
      ], type: :bullet) %>
    <% end %>
  </span>
<% end %>
