<%= render RecruitmentPerformanceReport::SubjectTableComponent.new(
  @provider,
  table_caption: 'offers_accepted',
  subject_rows: @row_builder.subject_rows,
  summary_row: @row_builder.summary_row,
  region:,
) do %>
  <span>
    <p class="govuk-body">
      <%= t('.candidates_who_have_accepted_offers') %>
    </p>
    <p class="govuk-body">
      <%= t('.you_can_compare_the_data_to') %>
    </p>
    <%= govuk_list([t('.last_cycle'), type_of_data], type: :bullet) %>
    <p class="govuk-body">
      <%= t('.table_does_not_include') %>
    </p>
    <%= govuk_list([
                     t('.withdrawn_by_provider'),
                     t('.withdrawn_by_candidate'),
                     t('.deferred'),
                   ], type: :bullet) %>
  </span>
<% end %>
