<%= render RecruitmentPerformanceReport::SubjectTableWithProportionsOnlyComponent.new(
  @provider,
  table_caption: 'proportion_of_candidates_with_an_offer',
  subject_rows: @row_builder.subject_rows,
  summary_row: @row_builder.summary_row,
) do %>
  <span>
    <p class="govuk-body">
      <%= t('.proportion_of_all_candidates', provider_name: @provider.name) %>
    </p>
    <%= govuk_list([t('.last_cycle'), t('.national_data')], type: :bullet) %>
    <p class="govuk-body">
      <%= t('.table_includes') %>
    </p>
    <%= govuk_list(
          [t('.candidates_with_offers_received'),
           t('.offers_withdrawn_or_deferred_by_providers'),
           t('.candidates_deferred_or_declined_after_accepting'),
           t('.candidates_failed_to_meet_conditions')], type: :bullet
        ) %>
  </span>
<% end %>
