<%= render RecruitmentPerformanceReport::SubjectTableWithProportionsOnlyComponent.new(
  @provider,
  table_caption: 'proportion_of_candidates_with_an_offer',
  subject_rows: @row_builder.subject_rows,
  summary_row: @row_builder.summary_row,
  region:,
  recruitment_cycle_year:,
) do %>
  <span>

    <% if recruitment_cycle_year == RecruitmentCycleTimetable.previous_year %>
      <p class="govuk-body">
        This table shows the proportion of all candidates who submitted one or more applications to Durham University who have received an offer in the <%= recruitment_cycle_year %> cycle.
      </p>

      <%= govuk_list(
        [
          "candidates who have received one or more offers in the #{recruitment_cycle_year} cycle",
          'offers which were then withdrawn or deferred by the provider',
          'candidates who deferred or declined their offers, or withdrew after accepting an offer',
          'candidates that failed to meet the conditions of their offer',
        ],
        type: :bullet,
      ) %>
    <% else %>
      <p class="govuk-body">
        <%= t('shared.recruitment_performance_report.proportion_candidates_with_offers_table_component.proportion_of_all_candidates', provider_name: @provider.name) %>
      </p>

      <%= govuk_list(
        [t('shared.recruitment_performance_report.proportion_candidates_with_offers_table_component.candidates_with_offers_received'),
         t('shared.recruitment_performance_report.proportion_candidates_with_offers_table_component.offers_withdrawn_or_deferred_by_providers'),
         t('shared.recruitment_performance_report.proportion_candidates_with_offers_table_component.candidates_deferred_or_declined_after_accepting'),
         t('shared.recruitment_performance_report.proportion_candidates_with_offers_table_component.candidates_failed_to_meet_conditions'),
         ], type: :bullet
      ) %>
    <% end %>
  </span>
<% end %>
