<div class="govuk-grid-column-two-thirds">
  <%= content_tag(:h2, class: 'govuk-heading-m', id: table_caption) do %>
    <%= t("shared.recruitment_performance_report.subject_table_component.#{table_caption}") %>
  <% end %>
  <%= content %>
</div>
<div class="govuk-grid-column-full">
  <% if subject_rows.empty? %>
    <p class="govuk-body"><%= t('shared.empty_state') %></p>
  <% else %>
    <div class="recruitment-performance-report-table__wrapper">
      <%= govuk_table do |table| %>
        <%= table.with_caption(text: t("shared.recruitment_performance_report.subject_table_component.#{table_caption}"),
                               html_attributes: { class: 'govuk-visually-hidden' }) %>

        <%= table.with_colgroup do |colgroup| %>
          <%= colgroup.with_col(span: 1) %>
          <%= colgroup.with_col(span: colspan) %>
          <%= colgroup.with_col(span: colspan) %>
        <% end %>

        <%= table.with_head do |head| %>
          <%= head.with_row do |row| %>
            <%= row.with_cell(scope: false,
                              html_attributes: { class: 'recruitment-performance-report-table__heading--no-border' }) %>
            <%= row.with_cell(text: provider_name, colspan:, scope: 'colgroup',
                              html_attributes: { class: 'recruitment-performance-report-table__heading' }) %>
            <%= row.with_cell(text: t('shared.all_providers'), colspan:, scope: 'colgroup',
                              html_attributes: { class: 'recruitment-performance-report-table__heading' }) %>
          <% end %>

          <%= head.with_row do |row| %>
            <%= row.with_cell(text: t('shared.subject'), **subheading_html_attributes) %>
            <% columns.each do |column| %>
              <%= row.with_cell(text: t("shared.recruitment_performance_report.subject_table_component.#{column}"),
                                numeric: true,
                                **subheading_html_attributes(column)) %>
            <% end %>
          <% end %>
        <% end %>

        <% table.with_body do |body| %>
          <% subject_rows.each do |subject_row| %>
            <% body.with_row do |row| %>
              <%= row.with_cell(header: true, text: subject_row.title, **level_html_attributes(subject_row)) %>
              <%= columns.each do |column| %>
                <%= row.with_cell(text: format_number(subject_row, column), numeric: true,
                                  **numeric_html_attributes(column)) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% table.with_foot do |foot| %>
          <% foot.with_row do |row| %>
            <%= row.with_cell(header: true, text: t('shared.all_subjects'),
                              html_attributes: { class: summary_heading_html_attributes }) %>
            <%= columns.each do |column| %>
              <%= row.with_cell(text: format_number(summary_row, column), numeric: true,
                                **summary_row_html_attributes(column)) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
