<% content_for :browser_title, title_with_error_prefix('Edit applicant details', @details.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@details.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @details, url: support_interface_application_form_update_applicant_details_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_fieldset legend: { text: 'Edit applicant details', size: 'l' } do %>
        <%= f.govuk_text_field :phone_number, label: { text: 'Phone number' } %>
        <%= f.govuk_text_field :audit_comment, label: { text: 'Audit log comment' }, hint: { text: 'This will appear in the audit log alongside this change. If the change originated in a Zendesk ticket, paste the Zendesk URL here' } %>
      <% end %>

      <%= f.govuk_submit 'Update details' %>
    <% end %>
  </div>
</div>
