<% content_for :title, 'Feature metrics' %>

<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">References</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-half">
    <div id="headline-stat" class="govuk-!-margin-bottom-4">
      <%= render SupportInterface::TileComponent.new(
        count: nil,
        label: 'time to get reference back (days)',
        colour: :blue,
        size: :reduced,
      ) %>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half">
        <%= render SupportInterface::TileComponent.new(
          count: @statistics.average_time_to_get_references(
            EndOfCycleTimetable.apply_reopens.beginning_of_day,
          ),
          label: 'this recruitment cycle',
          size: :reduced,
        ) %>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= render SupportInterface::TileComponent.new(
          count: @statistics.average_time_to_get_references(
            1.month.ago.beginning_of_day,
          ),
          label: 'last month',
          size: :reduced,
        ) %>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div id="headline-stat" class="govuk-!-margin-bottom-4">
      <%= render SupportInterface::TileComponent.new(
        count: nil,
        label: '% completed within 30 days',
        colour: :blue,
        size: :reduced,
      ) %>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half">
        <%= render SupportInterface::TileComponent.new(
          count: @statistics.percentage_references_within(
            30,
            EndOfCycleTimetable.apply_reopens.beginning_of_day,
          ),
          label: 'this recruitment cycle',
          size: :reduced,
        ) %>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= render SupportInterface::TileComponent.new(
          count: @statistics.percentage_references_within(
            30,
            1.month.ago.beginning_of_day,
          ),
          label: 'last month',
          size: :reduced,
        ) %>
      </div>
    </div>
  </div>
</div>
