<% content_for :title, title_with_error_prefix(t('page_titles.edit_applicant_visa_explanation'), @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@application_choice.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @form,
      url: support_interface_application_choice_visa_explanation_path(@application_choice),
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :visa_explanation,
        legend: { text: t('visa_expiry_form.visa_explanation_label'), tag: 'h1', size: 'l' },
      ) do %>
        <%= f.govuk_radio_button(
          :visa_explanation,
          :expires_after_course,
          link_errors: true,
          label: { text: 'My visa expires after the course ends' },
        ) %>
        <%= f.govuk_radio_button(
          :visa_explanation,
          :renew,
          label: { text: 'I will be able to renew or extend my current visa' },
        ) %>
        <%= f.govuk_radio_button(
          :visa_explanation,
          :leads_to_permanent_visa,
          label: { text: 'My current visa leads to indefinite leave to remain (ILR) or settled status' },
        ) %>
        <%= f.govuk_radio_button(
          :visa_explanation,
          :switch_to_different_visa,
          label: { text: 'I expect to switch to a different UK visa category' },
        ) %>

        <%= f.govuk_radio_button(
          :visa_explanation,
          :other,
          label: { text: 'Other' },
        ) do %>
          <%= f.govuk_text_area(
            :visa_explanation_details,
            label: { text: 'Details', size: 's' },
            max_words: 200,
            rows: 5,
          ) %>
        <% end %>

        <%= f.govuk_radio_button(
          :visa_explanation,
          :not_sure,
          label: { text: 'I’m not sure' },
        ) do %>
          <p class='govuk-hint'>
            You can submit your application, but it is unlikely to be successful.
          </p>
        <% end %>
      <% end %>

      <%= f.govuk_text_field(
        :audit_comment,
        label: { text: 'Audit log comment', size: 'm' },
        hint: { text: 'This will appear in the audit log alongside this change. If the change originated in a Zendesk ticket, paste the Zendesk URL here' },
      ) %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
