<% content_for :before_content do %>
  <%= breadcrumbs({
    Candidates: support_interface_applications_path,
    @application_form.candidate.email_address => support_interface_candidate_path(@application_form.candidate),
    @application_form.support_reference => support_interface_application_form_path(@application_form),
  }.merge(title == 'Details' ? {} : { title => nil })) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @application_form.support_reference %></span>
    <h1 class="govuk-heading-l"><%= break_email_address(@application_form.candidate.email_address) %></h1>
    <% unless HostingEnvironment.production? || @application_form.candidate.account_locked? %>
      <%= govuk_button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@application_form.candidate) %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render SupportInterface::ApplicationNavigationComponent.new(@application_form) %>
  </div>
</div>

<% unless @application_form.editable? %>
  <%= govuk_notification_banner(title_text: t('notification_banner.info')) do |notification_banner| %>
    <% notification_banner.heading(text: 'Candidate has a more recent application') %>
    <p class="govuk-body">This application can no longer be edited as the candidate has applied again. Edit the
      more recent application instead of this one</p>
    <p class="govuk-body"><%= govuk_link_to 'More recent application', support_interface_application_form_path(@application_form.subsequent_application_form) %></p>
  <% end %>
<% end %>

<%= render SupportInterface::DuplicateCandidateWarningComponent.new(candidate: @application_form.candidate) %>

<%= render TabNavigationComponent.new(items: [
  { name: 'Details', url: support_interface_application_form_path(@application_form) },
  { name: 'History', url: support_interface_application_form_audit_path(@application_form) },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
