<% content_for :before_content do %>
  <%= breadcrumbs({
    'Candidates': support_interface_applications_path,
    @application_form.candidate.email_address => support_interface_candidate_path(@application_form.candidate),
    @application_form.support_reference => support_interface_application_form_path(@application_form),
  }.merge(title != 'Details' ? { title: nil } : {})) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @application_form.support_reference %></span>
    <h1 class="govuk-heading-l"><%= break_email_address(@application_form.candidate.email_address) %></h1>
    <% unless HostingEnvironment.production? %>
      <%= govuk_button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@application_form.candidate) %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render SupportInterface::ApplicationNavigationComponent.new(@application_form) %>
  </div>
</div>

<%= render TabNavigationComponent.new(items: [
  { name: 'Details', url: support_interface_application_form_path(@application_form) },
  { name: 'History', url: support_interface_application_form_audit_path(@application_form) },
]) %>

<h2 class="govuk-visually-hidden"><%= title %></h2>
