<% content_for :browser_title, title_with_success_prefix("Application ##{@application_form.id}", flash[:success].present?) %>
<% content_for :title do %>
  <span class="govuk-caption-xl">Application #<%= @application_form.id %></span>
  <%= @application_form.candidate.email_address %>
<% end %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Applications', support_interface_applications_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= @application_form.candidate.email_address %>
      </li>
    </ol>
  </div>
<% end %>

<%= render SupportInterface::ApplicationSummaryComponent, application_form: @application_form %>

<h2 class="govuk-heading-l govuk-!-margin-top-8">Personal details</h2>

<%= render PersonalDetailsComponent, application_form: @application_form %>

<% unless HostingEnvironment.production? %>
  <%= button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@application_form.candidate), class: 'govuk-button' %>
<% end %>

<% if @application_form.candidate.hide_in_reporting? %>
  <%= button_to 'Include this candidate in service performance data', support_interface_show_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button govuk-button--secondary' %>
<% else %>
  <%= button_to 'Exclude this candidate from service performance data', support_interface_hide_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button govuk-button--secondary' %>
<% end %>

<% if @application_form.application_choices.any? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-8">Course choices</h2>
  <% @application_form.application_choices.includes(:course, :provider, :site).each do |application_choice| %>
    <% rows = [
      { key: 'Course', value: application_choice.course.name_and_code },
      { key: 'Provider', value: application_choice.provider.name_and_code },
      { key: 'Location', value: application_choice.site.name_and_code },
      { key: 'Status', value: render(SupportInterface::ApplicationStatusTagComponent, application_choice: application_choice) },
    ] %>
    <% rows << { key: 'Reject by default at', value: application_choice.reject_by_default_at.to_s(:govuk_date_and_time) } if application_choice.reject_by_default_at %>

    <%= render SummaryCardComponent, rows: rows  do %>
      <%= render SummaryCardHeaderComponent, title: application_choice.course.name_and_code %>
    <% end %>
  <% end %>
<% end %>

<% if @application_form.application_references.any? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-8">References</h2>

  <% @application_form.application_references.each_with_index do |reference, i| %>
    <%= render ReferenceWithFeedbackComponent, reference: reference, title: "#{(i + 1).ordinalize} reference", show_chase_reference: true %>
  <% end %>
<% end %>

<h2 class="govuk-heading-l govuk-!-margin-top-8">Request feedback</h2>

<p class="govuk-body">Ask the candidate to fill out a survey.</p>

<%= govuk_button_link_to t('survey_emails.send.link'), support_interface_survey_emails_path(@application_form), class: 'govuk-button--secondary' %>
