<% content_for :browser_title, title_with_success_prefix("Application details – Application ##{@application_form.id}", flash[:success].present?) %>

<%= render 'application_navigation', title: 'Details' %>

<%= render SupportInterface::ApplicationSummaryComponent.new(application_form: @application_form) %>

<div class="govuk-button-group">
  <div>
    <%= govuk_link_to 'Recommended Courses (based on Candidate location)', support_interface_candidate_course_recommendation_path(@application_form.candidate), class: 'govuk-link govuk-link--no-visited-state' %>
  </div>
</div>

<div class="govuk-button-group">
  <% if @application_form.candidate.hide_in_reporting? %>
    <%= govuk_button_to 'Include this candidate in service performance data', support_interface_show_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), secondary: true %>
  <% else %>
    <%= govuk_button_to 'Exclude this candidate from service performance data', support_interface_hide_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), secondary: true %>
  <% end %>

  <% unless @application_form.submitted? %>
    <%= govuk_button_to 'Delete all application data', support_interface_confirm_delete_application_form_path(@application_form.id), secondary: true, method: :get %>
  <% end %>
</div>

<%= render SupportInterface::PersonalInformationComponent.new(application_form: @application_form) %>

<%= render SupportInterface::ContactInformationComponent.new(application_form: @application_form) %>

<% if @application_form.application_choices.any? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Course choices</h2>
  <% @application_form.application_choices.includes(:course, :provider, :site, :current_course_option).each do |application_choice| %>
    <%= render SupportInterface::ApplicationChoiceComponent.new(application_choice) %>
  <% end %>
<% end %>

<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">References</h2>

<% if @application_form.application_references.any? %>
  <% @application_form.application_references.includes(%i[application_form audits]).creation_order.each_with_index do |reference, i| %>
    <%= render SupportInterface::ReferenceWithFeedbackComponent.new(reference: reference, reference_number: i + 1, editable: @application_form.editable?) %>
  <% end %>
<% end %>

<%= render SupportInterface::QualificationsComponent.new(application_form: @application_form) %>

<%= render WorkHistoryAndUnpaidExperienceComponent.new(application_form: @application_form, editable: @application_form.editable?) %>

<%= render LanguageSkillsComponent.new(application_form: @application_form) %>

<%= render PersonalStatementComponent.new(application_form: @application_form, editable: @application_form.editable?) %>

<%= render InterviewPreferencesComponent.new(application_form: @application_form) %>

<%= render SupportInterface::SafeguardingIssuesComponent.new(application_form: @application_form) %>
