<% content_for :browser_title, title_with_success_prefix("Application details – Application ##{@application_form.id}", flash[:success].present?) %>
<% content_for :context, @application_form.support_reference %>
<% content_for :title, break_email_address(@application_form.candidate.email_address) %>

<%= render 'application_navigation', title: 'Details' %>

<%= render SupportInterface::ApplicationSummaryComponent.new(application_form: @application_form) %>

<div class="govuk-button-group">
  <% unless HostingEnvironment.production? %>
    <%= govuk_button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@application_form.candidate), form_class: 'govuk-!-display-inline-block' %>
  <% end %>

  <% if @application_form.candidate.hide_in_reporting? %>
    <%= govuk_button_to 'Include this candidate in service performance data', support_interface_show_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button--secondary', form_class: 'govuk-!-display-inline-block' %>
  <% else %>
    <%= govuk_button_to 'Exclude this candidate from service performance data', support_interface_hide_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button--secondary', form_class: 'govuk-!-display-inline-block' %>
  <% end %>
</div>

<%= render SupportInterface::PersonalDetailsComponent.new(application_form: @application_form) %>

<% if @application_form.application_choices.any? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Course choices</h2>
  <% @application_form.application_choices.includes(:course, :provider, :site, :offered_course_option).each do |application_choice| %>
    <%= render SupportInterface::ApplicationChoiceComponent.new(application_choice) %>
  <% end %>
<% end %>

<%= render SupportInterface::ApplicationAddCourseComponent.new(application_form: @application_form) %>

<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">References</h2>

<% if @application_form.application_references.any? %>
  <% @application_form.application_references.includes(%i[application_form audits]).each_with_index do |reference, i| %>
    <%= render SupportInterface::ReferenceWithFeedbackComponent.new(reference: reference, reference_number: i + 1) %>
  <% end %>
<% end %>

<%= render QualificationsComponent.new(application_form: @application_form, show_hesa_codes: true) %>

<%= render WorkHistoryComponent.new(application_form: @application_form) %>

<%= render VolunteeringHistoryComponent.new(application_form: @application_form) %>

<%= render LanguageSkillsComponent.new(application_form: @application_form) %>

<%= render PersonalStatementComponent.new(application_form: @application_form) %>

<%= render InterviewPreferencesComponent.new(application_form: @application_form) %>

<%= render SupportInterface::SafeguardingIssuesComponent.new(application_form: @application_form) %>
