<% content_for :browser_title, title_with_success_prefix("Application ##{@application_form.id}", flash[:success].present?) %>
<% content_for :title do %>
  <span class="govuk-caption-xl">Application #<%= @application_form.id %></span>
  <%= @application_form.candidate.email_address %>
<% end %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Applications', support_interface_applications_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= @application_form.candidate.email_address %>
      </li>
    </ol>
  </div>
<% end %>

<%= render SupportInterface::ApplicationSummaryComponent.new(application_form: @application_form) %>

<h2 class="govuk-heading-l govuk-!-margin-top-8">Personal details</h2>

<%= render PersonalDetailsComponent.new(application_form: @application_form) %>

<% unless HostingEnvironment.production? %>
  <%= button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@application_form.candidate), class: 'govuk-button' %>
<% end %>

<% if @application_form.candidate.hide_in_reporting? %>
  <%= button_to 'Include this candidate in service performance data', support_interface_show_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button govuk-button--secondary' %>
<% else %>
  <%= button_to 'Exclude this candidate from service performance data', support_interface_hide_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button govuk-button--secondary' %>
<% end %>

<% if @application_form.application_choices.any? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-8">Course choices</h2>
  <% @application_form.application_choices.includes(:course, :provider, :site, :offered_course_option).each do |application_choice| %>
    <%= render SupportInterface::ApplicationChoiceComponent.new(application_choice) %>
  <% end %>
<% end %>

<% if @application_form.application_choices.any?(&:awaiting_references?) %>
<div class='govuk-body'>
  <%= govuk_button_link_to 'Add or withdraw course choices', support_interface_change_course_path(@application_form) %>
</div>
<% end %>

<h2 class="govuk-heading-l govuk-!-margin-top-8">References</h2>

<% reference_status = ReferenceStatus.new(@application_form) %>

<% if reference_status.still_more_references_needed? %>
  <p class="govuk-body">
    This candidate needs to provide <%= reference_status.number_of_references_that_currently_need_replacing %> new reference(s).
  </p>
<% end %>

<% if @application_form.application_references.any? %>
  <% @application_form.application_references.each_with_index do |reference, i| %>
    <%= render SupportInterface::ReferenceWithFeedbackComponent.new(reference: reference, title: "#{(i + 1).ordinalize} reference #{reference.replacement? ? '(replacement)' : nil}") %>
  <% end %>
<% end %>


<h2 class="govuk-heading-l govuk-!-margin-top-8">Application data</h2>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#what-the-candidate-sees">
        What the candidate sees
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#what-the-provider-sees">
        What the provider sees
      </a>
    </li>
  </ul>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="what-the-candidate-sees">
    <h2 class="govuk-heading-l">What the candidate sees</h2>
    <%= render 'candidate_interface/application_form/application_form_specific_data', application_form: @application_form, editable: false, missing_error: false %>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="what-the-provider-sees">
    <h2 class="govuk-heading-l">What the provider sees</h2>
    <% if @application_form.submitted? %>
      <%= render 'provider_interface/application_choices/application_form_specific_data', application_form: @application_form %>
    <% else %>
      <p class="govuk-body">
        This application hasn't been submitted yet.
      </p>
    <% end %>
  </div>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-8">Criminal convictions and professional misconduct</h2>

<%= render SupportInterface::SafeguardingIssuesComponent.new(application_form: @application_form) %>

<h2 class="govuk-heading-l govuk-!-margin-top-8">Request feedback</h2>

<p class="govuk-body">Ask the candidate to fill out a survey.</p>

<%= govuk_button_link_to t('survey_emails.send.link'), support_interface_survey_emails_path(@application_form), class: 'govuk-button--secondary' %>
