<div class="app-timeline__item">
  <div class="app-timeline__header">
    <h3 class="app-timeline__title">
      <%= event_description %>
    </h3>
    <p class="app-timeline__date">
      <time datetime="<%= event.created_at.iso8601 %>">
        <%= event.created_at.to_s(:govuk_date_and_time) %>
      </time>
    </p>

  </div>

  <div class="app-timeline__description">
    <div class="app-timeline__log-card">
      <div class="app-timeline__log-card__note">
        <p class="app-timeline__log-card__note--title">
          <%= event_title %>
        </p>
        <% if event_content.present? %>
          <p class="app-timeline__log-card__note--content govuk-!-margin-top-0">
            <%= event_content %>
          </p>
        <% end %>
        <% if link.present? && link[:url].present? %>
          <p class="app-timeline__event_link"><%= govuk_link_to link[:text], link[:url] %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
