<div class="app-interviews">
  <% if user_can_create_or_change_interviews %>
    <%= govuk_link_to 'Set up interview', new_provider_interface_application_choice_interview_path(application_choice), button: true, class: 'govuk-button--secondary' %>
  <% end %>

  <% if upcoming_interviews.any? %>
    <h2 class="govuk-heading-m">
      <%= t('provider_interface.interviews.upcoming') %>
    </h2>

    <% upcoming_interviews.each do |interview| %>
      <%= render ProviderInterface::InterviewAndCourseSummaryComponent.new(interview: interview, user_can_change_interview: user_can_create_or_change_interviews) %>
    <% end %>
  <% end %>

  <% if past_interviews.any? %>
    <h2 class="govuk-heading-m">
      <%= t('provider_interface.interviews.past') %>
    </h2>

    <% past_interviews.each do |interview| %>
      <%= render ProviderInterface::InterviewAndCourseSummaryComponent.new(interview: interview, user_can_change_interview: user_can_create_or_change_interviews) %>
    <% end %>
  <% end %>
</div>
