<h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-clarity-mask="True">
  <%= application_choice.application_form.full_name %>
  <span>
    <%= render(ProviderInterface::ApplicationStatusTagComponent.new(application_choice:)) %>
  </span>
</h1>

<% if show_inset_text? -%>
  <div class="govuk-grid-row govuk-!-display-none-print">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= govuk_inset_text(classes: 'govuk-!-margin-top-0') do %>
        <%= render header_component %>
      <% end %>
    </div>
  </div>
<% end -%>

<% if sub_navigation_items.count > 1 %>
  <%= render TabNavigationComponent.new(items: sub_navigation_items) %>
<% end %>
