<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
  <%= application_choice.application_form.full_name %>
  <%= render(ProviderInterface::ApplicationStatusTagComponent.new(application_choice: application_choice)) %>
</h1>

<% if show_inset_text? -%>
  <div class="govuk-grid-row govuk-!-display-none-print">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <% if respond_to_application? -%>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <% if FeatureFlag.active?(:interviews) %>
              Set up an interview or make a decision
            <% else %>
              Make a decision
            <% end %>
          </h2>
          <p class="govuk-body">
            <% if time_is_today_or_tomorrow?(application_choice.reject_by_default_at) -%>
              You have until <%= time_today_or_tomorrow(application_choice.reject_by_default_at) %> to respond to this application. Otherwise it will be automatically rejected.
            <% else -%>
              You have <%= days_until(application_choice.reject_by_default_at.to_date) %> to make a decision - this application will be automatically rejected on <%= application_choice.reject_by_default_at.to_s(:govuk_date) %>.
            <% end -%>
          </p>

          <% if FeatureFlag.active?(:interviews) %>
            <div class="govuk-button-group">
              <%= govuk_button_link_to 'Set up interview', new_provider_interface_application_choice_interview_path(application_choice), class: 'govuk-!-margin-bottom-0 govuk-!-margin-right-2' %>
              <%= govuk_button_link_to 'Make decision', provider_interface_application_choice_respond_path(application_choice), class: 'govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-right-2' %>
            </div>
          <% else %>
            <%= govuk_button_link_to 'Make decision', provider_interface_application_choice_respond_path(application_choice) %>
          <% end %>
        <% elsif waiting_for_interview? %>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Make a decision
          </h2>
          <p class="govuk-body">
            <% if time_is_today_or_tomorrow?(application_choice.reject_by_default_at) -%>
              You have until <%= time_today_or_tomorrow(application_choice.reject_by_default_at) %> to respond to this application. Otherwise it will be automatically rejected.
            <% else -%>
              You have <%= days_until(application_choice.reject_by_default_at.to_date) %> to make a decision - this application will be automatically rejected on <%= application_choice.reject_by_default_at.to_s(:govuk_date) %>.
            <% end -%>
          </p>

          <%= govuk_button_link_to 'Make decision', provider_interface_application_choice_respond_path(application_choice) %>

        <% elsif awaiting_decision_but_cannot_respond? -%>
          <p class="govuk-body">
            <% if time_is_today_or_tomorrow?(application_choice.reject_by_default_at) -%>
              This application will be automatically rejected at <%= time_today_or_tomorrow(application_choice.reject_by_default_at) %>.
            <% else -%>
              <%= "There are #{days_until(application_choice.reject_by_default_at.to_date)} to respond." %>
              This application will be automatically rejected on <%= application_choice.reject_by_default_at.to_s(:govuk_date) %>.
            <% end -%>
          </p>
        <% elsif offer_will_be_declined_by_default? -%>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Waiting for candidate’s response
          </h2>
          <p class="govuk-body">
            Your offer will be automatically declined <%= decline_by_default_text %> if the candidate does not respond.
          </p>
        <% elsif deferred_offer_wizard_applicable? -%>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Review and confirm the deferred offer
          </h2>

          <% if deferred_offer_equivalent_course_option_available? %>
            <p class="govuk-body">
              The course offered to the candidate in the previous cycle is available in the current cycle.
            </p>
          <% else %>
            <p class="govuk-body">
              The course offered to the candidate in the previous cycle is not available in the current cycle.
            </p>
          <% end %>

          <%= govuk_button_link_to 'Review deferred offer', provider_interface_reconfirm_deferred_offer_path(application_choice) %>
        <% elsif rejection_reason_required? -%>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Give feedback
          </h2>

          <p class="govuk-body">
            You did not make a decision about the application within <%= application_choice.reject_by_default_days %> working days. Tell the candidate why their application was unsuccessful.
          </p>

          <% if FeatureFlag.active?(:structured_reasons_for_rejection_on_rbd) %>
            <%= govuk_button_link_to 'Give feedback', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
          <% else %>
            <%= govuk_button_link_to 'Give feedback', provider_interface_application_choice_new_rbd_feedback_path(application_choice) %>
          <% end -%>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>

<% if sub_navigation_items.count > 1 %>
  <%= render TabNavigationComponent.new(items: sub_navigation_items) %>
<% end %>
