<section class="app-application-card">
  <header class="app-application-card__header">
    <h3 class="govuk-heading-s">
      <%= govuk_link_to candidate_name, provider_interface_application_choice_path(application_choice), class: 'govuk-link--no-visited-state' %>
      <span class="app-application-card__caption"><%= application_choice.application_form.support_reference %></span>
    </h3>
    <%= render ProviderInterface::ApplicationStatusTagComponent.new(application_choice: application_choice) %>
  </header>

  <div class="govuk-grid-row app-grid-row--flex">
    <div class="govuk-grid-column-two-thirds">
      <dl class="app-application-card__list">
        <dt class="govuk-visually-hidden">Course</dt>
        <dd class="govuk-body-s"><%= course_name_and_code %> – <%= site_name_and_code %></dd>
        <dt class="govuk-visually-hidden">Provider</dt>
        <dd class="govuk-hint govuk-!-font-size-16">
          <span data-qa="provider"><%= course_provider_name %></span>
          <% if !accredited_provider.nil? %>– ratified by <%= accredited_provider.name %><% end %>
        </dd>
      </dl>
    </div>

    <div class="govuk-grid-column-one-third">
      <dl class="app-application-card__list app-application-card__list--secondary">
        <% if days_to_respond_text %>
          <dt class="govuk-visually-hidden">Days left to respond</dt>
          <dd class="govuk-body-s"><%= days_to_respond_text %></dd>
        <% elsif candidate_days_to_respond_text %>
          <dt class="govuk-visually-hidden">Days left for candidate to respond</dt>
          <dd class="govuk-body-s"><%= candidate_days_to_respond_text %></dd>
        <% end %>
        <dt class="govuk-visually-hidden">Cycle</dt>
        <dd class="govuk-hint govuk-!-font-size-16"><%= recruitment_cycle_text %></dd>
      </dl>
    </div>
  </div>
</section>
