<h2 class="govuk-heading-l">Timeline</h2>
<div class="app-timeline">
  <% events.each do |event| %>
    <div class="app-timeline__item">
      <div class="app-timeline__header">
        <% if event.type == 'note' %>
          <h2 class="app-timeline__title">
            <%= link_to event.title, provider_interface_application_choice_notes_path(@application_choice, anchor: event.id), style: 'text-decoration: none; color: black;' %>
          </h2>
        <% else %>
          <h2 class="app-timeline__title"><%= event.title %></h2>
        <% end %>
        <p class="app-timeline__byline">by <%= event.actor %></p>
      </div>

      <p class="app-timeline__date">
        <time datetime="<%= event.date.to_s(:govuk_date_short_month) %>"><%= event.date.to_s(:govuk_date_short_month) %></time>
      </p>

      <div class="app-timeline__description"></div>
    </div>
  <% end %>
</div>
