<% if application_choice.structured_rejection_reasons.present? %>
  <p class="govuk-body">
    This application was <%= ('automatically ' if application_choice.rejected_by_default?) %>rejected on <%= application_choice.rejected_at.to_fs(:govuk_date) %>.
    <% if application_choice.reject_by_default_feedback_sent_at.present? -%>
      Feedback was sent on <%= application_choice.reject_by_default_feedback_sent_at.to_fs(:govuk_date) %>.
    <% else -%>
      The following feedback was sent to the candidate.
    <% end -%>
  </p>
  <% if application_choice.rejection_reasons_type == 'rejection_reasons' %>
    <%= render StructuredRejectionReasonsComponent.new(application_choice: application_choice) %>
  <% else %>
    <%= govuk_inset_text do %>
      <%= render StructuredRejectionReasonsComponent.new(application_choice: application_choice) %>
    <% end %>
  <% end %>
<% else %>
  <%= render SummaryListComponent.new(rows: rejected_rows) %>
<% end %>
