<h2 class="govuk-heading-l">Timeline</h2>
<div class="app-timeline">
  <% timeline_events.each do |event| %>
    <div class="app-timeline__item">
      <div class="app-timeline__header">
        <h3 class="app-timeline__title"><%= event.title %></h3>
      </div>
      <p class="app-timeline__actor_and_date">
        <%= event.actor %>,
        <time datetime="<%= event.date.to_s(:govuk_date_and_time) %>"><%= event.date.to_s(:govuk_date_and_time) %></time>
      </p>
      <div class="app-timeline__event_link">
        <% if event.link_name && event.link_path %>
          <%= govuk_link_to event.link_name, event.link_path, class: 'govuk-link--no-visited-state' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
