<div class="app-application-card">

  <h3 class="govuk-heading-m">
    <%= govuk_link_to candidate_name, provider_interface_application_choice_path(application_choice) %>
    <div class="app-application-card__status">
      <div>
        <%= render ProviderInterface::ApplicationStatusTagComponent.new(application_choice: application_choice) %>
      </div>
    <div>
    <% if contextual_days_to_respond %>
      <div class="app-application-card__days_to_respond">
        <dt class="govuk-visually-hidden">Days left to respond:</dt>
        <dd class="govuk-body"><%= contextual_days_to_respond %></dd>
      </div>
    <% end %>
  </h3>

  <dl>
    <div class="app-application-card__primary app-application-card__provider" >
      <dt class="govuk-visually-hidden">Provider:</dt>
      <dd class="govuk-body"><%= course_provider_name %> - <%= site_name_and_code %></dd>
    </div>

    <div class="app-application-card__course">
      <dt class="govuk-visually-hidden">Course:</dt>
      <dd class="govuk-body"><%= course_name_and_code %></dd>
    </div>

    <div class="app-application-card__footer">
      <div class="app-application-card__secondary">
        <dt class="govuk-body">Ratified by</dt>
        <dd class="govuk-body">
          <%= accredited_provider.nil? ? course_provider_name : accredited_provider.name %>
        </dd>
      </div>

      <div class="app-application-card__cycle">
        <div class="app-application-card__date">
          <dt class="govuk-visually-hidden">Cycle:</dt>
          <dd class="govuk-body"><%= recruitment_cycle_label %></dd>
        </div>
      </div>
    </div>
  </dl>
</div>
