<section id="<%= dom_id(application_choice) %>" class="app-application-card app-application-card__<%= course_type %>">
  <% if undergraduate? %>
    <p class="govuk-body-s app-application-card__course_type">
      <%= t('provider_interface.undergraduate') %>
    </p>
  <% end %>
  <header class="app-application-card__header">
    <h3 class="govuk-heading-s" data-clarity-mask="True">
      <%= govuk_link_to candidate_name, provider_interface_application_choice_path(application_choice), no_visited_state: true %>
      <span class="app-application-card__caption">
        <%= application_choice.id %>
      </span>
    </h3>
    <span>
      <%= render(ProviderInterface::ApplicationStatusTagComponent.new(application_choice:)) %>
    </span>
  </header>

  <div class="govuk-grid-row app-grid-row--flex">
    <div class="govuk-grid-column-two-thirds">
      <dl class="app-application-card__list">
        <dt class="govuk-visually-hidden">Course</dt>
        <dd class="govuk-body-s govuk-!-margin-bottom-1"><%= course_applied_to %></dd>
        <dt class="govuk-visually-hidden">Provider</dt>
        <dd class="govuk-body-s govuk-!-font-size-16">
          <span data-qa="provider"><%= course_provider_name %></span>
          <%= "(#{accredited_provider.name})" if accredited_provider.present? %>
        </dd>
        <% if application_choice.updated_recently_since_submitted? %>
        <dd class="govuk-hint govuk-body-s govuk-!-font-size-16">
          <span><%= @application_choice.application_form.full_name %> updated on <%= @application_choice.application_form.updated_at.to_fs(:govuk_date) %> at <%= @application_choice.application_form.updated_at.to_fs(:govuk_time) %></span>
        </dd>
        <% end %>
      </dl>
    </div>

    <div class="govuk-grid-column-one-third">
      <dl class="app-application-card__list app-application-card__list--secondary">
        <dd class="govuk-body-s <%= relative_date_text_color(application_choice) %>"><%= relative_date_text %></dd>
        <dd class="govuk-hint govuk-!-font-size-16">
          <%= simple_format(recruitment_cycle_text, {}, wrapper_tag: 'div') %>
        </dd>
      </dl>
    </div>
  </div>
</section>
