<%= govuk_panel(title_text: t('.success_message')) %>

<h2 class="govuk-heading-m">
  <%= t('.next_steps') %>
</h2>

<% if provider_permission_setup_pending %>
  <p class="govuk-body">
    <%= t('.setup_permissions_message') %>
  </p>

  <p class="govuk-body">
    <%= govuk_button_link_to t('continue'), provider_interface_organisation_permissions_setup_index_path %>
  </p>
<% else %>
 <%= render ProviderInterface::SetupCompleteNextStepsComponent.new(provider_user: provider_user) %>
<% end %>
