<% if FeatureFlag.active?(:accredited_provider_setting_permissions) %>
  <%= govuk_panel(title: t('.success_message'), body: nil) %>

  <h2 class="govuk-heading-m">
    <%= t('.next_steps') %>
  </h2>

  <% if provider_permission_setup_pending %>
    <p class="govuk-body">
      <%= t('.setup_permissions_message') %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to t('continue'), provider_interface_organisation_permissions_setup_index_path, button: true %>
    </p>
  <% else %>
   <%= render ProviderInterface::SetupCompleteNextStepsComponent.new(provider_user: provider_user) %>
  <% end %>
<% else %>
  <%= govuk_panel(title: t('.old.success_message'), body: nil) %>

  <% if provider_permission_setup_pending %>
    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <p class="govuk-body">
      <%= t('.old.setup_permissions_message') %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to t('.old.setup_permissions_action'), provider_interface_provider_relationship_permissions_organisations_path, button: true %>
    </p>
  <% else %>
    <% if user_can_manage_users? %>
      <h2 class="govuk-heading-m">
        Inviting users
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-4">
        Select <%= govuk_link_to 'Users', provider_interface_provider_users_path %> (at the top of every page) to add users and manage their permissions.
      </p>
    <% end %>

    <h2 class="govuk-heading-m">
      Manage your applications
    </h2>

    <p class="govuk-body">
      Continue to your applications.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to t('continue'), provider_interface_applications_path, button: true %>
    </p>
  <% end %>
<% end %>
