<%= form_with model: permissions_form,
              method: :patch,
              url: provider_interface_provider_user_edit_permissions_path(
                provider_id: permissions_form.provider.id,
                provider_user_id: permissions_form.provider_user.id,
              ) do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.hidden_field :provider_id %>
  <%= f.govuk_check_boxes_fieldset :permissions, {
          legend: { text: "Select permissions: #{permissions_form.provider.name}", size: "xl" },
          caption: { text: "Invite user", size: "xl" },
  } do %>

    <span class="govuk-hint">
      The user will still be able to view all applications made to courses at this organisation.
    </span>

    <%= f.govuk_check_box :manage_organisations, true, multiple: false,
                          label: { text: 'Manage organisation' },
                          hint_text: 'Change permissions between organisations' %>

    <%= f.govuk_check_box :manage_users, true, multiple: false,
                          label: { text: 'Manage users' },
                          hint_text: 'Invite or delete users and set their permissions' %>

    <%= f.govuk_check_box :make_decisions, true, multiple: false,
                          label: { text: 'Make decisions' },
                          hint_text: 'Make offers, amend offers and reject applications' %>
    <% if training_providers_that_can('make_decisions').any? %>
      <div class="govuk-!-margin-left-9">
        <p class="govuk-body govuk-!-margin-bottom-1">Applies to courses run by:</p>
        <ul class="govuk-list">
          <% training_providers_that_can('make_decisions').each do |provider| %>
            <li><%= render CheckIcon.new %> <%= provider.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if ratifying_providers_that_can('make_decisions').any? %>
      <div class="govuk-!-margin-left-9">
        <p class="govuk-body govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
          <% ratifying_providers_that_can('make_decisions').each do |provider| %>
            <li><%= render CheckIcon.new %> <%= provider.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.govuk_check_box :view_safeguarding_information, true, multiple: false,
                          label: { text: 'Access safeguarding information' },
                          hint_text: 'View sensitive material about the candidate' %>
    <% if training_providers_that_can('view_safeguarding_information').any? %>
      <div class="govuk-!-margin-left-8">
        <p class="govuk-body govuk-!-margin-bottom-1">Applies to courses run by:</p>
        <ul class="govuk-list">
          <% training_providers_that_can('view_safeguarding_information').each do |provider| %>
            <li><%= render CheckIcon.new %> <%= provider.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if ratifying_providers_that_can('view_safeguarding_information').any? %>
      <div class="govuk-!-margin-left-9">
        <p class="govuk-body govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
          <% ratifying_providers_that_can('view_safeguarding_information').each do |provider| %>
            <li><%= render CheckIcon.new %> <%= provider.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <%= f.govuk_submit 'Save' %>
<% end %>
