  <div class="moj-filter-layout__filter">
    <div class="moj-filter" tabindex="-1">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
          </div>
           <div class="moj-filter__header-action">
          </div>
      </div>

      <div class="moj-filter__content">
      <% if applied_filters.any? %>
             <%= render ProviderInterface::CurrentFiltersComponent.new(path: path,
                                                                       available_filters: available_filters,
                                                                       applied_filters: applied_filters,
                                                                       params_for_current_state: params_for_current_state) %>
     <% end %>


        <div class="moj-filter__options">
          <form method="get" action=<%= filtering_page_path %>>
            <%= submit_tag "Apply filters", class: "govuk-button" %>
            <% params_for_current_state.except(:filter_selections).each do |key, value| %>
              <input class="govuk-checkboxes__input" id=<%= key %> name=<%= key %> type="hidden" value=<%= value %> %>
            <% end %>


            <% available_filters.each do |filter_group| %>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <%= filter_group[:heading].capitalize %>
                    </legend>

                    <% filter_group[:input_config].each do |input_config| %>
                      <% if input_config[:type].eql?('checkbox') %>
                        <% unless filter_group[:input_config].size <= 1 %>
                            <div class="govuk-checkboxes govuk-checkboxes--small">
                              <%= render ProviderInterface::FilterCheckboxComponent.new(name: input_config[:name],
                                                                                        text: input_config[:text],
                                                                                        selected: checkbox_checked?(heading: filter_group[:heading], name: input_config[:name]),
                                                                                        heading: filter_group[:heading].parameterize)
                               %>
                            </div>
                        <% end %>
                      <% elsif input_config[:type].eql?('search') %>
                        <%= render ProviderInterface::FilterSearchComponent.new(name: input_config[:name],
                                                                                type: input_config[:type],
                                                                                heading: filter_group[:heading]) %>
                      <% end %>
                    <% end %>
                  </fieldset>
                </div>
          <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
