    <div class="moj-filter-layout__filter">
        <div class="moj-filter" tabindex="-1">
            <div class="moj-filter__header">
               <div class="moj-filter__header-title">
                 <h2 class="govuk-heading-m">Filter</h2>
               </div>
            </div>

            <div class="moj-filter__content">
                <div class="moj-filter__options">
                  <form method="get" action="/provider/applications">
                        <%= submit_tag "Apply filters", class: "govuk-button" %>

                        <div class="govuk-form-group">
                            <input class="govuk-checkboxes__input" id="sort_by" name="sort_by" type="hidden" value=<%= "#{current_sort_by}" %>>
                            <input class="govuk-checkboxes__input" id="sort_order" name="sort_order" type="hidden" value=<%= "#{sort_order}" %>>

                            <fieldset class="govuk-fieldset">

                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Status
                                </legend>

                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "accepted", text: "Accepted" %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "conditions_met", text: "Conditions met" %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "declined", text: "Declined" %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "awaiting_provider_decision", text: "New" %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "offer", text: "Offered" %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "rejected", text: "Rejected" %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "withdrawn", text: "Application withdrawn" %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "offer_withdrawn", text: "Offer withdrawn" %>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
