  <div class="moj-filter-layout__filter app-filter">
    <div class="moj-filter" tabindex="-1">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
          </div>
           <div class="moj-filter__header-action">
          </div>
      </div>

      <div class="moj-filter__content">
      <% if applied_filters.any? %>
        <%= render ProviderInterface::CurrentFiltersComponent.new(
          available_filters: available_filters,
          applied_filters: applied_filters,
          params_for_current_state: params_for_current_state,
        ) %>
     <% end %>

        <div class="moj-filter__options">
          <form method="get">
            <%= submit_tag "Apply filters", class: "govuk-button" %>
            <% params_for_current_state.except(:filter_selections).each do |key, value| %>
              <input class="govuk-checkboxes__input" id=<%= key %> name=<%= key %> type="hidden" value=<%= value %> %>
            <% end %>

            <% available_filters.each do |filter_group| %>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                    <% if is_candidates_name_search_field?(filter_group) || form_group_fields_greater_than_one?(filter_group) %>
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <%= filter_group[:heading].humanize %>
                      </legend>
                    <% end %>

                    <% filter_group[:input_config].each do |input_config| %>
                      <% if is_candidates_name_search_field?(filter_group) %>
                        <%= render ProviderInterface::FilterSearchComponent.new(name: input_config[:name],
                                                                                type: input_config[:type],
                                                                                heading: filter_group[:heading],
                                                                                value: applied_filters.fetch(:search, {}).fetch(:candidates_name, "")) %>
                      <% elsif form_group_fields_greater_than_one?(filter_group) %>

                         <div class="govuk-checkboxes govuk-checkboxes--small">
                           <%= render ProviderInterface::FilterCheckboxComponent.new(name: input_config[:name],
                                                                                     text: input_config[:text],
                                                                                     selected: checkbox_checked?(heading: filter_group[:heading],
                                                                                                                 name: input_config[:name]),
                                                                                     heading: filter_group[:heading].parameterize)
                           %>
                        </div>
                      <% end %>
                    <% end %>
                  </fieldset>
                </div>
          <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
