<%= form_with(
  model: form_model,
  url: form_url,
  method: :post,
) do |f| %>

  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= application_choice.application_form.full_name %></span>
  <h1 class="govuk-heading-l"><%= form_heading %></h1>

  <% if application_choice.application_form.interview_preferences.present? %>
    <div class="app-banner app-banner--details">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><%= t('.interview_preferences') %></h2>
      <p class="govuk-body govuk-!-margin-bottom-0"><%= application_choice.application_form.interview_preferences %></p>
    </div>
  <% end %>

  <%= f.govuk_date_field :date, hint: { text: t('helpers.hint.provider_interface_interview_wizard.date', example_date: example_date) } %>

  <%= f.govuk_text_field :time, width: 5, label: { size: 'm' } %>

  <% if application_providers.count > 1 %>
    <%= f.govuk_radio_buttons_fieldset :provider_id do %>
      <% application_providers.each_with_index do |provider, index| %>
        <%= f.govuk_radio_button :provider_id, provider.id, label: { text: provider.name }, link_errors: index.zero? %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.govuk_text_area :location, label: { size: 'm' } %>

  <%= f.govuk_text_area :additional_details, label: { text: "#{t('helpers.label.provider_interface_interview_wizard.additional_details')} (optional)", size: 'm' } %>

  <%= f.govuk_submit t('continue') %>

<% end %>
