<div class="app-offer-panel app-banner app-banner--details <%= border_class %>">
  <h2 class="govuk-heading-m">Course details</h2>
  <%= render SummaryCardComponent.new(rows: rows, border: false) %>

  <h2 class="govuk-heading-m">Conditions of offer</h2>

  <% if editable %>
    <div class='govuk-body'>
      <% if @application_choice.pending_conditions? %>
        <%= govuk_link_to 'Update status of conditions', provider_interface_application_choice_edit_conditions_path(@application_choice) %>
      <% else %>
        <%= govuk_link_to 'Add or change conditions', [mode, :provider_interface, @application_choice, :offer, :conditions] %>
      <% end %>
    </div>
  <% end %>

  <% if conditions.any? %>
    <table class="govuk-table govuk-!-margin-bottom-2 conditions">
      <tbody class="govuk-table__body">
        <% conditions.each do |condition| %>
          <tr class="govuk-table__row conditions-row">
            <td class="govuk-table__cell"><%= condition %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <% if conditions_met? %>
                <strong class="govuk-tag govuk-tag--green app-tag">Met</strong>
              <% elsif conditions_not_met? %>
                <strong class="govuk-tag govuk-tag--red app-tag">Not met</strong>
              <% else %>
                <strong class="govuk-tag govuk-tag--grey app-tag">Pending</strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class='govuk-body'>
      No conditions have been set for this offer
    </div>
  <% end %>
</div>
