<div class="app-banner app-banner--details app-offer-panel <%= border_class %>">
  <h2 class="govuk-heading-m">Course details</h2>
  <%= render SummaryCardComponent.new(rows: rows, border: false) %>

  <h2 class="govuk-heading-m">Conditions of offer</h2>

  <% if ske_conditions.present? %>
    <% ske_conditions.each do |ske_condition| %>
      <%= render ProviderInterface::SkeConditionsComponent.new(
        application_choice: @application_choice,
        course: @course,
        ske_condition:,
        editable: !@application_choice.accepted_choice?,
      ) %>
    <% end %>
  <% end %>

  <% if editable && !show_recruit_pending_button %>
    <% if conditions_to_update? %>
      <div class='govuk-body'>
        <%= govuk_link_to 'Update status of conditions', update_conditions_path %>
      </div>
    <% end %>

    <% if @application_choice.offer? || show_conditions_link %>
      <div class='govuk-body'>
        <%= govuk_link_to 'Add or change conditions', [mode, :provider_interface, @application_choice, :offer, :conditions] %>
      </div>
    <% end %>
  <% end %>

  <%= render ProviderInterface::ConditionsListComponent.new(conditions) %>

  <% if editable && show_recruit_pending_button %>
    <div class='govuk-body'>
      <% if conditions_to_update? %>
        <%= govuk_button_to(
          'Update status of conditions',
          update_conditions_path,
          form_class: 'govuk-!-display-inline-block',
          method: :get,
        ) %>
      <% end %>
      <% if @application_choice.offer? || show_conditions_link %>
        <%= govuk_link_to(
          'Add or change conditions',
          [mode, :provider_interface, @application_choice, :offer, :conditions],
        ) %>
      <% end %>
      <% if show_recruit_with_pending_conditions? %>
        <%= govuk_button_to(
          'Recruit candidate with pending conditions',
          new_provider_interface_application_choice_offer_recruit_with_pending_conditions_path(application_choice_id: @application_choice.id),
          form_class: 'govuk-!-display-inline-block',
          secondary: true,
          method: :get,
        ) %>
      <% end %>
    </div>
  <% end %>
</div>
