<div class="app-banner app-banner--details app-offer-panel <%= border_class %>">
  <h2 class="govuk-heading-m">Course details</h2>
  <%= render SummaryCardComponent.new(rows: rows, border: false) %>

  <h2 class="govuk-heading-m">Conditions of offer</h2>

  <% if editable %>
    <% if @application_choice.pending_conditions? %>
      <div class='govuk-body'>
        <%= govuk_link_to 'Update status of conditions', update_conditions_path %>
      </div>
    <% end %>

    <% if @application_choice.offer? || show_conditions_link %>
      <div class='govuk-body'>
        <%= govuk_link_to 'Add or change conditions', [mode, :provider_interface, @application_choice, :offer, :conditions] %>
      </div>
    <% end %>
  <% end %>

  <%= render ProviderInterface::ConditionsListComponent.new(conditions) %>
</div>
