<%= form_with(
  model: permission_model,
  url: form_url,
  method: :patch,
) do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= page_caption %></span>
  <h1 class="govuk-heading-l">
    <%= page_heading %>
  </h1>

  <p class="govuk-body"><%= t('.explanation') %></p>

  <% ProviderRelationshipPermissions::PERMISSIONS.each do |permission_name| %>
    <div class="govuk-form-group" data-qa="<%= permission_name.to_s.dasherize %>">
      <%= f.govuk_check_boxes_fieldset permission_name, legend: { text: label_for(permission_name) } do %>
        <% presenter.checkbox_details_for_providers.each_with_index do |checkbox_details, index| %>
          <%= f.govuk_check_box(
            permission_name,
            checkbox_details[:type],
            label: { text: checkbox_details[:name] },
            link_errors: index.zero?,
          ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= f.govuk_submit t(".#{mode}.submit_button") %>
<% end %>
