<section class="app-summary-card govuk-!-margin-bottom-6">
  <%= render(SummaryCardHeaderComponent.new(title: title, heading_level: @heading_level)) %>

  <div class="app-summary-card__body">
    <%= govuk_summary_list do |component| %>
      <% rows.each do |row| %>
        <% content_for :value, flush: true do %>
          <ul class="govuk-list <%= row[:permission_slug] %>">
            <% row[:permissions_list].each do |provider_name| %>
              <li><%= render IconComponent.new(type: 'check') %> <%= provider_name %></li>
            <% end %>
          </ul>
          <% if row[:permission_slug] == 'view-applications' %>
            <%= govuk_details(summary: 'Why can’t this be changed?') do %>
              All users at both organisations can view applications – you do not need to set permissions for this.
            <% end %>
          <% end %>
        <% end %>

        <% content_for :action, flush: true do %>
          <%= govuk_link_to(row[:change_path]) do %>
            Change<span class="govuk-visually-hidden"> <%= row[:action] %></span>
          <% end if row[:change_path] %>
        <% end %>

        <%= component.slot(
          :row,
          key: row[:key],
          value: content_for(:value),
          action: editable ? content_for(:action) : nil,
        ) %>
      <% end %>
    <% end %>
  </div>
</section>
