<div class="govuk-inset-text app-inset-text">
  <div class="app-feedback">
    <h2 class="govuk-heading-m">
      <%= feedback_heading %>
    </h2>
  </div>
  <p class="govuk-body">Here’s why your application was unsuccessful.</p>

  <% if reasons_for_rejection.candidate_behaviour_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Something you did</h3>
      <ul class="govuk-list app-list--spaced">
        <% reasons_for_rejection.candidate_behaviour_what_did_the_candidate_do.each do |reason| %>
          <li>
            <% if reason == 'other' %>
              <%= reasons_for_rejection.candidate_behaviour_other %>
              <p>Advice: <%= reasons_for_rejection.candidate_behaviour_what_to_improve %></p>
            <% else %>
              <%= t("reasons_for_rejection.candidate_behaviour_what_did_the_candidate_do.#{reason}") %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.quality_of_application_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Quality of application</h3>
      <ul class="govuk-list app-list--spaced">
        <% reasons_for_rejection.quality_of_application_which_parts_needed_improvement.each do |reason| %>
          <li>
            <% if reason == 'other' %>
              <%= reasons_for_rejection.quality_of_application_other_details %>
              <p>Advice: <%= reasons_for_rejection.quality_of_application_other_what_to_improve %></p>
            <% else %>
              <%= reasons_for_rejection.send(:"quality_of_application_#{reason}_what_to_improve") %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.qualifications_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Qualifications</h3>
      <ul class="govuk-list app-list--spaced">
        <% reasons_for_rejection.qualifications_which_qualifications.each do |reason| %>
          <li>
            <% if reason == 'other' %>
              <%= reasons_for_rejection.qualifications_other_details %>
            <% else %>
              <%= t("reasons_for_rejection.qualifications_which_qualifications.#{reason}") %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.performance_at_interview_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Performance at interview</h3>
      <p class="govuk-body"><%= reasons_for_rejection.performance_at_interview_what_to_improve %></p>

      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.course_full_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Course full</h3>
      <p>We're sorry to tell you the course you applied to was full</p>

      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.offered_on_another_course_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">They offered you a place on another course</h3>
      <p class="govuk-body"><%= reasons_for_rejection.offered_on_another_course_details %></p>

      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.honesty_and_professionalism_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Honesty and professionalism</h3>
      <ul class="govuk-list app-list--spaced">
        <% if reasons_for_rejection.honesty_and_professionalism_concerns_information_false_or_inaccurate_details.present? %>
          <li>
            <%= reasons_for_rejection.honesty_and_professionalism_concerns_information_false_or_inaccurate_details %>
          </li>
        <% end %>
        <% if reasons_for_rejection.honesty_and_professionalism_concerns_plagiarism_details.present? %>
          <li>
            <%= reasons_for_rejection.honesty_and_professionalism_concerns_plagiarism_details %>
          </li>
        <% end %>
        <% if reasons_for_rejection.honesty_and_professionalism_concerns_references_details.present? %>
          <li>
            <%= reasons_for_rejection.honesty_and_professionalism_concerns_references_details %>
          </li>
        <% end %>
        <% if reasons_for_rejection.honesty_and_professionalism_concerns_other_details.present? %>
          <li>
            <%= reasons_for_rejection.honesty_and_professionalism_concerns_other_details %>
          </li>
        <% end %>
      </ul>
      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.safeguarding_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Safeguarding issues</h3>
      <ul class="govuk-list app-list--spaced">
        <% if reasons_for_rejection.safeguarding_concerns_candidate_disclosed_information_details.present? %>
          <li>
            <%= reasons_for_rejection.safeguarding_concerns_candidate_disclosed_information_details %>
          </li>
        <% end %>
        <% if reasons_for_rejection.safeguarding_concerns_vetting_disclosed_information_details.present? %>
          <li>
            <%= reasons_for_rejection.safeguarding_concerns_vetting_disclosed_information_details %>
          </li>
        <% end %>
        <% if reasons_for_rejection.safeguarding_concerns_other_details.present? %>
          <li>
            <%= reasons_for_rejection.safeguarding_concerns_other_details %>
          </li>
        <% end %>
      </ul>
      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.why_are_you_rejecting_this_application.present? %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Reasons why your application was unsuccessful</h3>
      <p class="govuk-body"><%= reasons_for_rejection.why_are_you_rejecting_this_application %></p>
      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_other_reasons_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if reasons_for_rejection.other_advice_or_feedback_y_n == 'Yes' %>
    <div class="app-feedback">
      <h3 class="govuk-heading-s">Additional advice</h3>
      <p class="govuk-body"><%= reasons_for_rejection.other_advice_or_feedback_details %></p>
      <% if editable? %>
        <p class="app-rejection-change-link">
          <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_other_reasons_path(application_choice), class: 'app-rejection-change-link' %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
