<table class='govuk-table'>
  <thead class="govuk-table__head">
    <tr class='govuk-table__row'>
      <th class='govuk-table__header' scope='col'><%= headers[0] %></th>
      <% headers[1..].each do |header| %>
        <th class='govuk-table__row govuk-table__header govuk-table__header--numeric' scope='col' style='width: 12%'><%= header %></th>
      <% end %>
    </tr>
  </thead>

    <% if rows.any? %>
      <tbody>
        <% rows.each do |row| %>
          <tr class='govuk-table__row'>
            <th class='govuk-table__header <%= 'govuk-!-font-weight-regular' unless bold_row_headers %>' scope='row'>
              <%= row[:header] %>
              <div class='govuk-hint govuk-!-margin-bottom-0'><%= row[:subheader] %></div>
            </th>
            <% row[:values].each do |value, index| %>
              <% if value.is_a?(Hash) && value[:link].present? %>
                <td class='govuk-table__cell'><%= govuk_link_to(value[:text], value[:link]) %></td>
              <% else %>
                <td class='govuk-table__cell govuk-table__cell--numeric'><%= value %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  <% else %>
    <tbody>
      <tr class='govuk-table__row'>
        <td class='govuk-body' colspan='<%= headers.length + 1 %>'>No results found.</td>
      </tr>
    </tbody>
  <% end %>

  <% if footer.any? %>
    <tfoot>
      <tr class='govuk-table__row'>
        <th class='govuk-table__header' scope='row'>Total</th>
        <% footer.each do |value| %>
          <td class='govuk-table__header govuk-table__header--numeric'><%= value %></td>
        <% end %>
      </tr>
    </tfoot>
  <% end %>
</table>
