<%= render ProviderInterface::PermissionsDebugCommentComponent.new(auth_analysis: @analysis) %>

<section class="app-section govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m govuk-!-font-size-27" id="criminal-convictions-and-professional-misconduct">Criminal convictions and professional misconduct</h2>

  <% if message %><p class="govuk-body"><%= message %></p><% end %>

  <% if display_safeguarding_issues_details? %>
    <%= govuk_details(
      summary: 'View information disclosed by the candidate',
      classes: 'govuk-!-margin-bottom-2',
    ) do %>
      <%= details %>
    <% end %>

  <% elsif safeguarding_issues_declared? %>
    <% if @analysis.provider_relationship_allows_access? %>
      <p class="govuk-body">
        The candidate has disclosed information related to safeguarding but you do not have permission to view sensitive material.
      </p>
    <% elsif @analysis.provider_relationship_has_been_set_up? %>
      <% if @analysis.provider_user_has_user_level_access? %>
        <p class="govuk-body">
          This candidate has disclosed information related to safeguarding.
        </p>

        <% if @analysis.provider_user_associated_with_training_provider? %>
          <p class="govuk-body">
            You have permission to see safeguarding information for <%= @analysis.training_provider.name %>. However, <%= @analysis.training_provider.name %> does not have permission to see safeguarding information for applications to courses ratified by <%= @analysis.ratifying_provider.name %>.
          </p>
        <% else %>
          <p class="govuk-body">
            You have permission to see safeguarding information for <%= @analysis.ratifying_provider.name %>. However, <%= @analysis.ratifying_provider.name %> does not have permission to see safeguarding information for applications to courses run by <%= @analysis.training_provider.name %>.
          </p>
        <% end %>
      <% else %>
        <p class="govuk-body">
          The candidate has disclosed information related to safeguarding but you do not have permission to view sensitive material.
        </p>
      <% end %>
    <% else %>
      <p class="govuk-body">
        The candidate has disclosed information related to safeguarding but you cannot see it.
      </p>

      <% if @analysis.training_provider_users_who_can_manage_organisations.present? %>
        <% others = @analysis.training_provider_users_who_can_manage_organisations %>
        <p class="govuk-body">
          This is because organisational permissions have not been set up. Contact
          <% if others.one? %>
            <% user = others.first %>
            <%= user.full_name %> at <%= govuk_mail_to user.email_address, user.email_address %>.
          <% else %>
            one of the following people:
            <ul class="govuk-list govuk-list--bullet">
            <% others.each do |user| %>
              <li>
                <%= user.full_name %> at <%= govuk_mail_to user.email_address, user.email_address %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </p>
      <% else %>
        <p class="govuk-body">
          This is because organisational permissions have not been set up.
          Contact support at <%= bat_contact_mail_to %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</section>
