<!-- Current user: <%= provider_user_associated_with_training_provider? ? 'Training' : 'Ratifying' %> provider (view_safeguarding_information: <%= provider_user_has_user_level_access? %>, manage_users: <%= provider_user_can_manage_users? %>, manage_organisations: <%= provider_user_can_manage_organisations? %>) -->
<!-- Org permissions setup: <%= provider_relationship_has_been_set_up? ? 'completed' : 'incomplete' %> -->
<!-- Training provider: <%= @training_provider&.name %> (org access: <%= @relationship&.training_provider_can_view_safeguarding_information %>) -->
<!-- Ratifying provider: <%= @ratifying_provider&.name %> (org access: <%= @relationship&.ratifying_provider_can_view_safeguarding_information %>) -->

<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8" id="criminal-convictions-and-professional-misconduct">Criminal convictions and professional misconduct</h2>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View guidance given to candidate
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">Declaring any safeguarding issues</h2>
    <p class="govuk-body">Teacher training providers need to check that it’s safe for you to work with children and young people.</p>
    <p class="govuk-body">As well as confirming your identity and your right to work in the UK, providers will check:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your criminal record in the UK (they'll do an enhanced <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service/about#dbs-checks" class="govuk-link">DBS check)</a> and abroad where relevant</li>
      <li>whether you’ve been banned from teaching or working with children</li>
      <li>your professional behaviour, such as whether you’ve been removed from teacher training and what your referees say about you</li>
    </ul>
    <p class="govuk-body">Tell your provider about any potential safeguarding issues, such as offences, cautions, reprimands and final warnings. They can give advice about whether this will affect your application.</p>
    <p class="govuk-body">It won’t necessarily stop you becoming a teacher.</p>
  </div>
</details>

<p class="govuk-body"><%= message %></p>
<% if display_safeguarding_issues_details? %>
  <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View information disclosed by the candidate
      </span>
    </summary>
    <div class="govuk-details__text">
      <%= details %>
    </div>
  </details>
<% elsif safeguarding_issues_declared? %>
  <p class="govuk-body">
    <% if provider_user_associated_with_training_provider? %>
      <% if provider_relationship_allows_access? %>
        <% if provider_user_can_manage_users? %>
          <%= govuk_link_to 'Manage user permissions', fix_user_permissions_path %>
        <% elsif other_provider_users_who_can_manage_users.present? %>
          Contact
          <% if other_provider_users_who_can_manage_users.one? %>
            <% user = other_provider_users_who_can_manage_users.first %>
            <%= user.full_name %> at
            <a class="govuk-link" href="mailto:<%= user.email_address %>">
              <%= user.email_address %>
            </a>.
          <% else %>
            one of the following people:
            <ul class="govuk-list govuk-list--bullet">
            <% other_provider_users_who_can_manage_users.each do |user| %>
              <li>
                <%= user.full_name %> at
                <a class="govuk-link" href="mailto:<%= user.email_address %>">
                  <%= user.email_address %>
                </a>
              </li>
            <% end %>
            </ul>
          <% end %>
        <% else %>
          Contact support at becomingateacher@digital.education.gov.uk
        <% end %>
      <% elsif !provider_relationship_has_been_set_up? %>
        <% if provider_user_can_manage_organisations? %>
          <%= govuk_link_to 'Manage_organisational_permissions', fix_org_permissions_path %>
        <% elsif other_provider_users_who_can_manage_organisations.present? %>
          Contact
          <% if other_provider_users_who_can_manage_organisations.one? %>
            <% user = other_provider_users_who_can_manage_organisations.first %>
            <%= user.full_name %> at
            <a class="govuk-link" href="mailto:<%= user.email_address %>">
              <%= user.email_address %>
            </a>.
          <% else %>
            one of the following people:
            <ul class="govuk-list govuk-list--bullet">
            <% other_provider_users_who_can_manage_organisations.each do |user| %>
              <li>
                <%= user.full_name %> at
                <a class="govuk-link" href="mailto:<%= user.email_address %>">
                  <%= user.email_address %>
                </a>
              </li>
            <% end %>
            </ul>
          <% end %>
        <% else %>
          Contact support at becomingateacher@digital.education.gov.uk
        <% end %>
      <% else %>
        <% if provider_user_has_user_level_access? %>
          You have permission to see safeguarding information for <%= @training_provider.name %>. However, <%= @training_provider.name %> does not have permission to see safeguarding information for applications to courses ratified by <%= @ratifying_provider.name %>.
        <% end %>
      <% end %>
    <% else %>
      <% if provider_relationship_allows_access? %>
        <% if provider_user_can_manage_users? %>
          <%= govuk_link_to 'Manage user permissions', fix_user_permissions_path %>
        <% elsif other_provider_users_who_can_manage_users.present? %>
          Contact
          <% if other_provider_users_who_can_manage_users.one? %>
            <% user = other_provider_users_who_can_manage_users.first %>
            <%= user.full_name %> at
            <a class="govuk-link" href="mailto:<%= user.email_address %>">
              <%= user.email_address %>
            </a>.
          <% else %>
            one of the following people:
            <ul class="govuk-list govuk-list--bullet">
            <% other_provider_users_who_can_manage_users.each do |user| %>
              <li>
                <%= user.full_name %> at
                <a class="govuk-link" href="mailto:<%= user.email_address %>">
                  <%= user.email_address %>
                </a>
              </li>
            <% end %>
            </ul>
          <% end %>
        <% else %>
          Contact support at becomingateacher@digital.education.gov.uk
        <% end %>
      <% else %>
        <% if provider_user_has_user_level_access? %>
          You have permission to see safeguarding information for <%= @ratifying_provider.name %>. However, <%= @ratifying_provider.name %> does not have permission to see safeguarding information for applications to courses run by <%= @training_provider.name %>.
        <% end %>
        <% if !provider_relationship_has_been_set_up? %>
          <p class="govuk-body">
          <% if training_provider_users_who_can_manage_organisations.present? %>
            Contact
            <% if training_provider_users_who_can_manage_organisations.one? %>
              <% user = training_provider_users_who_can_manage_organisations.first %>
              <%= user.full_name %> at
              <a class="govuk-link" href="mailto:<%= user.email_address %>">
                <%= user.email_address %>
              </a>.
            <% else %>
              one of the following people:
              <ul class="govuk-list govuk-list--bullet">
              <% training_provider_users_who_can_manage_organisations.each do |user| %>
                <li>
                  <%= user.full_name %> at
                  <a class="govuk-link" href="mailto:<%= user.email_address %>">
                    <%= user.email_address %>
                  </a>
                </li>
              <% end %>
              </ul>
            <% end %>
          <% else %>
            Contact support at becomingateacher@digital.education.gov.uk
          <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </p>
<% end %>
