<%= tag.dl(class: 'govuk-summary-list') do %>
  <% ProviderPermissions::VALID_PERMISSIONS.each do |permission| %>
    <%= tag.div(class: 'govuk-summary-list__row') do %>
      <dt class="govuk-summary-list__key">
        <%= description_for(permission) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body"><%= can_perform_permission_y_n?(permission) %></p>
        <% if display_provider_permissions_text?(permission) %>
          <p>This user permission is affected by organisation permissions.</p>
          <%= render ProviderInterface::ProviderPartnerPermissionBreakdownComponent.new(provider: provider, permission: permission) %>
        <% end %>
      </dd>
      <% if editable %>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to(
            edit_provider_interface_organisation_settings_organisation_user_permissions_path(provider, provider_user),
            class: 'govuk-!-display-none-print',
          ) do %>
            Change
            <span class="govuk-visually-hidden"><%= description_for(permission) %></span>
          <% end %>
        </dd>
      <% end %>
    <% end %>
  <% end %>
<% end %>
