<% content_for :title, @withdrawal_reason_form.secondary_reason_title(@primary_reason_id) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_withdrawal_reason_path(params: @withdrawal_reason_form.confirm_params), 'Back') %>

<%= form_with(
      model: @withdrawal_reason_form,
      url: candidate_interface_withdrawal_reason_continue_path(
        primary_reason_id: @primary_reason_id,
      )) do |f| %>
    <%= f.govuk_error_summary %>
    <%= f.hidden_field(:primary_reason, value: @primary_reason_id) %>
    <%= f.hidden_field(:form_step, value: 'secondary_reasons') %>
    <%= f.govuk_check_boxes_fieldset(
      :secondary_reasons,
      legend: { text: @withdrawal_reason_form.secondary_reason_title(@primary_reason_id), tag: 'h1', size: 'l', hint: 'Select all that apply' },
      ) do %>
        <% @withdrawal_reason_form.reason_options(@primary_reason_id).each_with_index do |r, index| %>
          <% if r.text_area_label.blank? %>
            <%= f.govuk_check_box(
                  :secondary_reasons,
                  r.id,
                  link_errors: index.zero?,
                  label: { text: r.name, }
                ) %>
          <% else %>
            <%= f.govuk_check_box(
              :secondary_reasons,
              r.id,
              label: { text: r.name, }
            )  do %>
              <%= f.govuk_text_area(
                    :secondary_other_comment,
                    label: { text: r.text_area_label, size: 's' },
                    max_chars: 256,
                    rows: 5,
                    link_errors: true
                  ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
