<%= render ServiceInformationBanner.new(namespace: :candidate) %>
<%= render CandidateInterface::DeadlineBannerComponent.new(application_form: current_application, flash_empty: flash.empty?) %>
<%= render CandidateInterface::SponsorshipApplicationDeadlines::ApplicationsDashboardBannerComponent.new(application_form: current_application) %>

<% if current_candidate.recoverable? %>
  <%= govuk_notification_banner(title_text: t('account_recovery_banner.title'), success: false) do |nb| %>

    <% nb.with_heading(text: t('account_recovery_banner.header')) %>
    <div style="display:inline-table">
      <%= t(
            'account_recovery_banner.content_html',
            button_link: render(
              ButtonToAsLinkComponent.new(
                name: t('account_recovery_banner.close_this_message'),
                path: candidate_interface_dismiss_account_recovery_create_path,
                classes: ['govuk-!-margin-bottom-4'],
                ),
              ),
            ) %>
    </div>

    <%= govuk_button_to t('account_recovery_banner.get_your_details_back'), new_candidate_interface_account_recovery_request_path, class: 'govuk-!-margin-bottom-0', method: :get %>
  <% end %>
<% end %>

<%= render CandidateInterface::ApplicationsInviteReminderBannerComponent.new(invites: current_application.not_responded_published_invites) %>
