<%= render 'banners' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render CandidateInterface::ApplicationChoices::IndexContentComponent.new(application_form: current_application) %>
  </div>
  <div>
    <%= render CandidateInterface::ApplicationChoiceListComponent.new(
      application_form: current_application,
      application_choices: @application_choices,
      current_tab_name: params[:current_tab_name],
    ) %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render 'candidate_interface/details/support', support_reference: @application_form_presenter.support_reference %>
    <%= render 'candidate_interface/application_choices/previous_applications', application_form_presenter: @application_form_presenter %>
  </div>
</div>
