<%= content_for :title, t('page_titles.your_applications') %>
<%= render 'banners' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% if current_application.after_apply_deadline? %>
<!--      It is after the deadline, but candidate has inflight applications (eg, awaiting decision) -->
    <%= render CandidateInterface::AfterDeadlineContentComponent.new(application_form: current_application) %>
  <% elsif current_application.before_apply_opens? %>
<!--      The candidate has carried over an application, but is not yet able to submit choices-->
    <%= render CandidateInterface::CarriedOverContentComponent.new(application_form: current_application) %>
  <% else %>
    <!--      This is BAU, candidates can find courses and apply-->
    <%= render CandidateInterface::MidCycleContentComponent.new(application_form: current_application) %>
  <% end %>
  </div>
  <div class="govuk-grid-column-full">
    <%= render CandidateInterface::ApplicationChoiceListComponent.new(
      application_form: current_application,
      application_choices: @application_choices,
      current_tab_name: params[:current_tab_name],
    ) %>
  </div>
</div>
