<%= content_for :title, t('page_titles.your_applications') %>
<%= render ServiceInformationBanner.new(namespace: :candidate) %>

<% if current_candidate.recoverable? %>
  <%= govuk_notification_banner(title_text: t('account_recovery_banner.title'), success: false) do |nb| %>

    <% nb.with_heading(text: t('account_recovery_banner.header')) %>
    <div style="display:inline-table">
      <%= t(
        'account_recovery_banner.content_html',
        button_link: render(
          ButtonToAsLinkComponent.new(
            name: t('account_recovery_banner.close_this_message'),
            path: candidate_interface_dismiss_account_recovery_create_path,
            classes: ['govuk-!-margin-bottom-4'],
          ),
        ),
      ) %>
    </div>

    <%= govuk_button_to t('account_recovery_banner.get_your_details_back'), new_candidate_interface_account_recovery_request_path, class: 'govuk-!-margin-bottom-0', method: :get %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <%= render CandidateInterface::SponsorshipApplicationDeadlines::ApplicationsDashboardBannerComponent.new(application_form: current_application) %>
  <% if current_application.after_apply_deadline? %>
<!--      It is after the deadline, but candidate has inflight applications (eg, awaiting decision) -->
    <%= render CandidateInterface::AfterDeadlineContentComponent.new(application_form: current_application) %>
  <% elsif current_application.before_apply_opens? %>
<!--      The candidate has carried over an application, but is not yet able to submit choices-->
    <%= render CandidateInterface::CarriedOverContentComponent.new(application_form: current_application) %>
  <% else %>
    <!--      This is BAU, candidates can find courses and apply-->
    <%= render CandidateInterface::MidCycleContentComponent.new(application_form: current_application) %>
  <% end %>
  </div>
  <div class="govuk-grid-column-full">
    <%= render CandidateInterface::ApplicationChoiceListComponent.new(
      application_form: current_application,
      application_choices: @application_choices,
      current_tab_name: params[:current_tab_name],
    ) %>
  </div>

  <%= render CandidateInterface::ManagePreferencesComponent.new(current_candidate:, application_form: current_application) %>
</div>
