<% content_for :title, t('page_titles.courses') %>
<% content_for(:before_content, govuk_back_link_to(application_form_path)) %>

<%= form_with model: @section_complete_form, url: candidate_interface_course_choices_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <%= t('page_titles.course_choices') %>
      </h1>

      <% if @application_form.can_add_more_choices? %>
        <%= render CandidateInterface::ApplyAgainAddAnotherCourseComponent.new(application_form: @application_form) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%# if @application_choices.present? &&  @application_choices.count >= 1 %>
        <%= render CandidateInterface::CourseChoicesReviewComponent.new(application_form: @application_form) %>

        <%= render(CandidateInterface::CompleteSectionComponent.new(
          editable_section: OpenStruct.new(can_edit?: true),
          form: f,
          hint_text: if current_application.choices_left_to_make.positive?
                       t('application_form.courses.complete.hint_text', count: current_application.choices_left_to_make)
                     end,
        )) %>
      <%# end %>
    </div>
  </div>
<% end %>
