<% content_for :title, t('page_titles.courses') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <% if @application_form.candidate_can_choose_single_course? %>
        <%= t('page_titles.course_choice') %>
      <% else %>
        <%= t('page_titles.course_choices') %>
      <% end %>
    </h1>

    <% if @application_choices.present? && @application_form.can_add_more_choices? %>
      <%= govuk_inset_text do %>
        <p class="govuk-body">You can choose <%= pluralize(current_application.choices_left_to_make, 'more course') %>.</p>
        <%= govuk_link_to t('application_form.courses.another.button'), candidate_interface_course_choices_choose_path, button: true, class: 'govuk-button--secondary' %>
      <% end %>
    <% end %>
  </div>
</div>

<%= form_with model: @application_form, url: candidate_interface_course_choices_complete_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= render(CandidateInterface::CourseChoicesReviewComponent.new(application_form: @application_form)) %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @application_choices.present? %>
        <% if @application_choices.count >= 1 %>
          <%= f.govuk_check_boxes_fieldset :course_choices_completed, legend: nil do %>
            <%= f.hidden_field :course_choices_completed, value: false %>
            <%= f.govuk_check_box(
              :course_choices_completed,
              true,
              multiple: false,
              label: {
                text: t('application_form.courses.complete.completed_checkbox'),
              },
              link_errors: true,
            ) %>
          <% end %>

          <%= f.govuk_submit t('continue') %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
