<% content_for :title, title_with_error_prefix(grade_step_title(@subject, @qualification_type), @gcse_grade_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @gcse_grade_form, url: candidate_interface_gcse_details_update_grade_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <% if @qualification_type == 'non_uk' %>
        <%= f.govuk_radio_buttons_fieldset :grade, legend: { text: grade_step_title(@subject, @qualification_type), size: 'xl', tag: 'h1' } do %>
          <%= f.govuk_radio_button :grade, 'not_applicable', label: { text: 'Not applicable' } %>
          <%= f.govuk_radio_button :grade, 'unknown', label: { text: 'Unknown' } %>
          <%= f.govuk_radio_button :grade, 'other', label: { text: 'Other' } do %>
            <%= f.govuk_text_field :other_grade, label: { text: 'Grade' }, hint: { text: 'For example, ‘A’, ‘4.5’, ‘94%’' }, width: 10 %>
          <% end %>
        <% end %>
      <% else %>
        <h1 class="govuk-heading-xl"><%= grade_step_title(@subject, @qualification_type) %></h1>

        <%= render CandidateInterface::GcseGradeGuidanceComponent.new(@subject, @qualification_type) %>

        <% if autocomplete_grades? %>
          <div class="govuk-!-width-one-third">
            <%= f.govuk_collection_select(
              :grade,
              CandidateInterface::GcseQualificationDetailsForm.all_grade_drop_down_options,
              :value,
              :option,
              label: { text: 'Grade', size: 'm' },
              hint: { text: 'For example, ‘C’ or ‘4’' },
            ) %>
          </div>
        <% else %>
          <%= f.govuk_text_field :grade, label: { text: t('application_form.gcse.grade.label'), size: 'm' }, hint: { text: hint_for_gcse_edit_grade(@subject, @qualification_type) }, width: 10 %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
