<% content_for :title, page_title(:add_volunteering_role) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @volunteering_role, url: candidate_interface_create_volunteering_role_path do |f| %>
      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl"><%= t('page_titles.volunteering.caption') %></span>
            <%= t('page_titles.add_volunteering_role') %>
          </h1>
        </legend>

        <%= render 'form', f: f %>
      </fieldset>
    <% end %>
  </div>
</div>
