<%= content_for :title, t('page_titles.privacy_notices') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_notification_banner(title_text: 'Important') do |notification_banner| %>
      <% notification_banner.with_heading(text: 'These policy have been replaced') %>
      <p class="govuk-body">
        These policy notices are for reference only. As of September 2024, visit the GOV.UK website for the
        <%= govuk_link_to('up-to-date Department for Education privacy policy', t('personal_information_charter.url')) %>.
      </p>
    <% end %>
    <h1 class="govuk-heading-l"><%= t('page_titles.privacy_notices') %></h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to('Service privacy notice', provider_interface_service_privacy_notice_path) %>
      </li>
      <li>
        <%= govuk_link_to('Online chat privacy notice', provider_interface_online_chat_privacy_notice_path) %>
      </li>
    </ul>
  </div>
</div>
