<%= content_for :title, 'Find candidates product roadmap' %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
       What we’re working on
    </span>
    <h1 class="govuk-heading-l">
      Find candidates product roadmap
    </h1>
    <p class="govuk-body">
      This roadmap shows what we’re working on and planning to do.
    </p>
    <p class="govuk-body">
      Some things on the roadmap might change - the purpose is to tell you what's coming up and help providers plan how this feature might be used within the wider recruitment process.
    </p>
    <%= govuk_inset_text(text: 'Last updated: 3 September 2025') %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Recently released
    </h2>
    <p class="govuk-body">
      These are features or functionality that are available to use now:
    </p>
    <%= govuk_list(
          [
            'to help you find candidates in the list more easily, you can now search the list by candidate number',
            'provider navigation improvements to the personal statement ‘read more’ link',
            "new information displayed on candidate profiles: \
            #{
              govuk_list(
                [
                  'the locations that a candidate has stated they can train in – these power the location search you use',
                  'visa sponsorship information',
                ],
                type: :bullet,
              )
            }".html_safe,
            govuk_link_to(
              'candidate course funding type preference capture',
              t('.design_histories.find_candidate_funding_type_url'),
            ),
            "#{govuk_link_to(
              'candidate statuses, additional tabs and invitation banners',
              t('.design_histories.find_candidate_statuses_url'),
            )} to make it easier for providers to distinguish, separate or sort between candidates they have not viewed, already viewed and invited (and progressed to applied)".html_safe,
            'capturing candidate invitation responses to understand candidate intentions towards reapplication',
            'limiting the number of open invites per candidate to avoid you wasting time inviting candidates who do not respond',
          ],
          type: :bullet,
        ) %>

    <p class="govuk-body">
      Will take effect from September 17:
    </p>
    <%= govuk_list(
      [
        'when the cycle changes over you will not be able to see any candidates in the list. This is because they will not yet have any applications that are unsuccessful until 20 November',
        'candidates will be asked to re-confirm their preferences including opt-in, location and funding type when they carry over applications into the new cycle',
      ],
      type: :bullet,
    ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Working on now
    </h2>
    <p class="govuk-body">
      We have pivoted our focus to prepare for the end of cycle and other areas of the service.
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Exploring
    </h2>
    <p class="govuk-body">
      We are doing research and testing these ideas. Some of them might make it into Find candidates in future but some might not:
    </p>
    <%= govuk_list(
          [
            'candidate understanding of the opt-in, preference setting and invitation content',
            'preparing to monitoring user behaviour in the new recruitment cycle to inform future iterations',
          ],
          type: :bullet,
        ) %>
  </div>
</div>
