<%= content_for :title, t('.title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      <%= t('.what_we_are_working_on') %>
    </span>
    <h1 class="govuk-heading-l">
      <%= t('.find_candidates_product_roadmap') %>
    </h1>
    <p class="govuk-body">
      <%= t('.this_roadmap_shows') %>
    </p>
    <p class="govuk-body">
      <%= t('.some_thing_on_the_roadmap_might_change') %>
    </p>
    <p class="govuk-body">
      <%= t('.last_updated') %>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      <%= t('.recently_released') %>
    </h2>
    <p class="govuk-body">
      <%= t('.available_to_use_now') %>
    </p>
    <%= govuk_list(
          [
            t('.opt_out_reasons'),
            t('.launched_test_version'),
            t('.tailor_invite_emails'),
            t('.candidate_location_preferences'),
          ],
          type: :bullet,
        ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      <%= t('.working_on_now') %>
    </h2>
    <p class="govuk-body">
      <%= t('.priority_at_the_moment') %>
    </p>
    <%= govuk_list(
          [
            t('.make_it_easier_for_providers'),
          ],
          type: :bullet,
        ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      <%= t('.exploring') %>
    </h2>
    <p class="govuk-body">
      <%= t('.we_are_doing_research') %>
    </p>
    <%= govuk_list(
          [
            t('.provider_usage'),
            t('.track_applications'),
            t('.candidate_experience'),
          ],
          type: :bullet,
        ) %>
    <p class="govuk-body">
      <%= t(
            '.if_you_would_like_to_participate_html',
            link: govuk_link_to(
              t('.short_form'),
              t('.research_link'),
            ),
          ) %>
    </p>
  </div>
</div>
