<%= content_for :title, 'Find candidates product roadmap' %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
       What we’re working on
    </span>
    <h1 class="govuk-heading-l">
      Find candidates product roadmap
    </h1>
    <p class="govuk-body">
      This roadmap shows what we’re working on and planning to do.
    </p>
    <p class="govuk-body">
      Some things on the roadmap might change – the purpose is to tell you what’s coming up and help you plan how this feature might be used within the wider recruitment process.
    </p>
    <%= govuk_inset_text(text: 'Last updated: 24 July 2025') %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Recently released
    </h2>
    <p class="govuk-body">
      These are features or functionality that are available to use now.
    </p>
    <%= govuk_list(
          [
            'To help you find candidates in the list more easily, you can now search the list by candidate number. ',
            'Provider navigation improvements to the personal statement ‘read more’ link and share candidate profiles with colleagues.',
            "New information displayed on candidate profiles: \
            #{
              govuk_list(
                [
                  'the locations that a candidate has stated they can train in – these power the location search you use',
                  'visa sponsorship information',
                ],
                type: :bullet,
              )
            }".html_safe,
            govuk_link_to(
              'Candidate course funding type preference capture.',
              t('.design_histories.find_candidate_funding_type_url'),
            ),
            'Candidates carrying over applications into the new cycle re-confirm opt-in, location and funding type preferences. (This will take affect from 17 September 2025)',
            "#{govuk_link_to(
              'Candidate statuses, additional tabs and invitation banners',
              t('.design_histories.find_candidate_statuses_url'),
            )} to make it easier for providers to distinguish, separate or sort between candidates they have not viewed, already viewed and invited (and progressed to applied).".html_safe,
          ],
          type: :bullet,
        ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Working on now
    </h2>
    <p class="govuk-body">
      These things are our priority at the moment. You should see them in the Find candidates feature soon.
    </p>
    <%= govuk_list(
          [
            'Hiding the list when there are no candidates to invite as the recruitment cycle changes over.',
            'Capturing candidate invitation responses to understand candidate intentions towards reapplication.',
            'Limiting the number of open invites per candidate to avoid you wasting time inviting candidates who do not respond.',
          ],
          type: :bullet,
        ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Exploring
    </h2>
    <p class="govuk-body">
      We are doing research and testing these ideas. Some of them might make it into Find candidates in future but some might not.
    </p>
    <%= govuk_list(
          [
            'Candidate understanding of the opt-in and preference setting process.',
            'Preparing to monitoring user behaviour in the new recruitment cycle.',
          ],
          type: :bullet,
        ) %>
  </div>
</div>
