<% content_for :title, title_with_error_prefix(t('page_titles.work_history'), @choice_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @choice_form, url: candidate_interface_restructured_work_history_path do |f| %>
      <%= f.govuk_error_summary %>

      <div class="govuk-!-margin-top-6">
        <%= f.govuk_radio_buttons_fieldset :work_history_status, legend: { text: t('page_titles.restructured_work_history_choice'), size: 'xl' } do %>
          <%= f.govuk_radio_button :choice, :can_complete, label: { text: t('application_form.restructured_work_history.can_complete.label') }, link_errors: true %>
          <%= f.govuk_radio_button :choice, :full_time_education, label: { text: t('application_form.restructured_work_history.full_time_education.label') } %>
          <%= f.govuk_radio_button :choice, :can_not_complete, label: { text: t('application_form.restructured_work_history.can_not_complete.label') } do %>
            <%= f.govuk_text_area :explanation,
                                  label: { text: t('application_form.restructured_work_history.explanation.label') },
                                  hint: { text: t('application_form.restructured_work_history.explanation.hint_text') },
                                  max_words: 400,
                                  threshold: 90 %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t('continue') %>
      </div>
    <% end %>
  </div>
</div>
