<%= content_tag(
  header_tag,
  "English as a foreign language",
  class: 'govuk-heading-s govuk-!-margin-top-6',
  id: "english-as-a-foreign-language") %>

<p class="govuk-body"><%= qualification_status %></p>

<% if english_proficiency.has_qualification? %>
  <div class="govuk-grid">
    <div class="govuk-grid-row app-grid-row--flex">
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--outline" data-qa="english-proficiency-qualification">
          <%= content_tag(
            sub_header_tag,
            name,
            class: "govuk-heading-s govuk-!-margin-bottom-1") %>
          <dl class="app-qualification">
            <dt class="app-qualification__key govuk-visually-hidden">Awarded</dt>
            <dd class="app-qualification__value app-qualification__value--caption"><%= award_year %></dd>
            <dt class="app-qualification__key"><%= grade_title %></dt>
            <dd class="app-qualification__value"><%= grade %></dd>
            <% if unique_reference_number %>
              <dt class="app-qualification__key"><%= reference_number_title %></dt>
              <dd class="app-qualification__value"><%= unique_reference_number %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>
<% elsif english_proficiency.no_qualification? %>
  <%= content_tag(
    sub_header_tag,
    "Reason given",
    class: "govuk-heading-s govuk-!-margin-bottom-2") %>
  <p class="govuk-body govuk-!-margin-bottom-0"><%= no_qualification_details %></p>
<% end %>
