<%= content_tag(
  header_tag,
  'GCSEs or equivalent',
  class: 'govuk-heading-s govuk-!-margin-top-6',
  id: 'gcses',
) %>

<div class="govuk-grid">
  <div class="govuk-grid-row app-grid-row--flex">
    <% [maths, english, science].compact.each do |qualification| %>
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--outline" data-qa="gcse-qualification">
          <%# Missing qualification %>
          <% if qualification.missing_qualification? %>
            <%= content_tag(
              sub_header_tag(header_tag:),
              subject(qualification),
              class: 'govuk-heading-s govuk-!-margin-bottom-1',
            ) %>
            <dl class="app-qualification">
              <dd class="app-qualification__value"> <%= candidate_does_not_have %> </dd>
              <% if qualification.not_completed_explanation.present? %>
                <dt class="app-qualification__key">Details of qualification currently studying for</dt>
                <dd class="app-qualification__value"><%= qualification.not_completed_explanation %></dd>
              <% else %>
                <dt class="app-qualification__key">Other evidence I have the skills required</dt>
                <dd class="app-qualification__value"><%= qualification.missing_explanation.presence || 'Not provided' %></dd>
              <% end %>
            </dl>

          <%# International qualification %>
          <% elsif qualification.non_uk_qualification_type.present? %>
            <%= content_tag(sub_header_tag(header_tag:), class: 'govuk-heading-s govuk-!-margin-bottom-1') do %>
              <%= subject(qualification) %> <span class="govuk-!-font-weight-regular"><%= presentable_qualification_type(qualification) %></span>
            <% end %>
            <dl class="app-qualification">
              <dt class="app-qualification__key govuk-visually-hidden">Awarded</dt>
              <dd class="app-qualification__value app-qualification__value--caption">
                <%= qualification.award_year %>, <%= institution_country(qualification) %>
              </dd>
              <dt class="app-qualification__key">Grade</dt>
              <dd class="app-qualification__value"><%= qualification.grade %></dd>
              <% if enic_statement(qualification) %>
                <dt class="app-qualification__key">Comparability</dt>
                <dd class="app-qualification__value"><%= enic_statement(qualification) %></dd>
              <% end %>
            </dl>
          <%# UK or UK Other qualification %>
          <% else %>
            <%= content_tag(sub_header_tag(header_tag:), class: 'govuk-heading-s govuk-!-margin-bottom-1') do %>
              <%= subject(qualification) %> <span class="govuk-!-font-weight-regular"><%= presentable_qualification_type(qualification) %></span>
            <% end %>
            <dl class="app-qualification">
              <dt class="app-qualification__key">Awarded</dt>
              <dd class="app-qualification__value">
              <%= qualification.award_year %>
              </dd>
              <dt class="app-qualification__key">Grade</dt>
              <% if qualification.grade.present? %>
                <dd class="app-qualification__value">
                  <%= qualification.grade %>
                </dd>
              <% elsif (grades = qualification.constituent_grades).present? %>
                <% grades.each do |(subject, details)| %>
                  <dd class="app-qualification__value">
                    <%= ApplicationQualificationDecorator.new(qualification).grade_details.fetch(subject) %>
                  </dd>
                <% end %>
              <% else %>
                  <dd class="app-qualification__value">Not added</dd>
              <% end %>

              <% if qualification.failed_required_gcse? %>
                <dt class="app-qualification__key">
                  Currently studying to retake this qualification?
                </dt>
                <dd class="app-qualification__value app-qualification__value--caption">
                  <%= failing_grade_row_value(qualification) %>
                </dd>

                <% if qualification.missing_explanation.present? %>
                  <dt class="app-qualification__key">
                    Other evidence I have the skills required
                  </dt>
                  <dd class="app-qualification__value app-qualification__value--caption">
                    <%= qualification.missing_explanation %>
                  </dd>
                <% end %>
              <% end %>
            </dl>
          <% end %>

          <% if editable? %>
            <p class="govuk-body govuk-!-margin-top-1 app-edit-qualification">
              <%= govuk_link_to 'Change', support_interface_application_form_edit_gcse_path(id: qualification.id) %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
