<ul class="govuk-list" id="provider-<%= permission_model.provider.id %>-enabled-permissions">
  <% if permission_model.manage_organisations? %>
    <li><%= render IconComponent.new(type: 'check') %> <span class="govuk-!-font-weight-bold">Manage organisational permissions</span></li>
  <% end %>

  <% if permission_model.manage_users? %>
    <li><%= render IconComponent.new(type: 'check') %> <span class="govuk-!-font-weight-bold">Manage users</span></li>
  <% end %>

  <% if permission_model.set_up_interviews? %>
    <li>
      <%= render IconComponent.new(type: 'check') %><span class="govuk-!-font-weight-bold">Set up interviews</span>
    </li>
  <% end %>

  <% if permission_model.make_decisions? %>
    <li>
      <%= render IconComponent.new(type: 'check') %><span class="govuk-!-font-weight-bold">Make decisions</span>
      <%= render AssociatedProvidersPermissionsListComponent.new(provider: permission_model.provider, permission_name: 'make_decisions') %>
    </li>
  <% end %>

  <% if permission_model.view_safeguarding_information? %>
    <li>
      <%= render IconComponent.new(type: 'check') %> <span class="govuk-!-font-weight-bold">Access safeguarding information</span>
      <%= render AssociatedProvidersPermissionsListComponent.new(provider: permission_model.provider, permission_name: 'view_safeguarding_information') %>
    </li>
  <% end %>

  <% if permission_model.view_diversity_information? %>
    <li>
      <%= render IconComponent.new(type: 'check') %> <span class="govuk-!-font-weight-bold">Access diversity information</span>
      <%= render AssociatedProvidersPermissionsListComponent.new(provider: permission_model.provider, permission_name: 'view_diversity_information') %>
    </li>
  <% end %>

  <% if permission_model.view_applications_only? %>
    <% if user_is_viewing_their_own_permissions %>
      <li>You can only view applications</li>
    <% else %>
      <li>The user can only view applications</li>
    <% end %>
  <% end %>
</ul>
