<h4 class="govuk-heading-s govuk-!-margin-top-6" id="other-qualifications"><%= header %></h4>
<% if qualifications.any? %>
  <h5 class="govuk-heading-s govuk-!-margin-top-6" id="other-qualifications"><%= subheader %></h5>
  <table class="govuk-table govuk-!-width-full" data-qa="qualifications-table-<%= header.parameterize %>">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header">Qualification type</th>
        <th class="govuk-table__header govuk-table__header">Subject</th>
        <th class="govuk-table__header govuk-table__header">Country</th>
        <th class="govuk-table__header govuk-table__header">Year awarded</th>
        <th class="govuk-table__header govuk-table__header">Grade</th>
        <% if editable %>
          <th class="govuk-table__header govuk-table__header">Change</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% qualifications.each do |qualification| %>
        <%= render QualificationRowComponent.new(qualification: qualification, editable: editable) %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render SummaryListComponent.new(rows: add_other_qualifications_q_a) %>
    </div>
  </div>
<% end %>
