<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= render QualificationTitleComponent.new(qualification: qualification) %>
  </td>
  <td class="govuk-table__cell">
    <%= render QualificationSubjectComponent.new(qualification: qualification) %>
  </td>
  <td class="govuk-table__cell">
    <%= country %>
  </td>
  <td class="govuk-table__cell"><%= qualification.award_year %></td>
  <td class="govuk-table__cell"><%= render QualificationGradeComponent.new(qualification: qualification) %></td>
</tr>
