<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= render QualificationTitleComponent.new(qualification: qualification) %>
  </td>
  <td class="govuk-table__cell">
    <%= render QualificationSubjectComponent.new(qualification: qualification) %>
  </td>
  <td class="govuk-table__cell">
    <%= country %>
  </td>
  <td class="govuk-table__cell">
    <%= qualification.award_year %>
  </td>
  <td class="govuk-table__cell">
    <%= render QualificationGradeComponent.new(qualification: qualification) %>
  </td>
  <td class="govuk-table__cell">
  <% if editable %>
    <%= govuk_link_to('Change', support_interface_application_form_edit_other_qualification_path(id: qualification.id)) %>
  <% end %>
  </td>
</tr>
