<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= render QualificationTitleComponent.new(qualification: qualification) %>
  </td>
  <td class="govuk-table__cell">
    <%= render QualificationSubjectComponent.new(qualification: qualification) %>
  </td>
  <td class="govuk-table__cell">
    <%= country %>
  </td>
  <td class="govuk-table__cell">
    <%= qualification.award_year %>
    <% if editable %>
      <%= govuk_link_to support_interface_application_form_edit_other_qualification_award_year_path(qualification_id: qualification.id) do %>
        Change
      <% end %>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <%= render QualificationGradeComponent.new(qualification: qualification) %>
    <% if editable %>
      <%= govuk_link_to support_interface_application_form_edit_other_qualification_grade_path(qualification_id: qualification.id) do %>
        Change
      <% end %>
    <% end %>
  </td>
</tr>
