<% if reasons_for_rejection.candidate_behaviour_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Something you did', class: 'govuk-heading-s') %>
    <ul class="govuk-list govuk-list--spaced">
      <% reasons_for_rejection.candidate_behaviour_what_did_the_candidate_do.each do |reason| %>
        <li>
          <% if reason == 'other' %>
            <p><%= reasons_for_rejection.candidate_behaviour_other %></p>
            <p><%= reasons_for_rejection.candidate_behaviour_what_to_improve %></p>
          <% else %>
            <p><%= t("reasons_for_rejection.candidate_behaviour_what_did_the_candidate_do.#{reason}") %>.</p>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.quality_of_application_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Quality of application', class: 'govuk-heading-s') %>
    <ul class="govuk-list govuk-list--spaced">
      <% reasons_for_rejection.quality_of_application_which_parts_needed_improvement.each do |reason| %>
        <li>
          <% if reason == 'other' %>
            <p><%= reasons_for_rejection.quality_of_application_other_details %></p>
            <p><%= reasons_for_rejection.quality_of_application_other_what_to_improve %></p>
          <% else %>
            <p><%= t("reasons_for_rejection.quality_of_application.#{reason}") %>.</p>
            <p><%= reasons_for_rejection.send(:"quality_of_application_#{reason}_what_to_improve") %>.</p>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.qualifications_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Qualifications', class: 'govuk-heading-s') %>
    <ul class="govuk-list govuk-list--spaced">
      <% reasons_for_rejection.qualifications_which_qualifications.each do |reason| %>
        <li>
          <% if reason == 'other' %>
            <p><%= reasons_for_rejection.qualifications_other_details %></p>
          <% else %>
            <p><%= t("reasons_for_rejection.qualifications_which_qualifications.#{reason}") %>.</p>
          <% end %>
        </li>
      <% end %>
        <% if @render_link_to_find_when_rejected_on_qualifications %>
          View the course requirements on <%= govuk_link_to 'Find postgraduate teacher training courses', "https://www.find-postgraduate-teacher-training.service.gov.uk/course/#{application_choice.provider.code}/#{application_choice.course.code}#section-entry" %>.
        <% end %>
    </ul>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.performance_at_interview_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Performance at interview', class: 'govuk-heading-s') %>
    <p class="govuk-body"><%= reasons_for_rejection.performance_at_interview_what_to_improve %></p>

    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.course_full_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Course full', class: 'govuk-heading-s') %>
    <p><%= t('reasons_for_rejection.full_course.reason') %> </p>

    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.offered_on_another_course_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'They offered you a place on another course', class: 'govuk-heading-s') %>
    <p class="govuk-body"><%= reasons_for_rejection.offered_on_another_course_details %></p>

    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.honesty_and_professionalism_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Honesty and professionalism', class: 'govuk-heading-s') %>
    <ul class="govuk-list govuk-list--spaced">
      <% if reasons_for_rejection.honesty_and_professionalism_concerns_information_false_or_inaccurate_details.present? %>
        <li>
          <%= reasons_for_rejection.honesty_and_professionalism_concerns_information_false_or_inaccurate_details %>
        </li>
      <% end %>
      <% if reasons_for_rejection.honesty_and_professionalism_concerns_plagiarism_details.present? %>
        <li>
          <%= reasons_for_rejection.honesty_and_professionalism_concerns_plagiarism_details %>
        </li>
      <% end %>
      <% if reasons_for_rejection.honesty_and_professionalism_concerns_references_details.present? %>
        <li>
          <%= reasons_for_rejection.honesty_and_professionalism_concerns_references_details %>
        </li>
      <% end %>
      <% if reasons_for_rejection.honesty_and_professionalism_concerns_other_details.present? %>
        <li>
          <%= reasons_for_rejection.honesty_and_professionalism_concerns_other_details %>
        </li>
      <% end %>
    </ul>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.safeguarding_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Safeguarding issues', class: 'govuk-heading-s') %>
    <ul class="govuk-list govuk-list--spaced">
      <% if reasons_for_rejection.safeguarding_concerns_candidate_disclosed_information_details.present? %>
        <li>
          <%= reasons_for_rejection.safeguarding_concerns_candidate_disclosed_information_details %>
        </li>
      <% end %>
      <% if reasons_for_rejection.safeguarding_concerns_vetting_disclosed_information_details.present? %>
        <li>
          <%= reasons_for_rejection.safeguarding_concerns_vetting_disclosed_information_details %>
        </li>
      <% end %>
      <% if reasons_for_rejection.safeguarding_concerns_other_details.present? %>
        <li>
          <%= reasons_for_rejection.safeguarding_concerns_other_details %>
        </li>
      <% end %>
    </ul>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.cannot_sponsor_visa_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, I18n.t('reasons_for_rejection.cannot_sponsor_visa.title'), class: 'govuk-heading-s') %>
    <p class="govuk-body"><%= reasons_for_rejection.cannot_sponsor_visa_details %></p>

    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_initial_questions_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.why_are_you_rejecting_this_application.present? %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Reasons why your application was unsuccessful', class: 'govuk-heading-s') %>
    <p class="govuk-body"><%= reasons_for_rejection.why_are_you_rejecting_this_application %></p>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_other_reasons_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if reasons_for_rejection.other_advice_or_feedback_y_n == 'Yes' %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Additional feedback', class: 'govuk-heading-s') %>
    <p class="govuk-body"><%= reasons_for_rejection.other_advice_or_feedback_details %></p>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_other_reasons_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if %w[Yes No].include?(reasons_for_rejection.interested_in_future_applications_y_n) %>
  <div class="app-rejection">
    <%= content_tag(subheading_tag_name, 'Future applications', class: 'govuk-heading-s') %>
    <p class="govuk-body">
      <%= I18n.t(
        "reasons_for_rejection.interested_in_future_applications.reason.#{reasons_for_rejection.interested_in_future_applications_y_n.downcase}",
        provider_name: application_choice.provider.name,
      ) %>
    </p>
    <% if editable? %>
      <p class="app-rejection__actions">
        <%= govuk_link_to 'Change', provider_interface_reasons_for_rejection_other_reasons_path(application_choice) %>
      </p>
    <% end %>
  </div>
<% end %>
