<% ApplicationStateChange.workflow_spec.states.each do |_, state| %>
  <% state_name = state.name.to_s %>
  <% human_state_name = I18n.t!("application_states.#{state_name}.name") %>
  <% section_classes = state_name == 'unsubmitted' ? 'app-section' : 'app-section app-section--with-top-border' %>
  <% next unless state.events.any? %>
  <section class="<%= section_classes %>">
    <h2 class="govuk-heading-m" id="<%= state_name %>"><%= human_state_name %></h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <% chaser_emails = I18n.exists?("application_states.#{state_name}.emails") ? I18n.t!("application_states.#{state_name}.emails") : [] %>

        <% if chaser_emails.any? %>
          <p class="govuk-body">In this state we send these chasers:</p>
          <ul class="govuk-list govuk-list--bullet">
          <% chaser_emails.each do |email_id| %>
            <li>
              <% email_name = email_id.gsub('-', ' ').gsub('candidate_mailer', 'To candidate: ').gsub('referee_mailer', 'To referee: ').gsub('provider_mailer', 'To provider: ') %>
              <% if Rails.application.config.action_mailer.show_previews %>
                <%= govuk_link_to email_name, "/rails/mailers/#{email_id.gsub('-', '/')}" %>
              <% else %>
                <%= email_name %>
              <% end %>
            </li>
          <% end %>
          </ul>
        <% end %>

        <% state.events.each do |_, events| %>
          <p class="govuk-body">When <strong><%= I18n.t!("events.#{state_name}-#{events.first}.name").downcase %></strong> we send these notifications:</p>
          <% emails_sent_from_event = I18n.exists?("events.#{state_name}-#{events.first.name}.emails") ? I18n.t!("events.#{state_name}-#{events.first.name}.emails") : [] %>

          <ul class="govuk-list govuk-list--bullet">
          <% if emails_sent_from_event.any? %>
            <% emails_sent_from_event.each do |email_id| %>
              <% email_name = email_id.gsub('-', ' ').gsub('candidate_mailer', 'To candidate: ').gsub('referee_mailer', 'To referee: ').gsub('provider_mailer', 'To provider: ') %>
              <li>
                <% if Rails.application.config.action_mailer.show_previews %>
                  <%= govuk_link_to email_name, "/rails/mailers/#{email_id.gsub('-', '/')}" %>
                <% else %>
                  <%= email_name %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li>No emails are sent with this transition.</li>
          <% end %>
          </ul>
        <% end %>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="app-diagram" aria-hidden="true">
          <%= StateDiagram.svg(only_from_state: state_name, machine: ApplicationStateChange) %>
        </div>
      </div>
    </div>
  </section>
<% end %>
