<section>
  <% if unexplained_break? %>
    <div class="govuk-inset-text govuk-!-padding-bottom-0 govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
    <% end %>

    <h5 class="govuk-heading-s govuk-!-margin-bottom-0">
      <%= title %>

      <% if @editable && edit_path %>
        <%= govuk_link_to edit_path, class: 'govuk-body' do %>
          Change <span class="govuk-visually-hidden">role details</span>
        <% end %>
      <% end %>

    </h5>
    <p class="govuk-!-margin-bottom-0 govuk-body">
      <%= organisation %>
    </p>
    <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-0">
      <%= dates %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-3">
      <%= details %>
      <% if relevant_skills? %>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-3">
          <svg class="app-icon govuk-!-margin-right-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 200 200" focusable="false" fill="currentColor" aria-hidden="true">
            <path d="M100 200a100 100 0 1 1 0-200 100 100 0 0 1 0 200zm-60-85l40 40 80-80-20-20-60 60-20-20-20 20z"></path>
          </svg>
          This role used skills relevant to teaching
        </p>
      <% elsif working_with_children? %>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-3">
          <svg class="app-icon govuk-!-margin-right-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 200 200" focusable="false" fill="currentColor" aria-hidden="true">
            <path d="M100 200a100 100 0 1 1 0-200 100 100 0 0 1 0 200zm-60-85l40 40 80-80-20-20-60 60-20-20-20 20z"></path>
          </svg>
          Worked with children
        </p>
      <% end %>
    </p>
    <% if unexplained_break? %>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-3">
  <% else %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-3">
  <% end %>
</section>
