<%# locals: (application_form:) %>

<% if application_form.eligible_to_sign_up_for_a_teaching_training_adviser? %>
  <aside class="app-related" aria-labelledby="tta-title">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="tta-title">
      <%= t('.available.heading') %>
    </h2>
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      <%= t('.available.text') %>
    </p>
    <p class="govuk-body-s">
      <%= govuk_link_to(
            t('.available.button_text'),
            new_candidate_interface_adviser_sign_ups_path,
          ) %>
    </p>
  </aside>

<% elsif application_form.waiting_to_be_assigned_to_an_adviser? %>
  <aside class="app-related" aria-labelledby="tta-title">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="tta-title">
      <%= t('.waiting_to_be_assigned.heading') %>
    </h2>
    <p class="govuk-body-s">
      <%= t('.waiting_to_be_assigned.text') %>
    </p>
  </aside>

<% elsif application_form.already_assigned_to_an_adviser? %>
  <aside class="app-related" aria-labelledby="tta-title">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="tta-title">
      <%= t('.already_assigned.heading') %>
    </h2>
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      <%= t('.already_assigned.text') %>
    </p>
  </aside>
<% end %>
