<%= f.govuk_error_summary %>

<% if @form.eu_nationality? %>
  <%= f.govuk_radio_buttons_fieldset(
    :immigration_status,
    legend: { text: t('page_titles.immigration_status'), size: 'l' },
  ) do %>
    <%= f.govuk_radio_button :immigration_status, 'eu_settled', label: { text: t('application_form.personal_details.immigration_status.values.eu_settled') }, link_errors: true %>
    <%= f.govuk_radio_button :immigration_status, 'eu_pre_settled', label: { text: t('application_form.personal_details.immigration_status.values.eu_pre_settled') } %>
    <%= f.govuk_radio_divider 'or' %>
    <%= f.govuk_radio_button :immigration_status, 'other', label: { text: 'Other' } do %>
      <%= f.govuk_text_field(:right_to_work_or_study_details, label: { text: 'Enter immigration status' }) %>
    <% end %>
  <% end %>
<% else %>

  <h1 class="govuk-heading-l"><%= t('page_titles.visa_or_immigration_status') %></h1>

  <%= f.hidden_field :immigration_status, value: 'other' %>
  <%= f.govuk_radio_buttons_fieldset :right_to_work_or_study_details,
    legend: { text: 'Select your visa or immigration status' } do %>
      <%= f.govuk_radio_button :immigration_status, :indefinite_leave_to_remain_in_the_uk, label: { text: t('application_form.personal_details.immigration_status.values.indefinite_leave_to_remain_in_the_uk') } %>
      <%= f.govuk_radio_button :immigration_status, :student_visa, label: { text: t('application_form.personal_details.immigration_status.values.student_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :graduate_visa, label: { text: t('application_form.personal_details.immigration_status.values.graduate_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :skilled_worker_visa, label: { text: t('application_form.personal_details.immigration_status.values.skilled_worker_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :dependent_on_partners_or_parents_visa, label: { text: t('application_form.personal_details.immigration_status.values.dependent_on_partners_or_parents_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :family_visa, label: { text: t('application_form.personal_details.immigration_status.values.family_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :british_national_overseas_visa, label: { text: t('application_form.personal_details.immigration_status.values.british_national_overseas_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :uk_ancestry_visa, label: { text: t('application_form.personal_details.immigration_status.values.uk_ancestry_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :high_potential_individual_visa, label: { text: t('application_form.personal_details.immigration_status.values.high_potential_individual_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :youth_mobility_scheme, label: { text: t('application_form.personal_details.immigration_status.values.youth_mobility_scheme') } %>
      <%= f.govuk_radio_button :immigration_status, :india_young_professionals_scheme_visa, label: { text: t('application_form.personal_details.immigration_status.values.india_young_professionals_scheme_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :ukraine_family_scheme_or_ukraine_sponsorship_scheme_visa, label: { text: t('application_form.personal_details.immigration_status.values.ukraine_family_scheme_or_ukraine_sponsorship_scheme_visa') } %>
      <%= f.govuk_radio_button :immigration_status, :afghan_citizens_resettlement_scheme_or_afghan_relocations_and_assistance_policy, label: { text: t('application_form.personal_details.immigration_status.values.afghan_citizens_resettlement_scheme_or_afghan_relocations_and_assistance_policy') } %>
      <%= f.govuk_radio_button :immigration_status, :refugee_status, label: { text: t('application_form.personal_details.immigration_status.values.refugee_status') } %>
      <%= f.govuk_radio_divider 'or' %>

      <%= f.govuk_radio_button :immigration_status, :other, label: { text: t('application_form.personal_details.immigration_status.values.other') } do %>
        <%= f.govuk_text_field(:right_to_work_or_study_details, label: { text: 'Enter visa type or immigration status' }) %>
      <% end %>

  <% end %>
<% end %>
<%= f.govuk_submit t('save_and_continue') %>
