<% content_for :title, t('page_titles.references_cancel_request') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_references_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference,
      url: candidate_interface_cancel_reference_path(@reference.id),
      method: :patch,
    ) do |f| %>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @reference.name %></span>
        <%= t('page_titles.references_cancel_request') %>
      </h1>

      <p class="govuk-body">
        We’ll tell <%= @reference.name %> that they do not need to give a reference.
      </p>

      <%= f.govuk_submit t('application_form.references.cancel_request.confirm'), warning: true %>

      <p class="govuk-body">
        <%= govuk_link_to t('application_form.references.cancel_request.cancel'), candidate_interface_references_review_path %>
      </p>
    <% end %>
  </div>
</div>
