<% content_for :title, t('page_titles.references_request_reference_review') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_offer_dashboard_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @request_reference, url: candidate_interface_references_request_feedback_path(@reference_process, @reference), method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= I18n.t('page_titles.references_request_reference_review') %>
      </h1>

      <%= render CandidateInterface::RequestReferenceReviewComponent.new(@reference, reference_process: @reference_process) %>

      <% if @policy.can_request? %>
        <%= f.govuk_submit t('application_form.references.send_request.confirm') %>
      <% end %>
    <% end %>
  </div>
</div>
