<% content_for :title, title_with_error_prefix(t('page_titles.references'), @too_many_references) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<% if @too_many_references %>
  <div class="govuk-error-summary" tabindex="-1" role="alert" data-module="govuk-error-summary" aria-labelledby="error-summary-title">
    <h2 id="error-summary-title" class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li><%= link_to t('application_form.references.review.more_than_two'), '#references_given' %></li>
      </ul>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.references') %>
    </h1>

    <%= render CandidateInterface::AddReferenceComponent.new(current_application) %>
  </div>
</div>

<% if @references_given.present? %>
  <div id="references_given">
    <h2 class="govuk-heading-m">References that have been given</h2>
    <%= render(CandidateInterface::ReferencesReviewComponent.new(references: @references_given, show_history: true, heading_level: 3, is_errored: @too_many_references)) %>
  </div>
<% end %>

<% if @references_waiting_to_be_sent.present? %>
  <div id="references_waiting_to_be_sent">
    <h2 class="govuk-heading-m">Requests that have not been sent</h2>
    <%= render(CandidateInterface::ReferencesReviewComponent.new(references: @references_waiting_to_be_sent, show_history: true, heading_level: 3)) %>
  </div>
<% end %>

<% if @references_sent.present? %>
  <div id="references_sent">
    <h2 class="govuk-heading-m">Reference requests</h2>
    <%= render(CandidateInterface::ReferencesReviewComponent.new(references: @references_sent, editable: false, show_history: true, heading_level: 3)) %>
  </div>
<% end %>

<%= govuk_link_to t('continue'), candidate_interface_application_form_path, class: 'govuk-button' %>
