<% content_for :title, t('page_titles.references') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.references') %>
    </h1>

    <%= render CandidateInterface::AddReferenceComponent.new(current_application) %>
  </div>
</div>

<%= form_with model: @section_complete_form, url: candidate_interface_complete_references_path, method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <% if @references_selected.present? %>
    <div id="references_selected">
      <h2 class="govuk-heading-m">References that have been selected</h2>

      <p class="govuk-body govuk-list govuk-!-font-size-18">
      <%= govuk_link_to 'Change selections', candidate_interface_select_references_path %>
      </p>
      <%= render(CandidateInterface::ReferencesReviewComponent.new(references: @references_selected, show_history: true, heading_level: 3)) %>
    </div>
  <% end %>

  <% if @references_given.present? %>
    <div id="references_given">
      <h2 class="govuk-heading-m">References that have been given</h2>
      <%= render(CandidateInterface::ReferencesReviewComponent.new(references: @references_given, show_history: true, heading_level: 3)) %>
    </div>
  <% end %>

  <% if @references_waiting_to_be_sent.present? %>
    <div id="references_waiting_to_be_sent">
      <h2 class="govuk-heading-m">Requests that have not been sent</h2>
      <%= render(CandidateInterface::ReferencesReviewComponent.new(references: @references_waiting_to_be_sent, show_history: true, heading_level: 3)) %>
    </div>
  <% end %>

  <% if @references_sent.present? %>
    <div id="references_sent">
      <h2 class="govuk-heading-m">Reference requests</h2>
      <%= render(CandidateInterface::ReferencesReviewComponent.new(references: @references_sent, editable: false, show_history: true, heading_level: 3)) %>
    </div>
  <% end %>

  <%= render CandidateInterface::CompleteSectionComponent.new(form: f) %>
  <%= f.govuk_submit t('continue') %>
<% end %>
