<% content_for :title, title_with_error_prefix(t(@references.any? ? 'page_titles.references_review' : 'page_titles.references'), @section_complete_form.errors.any?) %>

<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_references_complete_path, method: :patch do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <% if @references.any? %>
        <h1 class="govuk-heading-l"><%= t('page_titles.references_review') %></h1>
      <% else %>
        <h1 class="govuk-heading-l"><%= t('page_titles.references') %></h1>
      <% end %>

      <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>

      <%= render CandidateInterface::AddNewReferenceComponent.new(current_application:, section_policy: @section_policy) %>
    </div>
  </div>

  <%= render(
    CandidateInterface::ReferencesReviewComponent.new(
      application_form: current_application,
      editable: @section_policy.can_edit?,
      deletable: @section_policy.can_delete?,
      references: @references,
      heading_level: 3,
    ),
  ) %>

  <% if current_application.complete_references_information? %>
    <%= render CandidateInterface::CompleteSectionComponent.new(section_policy: @section_policy, form: f) %>
  <% end %>
<% end %>
