<% content_for :title, title_with_error_prefix(t('page_titles.references'), @section_complete_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_references_complete_path, method: :patch do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <%= t('page_titles.references') %>
      </h1>

      <%= render CandidateInterface::EditableSectionWarning.new(editable_section: @editable_section, current_application:) %>

      <%= render CandidateInterface::AddNewReferenceComponent.new(current_application:, editable_section: @editable_section) %>
    </div>
  </div>

  <%= render(
    CandidateInterface::ReferencesReviewComponent.new(
      application_form: current_application,
      editable: @editable_section.can_edit?,
      references: @references,
      heading_level: 3,
    ),
  ) %>

  <% if current_application.complete_references_information? %>
    <%= render CandidateInterface::CompleteSectionComponent.new(editable_section: @editable_section, form: f) %>
  <% end %>
<% end %>
