<% content_for :title, title_with_error_prefix(t('page_titles.references_unsubmitted_review'), @submit_reference_form.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @submit_reference_form,
      url: candidate_interface_references_submit_path,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @reference.name %></span>
        <%= t('page_titles.references_unsubmitted_review') %>
      </h1>

      <%= render CandidateInterface::UnsubmittedReferenceReviewComponent.new(reference: @reference) %>

      <%= f.govuk_radio_buttons_fieldset :submit, legend: { text: t('application_form.references.unsubmitted.label', reference_name: @reference.name), size: 'm' } do %>
        <%= f.govuk_radio_button :submit, 'yes', label: { text: t('application_form.references.unsubmitted.yes.label') }, link_errors: true %>
        <%= f.govuk_radio_button :submit, 'no', label: { text: t('application_form.references.unsubmitted.no.label') } %>
      <% end %>

      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
