<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_reject_path do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Reject application - <%= @application_choice.application_form.full_name %></span>
        Tell the candidate why you’re rejecting their application
      </h1>

      <% @wizard.class.questions.each do |question_key, question_config| %>
        <%= f.govuk_check_boxes_fieldset question_key, legend: nil, form_group: { classes: 'govuk-!-margin-bottom-2' } do %>
          <%= f.govuk_check_box question_key, 'Yes', label: { text: question_config['text'] }, link_errors: true do %>
            <% if question_config.key?('reasons') %>
              <% collection_attr = :"#{question_key}_reasons" %>
              <%= f.govuk_check_boxes_fieldset collection_attr, legend: { text: 'Reasons', size: 's' } do %>
                <% question_config['reasons'].each do |reason_key, reason_config| %>
                  <%= f.govuk_check_box collection_attr,
                    reason_key,
                    label: { text: reason_config['text'] },
                    link_errors: true do %>
                    <% if reason_config.key?('details') %>
                      <%= f.govuk_text_area :"#{reason_key}_details", label: { text: reason_config.dig('details', 'text') }, max_words: 100 %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if question_config.key?('details') %>
              <%= f.govuk_text_area :"#{question_key}_details", label: { text: question_config.dig('details', 'text') }, max_words: 100 %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
