<%= form_with model: @reasons_form, url: provider_interface_confirm_rejection_reasons_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= render "hidden_fields", f: f %>

  <% if @reasons_form.all_step_1_answers_no? %>
    <div class="govuk-form-group">
      <%= f.govuk_text_area(
        :alternative_rejection_reason,
        rows: 5,
        max_words: 200,
        label: { text: t('rejection_reasons.questions.alternative_rejection_reason.label'), size: 'm'}
      ) %>
    </div>
  <% end %>

  <% @reasons_form.questions.each do |q| %>
    <%= f.fields_for :questions, q do |qf| %>
      <%= qf.hidden_field :label %>
      <%= qf.hidden_field :additional_question %>
      <%= qf.govuk_radio_buttons_fieldset :y_or_n, legend: { text: t("rejection_reasons.#{q.label}.label", candidates_name: @application_choice.application_form.full_name) } do %>
        <% if q.reasons.any? %>
          <%= qf.govuk_radio_button :y_or_n, 'Y', label: { text: 'Yes' } do %>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <%= t("rejection_reasons.#{q.additional_question}") if q.additional_question.present? %>
            </legend>
            <% q.reasons.each do |r| %>
              <%= qf.fields_for :reasons, r do |rf| %>
                <%= rf.hidden_field :label %>
                <% if q.additional_question.present? %>
                  <%= rf.govuk_check_boxes_fieldset :value, small: true do %>
                    <% if r.textareas.any? %>
                      <%= rf.govuk_check_box :value, 'true', multiple: false, label: { text: t("rejection_reasons.#{r.label}.label") } do %>
                        <%= render 'textareas', reasons_fields: rf, textareas: r.textareas %>
                      <% end %>
                    <% else %>
                      <%= rf.govuk_check_box :value, 'true', multiple: false, label: { text: t("rejection_reasons.#{r.label}.label") } %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= rf.hidden_field :value, value: 'true' %>
                  <%= render 'textareas', reasons_fields: rf, textareas: r.textareas %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= qf.govuk_radio_button :y_or_n, 'Y', label: { text: 'Yes' } %>
        <% end %>

        <%= qf.govuk_radio_button :y_or_n, 'N', label: { text: 'No' } %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.submit 'Continue', class: 'govuk-button' %>
<% end %>
