<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render CandidateInterface::UCASDowntimeComponent.new %>

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @course.name_and_code %></span>
      <%= t('page_titles.apply_from_find_with_ucas') %>
    </h1>

    <p class="govuk-body">
      You’ll need to register with UCAS before you can apply.
      Visit <%= t('service_name.get_into_teaching') %> for
      <%= govuk_link_to 'guidance on applying for teacher training', t('get_into_teaching.url_applying'), target: '_blank' %>.
    </p>
    <p class="govuk-body">
      When you apply you’ll need these codes for the Choices section of your application form:
    </p>

    <%= govuk_inset_text do %>
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2">
          Training provider code:
          <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">
            <%= @course.provider.code %>
          </span>
        </li>
        <li>
          Training programme code:
          <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">
            <%= @course.code %>
          </span>
        </li>
      </ul>

      <p class="govuk-body">
        You’ll also need to choose a training location – select the relevant location name on the application form.
      </p>

      <table class="govuk-table app-table--vertical-align-middle" data-qa="locations-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-three-quarters">Location</th>
            <th class="govuk-table__header">Code</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @course.sites.uniq.each do |site| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><span class='govuk-!-font-weight-bold'><%= site.name %></span>
                <br>
                <%= site.full_address %>
              </td>
              <td class="govuk-table__cell"><%= site.code %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= govuk_start_now_button(
      text: t('apply_from_find.ucas_apply_button'),
      href: UCAS.apply_url,
    ) %>
  </div>
</div>
