<% content_for :title, 'Apply for this course' %>
<% content_for :service_link, candidate_interface_apply_from_find_path(providerCode: @course.provider.code, courseCode: @course.code) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render CandidateInterface::UCASDowntimeComponent.new %>

    <%= form_with model: @apply_on_ucas_or_apply, url: candidate_interface_apply_from_find_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @course.name_and_code %></span>
          Apply for this course
      </h1>

      <p class="govuk-body">
        The course you’ve chosen is available through a new GOV.UK service called <%= service_name %>.
      </p>

      <p class="govuk-body">
        This will eventually replace UCAS as the way candidates apply for all teacher training.
        However, for now, the service is limited to certain providers.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to 'See a list of available training providers and courses', candidate_interface_providers_path %>.
      </p>

      <div class="govuk-!-margin-top-6">
        <%= f.hidden_field :provider_code, value: @course.provider.code %>
        <%= f.hidden_field :course_code, value: @course.code %>

        <%= f.govuk_radio_buttons_fieldset :service, legend: { size: 'm', text: 'Do you want to apply using a new GOV.UK service?' } do %>
          <%= f.govuk_radio_button :service, :apply, label: { text: 'Yes, I want to apply using the new service', size: 's' }, link_errors: true, hint_text:
            "<p class=\"govuk-body govuk-!-margin-top-2\">Choose this option if:</p>
            <ul class=\"govuk-list govuk-list--bullet\">
              <li>all your chosen providers are available on the new service</li>
              <li>you want to try a streamlined service with personalised support</li>
            </ul>".html_safe %>

          <%= f.govuk_radio_button :service, :ucas, label: { text: 'No, I want to apply with UCAS', size: 's' }, hint_text:
            "<p class=\"govuk-body govuk-!-margin-top-2\">Choose this option if:</p>
            <ul class=\"govuk-list govuk-list--bullet\">
              <li>some of your chosen providers are not available on #{service_name} and you don’t want to use 2 different services.</li>
              <li>you’ve already started applying with UCAS</li>
            </ul>".html_safe %>
          <% end %>

          <%= f.govuk_submit 'Continue' %>
        <% end %>
      </div>
  </div>
</div>
