<% content_for :title, t('page_titles.apply_from_find') %>
<% content_for :service_link, candidate_interface_apply_from_find_path(providerCode: @course.provider.code, courseCode: @course.code) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render CandidateInterface::UCASDowntimeComponent.new %>

    <%= form_with model: @choice, url: candidate_interface_apply_from_find_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @course.name_and_code %></span>
          <%= t('page_titles.apply_from_find') %>
      </h1>

      <p class="govuk-body">
        The course you’ve chosen is available through a new GOV.UK service called <%= service_name %>.
      </p>

      <p class="govuk-body">
        This will eventually replace UCAS as the way candidates apply for all teacher training.
        However, for now, the service is limited to certain providers.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to 'See a list of available training providers and courses', candidate_interface_providers_path %>.
      </p>

      <div class="govuk-!-margin-top-6">
        <%= f.hidden_field :provider_code, value: @course.provider.code %>
        <%= f.hidden_field :course_code, value: @course.code %>

        <%= f.govuk_radio_buttons_fieldset :service, legend: { text: 'Do you want to apply using a new GOV.UK service?', size: 'm' } do %>
          <%= f.govuk_radio_button(
            :service,
            :apply,
            label: { text: 'Yes, I want to apply using the new service', size: 's' },
            hint: -> { render(partial: 'apply_using_new_service_hint') },
            link_errors: true,
          ) %>

          <%= f.govuk_radio_button(
            :service,
            :ucas,
            label: { text: 'No, I want to apply with UCAS', size: 's' },
            hint: -> { render(partial: 'apply_using_ucas_hint') },
          ) %>
        <% end %>

        <%= f.govuk_submit t('continue') %>
      </div>
    <% end %>
  </div>
</div>
