<% content_for :title, t('page_titles.application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @course.name_and_code %></span>
      <%= t('apply_from_find.heading') %>
    </h1>
    <p class="govuk-body">
      You must apply for this course on UCAS. You’ll need to register with UCAS
      before you can apply. Visit Get into Teaching for
      <a class="govuk-link" target="_blank" href="https://getintoteaching.education.gov.uk">
        guidance on applying for teacher training</a>.
    </p>

    <p class="govuk-body">
      When you apply you’ll need these codes for the Choices section of your
      application form:
    </p>

    <div class="govuk-inset-text">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2">
          Training provider code:
          <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">
            <%= @course.provider_code %>
          </span>
        </li>
        <li>
          Training programme code:
          <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">
            <%= @course.course_code %>
          </span>
        </li>
      </ul>
    </div>

    <a href="<%= UCAS.apply_url %>" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-3 govuk-button--start">
      <%= t('apply_from_find.apply_button') %>
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>
</div>
