<% @course_choices.each do |course_choice| %>
  <%= render(SummaryCardComponent, rows: course_choice_rows(course_choice), editable: @editable) do %>
    <header class="app-summary-card__header">
      <h2 class="app-summary-card__title">
        <%= course_choice.provider.name %>
      </h2>

      <% if course_choice.offer? %>
        <div class='app-summary-card__actions'>
          <%= link_to candidate_interface_course_choice_offer_path(course_choice.id), class: 'govuk-link' do %>
            <%= t('application_form.courses.view_and_respond_to_offer') %>
            <span class="govuk-visually-hidden"> <%= course_choice.course.name_and_code %></span>
          <% end %>
        </div>
      <% elsif withdrawable?(course_choice) %>
        <div class='app-summary-card__actions'>
          <%= link_to candidate_interface_course_choice_withdraw_path(course_choice.id), class: 'govuk-link' do %>
            <%= t('application_form.courses.withdraw') %>
            <span class="govuk-visually-hidden"> <%= course_choice.course.name_and_code %></span>
          <% end %>
        </div>
      <% elsif @editable %>
        <div class='app-summary-card__actions'>
          <%= link_to candidate_interface_confirm_destroy_course_choice_path(course_choice.id), class: 'govuk-link' do %>
            <%= t('application_form.courses.delete') %>
            <span class="govuk-visually-hidden"> <%= course_choice.course.name_and_code %></span>
          <% end  %>
        </div>
      <% end %>
    </header>
  <% end %>
<% end %>

<% if any_withdrawable? %>
  <p class="govuk-body"><%= t('application_form.courses.withdrawal_information') %></p>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, text: t('review_application.course_choices.incomplete')) do %>
    <%= link_to candidate_interface_course_choices_index_path, class: 'govuk-link' do %>
      <%= t('review_application.course_choices.link_html') %>
    <% end %>
  <% end %>
<% end %>
