<% @course_choices.each do |course_choice| %>
  <div class='qa-application-choice-<%= course_choice.id %>'>
  <%= render(SummaryCardComponent, rows: course_choice_rows(course_choice), editable: @editable) do %>
    <%= render(SummaryCardHeaderComponent, title: course_choice.provider.name, heading_level: @heading_level) do %>
      <div class='app-summary-card__actions'>
        <% if course_choice.offer? %>
          <%= link_to candidate_interface_offer_path(course_choice.id), class: 'govuk-link', data: { action: :respond } do %>
            <%= t('application_form.courses.view_and_respond_to_offer') %>
            <span class="govuk-visually-hidden"> <%= course_choice.course.name_and_code %></span>
          <% end %>
        <% elsif withdrawable?(course_choice) %>
          <%= link_to candidate_interface_withdraw_path(course_choice.id), class: 'govuk-link', data: { action: :withdraw } do %>
            <%= t('application_form.courses.withdraw') %>
            <span class="govuk-visually-hidden"> <%= course_choice.course.name_and_code %></span>
          <% end %>
        <% elsif @editable %>
          <%= link_to candidate_interface_confirm_destroy_course_choice_path(course_choice.id), class: 'govuk-link', data: { action: :delete } do %>
            <%= t('application_form.courses.delete') %>
            <span class="govuk-visually-hidden"> <%= course_choice.course.name_and_code %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>

<% if any_withdrawable? %>
  <p class="govuk-body"><%= t('application_form.courses.withdrawal_information') %></p>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, section: :course_choices, section_path: candidate_interface_course_choices_index_path, error: @missing_error) %>
<% end %>
