<% @degrees.each do |degree| %>
  <%= render(SummaryCardComponent, rows: degree_rows(degree), editable: @editable) do %>
    <header class="app-summary-card__header">
      <h<%= @heading_level %> class="app-summary-card__title">
        <%= degree.title %>
      </h<%= @heading_level %>>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= link_to candidate_interface_confirm_degrees_destroy_path(degree.id), class: 'govuk-link' do %>
            <%= t('application_form.degree.delete') %>
            <span class="govuk-visually-hidden"> <%= degree.subject %></span>
          <% end %>
        </div>
      <% end %>
    </header>
  <% end %>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, section: :degrees, text: t('review_application.degrees.incomplete')) do %>
     <%= link_to candidate_interface_degrees_new_base_path, class: 'govuk-link' do %>
       <%= t('review_application.degrees.link_html') %>
     <% end %>
   <% end %>
<% end %>
