<% if @application_qualification %>
  <%= render(SummaryCardComponent, rows: gcse_qualification_rows, editable: @editable) do %>
    <header class="app-summary-card__header">
      <h2 class="app-summary-card__title">
        <%= if @application_qualification.missing_qualification?
              t('application_form.gcse.qualification_types.missing')
            else
              t('application_form.gcse.qualification_types.gcse')
            end
        %>
      </h2>
    </header>
  <% end %>
<% elsif @editable %>
  <%= render(SectionMissingBannerComponent, text: 'Not entered') do %>
    <%= link_to candidate_interface_gcse_details_edit_type_path(subject: subject.to_sym), class: 'govuk-link' do %>
      Complete <span class="govuk-visually-hidden"><%= subject %> GCSE</span> section
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-body">No GCSE entered.</p>
<% end %>
