<div class="govuk-notification-banner govuk-notification-banner--<%= notification_type %>" aria-labelledby="govuk-notification-banner-title" role="<%= role %>" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <%= title %>
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      <%= heading %>
    </p>
    <% if message.present? %>
      <p class="govuk-body">
        <%= message %>
      </p>
    <% end %>
    <% if link.present? %>
      <p class="govuk-body">
        <%= govuk_link_to link.text, link.url, class: 'govuk-notification-banner__link' %>
      </p>
    <% end %>
  </div>
</div>
