<% @qualifications.each do |qualification| %>
  <%= render(SummaryCardComponent, rows: other_qualifications_rows(qualification), editable: @editable) do %>
    <header class="app-summary-card__header">
      <h2 class="app-summary-card__title">
        <%= qualification.title %>
      </h2>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= link_to candidate_interface_confirm_destroy_other_qualification_path(qualification.id), class: 'govuk-link' do %>
            <%= t('application_form.other_qualification.delete') %>
            <span class="govuk-visually-hidden"> <%= qualification.subject %></span>
          <% end %>
        </div>
      <% end %>
    </header>
  <% end %>
<% end %>

<% if @qualifications.empty? %>
  <p class="govuk-body">No other qualifications entered.</p>
<% end %>
