<% @application_form.references.each do |referee| %>
  <%= render(SummaryCardComponent, rows: referee_rows(referee), editable: @editable) do %>
    <%= render(SummaryCardHeaderComponent, title: t('application_form.referees.nth_referee')[referee.ordinal], heading_level: @heading_level) do %>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= link_to candidate_interface_destroy_referee_path(referee.id), class: 'govuk-link' do %>
            <%= t('application_form.referees.delete') %>
            <span class="govuk-visually-hidden"> <%= referee.name %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, section: :references, section_path: candidate_interface_referees_path, text: t('review_application.references.incomplete', minimum_references: minimum_references), error: @missing_error) %>
<% end %>
