<li>
  <p class='govuk-body'>
    <strong><%= StateDiagram.event_name(from_state, event, machine.i18n_namespace) %></strong> (by <%= by %>). <%= description %>

    This will transition the application to the <%= govuk_link_to "#{human_transitions_to} state", "##{transitions_to}" %>.
  </p>

  <p class='govuk-body'>
    <% if emails_sent_from_event.any? %>
      Emails sent:

      <ul class='govuk-list govuk-list--bullet'>
      <% emails_sent_from_event.each do |email| %>
        <li>
          <% if Rails.application.config.action_mailer.show_previews %>
            <%= govuk_link_to email.gsub('-', ' '), "/rails/mailers/" + email.gsub('-', '/') %>
          <% else %>
            <%= email.gsub('-', ' ') %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% else %>
      No emails are sent with this transition.
    <% end %>
  </p>
</li>
