<section class="app-summary-card govuk-!-margin-bottom-6">
  <%= content %>
  <div class="app-summary-card__body">
    <dl class="govuk-summary-list">
      <% rows.each do |row| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= row[:key] %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if row[:value].is_a?(Array) %>
              <% row[:value].each do |value| %><%= value %><br><% end %>
            <% else %>
              <%= row[:value] %>
            <% end %>
          </dd>

          <% if row[:change_path] %>
          <dd class="govuk-summary-list__actions">
            <%= link_to row[:change_path], class: 'govuk-link' do %>
              Change<span class="govuk-visually-hidden"> <%= row[:action] %></span>
            <% end %>
          </dd>
          <% end %>
        </div>
      <% end %>
    </dl>
  </div>
</section>
