<% @application_form.application_work_experiences.each do |work| %>
  <%= render(SummaryCardComponent, rows: work_experience_rows(work), editable: @editable) do %>
    <header class="app-summary-card__header">
      <h2 class="app-summary-card__title">
        <%= work.role %>
        <% if work.working_with_children %>
          <span class="app-summary-card__meta">
            <svg class="app-icon govuk-!-margin-right-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 200 200" focusable="false" fill="currentColor" aria-hidden="true">
              <path d="M100 200a100 100 0 1 1 0-200 100 100 0 0 1 0 200zm-60-85l40 40 80-80-20-20-60 60-20-20-20 20z"></path>
            </svg>
            <%= t('application_form.work_history.working_with_children') %>
          </span>
        <% end %>
      </h2>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= link_to candidate_interface_work_history_destroy_path(work.id), class: 'govuk-link' do %>
            <%= t('application_form.work_history.delete_entry') %>
            <span class="govuk-visually-hidden"> <%= work.role %></span>
          <% end %>
        </div>
      <% end %>
    </header>
  <% end %>
<% end %>

<% if !show_missing_banner? && @application_form.application_work_experiences.empty? %>
  <%= render(SummaryCardComponent, rows: no_work_experience_rows, editable: @editable) %>
<% end %>

<% if breaks_in_work_history? %>
  <%= render(SummaryCardComponent, rows: break_in_work_history_rows, editable: @editable) %>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, section: :work_experience, text: t('review_application.work_experience.incomplete')) do %>
     <%= link_to candidate_interface_work_history_length_path, class: 'govuk-link' do %>
       <%= t('review_application.work_experience.link_html') %>
     <% end %>
   <% end %>
<% end %>
