<% @application_form.application_work_experiences.each do |work| %>
  <%= render(SummaryCardComponent, rows: work_experience_rows(work)) do %>
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        <%= work.role %>
        <% if work.working_with_children %>
          <span class="app-summary-card__meta">
            <svg class="app-icon govuk-!-margin-right-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 200 200" focusable="false" fill="currentColor" aria-hidden="true">
              <path d="M100 200a100 100 0 1 1 0-200 100 100 0 0 1 0 200zm-60-85l40 40 80-80-20-20-60 60-20-20-20 20z"></path>
            </svg>
            <%= t('application_form.work_history.working_with_children') %>
          </span>
        <% end %>
      </h3>
      <div class="app-summary-card__actions">
        <%= govuk_link_to t('application_form.work_history.delete_entry'), candidate_interface_work_history_destroy_path(work.id) %>
      </div>
    </header>
  <% end %>
<% end %>

<% if @application_form.application_work_experiences.empty? %>
  <%= render(SummaryCardComponent, rows: no_work_experience_rows) %>
<% end %>
