<%@application_form.application_work_experiences.order(:start_date).to_a.append(nil).each_cons(2) do |work1, work2| %>
  <%= render(SummaryCardComponent, rows: work_experience_rows(work1), editable: @editable) do %>
    <%= render(SummaryCardHeaderComponent, title: work1.role, heading_level: @heading_level, check_icon: work1.working_with_children) do %>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= link_to candidate_interface_work_history_destroy_path(work1.id), class: 'govuk-link' do %>
            <%= t('application_form.work_history.delete_entry') %><span class="govuk-visually-hidden"><%= generate_action(work: work1) %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if FeatureFlag.active?('work_breaks') %>
    <%= render(BreakInWorkHistoryComponent, work1: work1, work2: work2) %>
  <% end %>
<% end %>

<% if !show_missing_banner? && @application_form.application_work_experiences.empty? %>
  <%= render(SummaryCardComponent, rows: no_work_experience_rows, editable: @editable) %>
<% end %>

<% if breaks_in_work_history? %>
  <%= render(SummaryCardComponent, rows: break_in_work_history_rows, editable: @editable) %>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, section: :work_experience, section_path: CandidateInterface::ApplicationFormPresenter.new(@application_form).work_experience_path, error: @missing_error) %>
<% end %>
