<% @application_form.application_work_experiences.each do |work| %>
  <%= render(SummaryCardComponent, rows: work_experience_rows(work), editable: @editable) do %>
    <%= render(SummaryCardHeaderComponent, title: work.role, heading_level: @heading_level, check_icon: work.working_with_children) do %>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= link_to candidate_interface_work_history_destroy_path(work.id), class: 'govuk-link' do %>
            <%= t('application_form.work_history.delete_entry') %>
            <span class="govuk-visually-hidden"> <%= work.role %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if !show_missing_banner? && @application_form.application_work_experiences.empty? %>
  <%= render(SummaryCardComponent, rows: no_work_experience_rows, editable: @editable) %>
<% end %>

<% if breaks_in_work_history? %>
  <%= render(SummaryCardComponent, rows: break_in_work_history_rows, editable: @editable) %>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, section: :work_experience, section_path: candidate_interface_work_history_length_path, text: t('review_application.work_experience.incomplete')) %>
<% end %>
