<% @application_form.application_work_experiences.order(:start_date).each do |work| %>
  <%= render(SummaryCardComponent, rows: work_experience_rows(work), editable: @editable) do %>
    <%= render(SummaryCardHeaderComponent, title: work.role, heading_level: @heading_level, check_icon: work.working_with_children) do %>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= link_to candidate_interface_work_history_destroy_path(work.id), class: 'govuk-link' do %>
            <%= t('application_form.work_history.delete_entry') %><span class="govuk-visually-hidden"><%= generate_action(work: work) %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if work.next_work_breaks_in_months > 0 %>
    <section class="app-summary-card govuk-!-margin-bottom-6">
      <header class="app-summary-card__header">
        <h3 class="app-summary-card__title">
          You have a break in your work history (<%= pluralize(work.next_work_breaks_in_months, 'month')%>)
        </h3>
      </header>
    </section>
  <% end %>
<% end %>

<% if !show_missing_banner? && @application_form.application_work_experiences.empty? %>
  <%= render(SummaryCardComponent, rows: no_work_experience_rows, editable: @editable) %>
<% end %>

<% if breaks_in_work_history? %>
  <%= render(SummaryCardComponent, rows: break_in_work_history_rows, editable: @editable) %>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent, section: :work_experience, section_path: CandidateInterface::ApplicationFormPresenter.new(@application_form).work_experience_path, error: @missing_error) %>
<% end %>
