<% content_for :browser_title, t('.title', provider_name: @provider.name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= @provider.name %></span>
      <%= t('.api_tokens') %>
    </h1>
    <p class="govuk-body">
      <%= t(
            '.what_tokens_are_for_html',
            link: govuk_link_to(
              t(
                '.apply_api',
                environment: HostingEnvironment.environment_name,
              ),
              api_docs_home_path,
            ),
          ) %>
    </p>

    <% if @can_manage_tokens %>
      <%= govuk_button_link_to t('.add_token'), new_provider_interface_organisation_settings_organisation_api_token_path(@provider) %>
    <% end %>

    <% if @api_tokens.none? %>
      <p class="govuk-body"><%= t('.no_tokens') %></p>
    <% else %>
      <%= render ProviderInterface::APITokensTableComponent.new(api_tokens: @api_tokens) %>
    <% end %>
  </div>
</div>
