<% content_for :browser_title, title_with_error_prefix(t('.title', provider_name: @provider.name), @api_token.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_organisation_settings_organisation_api_tokens_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @api_token, url: provider_interface_organisation_settings_organisation_api_tokens_path(@provider), method: :post do |form| %>
      <%= form.govuk_error_summary %>
      <h1 class="govuk-heading-l"><%= t('.heading', provider_name: @provider.name) %></h1>

      <%= form.govuk_text_field :description, label: { text: t('.token_description'), size: 's' }, hint: { text: t('.description_hint') } %>

      <p class="govuk-body">
        <%= govuk_link_to(
              t('.apply_api', environment: HostingEnvironment.environment_name),
              api_docs_home_path,
            ) %>
      </p>
      <p class="govuk-body">
        <%= t('.create_token', provider_name: @provider.name) %>
      </p>

      <%= form.govuk_submit t('.generate') %>
    <% end %>
  </div>
</div>
