<h2 class='govuk-heading-m'><%= t('application_form.qualification_section.heading') %></h2>
  <div id='qualification-list'>
  <table class='govuk-table govuk-!-font-size-16'>
    <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th class='govuk-table__header' scope='col' width='30%'>Qualification</th>
      <th class='govuk-table__header' scope='col' width='10%'>Grade</th>
      <th class='govuk-table__header' scope='col'>Institution</th>
      <th class='govuk-table__header' scope='col'>Year awarded</th>
      <th class='govuk-table__header govuk-!-padding-right-2' scope='col'>
        <span class='govuk-visually-hidden'>Actions</span>
      </th>
    </tr>
    </thead>
    <tbody class='govuk-table__body'>

    <% qualifications.each do |qualification| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'><%= qualification.type_of_qualification %> <%= qualification.subject %></td>
        <td class='govuk-table__cell'><%= qualification.grade %></td>
        <td class='govuk-table__cell'><%= qualification.institution %></td>
        <td class='govuk-table__cell'><%= qualification.year %></td>
        <td class='govuk-table__cell govuk-!-padding-right-2'>
          <%= link_to 'Change', [:edit, qualification], class: 'govuk-link', id: 'change-qualification' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to t('application_form.qualification_section.button.add_another'), new_qualification_path, class: 'govuk-button govuk-button--secondary',  'data-module': 'govuk-button' %>
</div>
