<% content_for :title, page_title(:check_your_answers) %>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>

    <h1 class='govuk-heading-xl'><%= t('application_form.check_your_answers') %></h1>

    <%= render 'shared/section_summary',
      fields: [:first_name, :last_name, :preferred_name],
      section_name: :personal_details,
      record: @application[:personal_details] %>

    <%= render 'shared/section_summary',
      fields: [:phone_number, :email_address, :address],
      section_name: :contact_details,
      record: @application[:contact_details] %>

    <%= render 'academic_qualifications', degrees: @application[:degrees] %>

    <%= render 'non_degree_qualifications', qualifications: @application[:qualifications] %>

    <%= form_with url: tt_application_submission_path do |f| %>
      <%= f.submit t('application_form.submit'), class: 'govuk-button', 'data-module': 'govuk-button', 'data-prevent-double-click': true %>
    <% end %>

  </div>
</div>
