<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"><%= t('application_form.check_your_answers') %></h1>

    <%= render 'shared/section_summary',
      fields: [:first_name, :last_name, :preferred_name, :date_of_birth, :nationality],
      section_name: :personal_details,
      record: @personal_details %>

    <%= render 'shared/section_summary',
      fields: [:phone_number, :email_address, :address],
      section_name: :contact_details,
      record: @personal_details %>

    <%= link_to tt_application_path, role: 'button', class: 'govuk-button' do %>
      <%= t('application_form.submit') %>
    <% end %>
  </div>
</div>
