<% content_for :title, t('page_titles.provider.confirm') %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_new_offer_path(@application_choice.id)) %>

<%= render(FlashMessageComponent.new(flash: flash)) %>

<h1 class="govuk-heading-xl">Confirm offer</h1>

<% conditions = capture do %>
  <% if @application_offer.offer_conditions.empty? %>
    Unconditional offer
  <% else %>
    <ul class="govuk-list govuk-list--bullet">
      <% @application_offer.offer_conditions.each do |value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= render SummaryListComponent.new(rows: [
  { key: 'Full name', value: @application_choice.application_form.full_name },
  { key: 'Course', value: @application_choice.course.name_and_code },
  { key: 'Starting', value: @application_choice.course.recruitment_cycle_year },
  { key: 'Preferred location', value: @application_choice.site.name },
  { key: 'Conditions', value: conditions },
]) %>

<%= form_with model: @application_offer, url: provider_interface_application_choice_create_offer_path(@application_choice.id), method: :post do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <p class="govuk-body govuk-!-font-weight-bold">
        Make a note of the conditions you have set.
      </p>
      <p class="govuk-body">
        When you confirm this offer, you’ll guarantee this candidate a place on their chosen course, providing they meet the conditions given.
      </p>
      <p class="govuk-body">
        You can only change the conditions of this offer with the candidate’s permission.
      </p>

      <%= hidden_field_tag :offer_conditions, @application_offer.offer_conditions.to_json %>
      <%= f.govuk_submit 'Confirm offer' %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
