<% content_for :title, t('page_titles.application') %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_new_reject_path(@application_choice.id)) %>

<%= render(FlashMessageComponent, flash: flash) %>

<span class="govuk-caption-xl">
  Application for <%= @presenter.course_name_and_code %>
</span>

<h1 class="govuk-heading-xl">
  Confirm rejection
</h1>

<%= form_with model: @reject_application, url: provider_interface_application_choice_create_reject_path(@application_choice.id), method: :post do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= render(SummaryCardComponent, rows: [
        { key: 'Reasons for rejection', value: @reject_application.rejection_reason },
      ], border: false) %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Are you sure you want to reject this application?
        You can’t undo this action once you confirm.
      </p>

      <%= f.hidden_field :rejection_reason %>
      <%= f.govuk_submit 'Confirm rejection' %>

      <p class="govuk-body"><a href="<%= provider_interface_application_choice_path(@application_choice.id) %>">Cancel</a></p>
    </div>
  </div>
<% end %>
