<% content_for :title, t('page_titles.application') %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_new_reject_path(@application_choice.id)) %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @application_choice.application_form.full_name %></span>
    <h1 class="govuk-heading-xl">Check and confirm rejection</h1>
      <%= form_with model: @reject_application, url: provider_interface_application_choice_create_reject_path(@application_choice.id), method: :post do |f| %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= f.govuk_error_summary %>
          </div>
        </div>

        <%= render SummaryListComponent.new(rows: [
          { key: 'Reasons for rejection', value: @reject_application.rejection_reason },
        ]) %>

      <%= f.hidden_field :rejection_reason %>

      <%= render WarningTextComponent.new(text: 'We’ll tell the candidate you rejected their application, and share your reasons.') %>

      <%= f.govuk_submit 'Reject application' %>

      <p class="govuk-body">
      <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    <% end %>
  </div>
</div>
