<% content_for :browser_title, title_with_error_prefix(t('page_titles.provider.confirm_withdraw_offer'), @withdraw_offer.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_respond_path(@application_choice.id)) %>

<%= render(FlashMessageComponent.new(flash: flash)) %>

<%= form_with model: @withdraw_offer, url: provider_interface_application_choice_withdraw_offer_path(@application_choice.id), method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <%= t('page_titles.provider.confirm_withdraw_offer') %>
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render SummaryListComponent.new(rows: [
        { key: 'Full name', value: @application_choice.application_form.full_name },
        { key: 'Course', value: @application_choice.course.name_and_code },
        { key: 'Starting', value: @application_choice.course.recruitment_cycle_year },
        { key: 'Preferred location', value: @application_choice.site.name },
        { key: 'Reasons for withdrawal', value: @withdraw_offer.offer_withdrawal_reason },
      ]) %>

      <%= govuk_warning(
        text: 'We’ll tell the candidate you withdrew your offer, and share your reasons.',
      ) %>

      <%= f.hidden_field :offer_withdrawal_reason %>
      <%= f.govuk_submit 'Withdraw offer', warning: true %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
