<% content_for :browser_title, title_with_error_prefix(t('.title'), @wizard.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_path(@application_choice)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_application_choice_decision_path(@application_choice), method: :post do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @application_choice.application_form.full_name %></span>
        <%= t('.title') %>
      </h1>

      <%= render ProviderInterface::ApplicationCourseSummaryComponent.new(application_choice: @application_choice) %>
      <%= f.govuk_radio_buttons_fieldset :decision, legend: { size: 'm' } do %>
        <%= f.govuk_radio_button :decision, 'make_offer', link_errors: true %>
        <%= f.govuk_radio_button :decision, 'change_offer' if @wizard.available_changes? %>
        <%= f.govuk_radio_button :decision, 'rejection' %>
      <% end %>

      <%= f.govuk_submit t('continue') %>

    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to t('cancel'), provider_interface_application_choice_path(@application_choice), no_visited_state: true %>
    </p>
  </div>
</div>
