<% content_for :browser_title, title_with_error_prefix(t('page_titles.provider.new_defer_offer'), @defer_offer.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_path(@application_choice)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @defer_offer, url: provider_interface_application_choice_defer_offer_path(@application_choice) do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= @application_choice.application_form.full_name %></span>
      <h1 class="govuk-heading-l">
        <%= t('page_titles.provider.new_defer_offer') %>
      </h1>

      <p class="govuk-body">The candidate will be sent an email to confirm that your offer has been deferred.</p>

      <%= f.button 'Confirm offer deferral', class: 'govuk-button', data: { module: 'govuk-button' } %>
    <% end %>
  </div>
</div>
