<% content_for :browser_title, 'Reject application' %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_respond_path(@application_choice.id)) %>

<%= form_with model: @reject_application,
      url: provider_interface_application_choice_confirm_reject_path(@application_choice.id),
      method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
      Application for <%= @presenter.course_name_and_code %>
    </span>
    Reject application
  </h1>

  <%= render SummaryListComponent, rows: [
    { key: 'Full name', value: @presenter.full_name },
    { key: 'Course', value: @presenter.course_name_and_code },
    { key: 'Starting', value: @presenter.recruitment_cycle_year },
    { key: 'Preferred location', value: @presenter.course_preferred_location },
  ] %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <%= f.govuk_text_area :rejection_reason,
                              label: { text: 'Tell the candidate why their application was rejected', size: 'm' },
                              hint_text: 'We’ll forward your feedback to the candidate',
                              rows: 5 %>
      </div>

      <%= f.govuk_submit 'Continue' %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
