<% content_for :browser_title, title_with_error_prefix(t('page_titles.provider.new_withdraw_offer'), @withdraw_offer.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(new_provider_interface_application_choice_decision_path(@application_choice)) %>

<%= render(FlashMessageComponent.new(flash: flash)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @withdraw_offer, url: provider_interface_application_choice_confirm_withdraw_offer_path(@application_choice), method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.provider.new_withdraw_offer') %>
      </h1>

      <%= render SummaryListComponent.new(rows: [
        { key: 'Full name', value: @application_choice.application_form.full_name },
        { key: 'Course', value: @application_choice.course.name_and_code },
        { key: 'Starting', value: @application_choice.course.recruitment_cycle_year },
        { key: 'Preferred location', value: @application_choice.site.name },
      ]) %>

      <%= f.govuk_fieldset legend: { text: 'Tell us why you’re withdrawing the offer', size: 'm' } do %>
        <%= f.govuk_text_area :offer_withdrawal_reason, rows: 5, label: { text: '' }, hint: { text: 'We’ll forward your feedback to the candidate' } %>
      <% end %>

      <%= f.govuk_submit t('continue') %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    <% end %>
  </div>
</div>
