<% content_for :browser_title, title_with_error_prefix(t('page_titles.provider.respond'), @pick_response_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_path(@application_choice.id)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= @application_choice.application_form.full_name %></span>
      <%= t('page_titles.provider.respond') %>
    </h1>
    <%= render ProviderInterface::CourseSummaryComponent.new(course_option: @application_choice.course_option) %>
    <%= form_with model: @pick_response_form, url: provider_interface_application_choice_submit_response_path(@application_choice.id), method: :post do |f| %>
      <%- offer_text = 'Make an offer' %>
      <%- reject_text = 'Reject application' %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :decision,
        legend: { text: t('page_titles.provider.select_decision'), size: 'm' } do %>

        <% if ApplicationStateChange.new(@application_choice).can_make_offer? %>
          <%= f.govuk_radio_button :decision, 'new_offer', label: { text: offer_text }, link_errors: true %>

          <%= f.govuk_radio_button :decision, 'edit_course', label: { text: "#{offer_text} but change course" } %>

          <% if @alternative_study_mode %>
            <%= f.govuk_radio_button :decision, 'edit_study_mode', label: { text: "#{offer_text} but change to #{@alternative_study_mode.humanize.downcase}" } %>
          <% end %>

          <%= f.govuk_radio_button :decision, 'edit_course_option', label: { text: "#{offer_text} but change location" } %>

          <% if current_provider_user.providers.size > 1 %>
            <%= f.govuk_radio_button :decision, 'edit_provider', label: { text: "#{offer_text} but change training provider" } %>
          <% end %>
        <% end %>

        <% if ApplicationStateChange.new(@application_choice).can_reject? %>
          <%= f.govuk_radio_button :decision, 'new_reject', label: { text: reject_text } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    <% end %>
  </div>
</div>
