<% content_for :title, title_with_error_prefix(t('page_titles.degree_review', count: @application_form.application_qualifications.degrees.size), @section_complete_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_degree_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.degree_review', count: @application_form.application_qualifications.degrees.size) %>
      </h1>

      <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application: @application_form) %>

      <% degree_empty_component = CandidateInterface::DegreeEmptyComponent.new(application_form: @application_form) %>

      <% unless degree_empty_component.render? || !@section_policy.can_edit? %>
        <%= govuk_button_link_to t('application_form.degree.another.button'), candidate_interface_degree_country_path(context: :new_degree), secondary: true %>
      <% end %>
    </div>
  </div>

  <%= render degree_empty_component %>

  <% if @application_form.no_degree_and_degree_completed? %>
    <%= render CandidateInterface::NoDegreeComponent.new(application_form: @application_form, editable: @section_policy.can_edit?) %>
  <% else %>
    <%= render CandidateInterface::DegreeReviewComponent.new(application_form: @application_form, editable: @section_policy.can_edit?, deletable: @section_policy.can_delete?) %>
  <% end %>

  <% unless degree_empty_component.render? %>
    <% if params[:interruption] %>
      <%= render CandidateInterface::CompleteSectionComponent.new(
        section_policy: @section_policy,
        form: f,
      ) %>
    <% else %>
      <%= render CandidateInterface::CompleteSectionComponent.new(
        section_policy: @section_policy,
        form: f,
        hint_text: t('application_form.degree.review.complete_hint_text_html'),
      ) %>
    <% end %>
  <% end %>
<% end %>
