<%= top_level_form.fields_for 'provider_permissions[]', permissions_form do |pf| %>
  <%= pf.hidden_field :provider_id %>
  <%= pf.govuk_radio_buttons_fieldset(
    :view_applications_only,
    legend: { text: "Change permissions: #{provider.name}", size: 'l' },
    caption: { text: provider_user_name, size: 'l' },
  ) do %>

    <%= pf.govuk_radio_button(
      :view_applications_only,
      'true',
      label: { text: 'View applications only' },
      hint: { text: 'The user will be able to view all sections of the application, except sensitive candidate content' },
      link_errors: true,
    ) %>

    <%= pf.govuk_radio_button(
      :view_applications_only,
      'false',
      label: { text: 'Extra permissions' },
      hint: { text: 'For example, being able to make offers and access sensitive content' },
    ) do %>

      <%= pf.govuk_check_boxes_fieldset :permissions, legend: { text: 'Select permissions', size: 'm' } do %>

        <%= pf.govuk_check_box(
          :permissions,
          'manage_organisations',
          label: { text: 'Manage organisational permissions' },
          hint: { text: 'Change permissions between organisations' },
          link_errors: true,
        ) %>

        <%= pf.govuk_check_box(
          :permissions,
          'manage_users',
          label: { text: 'Manage users' },
          hint: { text: 'Invite or delete users and set their permissions' },
        ) %>

        <%= pf.govuk_check_box(
          :permissions,
          'make_decisions',
          label: { text: 'Make decisions' },
          hint: { text: 'Make offers, amend offers and reject applications' },
        ) %>

        <div class="govuk-body govuk-!-margin-left-6">
          <%= render AssociatedProvidersPermissionsListComponent.new(
            provider: provider,
            permission_name: 'make_decisions',
          ) %>
        </div>

        <%= pf.govuk_check_box(
          :permissions,
          'view_safeguarding_information',
          label: { text: 'Access safeguarding information' },
          hint: { text: 'View sensitive material about the candidate' },
        ) %>

        <div class="govuk-body govuk-!-margin-left-6">
          <%= render AssociatedProvidersPermissionsListComponent.new(
            provider: provider,
            permission_name: 'view_safeguarding_information',
          ) %>
        </div>

        <%= pf.govuk_check_box(
          :permissions,
          'view_diversity_information',
          label: { text: 'Access diversity information' },
          hint: { text: 'View diversity information about the candidate' },
        ) %>

        <div class="govuk-body govuk-!-margin-left-6">
          <%= render AssociatedProvidersPermissionsListComponent.new(
            provider: provider,
            permission_name: 'view_diversity_information',
          ) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
