<%= render 'support_interface/performance/performance_navigation', title: 'Data directory' %>

<h3 class="govuk-heading-m"> User Guidance </h3>
<%= render 'shared/support_user_gdpr_guidance' %>

<% @export_types.each do |id, export| %>
  <section class="app-section app-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= export.fetch(:name) %></h2>
        <p class="govuk-body"><%= export.fetch(:description) %></p>

        <p class="govuk-body"><%= govuk_link_to 'View export information', support_interface_view_export_information_path(data_export_id: id) %></p>
      </div>
    </div>
  </section>
<% end %>
