<%= render 'support_interface/performance/performance_navigation', title: 'Export performance data' %>

<%= govuk_button_link_to 'New export', new_support_interface_data_export_path %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Initiated by</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @data_exports.each do |data_export| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to '', support_interface_data_export_path(data_export) do %>
            <%= data_export.created_at.to_s(:govuk_date_and_time) %> - <%= data_export.name %>
          <% end %>
        </td>
        <td class="govuk-table__cell"><%= data_export.initiator_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(PaginatorComponent.new(scope: @data_exports)) %>
