<% content_for :title, 'New data export' %>

<% content_for :before_content do %>
  <%= render BreadcrumbComponent.new(items: [{
    text: 'Performance',
    path: support_interface_performance_path,
  }, {
    text: 'Export data',
    path: support_interface_data_exports_path,
  }, {
    text: 'New data export',
  }]) %>
<% end %>

<% @export_types.each do |id, export| %>
  <section class="app-section app-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= export.fetch(:name) %></h2>
        <p class="govuk-body"><%= export.fetch(:description) %></p>

        <% if DataSetDocumentation.for(export.fetch(:class)) %>
          <p class="govuk-body">
            <%= govuk_link_to "View documentation for #{export.fetch(:name)}", support_interface_data_set_documentation_path(id) %>
          </p>
        <% end %>

        <%= govuk_button_to "Generate #{export.fetch(:name)} export", support_interface_data_exports_path(export_type_id: id), class: 'govuk-button--secondary' %>
      </div>
    </div>
  </section>
<% end %>
