<% content_for :browser_title, "Export #{@data_export.id} - #{@data_export.name}" %>
<% content_for :context, @data_export.name %>
<% content_for :title, "Export #{@data_export.id}" %>

<% content_for :before_content do %>
  <%= render BreadcrumbComponent.new(items: [{
    text: 'Performance',
    path: support_interface_performance_path,
  }, {
    text: 'Data directory',
    path: support_interface_data_directory_path,
  }, {
    text: @data_export.name,
    path: support_interface_view_export_information_path(@data_export_type),
  }, {
    text: 'History',
    path: support_interface_view_history_path(@data_export_type),
  }, {
    text: "Export #{@data_export.id}",
  }]) %>
<% end %>

<p class="govuk-body">This export was initiated by <%= @data_export.initiator_name %> on <%= @data_export.created_at.to_s(:govuk_date_and_time) %>.</p>

<% if @data_export.completed_at %>
  <p class="govuk-body">Export generation completed in <%= @data_export.generation_time %> <%= 'second'.pluralize(@data_export.generation_time) %>.</p>

  <%= govuk_button_link_to 'Download export (CSV)', download_support_interface_data_export_path(@data_export), { type: 'text/csv' } %>
<% else %>
  <p class="govuk-body">This export is being generated. Refresh the page to see if it completed.</p>
<% end %>

<%= render SupportInterface::AuditTrailComponent.new(audited_thing: @data_export) %>
