<% content_for :browser_title, "Export #{@data_export.id} - #{@data_export.name}" %>
<% content_for :context, @data_export.name %>
<% content_for :title, "Export #{@data_export.id}" %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    'Performance': support_interface_performance_path,
    'Data directory': support_interface_data_directory_path,
    @data_export.name => support_interface_view_export_information_path(@data_export.export_type),
    'History': support_interface_view_history_path(@data_export.export_type),
    "Export #{@data_export.id}": nil,
  }) %>
<% end %>

<p class="govuk-body">This export was initiated by <%= @data_export.initiator_name %> on <%= @data_export.created_at.to_s(:govuk_date_and_time) %>.</p>

<% if @data_export.completed_at %>
  <p class="govuk-body">Export generation completed in <%= @data_export.generation_time %> <%= 'second'.pluralize(@data_export.generation_time) %>.</p>

  <%= govuk_link_to 'Download export (CSV)', download_support_interface_data_export_path(@data_export), button: true, type: 'text/csv' %>
<% else %>
  <p class="govuk-body">This export is being generated. Refresh the page to see if it completed.</p>
<% end %>

<%= render SupportInterface::AuditTrailComponent.new(audited_thing: @data_export) %>
