<%= render 'data_export_navigation', title: 'History' %>

<% if @data_exports.empty? %>
  <p class="govuk-body">No exports have been generated</p>
<% else %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Initiated by</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @data_exports.each do |data_export| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= render TagComponent.new(
              text: data_export.completed_at ? 'completed' : 'in progress',
              type: data_export.completed_at ? 'green' : 'blue',
            ) %>
          </td>
          <td class="govuk-table__cell">
            <%= govuk_link_to support_interface_data_export_path(data_export) do %>
              <%= data_export.created_at.to_s(:govuk_date_and_time) %> - <%= data_export.name %>
            <% end %>
          </td>
          <td class="govuk-table__cell"><%= data_export.initiator_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render(PaginatorComponent.new(scope: @data_exports)) %>
<% end %>
