<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
  <%= @application_choice.application_form.full_name %>
  <%= render(ProviderInterface::ApplicationStatusTagComponent.new(application_choice: @application_choice)) %>
</h1>

<% if @application_choice.status == 'awaiting_provider_decision' && flash.empty? && @provider_can_respond -%>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          Respond to application
        </h2>
        <p class="govuk-body">
          <% if time_is_today_or_tomorrow?(@application_choice.reject_by_default_at) %>
            You have until <%= time_today_or_tomorrow(@application_choice.reject_by_default_at) %> to respond to this application, or it will be automatically rejected.
          <% else %>
            <%= "You have #{days_until(@application_choice.reject_by_default_at.to_date)} to respond to this application." %>
            On <%= @application_choice.reject_by_default_at.to_s(:govuk_date) %> this application will be automatically rejected.
          <% end %>
        </p>
        <%= govuk_button_link_to 'Respond to application', provider_interface_application_choice_respond_path(@application_choice) %>
      </div>
    </div>
  </div>
<% elsif @deferred_offer_wizard_applicable && flash.empty? && @provider_can_respond -%>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          Review and confirm the deferred offer
        </h2>

        <% if @deferred_offer_equivalent_course_option_available %>
          <p class="govuk-body">
            The course offered to the candidate in the previous cycle is available in the current cycle.
          </p>
        <% else %>
          <p class="govuk-body">
            The course offered to the candidate in the previous cycle is not available in the current cycle.
          </p>
        <% end %>

        <%= govuk_button_link_to 'Review deferred offer', provider_interface_reconfirm_deferred_offer_path(@application_choice) %>
      </div>
    </div>
  </div>
<% elsif @rejection_reason_required && flash.empty? && @provider_can_respond -%>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          Give feedback
        </h2>

        <p class="govuk-body">
          You did not respond to the application within <%= @application_choice.reject_by_default_days %> working days. Tell the candidate why their application was unsuccessful.
        </p>

        <%= govuk_button_link_to 'Give feedback', provider_interface_application_choice_new_feedback_path(@application_choice) %>
      </div>
    </div>
  </div>
<% end -%>

<% if @sub_navigation_items.count > 1 %>
  <%= render TabNavigationComponent.new(items: @sub_navigation_items) %>
<% end %>
