<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
  <%= @application_choice.application_form.full_name %>
  <%= render(ProviderInterface::ApplicationStatusTagComponent.new(application_choice: @application_choice)) %>
</h1>

<% if @application_choice.status == 'awaiting_provider_decision' && flash.empty? && @provider_can_respond -%>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          Respond to application
        </h2>

        <p class="govuk-body">
          <%= "You have #{days_to_respond_to(@application_choice)} days to respond to this application. On #{@application_choice.reject_by_default_at.to_s(:govuk_date)} this application will be automatically rejected." %>
        </p>
        <%= govuk_button_link_to 'Respond to application', provider_interface_application_choice_respond_path(@application_choice) %>
      </div>
    </div>
  </div>
<% end -%>

<% if @deferred_offer_wizard_applicable && flash.empty? && @provider_can_respond -%>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          Review and confirm the deferred offer
        </h2>

        <% if @deferred_offer_equivalent_course_option_available %>
          <p class="govuk-body">
            The course offered to the candidate in the previous cycle is available in the current cycle.
          </p>
        <% else %>
          <p class="govuk-body">
            The course offered to the candidate in the previous cycle is <strong>not available</strong> in the current cycle.
          </p>
        <% end %>

        <%= govuk_button_link_to 'Review deferred offer', provider_interface_reconfirm_deferred_offer_path(@application_choice) %>
      </div>
    </div>
  </div>
<% end -%>

<% if @sub_navigation_items.count > 1 %>
  <%= render TabNavigationComponent.new(items: @sub_navigation_items) %>
<% end %>
