<% content_for :title, 'Applications' %>
<% content_for :page_width, 'wide' %>

<% if FeatureFlag.active?('covid_19') %>
  <div class="app-banner" aria-labelledby="success-message" data-module="govuk-error-summary" role="alert">
    <div class="app-banner__message">
      <h2 class="govuk-heading-m" id="success-message">Check our guidance to see how <%= link_to 'coronavirus (COVID-19) will affect your deadlines for responding to applications', '#', class: 'govuk-link' %></h2>
    </div>
  </div>
<% end %>

<h1 class='govuk-heading-xl'>Applications</h1>

<% if FeatureFlag.active?('provider_application_filters') %>
  <div class='moj-filter-layout'>
    <% if @page_state.filter_visible.eql?('true') %>
      <%= render ProviderInterface::FilterComponent.new(path: :provider_interface_applications_path,
                                                        available_filters: @page_state.available_filters,
                                                        applied_filters: @page_state.filter_selections,
                                                        params_for_current_state: @page_state.to_h) %>
    <% end %>

    <div class='moj-filter-layout__content'>
      <%= render ProviderInterface::ToggleFilterComponent.new(filter_visible: @page_state.filter_visible,
                                                              params_for_current_state: @page_state.to_h) %>
      <div class='moj-scrollable-pane'>
        <div class='moj-scrollable-pane__wrapper'>
        <% if @application_choices.any? %>
          <%= render 'application_choices_table' %>
        <% elsif @page_state.filter_selections.any? %>
          <p class='govuk-body'>No applications for the selected filters.</p>
        <% else %>
          <p class='govuk-body'>You haven’t received any applications from <%= t('service_name.apply') %>.</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render(PaginatorComponent.new(scope: @application_choices)) %>


<% else %>

  <% if @application_choices.any? %>
    <%= render 'application_choices_table' %>
    <%= render(PaginatorComponent.new(scope: @application_choices)) %>
  <% else %>
    <p class='govuk-body'>You haven’t received any applications from <%= t('service_name.apply') %>.</p>
  <% end %>

<% end %>

