<% content_for :title, 'Applications' %>
<% content_for :page_width, 'wide' %>

<h1 class='govuk-heading-xl'>Applications</h1>

<% if FeatureFlag.active?('provider_application_filters') %>

<div class='moj-filter-layout'>
  <% if @page_state.filter_visible.eql?('true') %>
    <%= render ProviderInterface::FilterComponent.new(path: :provider_interface_applications_path,
                                                      available_filters: @page_state.available_filters,
                                                      applied_filters: @page_state.filter_selections,
                                                      additional_params: { sort_by: @page_state.sort_by,
                                                                           sort_order: @page_state.sort_order }) %>
  <% end %>

  <div class='moj-filter-layout__content'>
    <%= render ProviderInterface::ToggleFilterComponent.new(filter_visible: @page_state.filter_visible,
                                                            additional_params: { sort_order: @page_state.sort_order,
                                                                                sort_by: @page_state.sort_by,
                                                                                filter_selections: @page_state.filter_selections }) %>
    <div class='moj-scrollable-pane'>
      <div class='moj-scrollable-pane__wrapper'>

      <% end %>

      <% if @application_choices.any? %>
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <%= render ProviderInterface::SortableColumnHeadingComponent.new(sort_order: @page_state.sort_order,
                                                                               column_name: 'Name',
                                                                               current_sort_by: @page_state.sort_by,
                                                                               css_class: 'govuk-table__header govuk-!-width-one-quarter',
                                                                               additional_params: { filter_selections: @page_state.filter_selections,
                                                                                                    filter_visible: @page_state.filter_visible }) %>

              <%= render ProviderInterface::SortableColumnHeadingComponent.new(sort_order: @page_state.sort_order,
                                                                               column_name: 'Course',
                                                                               current_sort_by: @page_state.sort_by,
                                                                               css_class: 'govuk-table__header govuk-!-width-one-quarter',
                                                                               additional_params: { filter_selections: @page_state.filter_selections,
                                                                                                    filter_visible: @page_state.filter_visible }) %>


              <th scope='col' class='govuk-table__header govuk-!-width-one-quarter'>Status</th>

              <%= render ProviderInterface::SortableColumnHeadingComponent.new(sort_order: @page_state.sort_order,
                                                                               column_name: 'Last updated',
                                                                               current_sort_by: @page_state.sort_by,
                                                                               css_class: 'govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric',
                                                                               additional_params: { filter_selections: @page_state.filter_selections,
                                                                                                    filter_visible: @page_state.filter_visible }) %>
            </tr>
          </thead>

    <tbody class='govuk-table__body'>
      <% @application_choices.each do |application_choice| %>
        <tr class='govuk-table__row'>
          <th class='govuk-table__cell'>
            <span class="govuk-caption-m govuk-!-font-size-16"><%= application_choice.application_form.support_reference %></span>
            <%= govuk_link_to application_choice.application_form.full_name, provider_interface_application_choice_path(application_choice) %>
          </th>
         <td class='govuk-table__cell'>
           <% if current_provider_user.providers.size > 1 %>
             <span class='govuk-caption-m govuk-!-font-size-16'>
               <%= application_choice.offered_course.provider.name %>
             </span>
           <% end %>

           <%= application_choice.offered_course.name_and_code %>
         </td>
         <td class='govuk-table__cell'><%= render ProviderInterface::ApplicationStatusTagComponent.new(application_choice: application_choice) %></td>
         <td class='govuk-table__cell govuk-table__header--numeric'><%= application_choice.updated_at.to_s(:govuk_date_short_month) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% if FeatureFlag.active?('provider_application_filters') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render(PaginatorComponent.new(scope: @application_choices)) %>
<% elsif @page_state.filter_selections.any? %>
     <p class='govuk-body'>No applications for the selected filters.</p>
<% else %>
  <p class='govuk-body'>You haven’t received any applications from <%= t('service_name.apply') %>.</p>
<% end %>
