<% content_for :browser_title, 'Applications' %>

<% if FeatureFlag.active?('getting_ready_for_next_cycle_banner') %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="app-banner" aria-labelledby="getting-ready-for-next-cycle-message">
        <div class="app-banner__message">
          <h2 class="govuk-heading-m" id="getting-ready-for-next-cycle-message">
            <%= govuk_link_to(
              'Getting ready for the next cycle: important dates and our plans for a smooth transition',
              provider_interface_getting_ready_for_next_cycle_path,
              class: 'govuk-link--no-visited-state',
            ) %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1 class='govuk-heading-xl'>Applications</h1>

<%= render PaginatedFilterComponent.new(filter: @filter, collection: @application_choices) do %>
  <% if @application_choices.any? %>
    <div class="app-application-cards">
      <% previous_header = '' %>
      <% @application_choices.each do |choice| %>
        <% group_header = task_view_header choice %>
        <% if group_header != previous_header %>
          <h2 class='govuk-heading-m task_view_group_header'>
            <%= group_header %>
          </h2>
          <% previous_header = group_header %>
        <% end %>
        <%= render ProviderInterface::ApplicationCardComponent.new(application_choice: choice) %>
      <% end %>
    </div>
  <% elsif @filter.filtered? %>
    <p class='govuk-body'>No applications for the selected filters.</p>
  <% else %>
    <p class='govuk-body'>You have not received any applications from <%= t('service_name.apply') %>.</p>
  <% end %>
<% end %>
