<% content_for :browser_title, "Applications (#{@pagy.count})" %>

<%= render ServiceInformationBanner.new(namespace: :provider) %>

<%= render ProviderInterface::RejectByDefaultBannerComponent.new %>

<h1 class="govuk-heading-l">Applications (<%= @pagy.count %>)</h1>

<%= render PaginatedFilterComponent.new(filter: @filter, collection: @application_choices) do %>
  <% if @application_choices.size > 0 %>
    <div class="app-application-cards">
      <% @application_choices.each do |choice| %>
        <% if display_header?(@application_choices, choice) %>
          <% task_view_header(choice) do |heading| %>
            <h2 class="govuk-heading-m task_view_group_header">
              <%= heading %>
            </h2>
          <% end %>
          <% task_view_subheader(choice) do |subheading| %>
            <p class="govuk-caption-s govuk-!-font-size-16 govuk-hint">
              <%= subheading %>
            </p>
          <% end %>
        <% end %>
        <%= render ProviderInterface::ApplicationCardComponent.new(application_choice: choice) %>
      <% end %>
    </div>
  <% elsif @filter.filtered? %>
    <p class="govuk-body"><%= @filter.no_results_message %></p>
  <% else %>
    <p class="govuk-body">You have not received any applications from <%= t('service_name.apply') %>.</p>
  <% end %>
  <%= govuk_pagination(pagy: @pagy) %>
<% end %>
