<% content_for :title, 'Applications' %>

<% if FeatureFlag.active?('covid_19') %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="app-banner" aria-labelledby="success-message" data-module="govuk-error-summary" role="alert">
        <div class="app-banner__message">
          <h2 class="govuk-heading-m" id="success-message">
            <%= link_to 'Coronavirus (COVID-19): check our guidance to see new deadlines for processing applications',
              provider_interface_covid_19_guidance_path,
              class: 'govuk-link'
            %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1 class='govuk-heading-xl'>Applications</h1>

<div class='moj-filter-layout'>
  <% if @page_state.filter_visible.eql?('true') %>
    <%= render ProviderInterface::FilterComponent.new(
      available_filters: @page_state.available_filters,
      applied_filters: @page_state.filter_selections,
      params_for_current_state: @page_state.to_h,
    ) %>
  <% end %>

  <div class='moj-filter-layout__content'>
    <% if @application_choices.any? %>
      <div class="app-application-cards">
        <% @application_choices.each_with_index do |choice, index| %>
          <%= render ProviderInterface::ApplicationCardComponent.new(application_choice: choice) %>
        <% end %>
      </div>
    <% elsif @page_state.filter_selections.any? %>
      <p class='govuk-body'>No applications for the selected filters.</p>
    <% else %>
      <p class='govuk-body'>You haven’t received any applications from <%= t('service_name.apply') %>.</p>
    <% end %>
  </div>
</div>

<%= render(PaginatorComponent.new(scope: @application_choices)) %>
