<% content_for :title, 'Applications' %>

<% if FeatureFlag.active?('covid_19') %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="app-banner" aria-labelledby="success-message" data-module="govuk-error-summary" role="alert">
        <div class="app-banner__message">
          <h2 class="govuk-heading-m" id="success-message">
            <%= link_to 'Coronavirus (COVID-19): check our guidance to see new deadlines for processing applications',
              provider_interface_covid_19_guidance_path,
              class: 'govuk-link'
            %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if FeatureFlag.active?('summer_recruitment_banner') %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="app-banner" aria-labelledby="success-message" data-module="govuk-error-summary" role="alert">
        <div class="app-banner__message">
          <h2 class="govuk-heading-m" id="summer-recruitment-message">
            Summer deadlines for reject by default: providers have 20 working days to respond to applications received between 1 July 2020 and 3 October 2020
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1 class='govuk-heading-xl'>Applications</h1>

<div class='moj-filter-layout'>
  <%= render ProviderInterface::FilterComponent.new(
    page_state: @page_state,
  ) %>
  <div class='moj-filter-layout__content'>
    <div class="moj-action-bar">
      <div class="moj-action-bar__filter">
        <div class="filter-toggle-button"></div>
      </div>
      <div class="govuk-form-group govuk-!-margin-bottom-2">
        <form method="get">
          <% @page_state.applied_filters.each do |k,v| %>
            <% if v.is_a?(Array) %>
              <% v.each do |val| %>
                <%= hidden_field_tag "#{k}[]", val %>
              <% end %>
            <% else %>
              <%= hidden_field_tag "#{k}", v %>
            <% end %>
          <% end %>
          <label class="govuk-label govuk-visually-hidden" for="sort_by">Sorted by</label>
          <%= select_tag(
            :sort_by,
            options_for_select(@page_state.sort_options, selected: @page_state.sort_by),
            id: "sort_by",
            class: "govuk-select sortby-selector",
          ) %>
          <button class="govuk-button govuk-buton--secondary govuk-!-margin-bottom-2" type="submit" data-module="govuk-button">
            Sort
          </button>
        </form>
      </div>
    </div>
    <% if @application_choices.any? %>
      <div class="app-application-cards">
        <% @application_choices.each_with_index do |choice, index| %>
          <%= render ProviderInterface::ApplicationCardComponent.new(application_choice: choice) %>
        <% end %>
      </div>
    <% elsif @page_state.filtered? %>
      <p class='govuk-body'>No applications for the selected filters.</p>
    <% else %>
      <p class='govuk-body'>You haven’t received any applications from <%= t('service_name.apply') %>.</p>
    <% end %>
    <%= render(PaginatorComponent.new(scope: @application_choices)) %>
  </div>
</div>

