<% content_for :browser_title, 'Applications' %>

<% if FeatureFlag.active?('provider_information_banner') %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render NotificationMessageComponent.new(:info,
                                                  message: '20 December 2020 to 1 January 2021 do not count as working days',
                                                  secondary_message: 'The Christmas period will not be included when calculating dates for applications to be automatically rejected. This is to match the dates used by UCAS.') %>
    </div>
  </div>
<% end %>

<h1 class='govuk-heading-xl'>Applications</h1>

<%= render PaginatedFilterComponent.new(filter: @filter, collection: @application_choices) do %>
  <% if @application_choices.any? %>
    <div class="app-application-cards">
      <% previous_header = '' %>
      <% @application_choices.each do |choice| %>
        <% group_header = task_view_header choice %>
        <% if group_header != previous_header %>
          <h2 class='govuk-heading-m task_view_group_header'>
            <%= group_header %>
          </h2>
          <% previous_header = group_header %>
        <% end %>
        <%= render ProviderInterface::ApplicationCardComponent.new(application_choice: choice) %>
      <% end %>
    </div>
  <% elsif @filter.filtered? %>
    <p class='govuk-body'><%= @filter.no_results_message %></p>
  <% else %>
    <p class='govuk-body'>You have not received any applications from <%= t('service_name.apply') %>.</p>
  <% end %>
<% end %>
