<% content_for :title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code} - Add Note" %>

<% content_for :before_content, govuk_back_link_to(request.referer) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @new_note_form,
          url: provider_interface_application_choice_create_note_path(@application_choice.id),
          method: :post do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">Add note</h1>

      <% subject_hint = 'This appears on your application list by the relevant candidate' %>
      <%= f.govuk_text_area :subject, label: { text: 'Subject', size: 'm' }, rows: 1, max_chars: 40, hint_text: subject_hint %>

      <%= f.govuk_text_area :message, label: { text: 'Note', size: 'm' }, max_chars: 500 %>

      <%= f.govuk_submit 'Save note' %>
    <% end %>
  </div>
</div>
