<% content_for :title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code} - Notes" %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Applications', provider_interface_applications_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to @application_choice.application_form.full_name, provider_interface_application_choice_path(@application_choice), class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Notes
      </li>
    </ol>
  </div>
<% end %>

<%= render 'application_choice_header' %>

<%= form_with model: @new_note_form,
      url: provider_interface_application_choice_new_note_path(@application_choice),
      method: :get do |f| %>

  <%= f.govuk_submit 'Add note' %>
<% end %>

<% unless @notes.empty? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-notes">
        <% @notes.each do |note| %>
          <div class="app-notes__note">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
              <a id="<%= note.id %>">
                <%= note.title %>
              </a>
            </h2>
            <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1"><%= note.message %></p>
            <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              <%= note.provider_user.full_name %>,
              <%= note.created_at.to_s(:govuk_date_and_time) %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
