<% content_for :browser_title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code}" %>

<%= render ProviderInterface::ApplicationChoiceHeaderComponent.new(application_choice: @application_choice, provider_can_respond: @provider_can_respond) %>

<%= render ProviderInterface::StatusBoxComponent.new(application_choice: @application_choice, options: @status_box_options) unless @offer_present || @application_choice.rejected? %>

<h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Application</h2>

<p class="govuk-body govuk-!-display-none-print">
  <% if FeatureFlag.active?(:withdraw_at_candidates_request) && application_withdrawable? %>
    <%= govuk_link_to(
      'Withdraw at candidate’s request',
      provider_interface_decline_or_withdraw_edit_path(@application_choice),
      class: 'govuk-!-margin-right-2',
    ) %>
  <% end %>
  <%= govuk_link_to(
    'Download application (PDF)',
    provider_interface_application_choice_path(@application_choice.id, format: :pdf),
    download: @application_choice.application_form.support_reference,
  ) %>
</p>

<section class="app-section govuk-!-margin-top-7">
  <h2 class="govuk-heading-m govuk-!-font-size-27">Application details</h2>

  <div class="govuk-!-width-two-thirds">
    <%= render ProviderInterface::ApplicationSummaryComponent.new(application_form: @application_choice.application_form) %>
  </div>
</section>

<%= render ProviderInterface::PersonalDetailsComponent.new(application_form: @application_choice.application_form) %>

<% unless HostingEnvironment.production? %>
  <div class="govuk-!-width-two-thirds">
    <%= render SandboxFeatureComponent.new(
      description: "See what this application looks like from the candidate side by signing in as #{@application_choice.application_form.full_name}:",
    ) do %>
      <%= govuk_button_to 'Sign in as this candidate', provider_interface_impersonate_candidate_path(@application_choice.application_form.candidate), class: 'govuk-!-margin-bottom-0' %>
    <% end %>
  </div>
<% end %>

<%= render ProviderInterface::CourseDetailsComponent.new(application_choice: @application_choice) %>

<%= render ProviderInterface::SafeguardingDeclarationComponent.new(application_choice: @application_choice, current_provider_user: current_provider_user) %>

<% if FeatureFlag.active?(:restructured_work_history) %>
  <%= render WorkHistoryAndUnpaidExperienceComponent.new(application_form: @application_choice.application_form) %>

  <%= render QualificationsComponent.new(application_form: @application_choice.application_form, application_choice_state: @application_choice.status) %>
<% else %>
  <%= render QualificationsComponent.new(application_form: @application_choice.application_form, application_choice_state: @application_choice.status) %>

  <%= render WorkHistoryComponent.new(application_form: @application_choice.application_form) %>

  <%= render VolunteeringHistoryComponent.new(application_form: @application_choice.application_form) %>
<% end %>

<%= render LanguageSkillsComponent.new(application_form: @application_choice.application_form) %>

<%= render PersonalStatementComponent.new(application_form: @application_choice.application_form) %>

<% if @application_choice.application_form.selected_references.any? %>
  <%= render 'references', selected_references: @application_choice.application_form.selected_references %>
<% end %>

<%= render ProviderInterface::TrainingWithDisabilityComponent.new(application_form: @application_choice.application_form) %>

<%= render InterviewPreferencesComponent.new(application_form: @application_choice.application_form) %>

<%= render ProviderInterface::DiversityInformationComponent.new(application_choice: @application_choice, current_provider_user: current_provider_user) %>
