<% content_for :title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code}" %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Applications', provider_interface_applications_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= @application_choice.application_form.full_name %>
      </li>
    </ol>
  </div>
<% end %>

<%= render 'application_choice_header' %>

<p class="govuk-body govuk-!-margin-bottom-9 app-!-print-display-none">
  <%= govuk_link_to(
    'Download application (PDF)',
    provider_interface_application_choice_path(@application_choice.id, format: :pdf),
    download: @application_choice.application_form.support_reference
  ) %>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render ProviderInterface::StatusBoxComponent.new(application_choice: @application_choice, options: @status_box_options) %>

    <h2 class="govuk-heading-l" id="course-info">Application</h2>
    <%= render PersonalDetailsComponent.new(application_form: @application_choice.application_form) %>

    <% unless HostingEnvironment.production? %>
      <div class="app-status-box app-status-box--sandbox app-!-print-display-none">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-phase-banner__content__tag app-environment-tag app-environment-tag--sandbox">
            sandbox feature
          </strong>
        </p>
        <p class="govuk-body">
          See what this application looks like from the candidate side by signing in as <%= @application_choice.application_form.full_name %>:
        </p>
        <%= button_to 'Sign in as this candidate', provider_interface_impersonate_candidate_path(@application_choice.application_form.candidate), class: 'govuk-button govuk-!-margin-bottom-0' %>
      </div>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="course-info">Course</h2>

    <%= render SummaryListComponent.new(rows: [
      { key: 'Provider', value: @application_choice.provider.name_and_code },
      { key: 'Course', value: @application_choice.course.name_and_code },
      { key: 'Cycle', value: @application_choice.course.recruitment_cycle_year },
      { key: 'Preferred location', value: @application_choice.site.name_and_code },
      { key: 'Study mode', value: @application_choice.course_option.study_mode.humanize },
    ]) %>

    <%= render ProviderInterface::TrainingWithDisabilityComponent.new(application_form: @application_choice.application_form) %>

    <% if FeatureFlag.active?('provider_view_safeguarding') %>
      <%= render ProviderInterface::SafeguardingDeclarationComponent.new(application_form: @application_choice.application_form)%>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="qualifications">Qualifications</h2>

    <%= render QualificationsComponent.new(application_form: @application_choice.application_form) %>

    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="work-history">Work history</h2>

    <div data-qa="work-history">
      <% if FeatureFlag.active?('provider_interface_work_breaks') %>
        <%= render ProviderInterface::WorkHistoryComponent.new(application_form: @application_choice.application_form) %>
      <% else %>
        <%= render WorkHistoryReviewComponent.new(application_form: @application_choice.application_form, editable: false, heading_level: 3) %>
      <% end %>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="volunteering">Unpaid experience and volunteering</h2>

    <div data-qa="volunteering">
      <% if FeatureFlag.active?('provider_interface_work_breaks') %>
        <%= render ProviderInterface::VolunteeringHistoryComponent.new(application_form: @application_choice.application_form) %>
      <% else %>
        <%= render VolunteeringReviewComponent.new(application_form: @application_choice.application_form, editable: false, heading_level: 3) %>
      <% end %>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="language-skills">Language skills</h2>

    <%= render LanguageSkillsComponent.new(application_form: @application_choice.application_form) %>

    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="personal-statement">Personal statement</h2>

    <%= render PersonalStatementComponent.new(application_form: @application_choice.application_form) %>

    <% if @application_choice.application_form.application_references.any? %>
      <% @application_choice.application_form.application_references.each_with_index do |reference, i| %>
        <h2 class="govuk-heading-m govuk-!-margin-top-8"><%= "#{TextOrdinalizer.call((i + 1)).capitalize} referee" %></h2>
        <%= render ProviderInterface::ReferenceWithFeedbackComponent.new(reference: reference) %>
      <% end %>
    <% end %>
  </div>
</div>
