<% content_for :title, "#{@application_choice.full_name} – #{@application_choice.course_name_and_code}" %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Applications', provider_interface_applications_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= @application_choice.full_name %>
      </li>
    </ol>
  </div>
<% end %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Application for <%= @application_choice.course_name_and_code %></span>
  <%= @application_choice.full_name %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render SummaryListComponent, rows: [
      { key: 'Full name', value: @application_choice.full_name },
      { key: 'Phone number', value: @application_choice.phone_number },
      { key: 'Email address', value: @application_choice.email_address },
    ] %>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-status-box">
      <h2 class="govuk-heading-m">Status</h2>
      <%= render ProviderInterface::ApplicationStatusTagComponent, application_choice: @application_choice %>
      <% if @application_choice.status == 'awaiting_provider_decision' %>
        <div class="govuk-!-margin-top-6">
          <a href="<%= provider_interface_application_choice_respond_path(@application_choice.id) %>" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
            Respond to application
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-8" id="qualifications">Qualifications</h2>

<%= render ProviderInterface::QualificationsTableComponent, qualifications: @application_choice.degrees, type_label: 'Degree' %>
<%= render ProviderInterface::QualificationsTableComponent, qualifications: @application_choice.gcses_or_equivalent, type_label: 'GCSE or equivalent' %>
<%= render ProviderInterface::QualificationsTableComponent, qualifications: @application_choice.other_qualifications, type_label: 'Other qualification' %>

<h2 class="govuk-heading-l govuk-!-margin-top-8" id="work-history">Work history</h2>

<div data-qa="work-history">
  <%= render WorkHistoryReviewComponent, application_form: @application_choice.application_form, editable: false %>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-8" id="volunteering">School experience and volunteering</h2>

<div data-qa="volunteering">
  <%= render VolunteeringReviewComponent, application_form: @application_choice.application_form, editable: false %>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-8" id="language-skills">Language skills</h2>

<%= render ProviderInterface::LanguageSkillsComponent, application_form: @application_choice.application_form %>

<h2 class="govuk-heading-l govuk-!-margin-top-8" id="personal-statement">Personal statement</h2>

<%= render ProviderInterface::PersonalStatementComponent, application_form: @application_choice.application_form %>

<h2 class="govuk-heading-l govuk-!-margin-top-8" id="first-reference">First reference</h2>

<%= render ReferenceWithFeedbackComponent, reference: @application_choice.first_reference %>

<h2 class="govuk-heading-l govuk-!-margin-top-8" id="second-reference">Second reference</h2>

<%= render ReferenceWithFeedbackComponent, reference: @application_choice.second_reference %>
