<% content_for :browser_title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code}" %>

<% if @show_updated_recently_banner %>
  <%= govuk_notification_banner(title_text: t('notification_banner.important')) do |notification_banner| %>
    <% notification_banner.with_heading(text: "#{@application_choice.application_form.full_name} updated their application on #{@application_choice.application_form.updated_at.to_fs(:govuk_date)} at #{@application_choice.application_form.updated_at.to_fs(:govuk_time)}") %>
    <p class="govuk-body"><%= govuk_link_to 'View the timeline for their updates', provider_interface_application_choice_timeline_path(@application_choice.id) %></p>
  <% end %>
<% end %>

<%= render ProviderInterface::ApplicationChoiceHeaderComponent.new(
  application_choice: @application_choice,
  provider_can_respond: @provider_user_can_make_decisions,
  provider_can_set_up_interviews: @provider_user_can_set_up_interviews,
  course_associated_with_user_providers: @course_associated_with_user_providers,
) %>

<%= render ProviderInterface::StatusBoxComponent.new(application_choice: @application_choice, options: @status_box_options) unless @offer_present || @application_choice.rejected? %>

<%= render ProviderInterface::CandidateInvitedBannerComponent.new(application_choice: @application_choice, current_provider_user:) %>

<h2 class="govuk-heading-l govuk-!-margin-bottom">Application</h2>

<p class="govuk-body govuk-!-display-none-print govuk-!-width-two-thirds"><%= @application_choice.application_form.full_name %> will be able to edit some sections of their application. You will get a notification if they add any new information.</p>

<p class="govuk-body govuk-!-display-none-print">
  <% if application_withdrawable? %>
    <%= govuk_link_to(
      'Withdraw at candidate’s request',
      provider_interface_decline_or_withdraw_edit_path(@application_choice),
      class: 'govuk-!-margin-right-2',
    ) %>
  <% end %>
  <%= govuk_link_to(
    'Download application (PDF)',
    provider_interface_application_choice_path(@application_choice.id, format: :pdf),
    download: @application_choice.application_form.support_reference,
  ) %>
</p>

<section class="app-section govuk-!-margin-top-7">
  <h3 class="govuk-heading-m">Application details</h3>

  <div class="govuk-!-width-two-thirds">
    <%= render ProviderInterface::ApplicationSummaryComponent.new(application_choice: @application_choice) %>
  </div>
</section>

<%= render ProviderInterface::PersonalInformationComponent.new(application_form: @application_choice.application_form) %>

<%= render ProviderInterface::ContactInformationComponent.new(application_form: @application_choice.application_form) %>

<% unless HostingEnvironment.production? %>
  <div class="govuk-!-width-two-thirds">
    <%= render SandboxFeatureComponent.new(
      description: "See what this application looks like from the candidate side by signing in as #{@application_choice.application_form.full_name}:",
    ) do %>
      <%= govuk_button_to 'Sign in as this candidate', provider_interface_impersonate_candidate_path(@application_choice.application_form.candidate), class: 'govuk-!-margin-bottom-0' %>
    <% end %>
  </div>
<% end %>

<% if @provider_user_can_make_decisions && ApplicationStateChange::DECISION_PENDING_STATUSES.include?(@application_choice.status.to_sym) %>
  <%= render ProviderInterface::ChangeCourseDetailsComponent.new(
    application_choice: @application_choice,
    course_option: @application_choice.course_option,
    available_providers: @available_training_providers,
    available_courses: @available_courses,
    available_course_options: @available_course_options,
  ) %>
<% else %>
  <%= render ProviderInterface::CourseDetailsComponent.new(application_choice: @application_choice, course_option: @application_choice.course_option) %>
<% end %>

<%= render ProviderInterface::SafeguardingDeclarationComponent.new(application_choice: @application_choice, current_provider_user: current_provider_user) %>

<%= render WorkHistoryAndUnpaidExperienceComponent.new(
  application_form: @application_choice.application_form,
  application_choice: @application_choice,
) %>

<%= render ProviderInterface::QualificationsComponent.new(application_form: @application_choice.application_form, application_choice: @application_choice) %>

<%= render LanguageSkillsComponent.new(application_form: @application_choice.application_form) %>

<% if @application_choice.application_form.v23? %>
  <%= render PersonalStatementComponent.new(application_form: @application_choice.application_form) %>
<% else %>
  <%= render ProviderInterface::ChoicePersonalStatementComponent.new(application_choice: @application_choice) %>
<% end %>

<%= render ProviderInterface::TrainingWithDisabilityComponent.new(application_form: @application_choice.application_form) %>

<%= render InterviewPreferencesComponent.new(application_form: @application_choice.application_form) %>

<%= render ProviderInterface::DiversityInformationComponent.new(application_choice: @application_choice, current_provider_user: current_provider_user) %>
