<% content_for :browser_title, title_with_error_prefix(t('.page_title'), @location_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_deferred_offer_check_path(@location_form.application_choice)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @location_form, url: provider_interface_deferred_offer_location_path(@location_form.application_choice), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <% if @location_form.locations_for_select.count > 20 %>
        <%= render DfE::Autocomplete::View.new(
          form,
          attribute_name: :site_id,
          form_field: form.govuk_collection_select(
            :site_id,
            @location_form.locations_for_select,
            :id,
            :name_and_address,
            options: { prompt: '' },
            caption: { text: @location_form.application_choice.application_form.full_name, size: 'xl' },
            label: { text: t('.page_title'), size: 'xl' },
            hint: { text: t('.site_id.fieldset_hint') },
            data: { controller: 'autocomplete' },
          ),
        ) %>
      <% else %>
        <%= form.govuk_collection_radio_buttons(
              :site_id,
              @location_form.locations_for_select,
              :id,
              :name,
              :description,
              bold_labels: false,
              caption: { text: @location_form.application_choice.application_form.full_name, size: 'xl' },
              legend: { text: t('.page_title'), size: 'xl' },
              hint: { text: t('.site_id.fieldset_hint') },
            ) %>
      <% end %>

      <%= form.govuk_submit t('.submit') %>
    <% end %>
  </div>
</div>
