<%= content_for :browser_title, t('page_titles.provider.organisation_settings') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.provider.organisation_settings') %></h1>
    <% @providers.each do |provider| %>
      <% if @providers.count > 1 %>
        <h2 class="govuk-heading-m"><%= provider.name %></h2>
      <% end %>
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <%= govuk_link_to provider_interface_organisation_settings_organisation_users_path(provider) do %>
            <%= t('page_titles.provider.users') %><span class="govuk-visually-hidden"> <%= provider.name %></span>
          <% end %>
        </li>
        <% if ProviderRelationshipPermissions.all_relationships_for_providers([provider]).providers_with_current_cycle_course.any? %>
          <li>
            <%= govuk_link_to provider_interface_organisation_settings_organisation_organisation_permissions_path(provider) do %>
              <%= t('page_titles.provider.organisation_permissions') %><span class="govuk-visually-hidden"> <%= provider.name %></span>
            <% end %>
          </li>
        <% end %>
        <% if FeatureFlag.active?(:api_token_management) %>
          <li>
            <%= govuk_link_to provider_interface_organisation_settings_organisation_api_tokens_path(provider) do %>
              <%= t('page_titles.provider.api_tokens') %><span class="govuk-visually-hidden"> <%= provider.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
