<%= content_for :title, t('page_titles.monthly_statistics') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Applicants for initial teacher training courses: 2021 to 2022
    </h1>

    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Statistics up to midnight 30 November 2021</p>
    <p class="govuk-body govuk-!-font-size-16">Next update on 3 January 2022</p>

    <div class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</div>

    <ul class="govuk-list govuk-!-margin-bottom-8 app-toc">
      <li>
        <a href="#introduction" class="govuk-link app-toc__link">
          <span class="app-toc__number">1.</span>
          <span class="app-toc__content">Introduction</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-sex" class="govuk-link app-toc__link">
          <span class="app-toc__number">4.</span>
          <span class="app-toc__content">By sex</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-course-age-group" class="govuk-link app-toc__link">
          <span class="app-toc__number">6.</span>
          <span class="app-toc__content">By course age group</span>
        </a>
      </li>
      <li>
        <a href="#by-primary-specialist-subject" class="govuk-link app-toc__link">
          <span class="app-toc__number">8.</span>
          <span class="app-toc__content">By primary specialist subject</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="introduction">1. Introduction</h2>

    <p class="govuk-body">These statistics are generated from the Apply for teacher training service, which is the
      service that most people use to apply for initial teacher training courses in England in 2022 to 2023.</p>
    <p class="govuk-body">People who apply direct to a provider, or who apply to other routes such as Teach First or
      undergraduate routes are not included.</p>
    <p class="govuk-body">People can apply for up to 3 courses in their first application. If these are all
      unsuccessful, the applicant can apply again an unlimited number of times, but for only a single course at a
      time.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="applications-by-status">2. By status</h2>
    <p class='govuk-body'>Applications can be in the following states:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Draft</li>
      <li>Awaiting provider decision(submitted)</li>
      <li>Offer made</li>
      <li>Offer accepted by candidate, with some conditions pending</li>
      <li>Offer declined by candidate</li>
      <li>Recruited (once any conditions are met)</li>
      <li>Application withdrawn (this can be done before an offer is made, or after an offer is accepted)</li>
    </ul>

    <p class='govuk-body'>In the first table below, candidates are only counted once. If they have to more than one course, they’re counted under the highest row (in the table) which applies.</p>
    <p class='govuk-body'>For example, if a candidate has received one offer, declined one offer, and is awaiting a provider decision on a third course, they're counted under ‘Received an offer’.</p>
    <p class='govuk-body'>If a candidate applies again, they are counted only once in the Apply again column.</p>
    <%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Candidates by status (multiple applications counted only once)', statistics: @statistics['candidates_by_status']) %>
    <%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Applications by status', statistics: @statistics['applications_by_status']) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="applications-by-sex">4. By sex</h2>
    <p class="govuk-body">Something to explain how this is counting applications not applicants...</p>
  </div>
</div>
<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Applications by sex', statistics: @statistics['by_sex']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="applications-by-course-age-group">6. By course age group</h2>
    <p class="govuk-body">Something to explain how this is counting applications not applicants...</p>
  </div>
</div>
<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Applications by course age group', statistics: @statistics['by_course_age_group']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="by-primary-specialist-subject">8. By primary specialist subject</h2>
    <p class="govuk-body">Something to explain how this is counting applications not applicants...</p>
    <p class="govuk-body">Do the specialist subjects need some explanation ...</p>
  </div>
</div>
<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Applications by primary specialist subject', statistics: @statistics['by_primary_specialist_subject']) %>

