<%= govuk_details(summary_text: 'View invitation email') do %>
  <p class="govuk-body">Dear first name,</p>

  <p class="govuk-body">
  <%= @course.provider.name %> has reviewed your application details and would like you to submit an application to:
  </p>

  <h3><%= @course.provider.name %> - <%= @course.name_and_code %></h3>

  <%= govuk_list do %>
    <% if @course.fee_domestic.present? && @course.fee_international.present? %>
      <%= tag.li "Course fee: #{number_to_currency(@course.fee_domestic)} for UK citizens; #{number_to_currency(@course.fee_international)} for non-UK citizens", class: 'govuk-!-margin-bottom-0' %>
    <% elsif @course.fee_domestic.present? %>
      <%= tag.li "Course fee: #{number_to_currency(@course.fee_domestic)} for UK citizens", class: 'govuk-!-margin-bottom-0' %>
    <% elsif @course.fee_international.present? %>
      <%= tag.li "Course fee: #{number_to_currency(@course.fee_international)} for non-UK citizens", class: 'govuk-!-margin-bottom-0' %>
    <% end %>
    <%= tag.li "Course length: #{DisplayCourseLength.call(course_length: @course.course_length)}", class: 'govuk-!-margin-bottom-0' %>
    <%= tag.li "Age range: #{@course.age_range}", class: 'govuk-!-margin-bottom-0' %>
    <%= tag.li "Qualification: #{@course.qualifications_to_s}", class: 'govuk-!-margin-bottom-0' %>
    <%= tag.li "Start date: #{@course.start_date.to_fs(:short_month_and_year)}", class: 'govuk-!-margin-bottom-0' %>
  <% end %>

  <p class="govuk-body">
  <%= govuk_link_to('Review and respond to this invitation', '#') %>
  </p>

  <p class="govuk-body govuk-!-margin-bottom-0"><%= @course.provider.name %> included this message:</p>
  <p class="govuk-body">[Your message goes here]</p>
<% end %>
