<% content_for :title, t('page_titles.subject_knowledge') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @subject_knowledge_form, url: candidate_interface_subject_knowledge_update_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_area :subject_knowledge, label: { text: t('application_form.personal_statement.subject_knowledge.label'), tag: 'h1', size: 'xl' }, rows: 20, max_words: 400 do %>
        <% if @course_names.any? %>
          <p class="govuk-body">
            Give us detailed evidence for the knowledge and interest you bring to:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <% @course_names.each do |course_name| %>
              <li><%= course_name %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="govuk-body">Give us detailed evidence for the knowledge and interest you bring to the subject(s) you’d like to teach.</p>
        <% end %>
        <p class="govuk-body">Evidence can include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the subject of your undergraduate degree</li>
          <li>modules you studied as part of your degree</li>
          <li>postgraduate degrees (for example, a Masters or PhD)</li>
          <li>your A level subjects</li>
          <li>expertise you’ve gained at work</li>
        </ul>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
