<%= content_for :browser_title, t('page_titles.provider.organisation_permissions') %>

<% content_for :before_content do %>
  <% if FeatureFlag.active?(:account_and_org_settings_changes) %>
    <%= breadcrumbs({
      t('page_titles.provider.organisation_settings') => provider_interface_organisation_settings_path,
      t('page_titles.provider.organisation_permissions') => nil,
    }) %>
  <% else %>
    <%= breadcrumbs({
      t('page_titles.provider.organisation_settings') => provider_interface_organisation_settings_path,
      t('page_titles.provider.organisation_permissions') => provider_interface_organisation_settings_organisations_path,
      @provider.name => nil,
    }) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @provider.name %></span>
    <h1 class="govuk-heading-l"><%= t('page_titles.provider.organisation_permissions') %></h1>

    <% @provider_relationships.each do |relationship| %>
      <%= render ProviderInterface::OrganisationPermissionsReviewCardComponent.new(
        provider_user: current_provider_user,
        provider_relationship_permission: relationship,
        change_path: change_link_for_relationship(relationship),
        main_provider: @provider,
      ) %>
    <% end %>
  </div>
</div>
