<%= content_for :browser_title, t('page_titles.provider.organisation_permissions') %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    t('page_titles.provider.organisation_settings') => provider_interface_organisation_settings_path,
    t('page_titles.provider.organisation_permissions') => provider_interface_organisation_settings_organisations_path,
    @provider.name => nil,
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @provider.name %></span>
    <h1 class="govuk-heading-l"><%= t('page_titles.provider.organisation_permissions') %></h1>

    <% @provider_relationships.each do |relationship| %>
      <%= render ProviderInterface::OrganisationPermissionsReviewCardComponent.new(provider_user: current_provider_user, provider_relationship_permission: relationship, change_path: edit_provider_interface_organisation_settings_organisation_organisation_permission_path(relationship, organisation_id: @provider.id)) %>
    <% end %>
  </div>
</div>
