<% content_for :title, @course.name_and_code %>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @course.provider.name_and_code %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @course.name_and_code %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Level
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @course.level %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @course.start_date %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Exposed in Find
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @course.exposed_in_find? ? 'Yes' : 'No' %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Open on Apply
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @course.open_on_apply? ? 'Yes' : 'No' %>
    </dd>
  </div>
</dl>

<%= form_with model: @course, url: support_interface_course_path(@course), method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset :open_on_apply, legend: { size: 'm', text: 'Can candidates use Apply?' } do %>
    <%= f.govuk_radio_button :open_on_apply, true, label: { text: 'Yes, this course is available on Apply and UCAS' }, link_errors: true %>
    <%= f.govuk_radio_button :open_on_apply, false, label: { text: 'No, this course is only available on UCAS' } %>
  <% end %>

  <%= f.govuk_submit 'Save' %>
<% end %>
