<% content_for :title, @course.name_and_code %>

<h2 class='govuk-heading-m'>Course info</h2>

<%= render(SummaryCardComponent.new(rows: {
  'Name' => @course.name_and_code,
  'Provider' => @course.provider.name_and_code,
  'Accredited body' => @course.accrediting_provider&.name_and_code || 'None',
  'Level' => @course.level.humanize,
  'Recruitment cycle year' => @course.recruitment_cycle_year,
  'Last updated' => @course.updated_at.to_s(:govuk_date_and_time),
  'Study modes' => @course.study_mode.humanize,
  'Qualification' => @course.qualification,
})) %>

<h2 class='govuk-heading-m'>Settings</h2>

<%= render(SummaryCardComponent.new(rows: {
  'Exposed in Find' => @course.exposed_in_find? ? 'Yes' : 'No',
  'Open on Apply' => @course.open_on_apply? ? 'Yes' : 'No',
})) %>

<%= form_with model: @course, url: support_interface_course_path(@course), method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset :open_on_apply, legend: { size: 'm', text: 'Can candidates use Apply?' } do %>
    <%= f.govuk_radio_button :open_on_apply, true, label: { text: 'Yes, this course is available on Apply and UCAS' }, link_errors: true %>
    <%= f.govuk_radio_button :open_on_apply, false, label: { text: 'No, this course is only available on UCAS' } %>
  <% end %>

  <%= f.govuk_submit 'Save' %>
<% end %>
