<% content_for :title, title_with_error_prefix(t('page_titles.volunteering.long'), @volunteering_experience_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(:back) %>

<div class="govuk-grid-row">
  <%= form_with model: @volunteering_experience_form, url: candidate_interface_volunteering_experience_path do |f| %>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.volunteering.long') %>
      </h1>

      <p class="govuk-body">
        Tell us about any unpaid experience you have working with children or in a school. For example:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>one-off observations in school</li>
        <li>volunteering at a children’s club</li>
        <li>being a governor</li>
      </ul>

      <p class="govuk-body">
        You can also tell us about any other volunteering you’ve done, and how this supports your application to become a teacher.
      </p>

      <div class="govuk-!-margin-top-6">
        <%= f.govuk_radio_buttons_fieldset :experience, legend: { text: t('application_form.volunteering.experience.label'), size: 'm' } do %>
          <%= f.govuk_radio_button :experience, 'true', label: { text: 'Yes' }, link_errors: true %>
          <%= f.govuk_radio_button :experience, 'false', label: { text: 'No' } %>
        <% end %>

        <%= f.govuk_submit t('save_and_continue') %>
      </div>
    <% end %>
  </div>
</div>
