<% content_for :title, title_with_error_prefix(t('page_titles.which_course'), @pick_course.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_provider_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @pick_course,
      url: candidate_interface_course_choices_course_path(provider_id: params[:provider_id], course_choice_id: @course_choice_id),
      id: 'pick-course-form',
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <% if @pick_course.radio_available_courses.count > 20 %>
        <%= f.govuk_collection_select(
          :course_id,
          select_course_options(@pick_course.dropdown_available_courses),
          :id,
          :name,
          label: { text: t('page_titles.which_course'), size: 'xl', tag: 'h1' },
          options: { selected: nil },
        ) %>
      <% else %>
        <%= f.govuk_radio_buttons_fieldset :course_id, legend: { size: 'xl', text: t('page_titles.which_course'), tag: 'h1' } do %>
          <% @pick_course.radio_available_courses.each_with_index do |course, i| %>
            <% if !course.open_on_apply? %>
              <%= f.govuk_radio_button :course_id, course.id, label: { text: "#{course.name} (#{course.code}) – Only on UCAS" }, hint: { text: course.description }, link_errors: i.zero? %>
            <% elsif course.course_options.available.blank? %>
              <%= f.govuk_radio_button :course_id, course.id, label: { text: "#{course.name} (#{course.code}) – No vacancies" }, hint: { text: course.description }, link_errors: i.zero? %>
            <% else %>
              <%= f.govuk_radio_button :course_id, course.id, label: { text: "#{course.name} (#{course.code})" }, hint: { text: course.description }, link_errors: i.zero? %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
