<% content_for :title, @application_form.application_work_experiences.blank? ? t('page_titles.work_history') : t('page_titles.restructured_work_history_review') %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<%= form_with model: @section_complete_form, url: candidate_interface_restructured_work_history_complete_path(@return_to[:params]), method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <% if @application_form.application_work_experiences.blank? %>
    <h1 class="govuk-heading-xl"><%= t('page_titles.work_history') %></h1>
  <% else %>
    <h1 class="govuk-heading-xl"><%= t('page_titles.restructured_work_history_review') %></h1>
  <% end %>

  <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>

  <% if @application_form.can_complete? && @section_policy.can_edit? %>
    <div class="govuk-!-width-two-thirds">
      <p class="govuk-body">Enter all the jobs you have had since you left school.</p>
      <p class="govuk-body">Explain any gaps in your work history. For example, raising children, unemployment or illness.</p>
    </div>

    <% if @application_form.application_work_experiences.blank? %>
      <%= govuk_button_link_to 'Add a job', candidate_interface_new_restructured_work_history_path %>
    <% else %>
      <%= govuk_button_link_to candidate_interface_new_restructured_work_history_path, secondary: true do %>
        <%= @application_form.application_work_experiences.any? ? t('application_form.restructured_work_history.another.button') : t('application_form.restructured_work_history.add.button') %>
      <% end %>
    <% end %>
  <% end %>

  <% unless @application_form.can_complete? && @application_form.application_work_experiences.blank? %>
    <%= render RestructuredWorkHistory::ReviewComponent.new(application_form: @application_form, editable: @section_policy.can_edit?, deletable: @section_policy.can_delete?) %>

    <%= render(CandidateInterface::CompleteSectionComponent.new(
      section_policy: @section_policy,
      form: f,
    )) %>
  <% end %>

<% end %>
