<%= content_for :title, t('page_titles.provider.export_hesa_data') %>

<%= breadcrumbs({
  t('page_titles.provider.reports') => provider_interface_reports_path,
  t('page_titles.provider.export_hesa_data') => nil,
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.provider.export_hesa_data') %>
    </h1>
    <p class="govuk-body">
      The data will include all candidates who have accepted an offer since <%= CycleTimetable.apply_opens.to_s(:govuk_date) %>.
    </p>
    <p class="govuk-body">
      Sex, disability and ethnicity information will be marked as confidential if you do not have permission to view it.
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: provider_interface_hesa_export_path(format: :csv), method: :get do %>
      <button class="govuk-button" data-module="govuk-button">
        Export data for HESA (CSV)
      </button>
    <% end %>
  </div>
</div>
