<%= content_for :title, t('page_titles.provider.export_hesa_data') %>
<%= content_for :before_content, breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path,
                                             t('page_titles.provider.export_hesa_data') => nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.provider.export_hesa_data') %>
    </h1>
    <p class="govuk-body">
      <%= t('provider_interface.reports.hesa.diversity_text') %>
    </p>

    <h2 class="govuk-heading-m">
      <%= RecruitmentCycle.cycle_name %> (current)
    </h2>
    <p class="govuk-body">
      <%= t('provider_interface.reports.hesa.info', date: CycleTimetable.apply_opens.to_s(:govuk_date)) %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to t('provider_interface.reports.hesa.download_link', cycle_name: RecruitmentCycle.cycle_name),
                         provider_interface_reports_hesa_export_path(RecruitmentCycle.current_year, format: :csv) %>
  </p>

    <h2 class="govuk-heading-m">
      <%= RecruitmentCycle.cycle_name(RecruitmentCycle.previous_year) %>
    </h2>
    <p class="govuk-body">
      <%= t('provider_interface.reports.hesa.info', date: CycleTimetable.apply_opens(RecruitmentCycle.previous_year).to_s(:govuk_date)) %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to t('provider_interface.reports.hesa.download_link', cycle_name: RecruitmentCycle.cycle_name(RecruitmentCycle.previous_year)),
                        provider_interface_reports_hesa_export_path(RecruitmentCycle.previous_year, format: :csv) %>
    </p>
  </div>
</div>
