<%= content_for :title, t('page_titles.provider.export_hesa_data') %>
<%= content_for :before_content, breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path,
                                             t('page_titles.provider.export_hesa_data') => nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.provider.export_hesa_data') %>
    </h1>
    <p class="govuk-body">
      <%= t('provider_interface.reports.hesa.diversity_text') %>
    </p>

    <h2 class="govuk-heading-m">
      <%= @current_timetable.cycle_range_name_with_current_indicator %>
    </h2>
    <p class="govuk-body">
      <%= t('provider_interface.reports.hesa.current_cycle.info', date: @current_timetable.apply_opens_at.to_fs(:govuk_date)) %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to t('provider_interface.reports.hesa.download_link', cycle_name: @current_timetable.cycle_range_name),
                         provider_interface_reports_hesa_export_path(@current_timetable.recruitment_cycle_year, format: :csv) %>
  </p>

    <h2 class="govuk-heading-m">
      <%= @previous_timetable.cycle_range_name %>
    </h2>
    <p class="govuk-body">
      <%= t('provider_interface.reports.hesa.previous_cycle.info', start_date: @previous_timetable.apply_opens_at.to_fs(:govuk_date), end_date: @previous_timetable.decline_by_default_at.to_fs(:govuk_date)) %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to t('provider_interface.reports.hesa.download_link', cycle_name: @previous_timetable.cycle_range_name),
                        provider_interface_reports_hesa_export_path(@previous_timetable.recruitment_cycle_year, format: :csv) %>
    </p>
  </div>
</div>
