<% content_for :title, t('page_titles.contact_information') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<%= form_with model: @section_complete_form, url: candidate_interface_contact_information_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <%= t('page_titles.contact_information') %>
  </h1>

  <%= render CandidateInterface::ContactDetailsReviewComponent.new(application_form: @application_form) %>
  <%= render CandidateInterface::CompleteSectionComponent.new(form: f) %>
  <%= f.govuk_submit t('continue') %>
<% end %>
