<% content_for(
  :title,
  title_with_error_prefix(t('page_titles.contact_information_review'), @contact_details_form&.errors&.any? || @section_complete_form.errors.any?),
) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_contact_information_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <%= t('page_titles.contact_information_review') %>
  </h1>

  <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>

  <%= render CandidateInterface::ContactDetailsReviewComponent.new(editable: @section_policy.can_edit?, application_form: @application_form) %>

  <% if @can_complete %>
    <%= render CandidateInterface::CompleteSectionComponent.new(section_policy: @section_policy, form: f) %>
  <% end %>
<% end %>
