<%= content_for :title, 'Recruitment cycles' %>

<%= render 'support_interface/docs/docs_navigation' %>

<% unless HostingEnvironment.production? %>
  <h2 class='govuk-heading-m'>This environment is currently on the ‘<%= EndOfCycleTimetable.current_cycle_schedule.to_s.humanize %>’ schedule </h2>

  <% EndOfCycleTimetable.schedules.each do |cycle_schedule_name, _| %>
    <% if EndOfCycleTimetable.current_cycle_schedule != cycle_schedule_name %>
      <%= button_to "Switch to the ‘#{cycle_schedule_name.to_s.humanize}’ schedule", support_interface_switch_cycle_schedule_path(cycle_schedule_name: cycle_schedule_name), class: 'govuk-button' %>
    <% end %>
  <% end %>
<% end %>

<h2 class='govuk-heading-m'>Cycle years</h2>

<%= render SummaryListComponent.new(rows: {
  'Previous cycle year' => RecruitmentCycle.previous_year,
  'Current cycle year' => RecruitmentCycle.current_year,
  'Next cycle year' => EndOfCycleTimetable.next_cycle_year,
  'Years visible to providers' => RecruitmentCycle.years_visible_to_providers.to_sentence,
}) %>

<h2 class='govuk-heading-m'>Deadlines</h2>

<p class='govuk-body'>
  (Today is <%= Date.today.to_s(:govuk_date) %>)
</p>

<%= render SummaryListComponent.new(rows: {
  'Appy 1 deadline' => EndOfCycleTimetable.apply_1_deadline.to_s(:govuk_date),
  'Stop applications to unavailable course options' => EndOfCycleTimetable.stop_applications_to_unavailable_course_options.to_s(:govuk_date),
  'Apply 2 deadline' => EndOfCycleTimetable.apply_2_deadline.to_s(:govuk_date),
  'Find closes on' => EndOfCycleTimetable.find_closes.to_s(:govuk_date),
  'Find reopens on' => EndOfCycleTimetable.find_reopens.to_s(:govuk_date),
  'Apply reopens on' => EndOfCycleTimetable.apply_reopens.to_s(:govuk_date),
}) %>

<h2 class='govuk-heading-m'>Flags</h2>

<%= render SummaryListComponent.new(rows: {
  'Show Apply 1 deadline banner?' => boolean_to_word(EndOfCycleTimetable.show_apply_1_deadline_banner?),
  'Show Apply 2 deadline banner?' => boolean_to_word(EndOfCycleTimetable.show_apply_2_deadline_banner?),
  'Are we between cycles for Apply 1?' => boolean_to_word(EndOfCycleTimetable.between_cycles_apply_1?),
  'Are we between cycles for Apply 2?' => boolean_to_word(EndOfCycleTimetable.between_cycles_apply_2?),
  'Stop applications to unavailable course options?' => boolean_to_word(EndOfCycleTimetable.stop_applications_to_unavailable_course_options?),
  'Is find down?' => boolean_to_word(EndOfCycleTimetable.find_down?),
}) %>
