<% content_for :title, t('page_titles.volunteering.short') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_complete_volunteering_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= t('page_titles.volunteering.short') %></h1>
  <% if @application_form.application_volunteering_experiences.any? %>
    <%= govuk_link_to(t('application_form.volunteering.another.button'), candidate_interface_new_volunteering_role_path, button: true, class: 'govuk-button--secondary') %>
  <% end %>

  <%= render CandidateInterface::VolunteeringReviewComponent.new(application_form: @application_form, show_experience_advice: true) %>
  <%= render(CandidateInterface::CompleteSectionComponent.new(form: f)) %>

  <%= f.govuk_submit t('continue') %>
<% end %>
