<% content_for :title, t('page_titles.references_candidate_name') %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference_candidate_name_form,
      url: candidate_interface_decoupled_references_create_candidate_name_path(@reference.id),
    ) do |f| %>
      <h1 class="govuk-heading-xl">
        <%= t('page_titles.references_candidate_name') %>
      </h1>

      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :first_name, label: { text: 'First name', size: 'm' }, hint_text: 'Or given names' %>

      <%= f.govuk_text_field :last_name, label: { text: 'Last name', size: 'm' }, hint_text: 'Or family name' %>

      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
