<% content_for :title, title_with_error_prefix(t('page_titles.training_with_a_disability'), @training_with_a_disability_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @training_with_a_disability_form, url: candidate_interface_training_with_a_disability_update_path do |f| %>
      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <%= t('page_titles.training_with_a_disability') %>
          </h1>
        </legend>

        <p class="govuk-body">It’s a personal choice if you want to inform your training provider of your disability.</p>
        <p class="govuk-body">The advantage of disclosure is that it enables support and reasonable adjustments to be put in place. In addition, specialist equipment, extra funding and support, can help you achieve your ambition of becoming a teacher.</p>
        <p class="govuk-body"><%= govuk_link_to 'The Equality Act 2010', 'https://www.gov.uk/guidance/equality-act-2010-guidance' %> and Special Educational Needs and Disability Act 2001, require teacher training providers to ensure they are not discriminating against applicants with disabilities or special educational needs (SEN).</p>

        <%= f.govuk_radio_buttons_fieldset :disclose_disability, legend: { size: 'm', text: t('application_form.training_with_a_disability.disclose_disability.label') } do %>
          <%= f.govuk_radio_button :disclose_disability, 'yes', label: { text: t('application_form.training_with_a_disability.disclose_disability.yes') } do %>
            <%= f.govuk_text_area :disability_disclosure, rows: 24, label: { text: t('application_form.training_with_a_disability.disability_disclosure.label') }, max_words: 400 %>
          <% end %>

          <%= f.govuk_radio_button :disclose_disability, 'no', label: { text: t('application_form.training_with_a_disability.disclose_disability.no') } %>

        <% end %>

        <%= f.govuk_submit t('application_form.training_with_a_disability.complete_form_button') %>
      </fieldset>
    <% end %>
  </div>
</div>
