<% content_for :title, title_with_error_prefix(t('page_titles.training_with_a_disability'), @training_with_a_disability_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @training_with_a_disability_form, url: candidate_interface_training_with_a_disability_update_path do |f| %>
      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <%= t('page_titles.training_with_a_disability') %>
          </h1>
        </legend>

        <p class="govuk-body">Training providers might be able to support you to attend the interview or do the training. For example, you might benefit from support if you’re disabled, have a health condition or educational needs.</p>
        <p class="govuk-body">We recommend contacting your training provider before applying to discuss the support they can give you. Examples of support could be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>organising assistive equipment, such as a hearing loop or an adapted keyboard</li>
          <li>making sure classrooms are wheelchair accessible</li>
          <li>providing additional support, such as a mentor or classroom assistance</li>
        </ul>

        <%= f.govuk_radio_buttons_fieldset :disclose_disability, legend: { size: 'm', text: t('application_form.training_with_a_disability.disclose_disability.label') } do %>
          <%= f.govuk_radio_button :disclose_disability, 'yes', label: { text: t('application_form.training_with_a_disability.disclose_disability.yes') } do %>
            <%= f.govuk_text_area :disability_disclosure, rows: 8, label: { text: t('application_form.training_with_a_disability.disability_disclosure.label'), size: 's' }, hint_text: t('application_form.training_with_a_disability.disability_disclosure.hint'), max_words: 400 %>
          <% end %>

          <%= f.govuk_radio_button :disclose_disability, 'no', label: { text: t('application_form.training_with_a_disability.disclose_disability.no') } %>

        <% end %>

        <%= f.govuk_submit t('application_form.training_with_a_disability.complete_form_button') %>
      </fieldset>
    <% end %>
  </div>
</div>
