<% content_for :title, title_with_error_prefix(t('page_titles.training_with_a_disability'), @training_with_a_disability_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @training_with_a_disability_form, url: candidate_interface_training_with_a_disability_update_path do |f| %>
      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <%= t('page_titles.training_with_a_disability') %>
          </h1>
        </legend>

        <p class="govuk-body">You might benefit from extra support if you’re disabled, have a mental health condition or educational needs.</p>
        <p class="govuk-body">We can let your training provider know what support you need, so you can attend an interview or do the training.</p>
        <p class="govuk-body">Examples of extra support could include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>organising equipment like a hearing loop or an adapted keyboard</li>
          <li>putting you in touch with support staff if you have a mental health condition</li>
          <li>making sure classrooms are wheelchair accessible</li>
        </ul>
        <p class="govuk-body">You may also be able to get support from <%= govuk_link_to 'Access to Work', 'https://www.gov.uk/access-to-work' %> to help with workplace adjustments.</p>
        <p class="govuk-heading-m">It's against the law for training providers to <%= govuk_link_to 'discriminate against you', 'https://getintoteaching.education.gov.uk/train-to-teach-with-a-disability' %>.</p>
        <p class="govuk-body">They must not:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>ask disability or health questions if they’re not relevant to your ability to become a teacher</li>
          <li>reject your application because you’re disabled</li>
        </ul>

        <%= f.govuk_radio_buttons_fieldset :disclose_disability, legend: { size: 'm', text: t('application_form.training_with_a_disability.disclose_disability.label') } do %>
          <%= f.govuk_radio_button :disclose_disability, 'yes', label: { text: t('application_form.training_with_a_disability.disclose_disability.yes') } do %>
            <%= f.govuk_text_area :disability_disclosure, rows: 8, label: { text: t('application_form.training_with_a_disability.disability_disclosure.label'), size: 's' }, max_words: 400 %>
          <% end %>

          <%= f.govuk_radio_button :disclose_disability, 'no', label: { text: t('application_form.training_with_a_disability.disclose_disability.no') } %>

        <% end %>

        <%= f.govuk_submit t('application_form.training_with_a_disability.complete_form_button') %>
      </fieldset>
    <% end %>
  </div>
</div>
