<% content_for :browser_title, title_with_error_prefix(t('.title'), @wizard.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(offer_path_for(@application_choice, @wizard.previous_step, :new, back: true)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_application_choice_offer_ske_length_path(@application_choice), method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :ske_length, legend: { text: 'How long must their SKE course be?', size: 'l' }, caption: { text: t('caption.make_offer', name: @application_choice.application_form.full_name), size: 'l' } do %>
        <% ProviderInterface::OfferWizard::SKE_LENGTH.each_with_index do |value, index| %>
          <%= f.govuk_radio_button :ske_length, value, label: { text: value }, link_errors: index.zero? %>
        <% end %>
      <% end %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
