<%= f.govuk_check_boxes_fieldset :provider, legend: { text: 'Provider' } do %>
  <div class="app-checkboxes-scroll" %>
    <% f.object.available_providers.each do |provider| %>
      <%= f.govuk_check_box :provider_ids, provider.id, label: { text: provider.name_and_code } do %>
        <%= f.fields_for :permissions, f.object.permissions  do |pm| %>
          <%= pm.govuk_check_boxes_fieldset :permissions, legend: { text: 'Choose permissions', size: 's' } do %>
            <%= pm.govuk_check_box :manage_users, provider.id, label: { text: 'Manage users' } %>
					<% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
