<% content_for :browser_title, title_with_error_prefix("Update providers and permissions - #{@form.provider_user.display_name}", @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_provider_user_path(@form.provider_user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: support_interface_provider_user_path(@form.provider_user) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :provider, caption: { text: @form.provider_user.display_name, size: 'l' }, legend: { text: 'Update providers and permissions', tag: 'h1', size: 'l' }, classes: 'govuk-!-margin-top-6' do %>
        <%= render 'provider_options', f: f %>
      <% end %>

      <%= f.govuk_submit 'Update permissions' %>
    <% end %>

    <h1 class='govuk-heading-l' id='update-email-notifications'>Update email notifications</h1>

    <% if FeatureFlag.active?(:configurable_provider_notifications) %>
      <%= render ProviderUserNotificationPreferencesComponent.new(@form.provider_user.notification_preferences, form_path: support_interface_provider_user_update_notifications_path(@form.provider_user)) %>
    <% else %>
      <%= form_with model: @form, url: support_interface_provider_user_toggle_notifications_path(@form.provider_user) do |f| %>
        <%= render SummaryListComponent.new(rows: {
          'Send notifications?' => boolean_to_word(@form.provider_user.send_notifications?),
        }) %>

        <% if @form.provider_user.send_notifications? %>
          <%= f.govuk_submit 'Disable notifications' %>
        <% else %>
          <%= f.govuk_submit 'Enable notifications' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
