  <% content_for :browser_title, "Edit provider user #{@form.provider_user.full_name}" %>

<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Users', support_interface_users_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= link_to 'Provider users', support_interface_provider_users_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Edit provider user
      </li>
    </ol>
  </div>

  <h1 class='govuk-heading-xl'>
    Provider user <%= @form.provider_user.full_name %> - Edit
  </h1>

  <%= render SubNavigationComponent.new(items: [
    { name: 'Details', url: support_interface_provider_user_path(@form.provider_user), current: true },
    { name: 'Audit trail', url: support_interface_provider_user_audits_path(@form.provider_user) },
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: support_interface_provider_user_path(@form.provider_user) do |f| %>
      <%= f.govuk_error_summary %>

      <%= render SummaryListComponent.new(rows: {
        'First name' => @form.provider_user.first_name,
        'Last name' => @form.provider_user.last_name,
        'Email address' => @form.provider_user.email_address,
        'DfE Sign-in UID' => @form.provider_user.dfe_sign_in_uid,
        'Account created at' => @form.provider_user.created_at.to_s(:govuk_date_and_time),
        'Last sign in at' => @form.provider_user.last_signed_in_at&.to_s(:govuk_date_and_time) || 'Not signed in yet',
      }) %>

      <%= render 'provider_options', f: f %>

      <%= f.govuk_submit 'Update user' %>
    <% end %>
  </div>
</div>
