<% content_for :browser_title, title_with_error_prefix('Add provider user', @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_provider_users_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: support_interface_provider_users_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class='govuk-heading-l'>Add provider user</h1>

      <%= f.govuk_text_field :email_address, label: { text: 'Email address', size: 'm' } %>
      <%= f.govuk_text_field :first_name, label: { text: 'First name', size: 'm' } %>
      <%= f.govuk_text_field :last_name, label: { text: 'Last name', size: 'm' } %>

      <%= f.govuk_check_boxes_fieldset :provider, legend: { text: 'Providers and permissions' } do %>
        <%= render 'provider_options', f: f %>
      <% end %>

      <%= f.govuk_submit 'Add provider user' %>
    <% end %>
  </div>
</div>
