    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <%= t('gcse_edit_type.page_titles.equivalency', subject: capitalize_english(@subject)) %>
        </h1>

        <p class="govuk-body">You can still apply for teacher training if you do not have a qualification which demonstrates this.<p>

        <p class="govuk-body">Some providers may let you sit an equivalency test to show you have the required skills.</p>

        <% if adviser_sign_up.available? %>
          <p class="govuk-body">For advice, contact your chosen training provider or <%= govuk_link_to_with_utm_params('get a teacher training adviser', new_candidate_interface_adviser_sign_up_path) %>. An adviser can help you understand the qualifications you need and how to get them.</p>
        <% elsif adviser_sign_up.waiting_to_be_assigned_to_an_adviser? || adviser_sign_up.already_assigned_to_an_adviser? %>
          <p class="govuk-body">For advice, contact your chosen training provider or speak to your teacher training adviser. Your adviser can help you understand the qualifications you need and how to get them.</p>
        <% else %>
          <p class="govuk-body">For advice, contact your chosen training provider or a <%= govuk_link_to_with_utm_params('teacher training adviser', I18n.t('get_into_teaching.url_get_an_adviser_start'), utm_campaign(params)) %>. An adviser can help you understand the qualifications you need and how to get them.</p>
        <% end %>

        <%= f.govuk_text_area :missing_explanation, label: { text: "If you have other evidence of having #{capitalize_english(@subject)} skills at the required standard, give details (optional)", size: 'm' }, rows: 12, max_words: 200, threshold: 90 do %>
        <% end %>

        <%= f.govuk_submit t('save_and_continue') %>
      </div>
    </div>
