<%= f.govuk_error_summary %>

<% if FeatureFlag.active?('international_personal_details') %>
  <%= f.govuk_check_boxes_fieldset :nationalities, legend: { size: 'xl', text:  t('page_titles.nationalities') } do %>
    <%= f.govuk_check_box 'british', 'British', multiple: false, label: { text: 'British' } %>
    <%= f.govuk_check_box 'irish', 'Irish', multiple: false, label: { text: 'Irish' } %>
    <%= f.govuk_check_box 'other', 'other', multiple: false, label: { text: 'Other' } do %>
      <%= f.govuk_collection_select :other_nationality1, select_nationality_options, :id, :name, label: { text: t('application_form.personal_details.nationality.label') } %>
      <%= f.govuk_collection_select :other_nationality2, select_nationality_options, :id, :name, label: { text: t('application_form.personal_details.nationality.label') } %>
      <%= f.govuk_collection_select :other_nationality3, select_nationality_options, :id, :name, label: { text: t('application_form.personal_details.nationality.label') } %>
    <% end %>
  <% end %>
<% else %>

  <h1 class="govuk-heading-xl">
    <%= t('page_titles.nationalities') %>
  </h1>

  <%= f.govuk_collection_select :first_nationality, select_nationality_options, :id, :name, label: { text: t('application_form.personal_details.nationality.label'), size: 'm' } %>

    <details class="govuk-details" data-module="govuk-details" <%= 'open' if @nationalities_form.second_nationality.present? %>>
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Add another nationality
      </span>
    </summary>
    <div class="govuk-details__text">
      <%= f.govuk_collection_select :second_nationality, select_nationality_options, :id, :name, label: { text: t('application_form.personal_details.second_nationality.label') } %>
    </div>
  </details>
<% end %>

<%= f.govuk_submit 'Save and continue' %>
