<h1 class="govuk-heading-xl"><%= @actor.capitalize %> view</h1>

<% if @applications.present? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Applications</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @applications.each do |application| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Application created on <%= application.created_at.strftime("%e %b %Y") %> at <%= application.created_at.strftime("%H:%M") %></td>
          <td class="govuk-table__cell"><%= application.state.gsub("_", " ") %></td>
          <td class="govuk-table__cell">
            <% if application.actions_for(@actor).present? %>
              <%= form_with url: tt_application_update_path(id: application.id) do |form| %>
                <% selects = application.actions_for(@actor).collect {|a| [a.to_s.gsub("_", " "), a]} %>
                <%= form.select :application_event, options_for_select(selects), {}, class: 'govuk-select govuk-!-width-two-thirds' %>
                <%= hidden_field_tag 'actor', @actor %>
                <%= form.submit class: 'govuk-button govuk-button--secondary govuk-!-width-one-sixth govuk-!-margin-0' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @actor == 'candidate' %>
  <%= form_with url: create_tt_application_path do |form| %>
    <%= form.submit 'Start new application', class: 'govuk-button' %>
  <% end %>
<% end %>
