<%= render "shared/form_errors_summary", record: @contact_details %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details, builder: GOVUKDesignSystemFormBuilder::FormBuilder, action: action do |f| %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Contact Details
        </h1>
      </legend>

      <%= f.govuk_text_field :phone_number, label: { text: t('application_form.contact_details_section.phone_number.label')}, width: 10, type: :tel %>
      <%= f.govuk_text_field :email_address, label: { text: t('application_form.contact_details_section.email_address.label')}, type: :email %>
      <%= f.govuk_text_area :address, label: { text: t('application_form.contact_details_section.address.label')} %>

      <%= f.submit t('application_form.save_and_continue'), class: 'govuk-button' %>
  <% end %>
  </div>
</div>
