<% if show_missing_banner? %>
  <%= render(CandidateInterface::IncompleteSectionComponent.new(section: :work_experience, section_path: CandidateInterface::ApplicationFormPresenter.new(@application_form).work_experience_path, error: @missing_error)) %>
<% else %>
  <section class="app-summary-card govuk-!-margin-bottom-6">
    <div class="app-summary-card__body">
      <section>
        <% @work_history_with_breaks.each do |entry| %>
          <% if entry.is_a?(ApplicationWorkExperience) %>
            <%= render(RestructuredWorkHistory::JobComponent.new(work_experience: entry, editable: @editable)) %>
          <% elsif @editable && entry.is_a?(RestructuredWorkHistoryWithBreaks::BreakPlaceholder) %>
            <%= render(RestructuredWorkHistory::GapComponent.new(break_period: entry)) %>
          <% elsif entry.is_a?(ApplicationWorkHistoryBreak) %>
            <%= render(RestructuredWorkHistory::WorkBreakComponent.new(work_break: entry, editable: @editable)) %>
          <% end %>

          <% if @work_history_with_breaks.last != entry %>
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m ">
          <% end %>
        <% end %>
      </section>

      <% if !show_missing_banner? && @application_form.application_work_experiences.empty? && @application_form.application_work_history_breaks.empty? %>
        <div class="app-summary-card__body govuk-!-padding-0">
          <%= render SummaryListComponent.new(rows: no_work_experience_rows) %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
