<% content_for :browser_title, t('.title') %>
<%= render ServiceInformationBanner.new(namespace: :support) %>

<h1 class="govuk-heading-l"><%= t('.title') %></h1>
<p class="govuk-body"><%= t('.candidate_information_agreement') %></p>
<p class="govuk-body"><%= t('.review_candidates') %></p>

<%= render PaginatedFilterComponent.new(filter: @filter, collection: @application_forms) do %>
  <% if @application_forms.present? %>
    <h2 class="govuk-heading-m"><%= t('.candidates_found', count: @pagy.count) %></h2>
    <%= govuk_table do |table| %>
      <%= table.with_head do |head| %>
        <%= head.with_row do |row| %>
          <%= row.with_cell(text: t('.name')) %>
          <% if @filter.applied_location_search? %>
            <%= row.with_cell(text: t('.distance_from', origin: @filter.applied_filters[:original_location]), width: 'govuk-!-width-one-half') %>
          <% end %>
        <% end %>
      <% end %>

      <%= table.with_body do |body| %>
        <% @application_forms.each do |application_form| %>
          <%= body.with_row do |row| %>
            <%= row.with_cell do %>
            <%= govuk_link_to application_form.redacted_full_name, support_interface_application_form_path(application_form) %>
            <span class="govuk-body govuk-hint">(<%= application_form.candidate_id %>)</span>
              <% if application_form.application_qualifications.degrees.present? %>
                <% application_form.application_qualifications.degrees.order(award_year: :desc).each do |degree| %>
                  <% decorated_degree = ApplicationQualificationDecorator.new(degree) %>
                  <p class="govuk-body app-qualification__value--caption govuk-!-margin-bottom-1">
                    <%= decorated_degree.formatted_degree_and_grade %>
                  </p>
                <% end %>
              <% else %>
                <p class="govuk-body app-qualification__value--caption govuk-!-margin-bottom-1"><%= t('.no_degree') %></p>
              <% end %>
            <% end %>
            <%= row.with_cell do %>
              <% if @filter.applied_location_search? %>
                <% if application_form.site_distance == -1 && application_form.candidate.preference_opt_in_with_no_location_preferences? %>
                  <%= t('.no_preferences') %>
                <% else %>
                  <%= t('.miles', count: application_form.site_distance.round(1)) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= govuk_pagination(pagy: @pagy) %>
  <% else %>
    <p class="govuk-body"><%= t('.no_candidates') %></p>
  <% end %>
<% end %>
