<%= content_for :title, page_title(:accessibility) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('page_titles.accessibility') %></h1>

    <h2 class="govuk-heading-m">
      How accessible this website is
    </h2>
    <p class="govuk-body">
      Apply for teacher training is a new service being developed by the
      Department for Education. It allows people to apply to some teacher
      training courses in England.
    </p>
    <p class="govuk-body">
      The service is being trialled with a limited number of users.
    </p>
    <p class="govuk-body">
      However, it is designed to be accessible for as many people as possible.
      We have built it in line with the <%= govuk_link_to 'accessible design principles used across GOV.UK', 'https://design-system.service.gov.uk/accessibility/', target: '_blank' %>.
    </p>
    <p class="govuk-body">
      During development we tested the prototype with users with accessibility
      needs, for instance, users who require screen readers.
    </p>
    <p class="govuk-body">
      We are planning to improve the accessibility of this service as we test
      and develop it.
    </p>

    <h2 class="govuk-heading-m">
      What to do if you cannot access parts of this website
    </h2>
    <p class="govuk-body">
      If you need information on this website in a different format, for example
      accessible PDF, large print, easy read, audio recording or braille, please
      email us on <%= bat_contact_mail_to %>.
    </p>
    <p class="govuk-body">
      We’ll consider your request and respond to you within 5 working days.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to 'AbilityNet', 'https://mcmw.abilitynet.org.uk/', target: '_blank' %>
      has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-m">
      Reporting accessibility problems with this website
    </h2>
    <p class="govuk-body">
      If you have any problems accessing the service or want to give us
      feedback, please email us on <%= bat_contact_mail_to %>.
    </p>

    <h2 class="govuk-heading-m">
      Enforcement procedure
    </h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for
      enforcing the Public Sector Bodies (Websites and Mobile Applications)
      (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
    </p>
    <p class="govuk-body">
      If you’re not happy with how we respond to your complaint, please
      <%= govuk_link_to 'contact the quality Advisory and Support Service (EASS)', 'https://www.equalityadvisoryservice.com/', target: '_blank' %>.
    </p>

    <h2 class="govuk-heading-m">
      Technical information about this website’s accessibility
    </h2>
    <p class="govuk-body">
      The Department for Education is committed to making its website services
      accessible, in accordance with the Public Sector Bodies (Websites and
      Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <p class="govuk-body">
      This website is partially compliant with the
      <%= govuk_link_to 'Web Content Accessibility Guidelines version 2.1', 'https://www.w3.org/TR/WCAG21/', target: '_blank' %>
      AA standard, due to the non-compliances listed below.
    </p>

    <h2 class="govuk-heading-m">
      Non accessible content
    </h2>
    <p class="govuk-body">
      We will list any content that isn’t complaint with the Public Sector
      Bodies (Websites and Mobile Applications) (No. 2) Accessibility
      Regulations 2018 as soon as possible.
    </p>

    <h2 class="govuk-heading-m">
      What we’re doing to improve accessibility
    </h2>
    <p class="govuk-body">
      We will carry out a full accessibility audit during or after the trial of
      this service.
    </p>

    <p class="govuk-body">This statement was prepared on 21 October 2019.</p>
  </div>
</div>
