<% content_for :title, 'Service performance dashboard' %>

<h2 class="govuk-heading-m govuk-!-font-size-27">Candidates</h2>

<div class="app-card app-card--blue govuk-!-margin-bottom-4">
  <span class="app-card__count" id="total-sign-ups"><%= @statistics[:total_candidate_count] %></span>
  <span>sign ups (excluding test users)</span>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics[:candidates_signed_up_but_not_signed_in] %></span>
      <span><%= @statistics[:candidates_signed_up_but_not_signed_in] == 1 ? 'hasn’t' : 'haven’t' %> signed in</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics[:candidates_signed_in_but_not_entered_data] %></span>
      <span><%= @statistics[:candidates_signed_in_but_not_entered_data] == 1 ? 'hasn’t' : 'haven’t' %> started</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics[:candidates_with_unsubmitted_forms] %></span>
      <span>in progress</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card app-card--green">
      <span class="app-card__count"><%= @statistics[:candidates_with_submitted_forms] %></span>
      <span>submitted</span>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption">Candidate breakdown</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @statistics.candidate_status_counts.each do |row| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><%= t("candidate_flow_application_states.#{row['status']}.name") %></th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= row['count'] %></td>
            <td class="govuk-table__cell"><%= t("candidate_flow_application_states.#{row['status']}.description") %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
