<% content_for :title, 'Dashboards' %>

<% content_for :navigation do %>
  <%= render 'support_interface/performance/performance_navigation' %>
<% end %>

<ul class="govuk-list govuk-list--bullet">
  <li><%= govuk_link_to 'Service performance', integrations_performance_path %> (public)</li>
  <li><%= govuk_link_to 'Course stats', support_interface_course_stats_path %></li>
  <li><%= govuk_link_to 'Course options without vacancies', support_interface_course_options_path %></li>
  <li><%= govuk_link_to 'Applications with unavailable choices', support_interface_unavailable_choices_path %></li>
</ul>
