<% content_for :title, 'Service performance dashboard' %>

<div class="app-card app-card--blue govuk-!-margin-bottom-4">
  <span class="app-card__count" id="total-sign-ups"><%= @statistics[:total_non_dfe_sign_ups] %></span>
  <span>sign ups (excluding DfE users)</span>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics[:candidates_signed_up_but_not_signed_in] %></span>
      <span><%= @statistics[:candidates_signed_up_but_not_signed_in] == 1 ? 'hasn’t' : 'haven’t' %> signed in</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics[:candidates_signed_in_but_not_entered_data] %></span>
      <span><%= @statistics[:candidates_signed_in_but_not_entered_data] == 1 ? 'hasn’t' : 'haven’t' %> started</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics[:candidates_with_unsubmitted_forms] %></span>
      <span>in progress</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card app-card--green">
      <span class="app-card__count"><%= @statistics[:candidates_with_submitted_forms] %></span>
      <span>submitted</span>
    </div>
  </div>
</div>
