<% content_for :title, 'Service performance' %>

<h2 class='govuk-heading-l'>Dashboards</h2>

<ul class='govuk-body'>
  <li><%= govuk_link_to 'Performance dashboard', integrations_performance_path %> (public)</li>
  <li><%= govuk_link_to 'Course options without vacancies', support_interface_course_options_path %></li>
  <li><%= govuk_link_to 'Applications that require action', support_interface_action_required_path %></li>
  <li><%= govuk_link_to 'Validation errors', support_interface_validation_errors_path %></li>
</ul>

<h2 class='govuk-heading-l'>Downloads for analysis</h2>

<h3 class='govuk-heading-m'>Application timings</h3>

<p class='govuk-body'>
  The application timings provides data on when an application
  form attribute was last updated by the candidate.
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Download application timings (CSV)', support_interface_application_timings_path %>
</p>

<h3 class='govuk-heading-m'>Submitted application choices</h3>

<p class='govuk-body'>
  The submitted application choices export provides data about which courses candidates applied to,
  as well as info about offers and candidate decisions.
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Download submitted application choices (CSV)', support_interface_submitted_application_choices_path %>
</p>

<h3 class='govuk-heading-m'>Providers</h3>

<p class='govuk-body'>
  The list of providers that are being synced from the Find service, along
  with when they signed the data sharing agreement.
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Download providers (CSV)', support_interface_providers_export_path %>
</p>

<h3 class='govuk-heading-m'>Referee survey</h3>

<p class='govuk-body'>
  This provides the compiled results of all the referee surveys
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Download referee survey results (CSV)', support_interface_referee_survey_path %>
</p>

<h3 class='govuk-heading-m'>Candidate survey</h3>

<p class='govuk-body'>
  This provides the compiled results of all the candidate satisfaction surveys
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Download candidate survey results (CSV)', support_interface_candidate_survey_path %>
</p>

<%- if FeatureFlag.active?('download_dataset1_from_support_page') %>
  <h3 class='govuk-heading-m'>Applications export for UCAS</h3>

  <p class='govuk-body'>
    This generates a list of all submitted applications and choices in the form
    defined as 'Dataset 1' in the Data Sharing Agreement between
    DfE and UCAS. UCAS use this file to detect candidates who have submitted
    duplicate applications via their site.
  </p>

  <p class='govuk-body'>
    <%= govuk_link_to 'Download Dataset 1 (CSV)', support_interface_applications_export_for_ucas_path %>
  </p>
<%- end %>

<h3 class="govuk-heading-m">Active provider users</h3>

<p class="govuk-body">The list of provider users that have signed in to apply at least once</p>

<%= govuk_link_to 'Download active provider users (CSV)', support_interface_active_provider_users_path, class: 'govuk-body' %>
