<%= render 'performance_navigation', title: 'Dashboards' %>

<ul class="govuk-list govuk-list--spaced">
  <li><%= govuk_link_to 'Service performance', support_interface_service_performance_dashboard_path %></li>
  <li><%= govuk_link_to 'Applications with unavailable choices', support_interface_unavailable_choices_path %></li>
  <li><%= govuk_link_to 'Course options without vacancies', support_interface_course_options_path %></li>
  <li><%= govuk_link_to 'Choices with mismatched cycle years', support_interface_mismatched_recruitment_cycle_year_path %></li>
</ul>

<h2 class="govuk-heading-s">Reasons for rejection</h2>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to(
      "#{@current_timetable.cycle_range_name} (starts #{@current_timetable.recruitment_cycle_year}) - current",
      support_interface_reasons_for_rejection_dashboard_path,
    ) %>
  </li>
</ul>
