<% if params[:screen] == '1' %>
  <% content_for :title, "Service performance for #{params[:year] || 'all cycles'}" %>
<% else %>
  <% content_for :title, 'Service performance' %>

  <p class="govuk-body">
    <%= govuk_link_to 'View in large screen mode', '?screen=1' %>
  </p>

  <% year_choices = RecruitmentCycle::CYCLES.map do |year, label| %>
    <% { name: label, url: "?year=#{year}&screen=#{params[:screen] || 0}", current: params[:year] == year } %>
  <% end %>

  <%= render TabNavigationComponent.new(items: [
    { name: 'All years', url: "?screen=#{params[:screen] || 0}", current: params[:year].nil? },
  ] + year_choices) %>
<% end %>

<section class="app-section">
  <h2 id="candidates" class="govuk-heading-m govuk-!-font-size-27">Candidates</h2>

  <%= render SupportInterface::TileComponent.new(
    count: @statistics.candidate_count,
    label: 'unique candidates',
    colour: :blue,
  ) %>
</section>

<section class="app-section">
  <h2 id="applications" class="govuk-heading-m govuk-!-font-size-27">Applications</h2>

  <%= render SupportInterface::TileComponent.new(
    count: @statistics.total_form_count,
    label: 'application forms',
    colour: :blue,
  ) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= render SupportInterface::TileComponent.new(
        count: @statistics.total_form_count(only: %i[unsubmitted_not_started_form unsubmitted_in_progress]),
        label: 'unsubmitted application forms',
        href: '#unsubmitted',
      ) %>
    </div>
    <div class="govuk-grid-column-one-half">
      <%= render SupportInterface::TileComponent.new(
        count: @statistics.total_submitted_count,
        label: 'submitted application forms',
        href: '#being-processed',
      ) %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <%= render SupportInterface::TileComponent.new(
            count: @statistics[:unsubmitted_not_started_form],
            label: 'forms not started',
            size: :reduced,
            href: '#unsubmitted',
          ) %>
        </div>
        <div class="govuk-grid-column-one-half">
          <%= render SupportInterface::TileComponent.new(
            count: @statistics[:unsubmitted_in_progress],
            label: 'forms in progress',
            size: :reduced,
            href: '#unsubmitted',
          ) %>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <%= render SupportInterface::TileComponent.new(
            count: @statistics.still_being_processed_count,
            label: 'still being processed',
            size: :reduced,
            href: '#being-processed',
          ) %>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render SupportInterface::TileComponent.new(
            count: @statistics.ended_without_success_count,
            label: 'ended w/o success',
            size: :reduced,
            colour: :red,
            href: '#unsuccessful',
          ) %>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render SupportInterface::TileComponent.new(
            count: @statistics.accepted_offer_count,
            label: 'accepted an offer',
            size: :reduced,
            colour: :green,
            href: '#successful',
          ) %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="app-section">
  <h2 id="course-choices" class="govuk-heading-m govuk-!-font-size-27">Course choices</h2>

  <%= render SupportInterface::TileComponent.new(
    count: @statistics.total_application_choice_count,
    label: 'courses applied to',
    colour: :blue,
  ) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= render SupportInterface::TileComponent.new(
        count: @statistics.application_choices_by_provider_type['lead_school'],
        label: 'School Direct courses',
        size: :reduced,
      ) %>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <%= render SupportInterface::TileComponent.new(
        count: @statistics.application_choices_by_provider_type['scitt'],
        label: 'SCITT courses',
        size: :reduced,
      ) %>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <%= render SupportInterface::TileComponent.new(
        count: @statistics.application_choices_by_provider_type['university'],
        label: 'HEI courses',
        size: :reduced,
      ) %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <%= render SupportInterface::TileComponent.new(
        count: @statistics.application_choices_by_provider_type['ratified_by_scitt'],
        label: 'Ratified by SCITTs',
        size: :reduced,
      ) %>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <%= render SupportInterface::TileComponent.new(
        count: @statistics.application_choices_by_provider_type['ratified_by_university'],
        label: 'Ratified by HEIs',
        size: :reduced,
      ) %>
    </div>
  </div>
</section>

<hr class="govuk-section-break govuk-section-break--xl">

<section class="app-section">
  <h2 id="application-forms" class="govuk-heading-m govuk-!-font-size-27">Application form breakdown</h2>

  <h3 id="unsubmitted" class="govuk-heading-m">Unsubmitted applications</h3>
  <p class="govuk-body">Application forms that have not been sent to providers yet.</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
        <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @statistics.unsubmitted_application_form_status_total_counts.each do |row| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= t("candidate_flow_application_states.#{row['status']}.name") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_with_delimiter(row['count']) %></td>
          <td class="govuk-table__cell"><%= t("candidate_flow_application_states.#{row['status']}.description") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3 id="being-processed" class="govuk-heading-m">Applications being processed</h3>
  <p class="govuk-body">Application forms that have been sent to providers and require action from either the candidate or provider to progress.</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
        <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @statistics.still_being_processed_application_form_status_total_counts.each do |row| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= t("candidate_flow_application_states.#{row['status']}.name") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_with_delimiter(row['count']) %></td>
          <td class="govuk-table__cell"><%= t("candidate_flow_application_states.#{row['status']}.description") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3 id="unsuccessful" class="govuk-heading-m">Unsuccessful applications</h3>
  <p class="govuk-body">Applications that have ended without success. The rejected by default count is included in the ended without success count</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
        <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @statistics.ended_without_success_application_form_status_total_counts.each do |row| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= t("candidate_flow_application_states.#{row['status']}.name") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_with_delimiter(row['count']) %></td>
          <td class="govuk-table__cell"><%= t("candidate_flow_application_states.#{row['status']}.description") %></td>
        </tr>
      <% end %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Rejected by default</th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.rejected_by_default_count %></td>
        <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t('performance_dashboard_other_metrics.rejected_by_default.description') %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter"><%= t('performance_dashboard_other_metrics.withdrawn_at_candidates_request.name') %></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.withdrawn_at_candidates_request_count %></td>
        <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t('performance_dashboard_other_metrics.withdrawn_at_candidates_request.description') %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter"><%= t('performance_dashboard_other_metrics.withdrawn_by_candidate.name') %></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.withdrawn_by_candidate_count %></td>
        <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t('performance_dashboard_other_metrics.withdrawn_by_candidate.description') %></td>
      </tr>
    </tbody>
  </table>

  <h3 id="successful" class="govuk-heading-m">Successful applications</h3>
  <p class="govuk-body">Applications that have received an offer and the candidate has accepted.</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
        <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @statistics.accepted_offer_application_form_status_total_counts.each do |row| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= t("candidate_flow_application_states.#{row['status']}.name") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_with_delimiter(row['count']) %></td>
          <td class="govuk-table__cell"><%= t("candidate_flow_application_states.#{row['status']}.description") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-heading-m">Apply again</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Submitted</th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.apply_again_submitted_count %></td>
        <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t('performance_dashboard_other_metrics.apply_again_submitted.description') %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Accepted offer, pending conditions</th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.apply_again_accepted_offer_count %></td>
        <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t('performance_dashboard_other_metrics.apply_again_accepted_offer.description') %></td>
      </tr>
    </tbody>
  </table>
</section>

<hr class="govuk-section-break govuk-section-break--xl">

<section class="app-section">
  <h2 id="providers" class="govuk-heading-m govuk-!-font-size-27">Providers</h2>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Providers with open courses on Apply</th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.percentage_of_providers_onboarded %></td>
        <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t('performance_dashboard_other_metrics.percentage_of_providers_onboarded.description') %></td>
      </tr>
    </tbody>
  </table>
</section>

<% if params[:screen] == '1' %>
  <style media="screen">
    header, footer, .govuk-phase-banner { display: none; }
    .govuk-width-container { max-width: 99%; }
  </style>

  <meta http-equiv="refresh" content="60">
<% end %>
