<% content_for :title, 'Applications with unavailable choices' %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    'Performance': support_interface_performance_path,
    'Applications with unavailable choices': nil,
  }) %>
<% end %>

<h2 class="govuk-heading-m">Applications to courses that no longer are available on Apply</h2>

<%= render SupportInterface::ApplicationsTableComponent.new(application_forms: @monitor.applications_to_disabled_courses, row_heading_level: 3) %>

<h2 class="govuk-heading-m">Applications to courses that have been removed from Find, but were open on Apply</h2>

<%= render SupportInterface::ApplicationsTableComponent.new(application_forms: @monitor.applications_to_hidden_courses, row_heading_level: 3) %>

<h2 class="govuk-heading-m">List of applications that are made to courses that no longer have vacancies</h2>

<%= render SupportInterface::ApplicationsTableComponent.new(application_forms: @monitor.applications_to_courses_with_sites_without_vacancies, row_heading_level: 3) %>

<h2 class="govuk-heading-m">List of applications that are made to sites that no longer exist</h2>

<%= render SupportInterface::ApplicationsTableComponent.new(application_forms: @monitor.applications_to_removed_sites, row_heading_level: 3) %>
