<h1 class="govuk-heading-xl">Check and confirm changes to offer</h2>

<%= render ProviderInterface::OfferSummaryListComponent.new(application_choice: @application_choice, header: 'Your existing offer') %>
<%= render ProviderInterface::OfferSummaryListComponent.new(application_choice: @future_application_choice, header: 'Your new offer') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @change_offer_form,
          url: provider_interface_application_choice_change_offer_path(@application_choice.id),
          method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :provider_id %>
      <%= f.hidden_field :course_id %>
      <%= f.hidden_field :course_option_id %>

      <%= f.govuk_submit 'Change offer' %>
    <% end %>

    <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
  </div>
</div>

