<% content_for :before_content, govuk_back_link_to(request.referer) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with model: @change_offer_form,
          url: provider_interface_application_choice_change_offer_edit_course_path(@application_choice.id),
          method: :get do |f| %>

      <%= f.govuk_radio_buttons_fieldset :provider_id do %>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl"><%= @application_choice.application_form.full_name %></span>
            <%= (@application_choice.offer? ? 'Change' : 'Select alternative').concat(' provider') %>
          </h1>
        </legend>

        <% @alternative_providers.each do |provider| %>
          <%= f.govuk_radio_button :provider_id, provider.id, label: { text: provider.name_and_code } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>

    <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
  </div>
</div>
