<h1 class="govuk-heading-xl">Choose new course</h2>
<%= render ProviderInterface::OfferSummaryListComponent.new(application_choice: @application_choice, header: 'Your existing offer') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @change_offer_form,
          url: provider_interface_application_choice_change_offer_edit_course_option_path(@application_choice.id),
          method: :get do |f| %>

      <%= f.hidden_field :provider_id %>
      <%= f.govuk_radio_buttons_fieldset :course_id, legend: { size: 'm', text: 'Select course', tag: 'span' } do %>
        <% @alternative_courses.each do |course| %>
          <%= f.govuk_radio_button :course_id, course.id, label: { text: course.name_and_code }, hint_text: nil %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>

    <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
  </div>
</div>
