<%= f.govuk_error_summary %>
<h1 class="govuk-heading-xl"><%= year_step_title(@subject, @year_form.qualification_type) %></h1>

<% if @year_form.qualification_type == 'gce_o_level' %>
  <%= f.govuk_text_field :award_year, label: { text: t('application_form.gcse.award_year.label'), size: 'm' }, hint: { text: t('application_form.gcse.award_year.gce_o_level_hint_text') }, width: 4 %>
<% else %>
  <%= f.govuk_text_field :award_year, label: { text: t('application_form.gcse.award_year.label'), size: 'm' }, hint: { text: t('application_form.gcse.award_year.hint_text') }, width: 4 %>
<% end %>

<%= f.govuk_submit t('save_and_continue') %>
