<% content_for :title, title_with_error_prefix(t('gcse_edit_year.page_title', subject: @subject), @application_qualification.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_gcse_details_edit_type_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @application_qualification, url: candidate_interface_gcse_details_update_year_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-xl"><%= t('gcse_edit_year.page_title', subject: @subject) %></h1>

      <%= f.govuk_text_field :award_year, label: { text: t('application_form.gcse.award_year.label'), size: 'm' }, hint_text: t('application_form.gcse.award_year.hint_text'), width: 4 %>

      <%= f.submit t('application_form.gcse.complete_form_button'), class: 'govuk-button', 'data-module': 'govuk-button', 'data-prevent-double-click': true %>
  <% end %>
  </div>
</div>
