<% content_for :title, title_with_error_prefix(t('page_titles.interview_preferences'), @interview_preferences_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.interview_preferences') %>
    </h1>

    <p class="govuk-body">Your interview will usually take place over the course of a day and you will need to attend in person. Please give details of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>any disability, health or personal issue you feel is relevant</li>
      <li>special arrangements or assistance you may need</li>
      <li>dates you are unavailable for interview</li>
    </ul>

    <%= form_with model: @interview_preferences_form, url: candidate_interface_interview_preferences_update_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_area :interview_preferences, label: { text: t('application_form.personal_statement.interview_preferences.label'), size: 'm' }, rows: 8, max_words: 200 %>
      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
