<% content_for :title, title_with_error_prefix(t('page_titles.application_feedback'), @application_feedback_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @application_feedback_form, url: candidate_interface_edit_application_feedback_path(@application_feedback.id), method: :patch do |f| %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.application_feedback') %>
      </h1>

      <%= f.govuk_check_boxes_fieldset :issues, multiple: false, legend: { text: t('application_form.application_feedback.issues.label'), size: 'm' } do %>
        <%= f.govuk_check_box :does_not_understand_section, true, multiple: false, label: { text: t('application_form.application_feedback.issues.does_not_understand_section') } %>
        <%= f.govuk_check_box :need_more_information, true, multiple: false, label: { text: t('application_form.application_feedback.issues.need_more_information') } %>
        <%= f.govuk_check_box :answer_does_not_fit_format, true, multiple: false, label: { text: t('application_form.application_feedback.issues.answer_does_not_fit_format') } %>
      <% end %>

      <%= f.govuk_text_area :other_feedback, label: { text: t('application_form.application_feedback.other_feedback.label'), size: 'm' }, rows: 5, max_words: 300 %>

      <%= f.govuk_radio_buttons_fieldset :consent_to_be_contacted, inline: true, legend: { text:  t('application_form.application_feedback.consent_to_be_contacted.label'), size: 'm' } do %>
        <%= f.govuk_radio_button :consent_to_be_contacted, true, label: { text: 'Yes' }  %>
        <%= f.govuk_radio_button :consent_to_be_contacted, false, label: { text: 'No' } %>
      <% end %>

      <%= f.govuk_submit 'Submit feedback' %>
    <% end %>
  </div>
</div>
