<% content_for :browser_title, title_with_error_prefix(t('.title'), @funding_type_preference_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@back_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @funding_type_preference_form,
          url: candidate_interface_draft_preference_funding_type_preferences_path(
            @preference,
            return_to: params[:return_to],
          ),
          method: :post,
        ) do |f| %>
      <%= f.govuk_error_summary %>

      <% content_for(:fieldset_legend) do %>
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            <%= t('.caption') %>
          </span>
          <%= t('.title') %>
        </h1>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset(:training_locations, legend: -> { content_for(:fieldset_legend) }) do %>
        <%= govuk_warning_text(text: t('.warning')) %>

        <p class='govuk-body'>
          <%= t(
            '.funding_information_html',
            link: govuk_link_to(
              t('.funding_information'),
              t('get_into_teaching.url_funding_and_support'),
              new_tab: true,
            ),
          ) %>
        </p>

        <%= f.govuk_radio_button :funding_type, :fee, label: { text: t('.fee') }, link_errors: true %>
        <%= f.govuk_radio_button :funding_type, :salary, label: { text: t('.salary') } %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset(:training_locations, legend: -> { content_for(:fieldset_legend) }) do %>
        <%= f.govuk_radio_button :funding_type, :fee, label: { text: t('.fee') }, link_errors: true %>
        <%= f.govuk_radio_button :funding_type, :salary, label: { text: t('.salary') }, hint: { text: t('.warning') } %>
      <% end %>

      <p class='govuk-body'>
        <%= govuk_link_to(
            t('.funding_information'),
            t('get_into_teaching.url_funding_and_support'),
            new_tab: true,
          ) %>
      </p>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
