<%= f.govuk_error_summary %>

<% if FeatureFlag.active?(:one_personal_statement) && f.object.single_personal_statement? %>

  <h1 class="govuk-heading-l">
    Personal statement
  </h1>

  <%= render 'guidance' %>

  <p class="govuk-body">Get help with your personal statement by speaking to our <a href="https://getintoteaching.education.gov.uk/teacher-training-advisers">teacher training advisers</a>. They used to be teachers and can give you free, one-to-one support.</p>

  <%= f.govuk_text_area :becoming_a_teacher, label: { text: 'Your personal statement', size: 'm' }, rows: 20, max_words: 1000 %>

<% else %>
  <h1 class="govuk-heading-l">
    <%= t('page_titles.becoming_a_teacher') %>
  </h1>

  <p class="govuk-body">Explain why you want to be a teacher.</p>

  <%= render 'guidance_old' %>

<p class="govuk-body">Get help with your personal statement by speaking to our <%= govuk_link_to_with_utm_params('teacher training advisers', t('get_into_teaching.url_get_an_adviser'), utm_campaign(params), current_application.phase) %>. They were teachers and can give you free, one-to-one support.</p>

<%= f.govuk_text_area :becoming_a_teacher, label: { text: t('application_form.personal_statement.becoming_a_teacher.label'), size: 'm' }, rows: 20, max_words: 600 %>

<% end %>
<%= f.govuk_submit t('continue') %>
