<%= f.govuk_error_summary %>

<% if FeatureFlag.active?(:one_personal_statement) && f.object.single_personal_statement? %>

  <h1 class="govuk-heading-l">
    Personal statement
  </h1>

  <p class="govuk-body">Your personal statement should show your understanding of teaching and your motivations for wanting to teach.</p>
  <p class="govuk-body">You can include things like:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>your understanding of the rewards and challenges of teaching</li>
    <li>why you want to teach a certain age group or subject</li>
    <li>skills you have that are relevant to teaching</li>
    <li>any experience of working with young people</li>
    <li>your interests and passions you could use in the classroom or contribute to a school (like organising clubs or activities for students after school)</li>
    <li>qualifications or courses you’ve done that would help in your teaching career</li>
  </ul>

  <p class="govuk-body">If you need help, speak to our <a href="https://getintoteaching.education.gov.uk/teacher-training-advisers">teacher training advisers</a>. They were teachers and can give you free, one-to-one support with your personal statement.</p>

  <%= f.govuk_text_area :becoming_a_teacher, label: { text: 'Your personal statement', size: 'm' }, rows: 20, max_words: 1000 %>

<% else %>
  <h1 class="govuk-heading-l">
    <%= t('page_titles.becoming_a_teacher') %>
  </h1>

  <p class="govuk-body">Explain why you want to be a teacher.</p>

  <p class="govuk-body">You could talk about:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>what inspired you to apply</li>
    <li>the personal qualities that would make you a good teacher</li>
    <li>any experience you have working with children and what you learnt</li>
    <li>your understanding of the demands and rewards of teaching</li>
    <li>how you could contribute to a school outside of the classroom - for example, running extra-curricular activities and clubs</li>
    <li>your thoughts on children’s wellbeing and the education system</li>
  </ul>

<p class="govuk-body">Get help with your personal statement by speaking to our <%= govuk_link_to_with_utm_params('teacher training advisers', t('get_into_teaching.url_get_an_adviser'), utm_campaign(params), current_application.phase) %>. They were teachers and can give you free, one-to-one support.</p>

<%= f.govuk_text_area :becoming_a_teacher, label: { text: t('application_form.personal_statement.becoming_a_teacher.label'), size: 'm' }, rows: 20, max_words: 600 %>

<% end %>
<%= f.govuk_submit t('continue') %>
