<% content_for :title, t('page_titles.personal_statement_review') %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_becoming_a_teacher_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <%= t('page_titles.personal_statement_review') %>
  </h1>

  <% if @application_form.review_pending?(:becoming_a_teacher) %>
    <%= govuk_inset_text do %>
      <% rejection_reasons = @application_form.rejection_reasons(:becoming_a_teacher) %>
      <h2 class="govuk-heading-m">Feedback from previous <%= 'application'.pluralize(rejection_reasons.size) %></h2>

      <% @application_form.rejection_reasons(:becoming_a_teacher).each do |rejection_reason| %>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><%= rejection_reason.provider_name %></h3>
        <blockquote class="govuk-!-margin-left-0 govuk-!-margin-top-0">
          <% if rejection_reason.feedback_type == 'reasons_for_rejection' %>
            <p class="govuk-body">“<%= rejection_reason.feedback %>”</p>
          <% elsif rejection_reason.feedback_type == 'rejection_reasons' %>
            <%= render(CandidateInterface::ReviewRejectionReasonsComponent.new(rejection_reason.feedback)) %>
          <% end %>
        </blockquote>
      <% end %>
    <% end %>
  <% end %>

  <% if !@becoming_a_teacher_form.valid? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text app-inset-text--error govuk-!-margin-top-0">
          <h2 class="app-inset-text__title">There is a problem</h2>
          <p class="govuk-body"><%= @becoming_a_teacher_form.errors.messages.first[1][0] %></p>
        </div>
      </div>
    </div>
  <% end %>

  <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>

  <%= render(CandidateInterface::BecomingATeacherReviewComponent.new(application_form: @application_form, editable: @section_policy.can_edit?)) %>

  <% if @becoming_a_teacher_form.valid? %>
    <%= render(CandidateInterface::CompleteSectionComponent.new(
      section_policy: @section_policy,
      form: f,
      hint_text: t('application_form.personal_statement.becoming_a_teacher.complete_hint_text'),
      section_review: @application_form.reviewable?(:becoming_a_teacher),
    )) %>
  <% else %>
    <%= govuk_button_link_to 'Continue', candidate_interface_details_path %>
  <% end %>

<% end %>
