<%= content_for :browser_title, @page_title %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    t('page_titles.provider.account') => provider_interface_account_path,
    @page_title => nil,
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds<%= ' govuk-!-margin-bottom-2' unless FeatureFlag.active?(:account_and_org_settings_changes) %>">
    <h1 class="govuk-heading-l">
      <%= @page_title %>
      <% unless FeatureFlag.active?(:account_and_org_settings_changes) %>
        <span class="govuk-caption-m govuk-!-margin-top-1">Choose which email notifications you want to receive.</span>
      <% end %>
    </h1>
    <%= render ProviderUserNotificationPreferencesComponent.new(current_provider_user.notification_preferences, form_path: provider_interface_notifications_path) %>
  </div>
</div>
