<% content_for :title, t('page_titles.references_send_reminder') %>
<% content_for :before_content, govuk_back_link_to('', 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference,
      url: candidate_interface_new_references_new_reminder_path(@reference),
      method: :post,
    ) do |f| %>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @reference.name %></span>
        <%= t('page_titles.new_references_send_reminder') %>
      </h1>

      <% if @reference.next_automated_chase_at.present? %>
        <p class="govuk-body">
          The referee will also get an automatic reminder on <%= @reference.next_automated_chase_at.strftime('%-d %B %Y') %>.
        </p>
      <% end %>

      <%= f.govuk_submit t('application_form.new_references.send_reminder.confirm') %>
    <% end %>
  </div>
</div>
