<% content_for :title, title_with_error_prefix(t('page_titles.efl.toefl'), @toefl_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @toefl_form, url: candidate_interface_toefl_path(@return_to[:params])) do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= t('page_titles.efl.start') %></span>
        <%= t('page_titles.efl.toefl') %>
      </h1>
      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
