<% content_for :browser_title, title_with_error_prefix('Edit applicant right to work or study', @right_to_work_or_study_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @right_to_work_or_study_form, url: support_interface_application_form_edit_immigration_right_to_work_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :right_to_work_or_study, legend: { text: 'Edit applicant right to work or study', size: 'l', tag: 'h1' } do %>
        <%= f.govuk_radio_button :right_to_work_or_study, 'yes', label: { text: 'Yes ' }, link_errors: true %>
        <%= f.govuk_radio_button :right_to_work_or_study, 'no', label: { text: 'No' } %>
      <% end %>

      <%= f.govuk_text_field(
        :audit_comment,
        label: { text: 'Audit log comment', size: 'm' },
        hint: { text: 'This will appear in the audit log alongside this change. If the change originated in a Zendesk ticket, paste the Zendesk URL here' },
      ) %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
