<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m" id='about_this_data'>
    <%= t('about_this_data_section.section_heading') %>
  </h2>

  <h3 class="govuk-heading-s">
    <%= t('about_this_data_section.subsection_heading_one', cycle_range: RecruitmentCycle.cycle_name) %>
  </h3>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_one_paragraph_one') %>
  </p>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_one_paragraph_two') %>
  </p>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_one_paragraph_three') %>
  </p>

  <h3 class="govuk-heading-s">
    <%= t('about_this_data_section.subsection_heading_two') %>
  </h3>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_two_paragraph_one') %>
  </p>
  <%= govuk_list([
                   t('about_this_data_section.subsection_two_list_item_one'),
                   t('about_this_data_section.subsection_two_list_item_two'),
                   t('about_this_data_section.subsection_two_list_item_three'),
                 ], type: :bullet) %>

  <h3 class="govuk-heading-s">
    <%= t('about_this_data_section.subsection_heading_three') %>
  </h3>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_three_paragraph_one') %>
  </p>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_three_paragraph_two') %>
  </p>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_three_paragraph_three') %>
  </p>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_three_paragraph_four') %>
  </p>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_three_paragraph_five') %>
  </p>

  <h3 class="govuk-heading-s">
    <%= t('about_this_data_section.subsection_heading_four') %>
  </h3>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_four_paragraph_one') %>
  </p>
  <p class="govuk-body">
    <%= t(
          'about_this_data_section.subsection_four_paragraph_two',
          last_cycle_start_date: CycleTimetable.find_opens(CycleTimetable.current_year - 1).to_fs(:govuk_date),
          this_cycle_start_date: CycleTimetable.find_opens.to_fs(:govuk_date),
        ) %>
  </p>
  <p class="govuk-body">
    <%= t('about_this_data_section.subsection_four_paragraph_three') %>
  </p>
</div>
