<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m" id='about_this_data'>
    <%= t('.section_heading') %>
  </h2>
  <% if @provider_report.show_changes_section? %>
    <h3 class="govuk-heading-s">
      <%= t('.subsection_heading_one', cycle_range: @provider_report.cycle_range_name) %>
    </h3>
    <%= t('.whats_new_in_2024_html') %>
  <% end %>

  <h3 class="govuk-heading-s">
    <%= t('.subsection_heading_two') %>
  </h3>
  <p class="govuk-body">
    <%= t('.these_applications_are_not_included') %>
  </p>
  <%= govuk_list([
                   t('.applications_made_directly_to_providers'),
                   t('.undergraduate_except_tda'),
                   t('.further_education_applications'),
                 ], type: :bullet) %>

  <h3 class="govuk-heading-s">
    <%= t('.understanding_the_figures_in_the_table_heading') %>
  </h3>
  <%= t('.understanding_the_figures_explanation_html') %>

  <h3 class="govuk-heading-s">
    <%= t('.data_timeframes_heading') %>
  </h3>
  <%= t(
        '.data_timeframes_explanation_html',
        last_cycle_start_date: @provider_report.last_cycle_start_date,
        this_cycle_start_date: @provider_report.this_cycle_start_date,
      ) %>
</div>
