<% if @national_data.present? && @provider_data.present? %>
  <%= content_for :title, t('.title', cycle_year_range: @provider_report.cycle_range_name) %>
  <%= content_for :before_content,
                  breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path, t('.heading', cycle_year_range: @provider_report.cycle_range_name) => nil) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.heading', cycle_year_range: @provider_report.cycle_range_name) %></h1>
    </div>

    <%= render 'provider_interface/reports/recruitment_performance_reports/report_description' %>
    <%= render 'provider_interface/reports/recruitment_performance_reports/about_this_data_section' %>
    <%= render ProviderInterface::RecruitmentPerformanceReport::SubmittedApplicationsTableComponent.new(@provider, @provider_data, @national_data) %>
    <%= render ProviderInterface::RecruitmentPerformanceReport::CandidatesWithOffersTableComponent.new(@provider, @provider_data, @national_data) %>
    <%= render ProviderInterface::RecruitmentPerformanceReport::ProportionCandidatesWithOffersTableComponent.new(@provider, @provider_data, @national_data) %>
    <%= render ProviderInterface::RecruitmentPerformanceReport::OffersAcceptedTableComponent.new(@provider, @provider_data, @national_data) %>
    <%= render ProviderInterface::RecruitmentPerformanceReport::DeferralsTableComponent.new(@provider, @provider_data, @national_data) %>
    <%= render ProviderInterface::RecruitmentPerformanceReport::CandidatesRejectedTableComponent.new(@provider, @provider_data, @national_data) %>
    <%= render ProviderInterface::RecruitmentPerformanceReport::ProportionWithInactiveApplicationsTableComponent.new(@provider, @provider_data, @national_data) %>
  </div>
<% else %>
  <%= content_for :title, t('.empty_report_title') %>
  <%= content_for :before_content,
                  breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path, t('.empty_report_heading') => nil) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.empty_report_heading') %></h1>
      <p class="govuk-body"><%= t('.not_ready_to_view') %></p>
    </div>
  </div>
<% end %>
