<% if @statistics.present? && @provider_data.present? && RecruitmentPerformanceReportTimetable.report_season? %>
  <%= content_for :title, t('.title', cycle_year_range: @provider_report.cycle_range_name) %>
  <%= content_for :before_content,
                  breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path, t('.heading') => nil) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.heading', cycle_year_range: @provider_report.cycle_range_name) %></h1>
    </div>

    <%= render RecruitmentPerformanceReport::ReportMethodologyComponent.new(
      provider_report: @provider_report,
      current_timetable: @current_timetable,
      interface: 'provider',
    ) %>
    <%= render RecruitmentPerformanceReport::SubmittedApplicationsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::CandidatesWithOffersTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::ProportionCandidatesWithOffersTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::OffersAcceptedTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::DeferralsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::CandidatesRejectedTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::ProportionWithInactiveApplicationsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
  </div>
<% else %>
  <%= content_for :title, t('.empty_report_title') %>
  <%= content_for :before_content,
                  breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path, t('.empty_report_heading') => nil) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.empty_report_heading') %></h1>
      <p class="govuk-body"><%= t('.not_ready_to_view') %></p>

      <%= govuk_link_to(
        'Set your comparison area',
        new_provider_interface_reports_provider_regional_report_filter_path,
        class: 'govuk-button govuk-button--secondary',
      ) %>
    </div>
  </div>
<% end %>
