<% content_for :title, title_with_error_prefix(t('page_titles.edit_volunteering_role'), @volunteering_role.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @volunteering_role, url: candidate_interface_edit_volunteering_role_path(@return_to[:params]), method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= t('page_titles.volunteering.short') %></span>
        <%= t('page_titles.edit_volunteering_role') %>
      </h1>

      <%= f.hidden_field :id, value: @volunteering_role.id %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
