<% content_for :browser_title, title_with_error_prefix(t('.page_title'), @course_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_deferred_offer_check_path(@course_form.application_choice)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @course_form, url: provider_interface_deferred_offer_course_path(@course_form.application_choice, return_to_review? ? { return_to: 'review' } : nil), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <% unless return_to_review? %>
        <%= govuk_notification_banner(
          title_text: t('notification_banner.important'),
          classes: 'govuk-notification-banner--info',
          html_attributes: { role: 'alert' },
          text: t('.banner.text'),
        ) do |notification_banner|
          notification_banner.with_heading(text: t('.banner.heading', course_name_and_code: @course_form.offer_course.name_and_code))
        end %>
      <% end %>

      <% if @course_form.courses_for_select.count > 20 %>
        <%= render DfE::Autocomplete::View.new(
          form,
          attribute_name: :course_id,
          form_field: form.govuk_collection_select(
            :course_id,
            @course_form.courses_for_select,
            :id,
            :name_and_code,
            options: { include_blank: '' },
            caption: { text: @course_form.application_choice.application_form.full_name, size: 'xl' },
            aria: { label: 'deferred-offer-confirmation-course-form-course-id-field' },
            label: { text: t('.page_title'), size: 'xl' },
            hint: lambda {
              if return_to_review?
                t('.course_id.fieldset_hint')
              end
            },
            data: { controller: 'autocomplete' },
          ),
          html_attributes: { 'data-default-value': @course_form.default_value_for_select },
        ) %>
      <% else %>
        <%= form.govuk_collection_radio_buttons(
              :course_id,
              @course_form.courses_for_select,
              :id,
              :name_and_code,
              :description,
              bold_labels: false,
              caption: { text: @course_form.application_choice.application_form.full_name, size: 'xl' },
              legend: { text: t('.page_title'), size: 'xl' },
              hint: lambda {
                if return_to_review?
                  t('.course_id.fieldset_hint')
                end
              },
            ) %>
      <% end %>

      <%= form.govuk_submit return_to_review? ? t('.submit') : t('continue') %>
    <% end %>
  </div>
</div>
