<% content_for :browser_title, title_with_error_prefix('Edit address details', @details_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(application_form_id: params[:application_form_id]), 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @details_form, url: support_interface_application_form_update_address_type_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :address_types, legend: { text: t('support_interface.edit_address_details_form.address_types.label'), size: 'xl' } do %>
        <%= f.govuk_radio_button :address_type, 'uk', label: { text: t('application_form.contact_information.address_type.values.uk') } %>
        <%= f.govuk_radio_button :address_type, 'international', label: { text: t('application_form.contact_information.address_type.values.international') }, link_errors: true do %>
          <%= f.govuk_collection_select :country, select_country_options, :id, :name, label: { text: t('application_form.contact_information.country.label') } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('application_form.contact_information.address_type.button') %>
    <% end %>
  </div>
</div>
