<% content_for :title, 'Service performance' %>

<% if params[:screen] == "1" %>
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Performance for <%= params[:year] || "all cycles" %></h1>
<% else %>
  <p class="govuk-body govuk-!-margin-bottom-8">
    <%= govuk_link_to 'View in large screen mode', '?screen=1' %>
  </p>

  <% year_choices = RecruitmentCycle::CYCLES.map do |year, label| %>
    <% { name: label, url: "?year=#{year}&screen=#{params[:screen] || 0}", current: params[:year] == year } %>
  <% end %>

  <%= render TabNavigationComponent.new(items: [
    { name: 'All years', url: "?screen=#{params[:screen] || 0}", current: params[:year] == nil },
  ] + year_choices ) %>

  <h2 class="govuk-visually-hidden">Performance for <%= params[:year] || "all years" %></h2>
<% end %>

<h3 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Candidates</h3>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <%= render SupportInterface::TileComponent.new(count: @statistics.candidate_count, label: 'unique candidates', colour: :blue) %>
  </div>
<% if params[:year].nil? && @statistics.candidate_never_signed_in_count.positive? %>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
    <%= render SupportInterface::TileComponent.new(count: @statistics.candidate_never_signed_in_count, label: 'never signed in', colour: :red) %>
  </div>
<% end %>
</div>

<h3 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Applications</h3>

<div id="application-form-count" class="govuk-!-margin-bottom-4">
  <%= render SupportInterface::TileComponent.new(count: @statistics.total_form_count, label: 'application forms', colour: :blue) %>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-half">
    <%= render SupportInterface::TileComponent.new(count: @statistics.total_form_count(only: %i{unsubmitted_not_started_form unsubmitted_in_progress}), label: 'unsubmitted application forms') %>
  </div>
  <div class="govuk-grid-column-one-half">
    <%= render SupportInterface::TileComponent.new(count: @statistics.total_submitted_count, label: 'submitted application forms') %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <%= render SupportInterface::TileComponent.new(count: @statistics[:unsubmitted_not_started_form], label: 'forms not started', size: :reduced) %>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= render SupportInterface::TileComponent.new(count: @statistics[:unsubmitted_in_progress], label: 'forms in progress', size: :reduced) %>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render SupportInterface::TileComponent.new(count: @statistics.still_being_processed_count, label: 'still being processed', size: :reduced) %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render SupportInterface::TileComponent.new(count: @statistics.ended_without_success_count, label: 'ended w/o success', size: :reduced, colour: :red) %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render SupportInterface::TileComponent.new(count: @statistics.accepted_offer_count, label: 'accepted an offer', size: :reduced, colour: :green) %>
      </div>
    </div>
  </div>
</div>

<table class="govuk-table govuk-!-margin-top-8">
  <caption class="govuk-table__caption govuk-heading-m">Application form breakdown</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @statistics.application_form_status_total_counts.each do |row| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t("candidate_flow_application_states.#{row['status']}.name") %></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_with_delimiter(row['count']) %></td>
        <td class="govuk-table__cell"><%= t("candidate_flow_application_states.#{row['status']}.description") %></td>
      </tr>
    <% end %>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Rejected by default</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.rejected_by_default_count %></td>
      <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t("performance_dashboard_other_metrics.rejected_by_default.description") %></td>
    </tr>
  </tbody>
</table>

<table class="govuk-table govuk-!-margin-top-8">
  <caption class="govuk-table__caption govuk-heading-m">Apply again</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Submitted</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.apply_again_submitted_count %></td>
      <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t("performance_dashboard_other_metrics.apply_again_submitted.description") %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Accepted offer, pending conditions</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.apply_again_accepted_offer_count %></td>
      <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t("performance_dashboard_other_metrics.apply_again_accepted_offer.description") %></td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Providers</h3>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Providers with open courses on Apply</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.percentage_of_providers_onboarded %></td>
      <td class="govuk-table__cell govuk-!-width-two-thirds"><%= t("performance_dashboard_other_metrics.percentage_of_providers_onboarded.description") %></td>
    </tr>
  </tbody>
</table>

<% if params[:screen] == "1" %>
  <style media="screen">
    header, footer, .govuk-phase-banner { display: none; }
    .govuk-width-container { max-width: 99%; }
  </style>

  <meta http-equiv="refresh" content="60">
<% end %>
