<% content_for :browser_title, title_with_error_prefix('Check and send feedback', @application_feedback.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @application_feedback,
      url: provider_interface_application_choice_feedback_path(@application_choice.id),
      method: :post,
    ) do |f| %>

      <%= f.govuk_error_summary %>
      <%= f.hidden_field :rejection_reason %>

      <span class="govuk-caption-l"><%= @application_choice.application_form.full_name %></span>
      <h1 class="govuk-heading-l">Check and send feedback</h1>

      <%= render ProviderInterface::FeedbackPreviewComponent.new(application_choice: @application_choice, rejection_reason: @application_feedback.rejection_reason) %>

      <%= f.govuk_submit 'Send feedback' %>

      <p class="govuk-body">
      <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    <% end %>
  </div>
</div>
