<% page_scope = 'page_titles' %>
<% degree_scope = 'application_form.degree' %>
<% comparable_degree_scope = "#{degree_scope}.comparable_uk_degree" %>

<% content_for :title, title_with_error_prefix(t('degree_enic_reference', scope: page_scope), @form.errors.any?) %>
<%= content_for :before_content, govuk_back_link_to(@form.back_link) %>

<h1 class="govuk-heading-l"><%= t('degree_enic_reference', scope: page_scope) %></h1>

<%= form_with model: @form, url: candidate_interface_degree_enic_reference_path, scope: :candidate_interface_degree_form do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field(
            :enic_reference,
            label: { text: t('enic_reference.label', scope: degree_scope), size: 'm' },
            hint: { text: t('enic_reference.hint_text', scope: degree_scope) },
            spellcheck: false,
          ) %>

      <%= f.govuk_radio_buttons_fieldset(
        :comparable_uk_degree,
        legend: { text: t('label', scope: comparable_degree_scope), size: 'm' },
        hint: { text: t('hint_text', scope: comparable_degree_scope) },
      ) do %>
        <% ApplicationQualification.comparable_uk_degrees.values.each_with_index do |value, index| %>
          <%= f.govuk_radio_button(
                :comparable_uk_degree,
                value,
                label: { text: t("values.#{value}", scope: comparable_degree_scope) },
                link_errors: index.zero?,
              ) %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
<% end %>
</div>
</div>
