<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @provider.name %></h1>
    <% @ratifying_permissions.each do |permissions| %>
      <h2 class="govuk-heading-m">
        For courses ratified by <%= permissions.ratifying_provider.name %> and run by <%= permissions.training_provider.name %>
      </h2>
      <div class="app-banner govuk-!-margin-bottom-4">
        <div class="app-banner__message">
          <% if permissions.setup_at.blank? %>
            <p>
              <%= permissions.training_provider.name %> have not set up permissions yet - only they can set up permissions. Contact them to do this.
            </p>

            <p>
              Staff at <%= permissions.ratifying_provider.name %> can still view applications in the meantime.
            </p>
          <% else %>
            Contact <%= permissions.training_provider.name %> to change permissions.
          <% end %>
        </div>
      </div>

      <%= render ProviderRelationshipPermissionsList.new(permissions) %>
    <% end %>

    <% @training_permissions.each do |permissions| %>
      <h2 class="govuk-heading-m">
        For courses run by <%= permissions.training_provider.name %> and ratified by <%= permissions.ratifying_provider.name %>
      </h2>

      <%= render ProviderRelationshipPermissionsList.new(permissions) %>

      <% if current_provider_user.can_manage_organisations? %>
        <p class="govuk-body">
          <%= govuk_link_to nil, provider_interface_edit_provider_relationship_permissions_path(permissions) do %>
            Change<span class="govuk-visually-hidden"> permissions for <%= permissions.training_provider.name %> and <%= permissions.ratifying_provider.name %></span>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
