<%= content_for :browser_title, @provider.name %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    t('page_titles.provider.account') => provider_interface_account_path,
    t('page_titles.provider.org_permissions') => provider_interface_organisations_path,
    @provider.name => nil,
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= t('page_titles.provider.org_permissions') %></span>
    <h1 class="govuk-heading-l"><%= @provider.name %></h1>
    <% @ratifying_permissions.each do |permissions| %>
      <div class="app-banner govuk-!-margin-bottom-4">
        <div class="app-banner__message">
          <% if permissions.setup_at.blank? %>
            <p>
              <%= permissions.training_provider.name %> have not set up permissions yet - only they can set up permissions. Contact them to do this.
            </p>

            <p>
              Staff at <%= permissions.ratifying_provider.name %> can still view applications in the meantime.
            </p>
          <% else %>
            Only <%= permissions.training_provider.name %> can change permissions because they run the courses. Contact them to change these settings.
          <% end %>
        </div>
      </div>

      <%= render ProviderInterface::ProviderRelationshipPermissionsListComponent.new(
        permissions_model: permissions,
        change_link_builder: ProviderInterface::ProviderRelationshipEditChangeLinkBuilder,
        editable: false,
      ) %>
    <% end %>

    <% @training_permissions.each do |permissions| %>
      <%= render ProviderInterface::ProviderRelationshipPermissionsListComponent.new(
        permissions_model: permissions,
        change_link_builder: ProviderInterface::ProviderRelationshipEditChangeLinkBuilder,
        editable: current_provider_user.can_manage_organisations?,
        heading_level: 2,
      ) %>
    <% end %>
  </div>
</div>
