<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @provider.name %></h1>
    <% @ratifying_permissions.each do |permissions| %>
      <h2 class="govuk-heading-m">
        For courses ratified by <%= permissions.ratifying_provider.name %> and run by <%= permissions.training_provider.name %>
      </h2>
      <div class="app-banner govuk-!-margin-bottom-4">
        <div class="app-banner__message">
          Contact <%= permissions.training_provider.name %> to change permissions.
        </div>
      </div>

      <%= render ProviderRelationshipPermissionsList.new(permissions) %>
    <% end %>

    <% @training_permissions.each do |permissions| %>
      <h2 class="govuk-heading-m">
        For courses run by <%= permissions.training_provider.name %> and ratified by <%= permissions.ratifying_provider.name %>
      </h2>

      <%= render ProviderRelationshipPermissionsList.new(permissions) %>

      <p class="govuk-body">
        <%= govuk_link_to 'Change', provider_interface_edit_provider_relationship_permissions_path(
          training_provider_id: permissions.training_provider.id,
          ratifying_provider_id: permissions.ratifying_provider.id,
        ) if current_provider_user.can_manage_organisations? %>
      </p>
    <% end %>
  </div>
</div>
