<% content_for :title, t('page_titles.becoming_a_teacher') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.becoming_a_teacher') %>
    </h1>

    <p class="govuk-body">Use this section to showcase your motivation, commitment and teaching potential, backing up your answer with specific examples.</p>
    <p class="govuk-body">Give providers an insight into your personality by writing honestly and thoughtfully. Avoid cliché and write in clear, correct, concise English.</p>
    <p class="govuk-body">You can ask your training provider for examples written by successful applicants, or register with <%= govuk_link_to 'Get into Teaching', 'https://getintoteaching.education.gov.uk/' %> for help from a teacher training advisor.</p>

    <p class="govuk-body govuk-!-font-weight-bold">You do not have to cover everything in this list, but suggested topics include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>why you want to be a teacher</li>
      <li>your passion for your subject and the age group you’ve chosen to teach</li>
      <li>the welfare and education of children and/or young people</li>
      <li>the demands and rewards of the profession</li>
      <li>personal qualities that will make you a good teacher</li>
      <li>your contribution to the life of the school outside the classroom  – for example, running extra-curricular activities and clubs</li>
      <li>if you have school experience or have worked as a volunteer with children or young people, give details of what this has taught you</li>
    </ul>

    <%= form_with model: @becoming_a_teacher_form, url: candidate_interface_becoming_a_teacher_update_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_area :becoming_a_teacher, label: { text: t('application_form.personal_statement.becoming_a_teacher.label'), size: 'm' }, rows: 20, max_words: 600 %>
      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
