<% content_for :title, title_with_error_prefix(t('page_titles.becoming_a_teacher'), @becoming_a_teacher_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @becoming_a_teacher_form, url: candidate_interface_becoming_a_teacher_update_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.becoming_a_teacher') %>
      </h1>

      <p class="govuk-body">You could talk about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your interest in the subject or age group</li>
        <li>the demands and rewards of teaching</li>
        <li>the personal qualities that would make you a good teacher</li>
        <li>how you could contribute to a school outside of the classroom</li>
        <li>any past experience working with children or young people, and what you learnt</li>
        <li>your thoughts on welfare and education</li>
      </ul>
      <p class="govuk-body">If you need help, <%= govuk_link_to 'register with GIT to talk to a teacher training adviser', 'https://register.getintoteaching.education.gov.uk/Register' %>.</p>

      <%= f.govuk_text_area :becoming_a_teacher, label: { text: t('application_form.personal_statement.becoming_a_teacher.label'), size: 'm' }, rows: 20, max_words: 600 %>
      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
