<span class="govuk-caption-xl"><%= t('application_form.personal_details_section.heading') %></span>
<h1 class="govuk-heading-xl"><%= t('application_form.review_answers') %></h1>

<dl class="govuk-summary-list govuk-!-font-size-16">
  <% [:title, :first_name, :last_name, :preferred_name].each do |field| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t("application_form.personal_details_section.#{field}.label") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @personal_details[field] %>
      </dd>
    </div>
  <% end %>
</dl>

<%= link_to tt_application_path, role: 'button', class: 'govuk-button' do %>
  <%= t('application_form.submit') %>
<% end %>
