<span class="govuk-caption-xl"><%= t('application_form.personal_details_section.heading') %></span>
<h1 class="govuk-heading-xl"><%= t('application_form.review_answers') %></h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-!-font-size-16 govuk-summary-list--no-border">
      <%= render partial: 'shared/description_list_item', locals: { field: :title, value: @personal_details.title } %>
      <%= render partial: 'shared/description_list_item', locals: { field: :first_name, value: @personal_details.first_name } %>
      <%= render partial: 'shared/description_list_item', locals: { field: :last_name, value: @personal_details.last_name } %>
      <%= render partial: 'shared/description_list_item', locals: { field: :preferred_name, value: @personal_details.preferred_name } %>
    </dl>
  </div>
</div>

<%= link_to tt_application_path, role: 'button', class: 'govuk-button' do %>
  <%= t('application_form.submit') %>
<% end %>
