<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @personal_details, builder: GOVUKDesignSystemFormBuilder::FormBuilder, url: personal_details_path do |f| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <%= t('application_form.personal_details_section.heading') %>
          </h1>
        </legend>
        <div class="govuk-form-group">
          <%= f.govuk_text_field(
                :title,
                hint_text: t('application_form.personal_details_section.title.hint_text'),
                label: { text: t('application_form.personal_details_section.title.label'), weight: 'bold' },
                width: 'one-third',
                required: true) %>

          <%= f.govuk_text_field(
                :first_name,
                label: { text: t('application_form.personal_details_section.first_name.label'), weight: 'bold' },
                required: true) %>

          <%= f.govuk_text_field(
                :preferred_name,
                label: { text: t('application_form.personal_details_section.preferred_name.label'), weight: 'bold' },
                required: true) %>

          <%= f.govuk_text_field(
                :last_name,
                label: { text: t('application_form.personal_details_section.last_name.label'), weight: 'bold' },
                required: true) %>

          <%= f.govuk_date_field(
                :date_of_birth,
                legend: { text: t('application_form.personal_details_section.date_of_birth.label'), size: 's' },
                hint_text: t('application_form.personal_details_section.date_of_birth.hint_text')) %>
        </div>
        <%= f.govuk_submit(t('application_form.save_and_continue')) %>
      </fieldset>
    <% end %>
  </div>
</div>
