<%= render "shared/form_errors_summary", errors: @personal_details.errors %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @personal_details, builder: GOVUKDesignSystemFormBuilder::FormBuilder, url: personal_details_path do |f| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <%= t('application_form.personal_details_section.heading') %>
          </h1>
        </legend>

        <%= f.govuk_text_field :title, label: { text: t('application_form.personal_details_section.title.label')}, width: 10 %>
        <%= f.govuk_text_field :first_name, label: { text: t('application_form.personal_details_section.first_name.label')} %>
        <%= f.govuk_text_field :preferred_name, label: { text: t('application_form.personal_details_section.preferred_name.label')} %>
        <%= f.govuk_text_field :last_name, label: { text: t('application_form.personal_details_section.last_name.label')} %>
        <div id='personal_details_date_of_birth'>
          <%= f.govuk_date_field :date_of_birth, legend: { text: 'Date of birth', tag: 'span', size: 's' } %>
        </div>
        <%= f.govuk_text_field :nationality, label: { text: t('application_form.personal_details_section.nationality.label')} %>
        <%= f.submit t('application_form.save_and_continue'), class: 'govuk-button' %>
      </fieldset>
  <% end %>
  </div>
</div>
