<% page_title = if @account_recovery.requested_new_code?
                  I18n.t('page_titles.account_recovery_resend_email', email: current_candidate.previous_account_email_address)
                else
                  I18n.t('page_titles.account_recovery', email: current_candidate.previous_account_email_address)
                end %>

<% content_for :title, title_with_error_prefix(page_title, @account_recovery.errors.any?) %>
<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: new_candidate_interface_account_recovery_request_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @account_recovery, url: candidate_interface_account_recovery_create_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l"><%= page_title %></h1>

      <%= f.govuk_text_field :code, label: { text: t('.form.code.label'), size: 'm' }, width: 20 %>

      <%= f.govuk_submit %>
    <% end %>

    <%= render(
        ButtonToAsLinkComponent.new(
          name: t('.form.request_a_new_code'),
          path: candidate_interface_account_recovery_requests_path(
            params: {
              candidate_interface_account_recovery_request_form: {
                previous_account_email_address: current_candidate.previous_account_email_address,
              },
            },
          ),
        ),
      ) %>
  </div>
</div>
