<%= render 'support_interface/performance/performance_navigation', title: 'Vendor API Requests' %>

<%= render PaginatedFilterComponent.new(filter: @filter, collection: @vendor_api_requests) do %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Time</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-three-quarters">Request</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @vendor_api_requests.each do |vendor_api_request| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= vendor_api_request.created_at.to_s(:govuk_date_and_time) %>
          </td>
          <td class="govuk-table__cell">
            <%= render SummaryListComponent.new(rows: [
              { key: 'Status', value: vendor_api_request.status_code },
              { key: 'Path', value: vendor_api_request.request_path },
              { key: 'Provider', value: vendor_api_request.provider.present? ? vendor_api_request.provider.name : 'Unknown' },
            ]) %>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Details
                </span>
              </summary>
              <div class="govuk-details__text govuk-body-xs">
                <h3>Headers</h3>
                <%= tag.pre(JSON.pretty_generate(vendor_api_request.request_headers)) %>
                <h3>Request params</h3>
                <%= tag.pre(JSON.pretty_generate(vendor_api_request.request_body)) %>
                <h3>Response body</h3>
                <%= tag.pre(JSON.pretty_generate(vendor_api_request.response_body)) %>
              </div>
            </details>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
