<%= f.govuk_error_summary %>

<h1 class="govuk-heading-xl">
  <%= t("gcse_edit_type.page_titles.#{@subject}") %>
</h1>

<%= f.govuk_radio_buttons_fieldset :qualification_type, legend: { text: t('application_form.gcse.qualification_type.label'), size: 'm' } do %>
  <% select_gcse_qualification_type_options.each_with_index do |option, i| %>
    <%= f.govuk_radio_divider if i == select_gcse_qualification_type_options.count - 1 %>
    <% if option.id == :other_uk %>
      <%= f.govuk_radio_button :qualification_type, option.id, label: { text: option.label }, link_errors: i.zero? do %>
        <% f.govuk_text_field :other_uk_qualification_type, label: { text: t('application_form.gcse.other_uk.label'), size: 's' } %>
      <% end %>

    <% elsif option.id == :non_uk %>
      <%= f.govuk_radio_button :qualification_type, option.id, label: { text: option.label }, link_errors: i.zero? do %>
        <% f.govuk_text_field :non_uk_qualification_type, label: { text: t('application_form.gcse.non_uk.label'), size: 's' }, hint: { text: t('application_form.gcse.non_uk.hint_text') } %>
      <% end %>

    <% elsif option.id == :missing %>
      <%= f.govuk_radio_button :qualification_type, option.id, label: { text: option.label }, link_errors: i.zero? do %>
        <p class="govuk-hint">You can still apply for teacher training if you are missing this qualification or its equivalent. However, you will need to have completed it by the start of your course.</p>
        <p class="govuk-hint">For advice, contact your training provider or speak to a <%= govuk_link_to t('service_name.get_into_teaching'), t('get_into_teaching.url_online_chat') %> adviser.</p>
        <%= f.govuk_text_area :missing_explanation, label: { text: t('application_form.gcse.missing_explanation.label'), size: 's' }, rows: 12, max_words: 200 do %>
        <% end %>
      <% end %>
    <% else %>
      <%= f.govuk_radio_button :qualification_type, option.id, label: { text: option.label }, link_errors: i.zero? %>
    <% end %>
  <% end %>
<% end %>

<%= f.govuk_submit t('save_and_continue') %>
