<div class="govuk-width-container">
  <div class="govuk-!-width-two-thirds govuk-!-padding-top-4">
    <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
      Tell us whether you accept cookies
    </h1>
    <p class="govuk-body">
      We use <%= govuk_link_to 'cookies to collect information', cookies_path %> about how you use ‘<%= service_name %>’. We use this information to make the website work as well as possible and improve government services.
    </p>
    <%= form_with model: CookiePreferencesForm.new(consent: 'yes'), url: cookie_preferences_path, method: :post do |f| %>
      <%= f.govuk_submit('Accept all cookies', classes: 'app-button--cookies') do %>
        <%= govuk_button_link_to 'Set cookie preferences', cookies_path, class: 'app-button--cookies' %>
      <% end %>
    <% end %>
  </div>
</div>
