<%= govuk_cookie_banner(
  html_attributes: {
    aria: {
      label: "Cookies on #{service_name}",
    },
  },
) do |cookie_banner| %>
  <%= cookie_banner.with(:body) do %>
    <p>You’ve <%= consented == 'yes' ? 'accepted' : 'rejected' %> analytics cookies. You can <%= govuk_link_to('change your cookie settings', current_namespace == 'candidate_interface' ? candidate_interface_cookies_path : provider_interface_cookies_path) %> at any time.</p>
  <% end %>
  <%= cookie_banner.with(:actions) do %>
    <%= govuk_button_to('Hide this message', current_namespace == 'canidate_interface' ? candidate_interface_cookie_preferences_hide_confirmation_path : provider_interface_cookie_preferences_hide_confirmation_path, method: :post) %>
  <% end %>
<% end %>
