<h2 class="govuk-heading-m"><%= t("application_form.#{section_name}_section.heading") %></h2>

<% if record.present? %>
  <dl class="govuk-summary-list govuk-!-font-size-16">
    <% fields.each do |field| %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t("application_form.#{section_name}_section.#{field}.label") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= record.send(field) %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, record], class: 'govuk-link', id: "change-#{field}" do %>
            Change<span class="govuk-visually-hidden"> <%= record[field] %></span>
          <% end %>
        </dd>
      </div>
    <% end %>
  </dl>
<% end %>
