<%= form_with model: form_object, url: provider_interface_application_choice_offer_conditions_path(application_choice), method: form_method do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= form_caption %></span>
        <%= form_heading %>
      </h1>

      <h2 class="govuk-heading-m">Mandatory conditions</h2>
      <p class="govuk-body">
        The candidate must meet these conditions before joining the course:
      </p>
      <%= govuk_list(type: :bullet) do %>
        <li>a fitness to train to teach check</li>
        <li>Disclosure and Barring Service (DBS) check</li>
        <li>satisfactory references</li>
      <% end %>

      <%= f.govuk_fieldset(
        legend: {
          id: 'further-conditions-heading',
          text: 'Additional conditions',
          class: 'govuk-heading-m govuk-!-margin-bottom-1 app-add-condition__heading',
          tabindex: '-1',
        },
      ) do %>
      <p class="govuk-body">For example, completing their degree with a certain grade.</p>

        <%= render 'provider_interface/offer/conditions/further_condition', form: f, model: Struct.new(:id, :condition_id, :text).new('placeholder', nil, nil), label_text: 'placeholder', disabled: true %>

        <% form_object.further_condition_models.each do |model| %>
          <%= render 'provider_interface/offer/conditions/further_condition', form: f, model: model, label_text: model.id + 1, disabled: false %>
        <% end %>

        <%= f.govuk_submit(
          t('.add_another'),
          name: 'commit',
          data: { max_conditions: ProviderInterface::OfferWizard::MAX_FURTHER_CONDITIONS },
          value: 'add_another_condition',
          secondary: true,
          class: 'app-add-condition__add-button',
          style: "display: #{form_object.max_number_of_further_conditions? ? 'none' : 'block'};",
        ) %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset :require_references, legend: { text: 'Do you want to request any specific references?' }, hint: { text: 'For example, if you require a reference from their current school employer.' } do %>
        <%= f.govuk_radio_button :require_references, 1, label: { text: 'Yes' }, link_errors: true do %>
          <%= f.govuk_text_area :references_description, label: { text: 'Give details of the specific reference you want. The candidate will be made aware of this request' } %>
        <% end %>
        <%= f.govuk_radio_button :require_references, 0, label: { text: 'No' } %>
      <% end %>

      <%= f.govuk_submit t('continue') %>

      <p class="govuk-body">
        <%= govuk_link_to t('cancel'), provider_interface_application_choice_path(application_choice), no_visited_state: true %>
      </p>
    </div>
  </div>
<% end %>
