<%= form_with model: form_object, url: provider_interface_application_choice_offer_conditions_path(application_choice), method: form_method do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l"><%= application_choice.application_form.full_name %></span>
    <%= form_heading %>
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_collection_check_boxes(:standard_conditions,
                                         standard_conditions_checkboxes,
                                         :id,
                                         :name,
                                         legend: { size: 'm' }) %>

      <%= f.govuk_fieldset(
        legend: {
          id: 'further-conditions-heading',
          text: t('.further_conditions'),
          class: 'govuk-heading-m govuk-!-margin-bottom-1 app-add-another__heading',
          tabindex: '-1',
        },
      ) do %>
        <p class="govuk-body">For example, studying a subject knowledge enhancement course.</p>

        <%= render 'provider_interface/offer/conditions/further_condition', form: f, model: OpenStruct.new(id: 'placeholder'), label_text: 'placeholder', disabled: true %>

        <% form_object.condition_models.each do |model| %>
          <%= render 'provider_interface/offer/conditions/further_condition', form: f, model: model, label_text: model.id + 1, disabled: false %>
        <% end %>

        <% unless form_object.has_max_number_of_further_conditions? %>
          <%= f.button name: 'commit', value: 'add_another_condition', class: 'govuk-button govuk-button--secondary app-add-another__add-button govuk-!-margin-bottom-4' do %>
            <%= t('.add_another') %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>

      <p class="govuk-body">
        <%= govuk_link_to t('cancel'), provider_interface_application_choice_path(application_choice), class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
