<% content_for :title, title_with_error_prefix(t('page_titles.which_location'), @wizard.current_step.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @wizard.current_step,
          url: candidate_interface_edit_continuous_applications_course_site_path(
            @application_choice.id,
            params[:course_id],
            params[:study_mode],
          ),
          method: :patch,
        ) do |f| %>
          <%= f.govuk_error_summary %>
          <%= f.hidden_field(:provider_id) %>
          <%= f.hidden_field(:course_id) %>
          <%= f.hidden_field(:study_mode) %>

          <%= f.govuk_radio_buttons_fieldset :course_option_id, legend: { text: t('page_titles.which_location'), size: 'xl', tag: 'h1' } do %>
            <% @wizard.current_step.available_sites.each_with_index do |option, i| %>
              <%= f.govuk_radio_button :course_option_id, option.id, label: { text: option.site.name }, hint: { text: option.site.full_address }, link_errors: i.zero? %>
            <% end %>
          <% end %>

<%= f.govuk_submit t('continue') %>
        <% end %>
  </div>
</div>
