<% content_for :title, title_with_error_prefix(t('page_titles.edit_degree'), @degree.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_degrees_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree, url: candidate_interface_degrees_edit_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.edit_degree') %>
      </h1>

      <%= f.hidden_field :id, value: @degree.id %>
      <%= f.govuk_text_field :qualification_type, label: { text: t('application_form.degree.qualification_type.label'), size: 'm' }, hint_text: t('application_form.degree.qualification_type.hint_text.all') %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
