<% content_for :title, page_title(:edit_degree) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_degrees_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree, url: candidate_interface_degrees_edit_path do |f| %>
      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <%= t('page_titles.edit_degree') %>
          </h1>
        </legend>

        <%= f.hidden_field :id, value: @degree.id %>
        <%= f.govuk_text_field :qualification_type, label: { text: t('application_form.degree.qualification_type.label'), size: 'm' }, hint_text: t('application_form.degree.qualification_type.hint_text.all') %>
        <%= render 'form', f: f %>
      </fieldset>
    <% end %>
  </div>
</div>
