<% content_for :title, page_title(:add_undergraduate_degree) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree, url: candidate_interface_degrees_create_base_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <%= t('page_titles.add_undergraduate_degree') %>
          </h1>
        </legend>

        <p class="govuk-body">
          Your undergraduate degree confirms your eligibility to teach.
          Enter the details of your degree as they appear on your certificate,
          translating them into English if necessary.
        </p>
        <p class="govuk-body">
          If you have further postgraduate degrees, you’ll be able to add them next.
        </p>

        <%= f.govuk_text_field :qualification_type, label: { text: t('application_form.degree.qualification_type.label'), size: 'm' }, hint_text: t('application_form.degree.qualification_type.hint_text.new') %>
        <%= f.govuk_text_field :subject, label: { text: t('application_form.degree.subject.label'), size: 'm' } %>
        <%= f.govuk_text_field :institution_name, label: { text: t('application_form.degree.institution_name.label'), size: 'm' } %>

        <%= f.govuk_submit t('application_form.degree.base.button') %>
      </fieldset>
    <% end %>
  </div>
</div>
