<% content_for :title, t('page_titles.add_undergraduate_degree') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree, url: candidate_interface_degrees_create_base_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.add_undergraduate_degree') %>
      </h1>

      <p class="govuk-body">
        Your undergraduate degree confirms your eligibility to teach.
        Enter the details of your degree as they appear on your certificate,
        translating them into English if necessary.
      </p>
      <p class="govuk-body">
        If you have further postgraduate degrees, you’ll be able to add them next.
      </p>

      <%= f.govuk_text_field :qualification_type, label: { text: t('application_form.degree.qualification_type.label'), size: 'm' }, hint_text: t('application_form.degree.qualification_type.hint_text.undergraduate') %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
