<% content_for :title, t('page_titles.sign_in') %>
<% content_for :before_content, govuk_back_link_to(support_interface_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render NotificationMessageComponent.new(:info,
                                                message: 'Temporary login',
                                                secondary_message: 'DfE Sign In is experiencing problems. You need to sign in using your email address.') %>

    <p class="govuk-body-l">You must sign in to your account to use the support console.</p>

    <%= form_with model: SupportUser.new, url: support_interface_sign_in_by_email_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_email_field :email_address, label: { text: 'Email address', size: 'm' }, width: 'two-thirds', autocomplete: 'email', spellcheck: false %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
