<%= render 'docs_navigation', title: t('.title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% @previews.each do |preview| %>
      <%= govuk_table do |table| %>
        <%= table.with_caption(size: 'm', text: preview.preview_name.titleize) %>
        <%= table.with_head do |head| %>
          <%= head.with_row do |row| %>
            <%= row.with_cell(text: t('.preview')) %>
            <%= row.with_cell(text: t('.description')) %>
          <% end %>
        <% end %>
        <%= table.with_body do |body| %>
          <% preview.emails.each do |email| %>
            <%= body.with_row do |row| %>
              <%= row.with_cell do %>
                <%= govuk_link_to email.gsub('_', ' '), url_for(controller: 'rails/mailers', action: 'preview', path: "#{preview.preview_name}/#{email}") %>
              <% end %>
              <%= row.with_cell do %>
                  <%= t(".email_descriptions.#{preview.preview_name.gsub('/', '_')}.#{email}") %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
