<%= content_for :title, 'When emails are sent' %>

<% content_for :before_content do %>
  <%= render SubNavigationComponent.new(items: [
    { name: 'Provider application flow', url: support_interface_provider_flow_path },
    { name: 'Candidate application flow', url: support_interface_candidate_flow_path },
    { name: 'When emails are sent', url: support_interface_when_emails_are_sent_path, current: true },
  ]) %>
<% end %>

<style>
  svg { max-width: 100%; }
</style>

<% ApplicationStateChange.workflow_spec.states.each do |_, state| %>
  <% state_name = state.name.to_s %>
  <% human_state_name = I18n.t!("application_states.#{state_name}.name") %>
  <% next unless state.events.any? %>

  <h2 class='govuk-heading-l' id='<%= state_name %>'><%= human_state_name %></h2>

  <p class='govuk-body'>
    <% chaser_emails = I18n.exists?("application_states.#{state_name}.emails") ? I18n.t!("application_states.#{state_name}.emails") : [] %>

    <% if chaser_emails.any? %>
      In this state we send these chasers:

      <ul class='govuk-list govuk-list--bullet'>
      <% chaser_emails.each do |email_id| %>
        <% email_name = email_id.gsub('-', ' ').gsub('candidate_mailer', 'To candidate: ').gsub('referee_mailer', 'To referee: ').gsub('provider_mailer', 'To provider: ') %>

        <li>
          <% if Rails.application.config.action_mailer.show_previews %>
            <%= govuk_link_to email_name, '/rails/mailers/' + email_id.gsub('-', '/') %>
          <% else %>
            <%= email_name %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <ul class="govuk-list">
      <% state.events.each do |_, events| %>

        <li>
          <p class='govuk-body'>
            When <strong><%= I18n.t!("events.#{state_name}-#{events.first}.name") %></strong> we send these notifications:
          </p>

          <p class='govuk-body'>
            <% emails_sent_from_event = I18n.exists?("events.#{state_name}-#{events.first.name}.emails") ? I18n.t!("events.#{state_name}-#{events.first.name}.emails") : [] %>

            <% if emails_sent_from_event.any? %>
              <ul class='govuk-list govuk-list--bullet'>
              <% emails_sent_from_event.each do |email_id| %>
                <% email_name = email_id.gsub('-', ' ').gsub('candidate_mailer', 'To candidate: ').gsub('referee_mailer', 'To referee: ').gsub('provider_mailer', 'To provider: ') %>

                <li>
                  <% if Rails.application.config.action_mailer.show_previews %>
                    <%= govuk_link_to email_name, '/rails/mailers/' + email_id.gsub('-', '/') %>
                  <% else %>
                    <%= email_name %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            <% else %>
              No emails are sent with this transition.
            <% end %>
          </p>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="govuk-grid-column-one-half">
      <%= StateDiagram.svg(only_from_state: state_name, machine: ApplicationStateChange) %>
    </div>
  </div>

  <hr class='govuk-section-break govuk-section-break--xl govuk-section-break--visible'>
<% end %>
