<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.course') %></h2>
  <%= render(CandidateInterface::CourseReviewComponent.new(application_choice: @application_choice)) %>
</section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.personal_details') %></h2>
  <%= render(CandidateInterface::PersonalDetailsReviewComponent.new(application_form: application_form, editable: editable, missing_error: nil)) %>
  <%= render(CandidateInterface::ContactDetailsReviewComponent.new(application_form: application_form, editable: editable, missing_error: nil, submitting_application: true)) %>
</section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.qualifications') %></h2>
  <%= govuk_warning_text(
    text: t('section_groups.copies_of_qualifications'),
  ) %>
  <%= render(CandidateInterface::GcseQualificationReviewComponent.new(
    application_form: @application_form,
    application_qualification: @application_form.english_gcse,
    subject: 'english',
    editable: editable,
    heading_level: 3,
    missing_error: nil,
    submitting_application: true,
  )) %>

  <% if @application_form.international_applicant? %>
    <% if @application_form.english_proficiency.present? %>
      <%= render(CandidateInterface::EnglishForeignLanguage::SummaryReviewComponent.new(application_form:)) %>
    <% else %>
      <%= render(CandidateInterface::IncompleteSectionComponent.new(section: 'efl', section_path: candidate_interface_english_foreign_language_start_path, error: nil)) %>
    <% end %>
  <% end %>

  <%= render(CandidateInterface::GcseQualificationReviewComponent.new(
    application_form: @application_form,
    application_qualification: @application_form.maths_gcse,
    subject: 'maths',
    editable: editable,
    heading_level: 3,
    missing_error: nil,
    submitting_application: true,
  )) %>

  <% if @application_form.science_gcse_needed? %>
    <%= render(CandidateInterface::GcseQualificationReviewComponent.new(
      application_form: @application_form,
      application_qualification: @application_form.science_gcse,
      subject: 'science',
      editable: editable,
      heading_level: 3,
      missing_error: nil,
      submitting_application: true,
    )) %>
  <% end %>

  <%= render(CandidateInterface::OtherQualificationsReviewComponent.new(
    application_form: application_form,
    editable: editable,
    heading_level: 3,
    missing_error: nil,
    submitting_application: true,
  )) %>

    <%= render(CandidateInterface::DegreeReviewComponent.new(
      application_form: application_form,
      editable: editable, heading_level: 3,
      show_incomplete: true,
      missing_error: nil
    )) %>
</section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.work_experience') %></h2>
  <%= render(RestructuredWorkHistory::ReviewComponent.new(
    application_form: application_form,
    editable: editable,
    heading_level: 4,
    show_incomplete: !application_form.work_history_completed && editable,
    missing_error: nil,
  )) %>
  <%= render(CandidateInterface::VolunteeringReviewComponent.new(application_form: application_form, editable: editable, heading_level: 4, show_incomplete: true, missing_error: nil)) %>
</section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.personal_statement') %></h2>

  <div data-qa="becoming-a-teacher">
    <%= render(CandidateInterface::BecomingATeacherReviewComponent.new(
      application_form: application_form,
      editable: editable,
      missing_error: nil,
      submitting_application: true,
    )) %>
  </div>
</section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.adjustments') %></h2>
  <%= render(CandidateInterface::TrainingWithADisabilityReviewComponent.new(application_form: @application_form, editable: editable, missing_error: nil, submitting_application: true)) %>
  <%= render(CandidateInterface::InterviewPreferencesReviewComponent.new(application_form: application_form, editable: editable, missing_error: nil, submitting_application: true)) %>
</section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.safeguarding') %></h2>

  <h3 class="govuk-heading-s">References</h3>
  <%= render(CandidateInterface::ReferencesReviewComponent.new(application_form: current_application, editable: editable, references: @application_form.application_references.creation_order, heading_level: 4, missing_error: nil)) %>

  <h3 class="govuk-heading-s">Safeguarding issues</h3>
  <%= render(CandidateInterface::SafeguardingReviewComponent.new(application_form: @application_form, editable: editable, missing_error: nil, submitting_application: true)) %>

  <h3 class="govuk-heading-s">Previous teacher training</h3>
  <%= render PreviousTeacherTraining::StartedDeclarationComponent.new(application_form: @application_form) %>
  <%= render PreviousTeacherTraining::ListComponent.with_collection(@application_form.previous_teacher_trainings.published.started_yes.order_by_dates, heading_level: 4) %>
</section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27">Equality and diversity</h2>
  <p class="govuk-body">These will only be shared with a provider if you accept an offer from them.</p>
  <%= render(CandidateInterface::EqualityAndDiversityReviewComponent.new(application_form: application_form, editable: editable, missing_error: nil, submitting_application: true)) %>
</section>
