<% content_for :title, t('page_titles.application_dashboard') %>

<%= render CandidateInterface::NewReferencesNeededComponent, application_form: @application_form %>

<h1 class="govuk-heading-xl govuk-heading-xl govuk-!-margin-bottom-2">
  <%= t('page_titles.application_dashboard') %>
</h1>
<p class="govuk-body govuk-hint govuk-!-margin-bottom-8">
  Application submitted on <%= submitted_at_date %>. <%= govuk_link_to 'View application', candidate_interface_application_review_submitted_path %>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(CandidateInterface::ApplicationCompleteContentComponent, application_form: @application_form) %>

    <%= render(CandidateInterface::CourseChoicesReviewComponent, application_form: @application_form, editable: false, show_status: true) %>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">References</h2>

    <%= render(CandidateInterface::RefereesReviewComponent, application_form: @application_form, editable: false) %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: '/candidate_interface/shared/need_help', locals: { support_reference: @application_form.support_reference } %>

    <aside class="app-related" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Updating your contact details</h2>

      <div class="govuk-body-s">
        You can update your contact details at any point during the application process. To do this, email us at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a>.
      </div>
    </aside>
  </div>
</div>
