<% content_for :title, t('page_titles.application_dashboard') %>

<% new_references_needed_component = CandidateInterface::NewReferencesNeededComponent.new(application_form: @application_form) %>
<% if new_references_needed_component.render? %>
  <%= render new_references_needed_component %>
<% elsif flash.empty? %>
  <%= render CandidateInterface::Covid19DashboardBannerComponent.new(application_form: @application_form) %>
<% end %>

<h1 class="govuk-heading-xl govuk-heading-xl govuk-!-margin-bottom-2">
  <%= t('page_titles.application_dashboard') %>
</h1>
<p class="govuk-body govuk-hint govuk-!-margin-bottom-8">
  Application submitted on <%= submitted_at_date %>. <%= govuk_link_to 'View application', candidate_interface_application_review_submitted_path %>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(CandidateInterface::ApplicationCompleteContentComponent.new(application_form: @application_form)) %>

    <%= render(CandidateInterface::CourseChoicesReviewComponent.new(application_form: @application_form, editable: false, show_status: true)) %>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">References</h2>

    <%= render(CandidateInterface::RefereesReviewComponent.new(application_form: @application_form, editable: false)) %>

    <% if @application_form.submitted? && @application_form.application_references.count < 2 && FeatureFlag.active?('candidate_cancels_reference') %>
      <%= govuk_button_link_to t('application_form.referees.add_referee'), candidate_interface_additional_referee_type_path, class: 'govuk-button govuk-!-margin-top-4' %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: '/candidate_interface/shared/need_help', locals: { support_reference: @application_form.support_reference } %>

    <aside class="app-related" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Updating your contact details</h2>

      <div class="govuk-body-s">
        You can update your contact details at any point during the application process. To do this, email us at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a>.
      </div>
    </aside>
  </div>
</div>
