<% content_for :title, t('page_titles.application_edit') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_complete_path, 'Back to application dashboard') %>

<h1 class="govuk-heading-xl govuk-heading-xl">
  <%= t('page_titles.application_edit') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You have until <%= edit_by_date %> to edit your application. You can only make changes once.</p>
    <p class="govuk-body">Email us at <%= govuk_link_to 'becomingateacher@digital.education.gov.uk', 'mailto:becomingateacher@digital.education.gov.uk' %> to make changes.</p>
    <h2 class="govuk-heading-m">Changing your referees</h2>
    <p class="govuk-body">You can <%= govuk_link_to 'change your referees from your application dashboard', candidate_interface_application_complete_path %>.</p>
    <h2 class="govuk-heading-m">Change your personal information</h2>
    <p class="govuk-body">Email us anytime at <%= govuk_link_to 'becomingateacher@digital.education.gov.uk', 'mailto:becomingateacher@digital.education.gov.uk' %> to change your personal information.</p>
  </div>
</div>
