<% content_for :title, page_title(t('review_application.title')) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>

<h1 class="govuk-heading-xl">
  <%= t('review_application.heading') %>
</h1>

<h2 class="govuk-heading-m govuk-!-font-size-27">Courses</h2>

<%= govuk_button_link_to 'TODO: Add a course', '#', class: 'govuk-button--secondary govuk-!-font-size-16 govuk-!-padding-top-1 govuk-!-padding-bottom-1' %>

<h3 class="govuk-heading-m">Personal details</h3>

<%= render(PersonalDetailsReviewComponent, application_form: @application_form) %>

<h3 class="govuk-heading-m">Contact details</h3>

<%= render(ContactDetailsReviewComponent, application_form: @application_form) %>

<h2 class="govuk-heading-m govuk-!-font-size-27">Work history</h2>

<%= render(WorkHistoryReviewComponent, application_form: @application_form) %>

<h2 class="govuk-heading-m govuk-!-font-size-27">Volunteering with children and young people</h2>

<p class="govuk-body">No school experiences entered.</p>

<h2 class="govuk-heading-m govuk-!-font-size-27">Qualifications</h2>

<h3 class="govuk-heading-m">Degree(s)</h3>

<%= render(DegreesReviewComponent, application_form: @application_form) %>

<h3 class="govuk-heading-m">Maths GCSE or equivalent</h3>

<p class="govuk-body">Not entered.</p>

<h3 class="govuk-heading-m">English GCSE or equivalent</h3>

<p class="govuk-body">Not entered.</p>

<h3 class="govuk-heading-m">Other relevant qualifications</h3>

<p class="govuk-body">No other qualifications entered.</p>

<h2 class="govuk-heading-m govuk-!-font-size-27">Personal statement and interview</h2>

<p class="govuk-body">No personal statements entered.</p>

<h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>

<p class="govuk-body">No references entered.</p>

<%= govuk_button_link_to t('review_application.button_continue'), candidate_interface_application_submit_show_path %>
