<% content_for :title, @application_form.amendable? ? t('page_titles.edit_application_form') : t('page_titles.application_form') %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
  <%= @application_form.amendable? ? t('page_titles.edit_application_form') : t('page_titles.application_form') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @application_form.amendable? %>
      <div class="govuk-warning-text govuk-!-margin-top-6">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            <%= t('application_complete.edit_page.warning_text', remaining_days: formatted_days_remaining, date: edit_by_date) %>
        </strong>
      </div>
    <% else %>
      <p class="govuk-hint govuk-!-margin-bottom-8 govuk-!-margin-top-2"><%= @application_form_presenter.updated_at %></p>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      <%= t('page_titles.course_choices') %>
    </h2>
    <% unless @application_form_presenter.application_choices_added? %>
      <p class="govuk-body"><%= t('application_form.courses.intro') %></p>
    <% end %>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: t('page_titles.course_choices'), completed: @application_form_presenter.course_choices_completed?, path: candidate_interface_course_choices_index_path) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-4">
      About you
    </h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: t('page_titles.personal_details'), completed: @application_form_presenter.personal_details_completed?, path: @application_form_presenter.personal_details_completed? ? candidate_interface_personal_details_show_path : candidate_interface_personal_details_edit_path) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: t('page_titles.contact_details'), completed: @application_form_presenter.contact_details_completed?, path: @application_form_presenter.contact_details_completed? ? candidate_interface_contact_details_review_path : candidate_interface_contact_details_edit_base_path) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: t('page_titles.work_history'), completed: @application_form_presenter.work_experience_completed?, path: @application_form_presenter.work_experience_path) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: t('page_titles.volunteering.short'), completed: @application_form_presenter.volunteering_completed?, path: @application_form_presenter.volunteering_path) %>
      </li>
        <% if FeatureFlag.active?('training_with_a_disability') %>
          <li class="app-task-list__item">
            <%= render(TaskListItemComponent, text: t('page_titles.training_with_a_disability'), completed: @application_form_presenter.training_with_a_disability_completed?, path: @application_form_presenter.training_with_a_disability_completed? ? candidate_interface_training_with_a_disability_show_path : candidate_interface_training_with_a_disability_edit_path) %>
          </li>
        <% end %>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      Qualifications
    </h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: t('page_titles.degree'), completed: @application_form_presenter.degrees_completed?, path: @application_form_presenter.degrees_path) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: 'Maths GCSE or equivalent', completed: @application_form_presenter.maths_gcse_completed?, path: @application_form_presenter.maths_gcse_completed? ? candidate_interface_gcse_review_path(subject: :maths) : candidate_interface_gcse_details_edit_type_path(subject: :maths)) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: 'English GCSE or equivalent', completed: @application_form_presenter.english_gcse_completed?, path: @application_form_presenter.english_gcse_completed? ? candidate_interface_gcse_review_path(subject: :english) : candidate_interface_gcse_details_edit_type_path(subject: :english)) %>
      </li>
      <% if @application_form.science_gcse_needed? %>
        <li class="app-task-list__item">
          <%= render(TaskListItemComponent, text: 'Science GCSE or equivalent', completed: @application_form_presenter.science_gcse_completed?, path: @application_form_presenter.science_gcse_completed? ? candidate_interface_gcse_review_path(subject: :science) : candidate_interface_gcse_details_edit_type_path(subject: :science)) %>
        </li>
      <% end %>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: t('page_titles.other_qualification'), completed: @application_form_presenter.other_qualifications_completed?, path: @application_form_presenter.other_qualification_path, show_incomplete: false) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      Personal statement and interview
    </h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item govuk-hint">
        <%= render(TaskListItemComponent, text: t('page_titles.becoming_a_teacher'), completed: @application_form_presenter.becoming_a_teacher_completed?, path: @application_form_presenter.becoming_a_teacher_completed? ? candidate_interface_becoming_a_teacher_show_path : candidate_interface_becoming_a_teacher_edit_path) %>
      </li>
      <li class="app-task-list__item govuk-hint">
        <%= render(TaskListItemComponent, text: t('page_titles.subject_knowledge'), completed: @application_form_presenter.subject_knowledge_completed?, path: @application_form_presenter.subject_knowledge_completed? ? candidate_interface_subject_knowledge_show_path : candidate_interface_subject_knowledge_edit_path) %>
      </li>
      <li class="app-task-list__item govuk-hint">
        <%= render(TaskListItemComponent, text: t('page_titles.interview_preferences'), completed: @application_form_presenter.interview_preferences_completed?, path: @application_form_presenter.interview_preferences_completed? ? candidate_interface_interview_preferences_show_path : candidate_interface_interview_preferences_edit_path) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent, text: 'Referees', completed: @application_form_presenter.all_referees_provided_by_candidate?, path: candidate_interface_referees_path) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27">Review and submit</h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= govuk_link_to 'Check your answers before submitting',
                          candidate_interface_application_review_path,
                          class: 'app-task-list__task-name' %>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render '/candidate_interface/shared/need_help' %>
  </div>
</div>
