<% content_for :title, t('page_titles.application_form') %>

<% if FeatureFlag.active?('covid_19') && flash.empty? %>
  <div class="app-banner" aria-labelledby="success-message" data-module="govuk-error-summary" role="alert">
    <div class="app-banner__message">
      <h2 class="govuk-heading-m" id="success-message">There might be a delay in processing your application due to the impact of coronavirus (COVID-19)</h2>
    </div>
  </div>
<% end %>


<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
  <%= t('page_titles.application_form') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint govuk-!-margin-bottom-8 govuk-!-margin-top-2"><%= @application_form_presenter.updated_at %></p>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      <%= t('page_titles.course_choices') %>
    </h2>
    <% unless @application_form_presenter.application_choices_added? %>
      <p class="govuk-body"><%= t('application_form.courses.intro') %></p>
    <% end %>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.course_choices'), completed: @application_form_presenter.course_choices_completed?, path: candidate_interface_course_choices_index_path)) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-4">
      About you
    </h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.personal_details'), completed: @application_form_presenter.personal_details_completed?, path: @application_form_presenter.personal_details_completed? ? candidate_interface_personal_details_show_path : candidate_interface_personal_details_edit_path)) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.contact_details'), completed: @application_form_presenter.contact_details_completed?, path: @application_form_presenter.contact_details_completed? ? candidate_interface_contact_details_review_path : candidate_interface_contact_details_edit_base_path)) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.work_history'), completed: @application_form_presenter.work_experience_completed?, path: @application_form_presenter.work_experience_path)) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.volunteering.short'), completed: @application_form_presenter.volunteering_completed?, path: @application_form_presenter.volunteering_path)) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.training_with_a_disability'), completed: @application_form_presenter.training_with_a_disability_completed?, path: @application_form_presenter.training_with_a_disability_completed? ? candidate_interface_training_with_a_disability_show_path : candidate_interface_training_with_a_disability_edit_path)) %>
      </li>
      <% if FeatureFlag.active?('suitability_to_work_with_children') %>
        <li class="app-task-list__item">
          <%= render(TaskListItemComponent.new(text: t('page_titles.suitability_to_work_with_children'), completed: @application_form_presenter.safeguarding_completed?, path: @application_form_presenter.safeguarding_completed? ? candidate_interface_review_safeguarding_path : candidate_interface_edit_safeguarding_path)) %>
        </li>
      <% end %>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      Qualifications
    </h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.degree'), completed: @application_form_presenter.degrees_completed?, path: @application_form_presenter.degrees_path)) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: 'Maths GCSE or equivalent', completed: @application_form_presenter.maths_gcse_completed?, path: @application_form_presenter.maths_gcse_completed? ? candidate_interface_gcse_review_path(subject: :maths) : candidate_interface_gcse_details_edit_type_path(subject: :maths))) %>
      </li>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: 'English GCSE or equivalent', completed: @application_form_presenter.english_gcse_completed?, path: @application_form_presenter.english_gcse_completed? ? candidate_interface_gcse_review_path(subject: :english) : candidate_interface_gcse_details_edit_type_path(subject: :english))) %>
      </li>
      <% if @application_form.science_gcse_needed? %>
        <li class="app-task-list__item">
          <%= render(TaskListItemComponent.new(text: 'Science GCSE or equivalent', completed: @application_form_presenter.science_gcse_completed?, path: @application_form_presenter.science_gcse_completed? ? candidate_interface_gcse_review_path(subject: :science) : candidate_interface_gcse_details_edit_type_path(subject: :science))) %>
        </li>
      <% end %>
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: t('page_titles.other_qualification'), completed: @application_form_presenter.other_qualifications_completed?, path: @application_form_presenter.other_qualification_path, show_incomplete: false)) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      Personal statement and interview
    </h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item govuk-hint">
        <%= render(TaskListItemComponent.new(text: t('page_titles.becoming_a_teacher'), completed: @application_form_presenter.becoming_a_teacher_completed?, path: @application_form_presenter.becoming_a_teacher_completed? ? candidate_interface_becoming_a_teacher_show_path : candidate_interface_becoming_a_teacher_edit_path)) %>
      </li>
      <li class="app-task-list__item govuk-hint">
        <%= render(TaskListItemComponent.new(text: t('page_titles.subject_knowledge'), completed: @application_form_presenter.subject_knowledge_completed?, path: @application_form_presenter.subject_knowledge_completed? ? candidate_interface_subject_knowledge_show_path : candidate_interface_subject_knowledge_edit_path)) %>
      </li>
      <li class="app-task-list__item govuk-hint">
        <%= render(TaskListItemComponent.new(text: t('page_titles.interview_preferences'), completed: @application_form_presenter.interview_preferences_completed?, path: @application_form_presenter.interview_preferences_completed? ? candidate_interface_interview_preferences_show_path : candidate_interface_interview_preferences_edit_path)) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    <ul class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= render(TaskListItemComponent.new(text: 'Referees', completed: @application_form_presenter.all_referees_provided_by_candidate?, path: candidate_interface_referees_path, submitted: false)) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27">Check and submit</h2>
    <%= govuk_button_link_to 'Check and submit your application', candidate_interface_application_review_path %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: '/candidate_interface/shared/need_help', locals: { support_reference: @application_form.support_reference } %>
  </div>
</div>
