<% content_for :title, page_title(:application_form) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.application_form') %>
    </h1>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      Courses
    </h2>
    <% unless @application_form_presenter.application_choices_added? %>
      <p class="govuk-body"><%= t('application_form.courses') %></p>
    <% end %>

    <ol class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= govuk_link_to 'Course choices', candidate_interface_course_choices_index_path %>
      </li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-4">
      About you
    </h2>
    <ol class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <% if @application_form_presenter.personal_details_completed? %>
          <%= govuk_link_to t('page_titles.personal_details'), candidate_interface_personal_details_show_path, class: 'app-task-list__task-name', 'aria-describedby': 'personal-details-completed' %>
          <strong class="govuk-tag app-task-list__task-completed" id="personal-details-completed">Completed</strong>
        <% else %>
          <%= govuk_link_to t('page_titles.personal_details'), candidate_interface_personal_details_edit_path, class: 'app-task-list__task-name' %>
        <% end %>
      </li>
      <li class="app-task-list__item">
        <% if @application_form_presenter.contact_details_completed? %>
          <%= govuk_link_to t('page_titles.contact_details'), candidate_interface_contact_details_review_path, class: 'app-task-list__task-name', 'aria-describedby': 'contact-details-completed' %>
          <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
        <% else %>
          <%= govuk_link_to t('page_titles.contact_details'), candidate_interface_contact_details_edit_base_path, class: 'app-task-list__task-name' %>
        <% end %>
      </li>
      <li class="app-task-list__item">
        <% if @application_form_presenter.work_experience_completed? %>
          <%= govuk_link_to t('page_titles.work_history'), @application_form_presenter.work_experience_path, class: 'app-task-list__task-name', 'aria-describedby': 'work-history-completed' %>
          <strong class="govuk-tag app-task-list__task-completed" id="work-history-completed">Completed</strong>
        <% else %>
          <%= govuk_link_to t('page_titles.work_history'), @application_form_presenter.work_experience_path, class: 'app-task-list__task-name' %>
        <% end %>
      </li>
      <li class="app-task-list__item">
        <%= govuk_link_to 'TODO: School experience and volunteering', '#', class: 'app-task-list__task-name' %>
      </li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      Qualifications
    </h2>
    <ol class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <% if @application_form_presenter.degrees_completed? %>
          <%= govuk_link_to t('page_titles.degree'), candidate_interface_degrees_review_path, class: 'app-task-list__task-name', 'aria-describedby': 'degrees-completed' %>
          <strong class="govuk-tag app-task-list__task-completed" id="degrees-completed">Completed</strong>
        <% elsif @application_form_presenter.degrees_added? %>
          <%= govuk_link_to t('page_titles.degree'), candidate_interface_degrees_review_path, class: 'app-task-list__task-name' %>
        <% else %>
          <%= govuk_link_to t('page_titles.degree'), candidate_interface_degrees_new_base_path, class: 'app-task-list__task-name' %>
        <% end %>
      </li>
      <li class="app-task-list__item">
        <%= govuk_link_to 'Maths GCSE or equivalent', candidate_interface_gcse_details_edit_type_path(subject: :maths), class: 'app-task-list__task-name' %>
      </li>
      <li class="app-task-list__item">
        <%= govuk_link_to 'English GCSE or equivalent', candidate_interface_gcse_details_edit_type_path(subject: :english), class: 'app-task-list__task-name' %>
      </li>
      <li class="app-task-list__item">
        <%= govuk_link_to 'Science GCSE or equivalent', candidate_interface_gcse_details_edit_type_path(subject: :science), class: 'app-task-list__task-name' %>
      </li>
      <li class="app-task-list__item">
        <% if @application_form_presenter.other_qualifications_completed? %>
          <%= govuk_link_to t('page_titles.other_qualification'), candidate_interface_review_other_qualifications_path, class: 'app-task-list__task-name', 'aria-describedby': 'other-qualifications-completed' %>
          <strong class="govuk-tag app-task-list__task-completed" id="other-qualifications-completed">Completed</strong>
        <% elsif @application_form_presenter.other_qualifications_added? %>
          <%= govuk_link_to t('page_titles.other_qualification'), candidate_interface_review_other_qualifications_path, class: 'app-task-list__task-name' %>
        <% else %>
          <%= govuk_link_to t('page_titles.other_qualification'), candidate_interface_new_other_qualification_path, class: 'app-task-list__task-name' %>
        <% end %>
      </li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
      Personal statement and interview
    </h2>
    <p class="govuk-body">
      You can tailor your personal statement to suit different providers and
      courses
    </p>
    <ol class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item govuk-hint">
        <% if @application_form_presenter.becoming_a_teacher_completed? %>
          <%= govuk_link_to t('page_titles.becoming_a_teacher'), candidate_interface_becoming_a_teacher_show_path, class: 'app-task-list__task-name', 'aria-describedby': 'becoming-a-teacher-completed' %>
          <strong class="govuk-tag app-task-list__task-completed" id="becoming-a-teacher-completed">Completed</strong>
        <% else %>
          <%= govuk_link_to t('page_titles.becoming_a_teacher'), candidate_interface_becoming_a_teacher_edit_path, class: 'app-task-list__task-name' %>
        <% end %>
      </li>
      <li class="app-task-list__item govuk-hint">
        <% if @application_form_presenter.subject_knowledge_completed? %>
          <%= govuk_link_to t('page_titles.subject_knowledge'), candidate_interface_subject_knowledge_show_path, class: 'app-task-list__task-name', 'aria-describedby': 'subject-knowledge-completed' %>
          <strong class="govuk-tag app-task-list__task-completed" id="subject-knowledge-completed">Completed</strong>
        <% else %>
          <%= govuk_link_to t('page_titles.subject_knowledge'), candidate_interface_subject_knowledge_edit_path, class: 'app-task-list__task-name' %>
        <% end %>
      </li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    <ol class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= govuk_link_to 'TODO: Referees', '#', class: 'app-task-list__task-name' %>
      </li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-font-size-27">Review and submit</h2>
    <ol class="app-task-list govuk-!-margin-bottom-8">
      <li class="app-task-list__item">
        <%= govuk_link_to 'Check your answers before submitting',
                          candidate_interface_application_review_path,
                          class: 'app-task-list__task-name' %>
      </li>
    </ol>
  </div>
</div>
