<% content_for :title, t('submit_application_success.title') %>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
  <h1 class="govuk-panel__title">
    <%= t('submit_application_success.heading') %>
  </h1>

  <div class="govuk-panel__body">
      Your application number is <span id='application-ref'><%= @support_reference %></span>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">You’ll get an email to confirm that your application has been submitted.</p>

    <h2 class="govuk-heading-m">References</h2>
    <p class="govuk-body">We’ll contact your referees to ask for your references. When we receive them, we’ll add them to your application and send it to your training provider(s).</p>
    <p class="govuk-body">We can’t send your application to your training provider(s) without your references.</p>
    <% unless FeatureFlag.active?('covid_19') %>
      <p class="govuk-body">Training providers then have 40 working days to respond to your application.</p>
    <% end %>

    <% if FeatureFlag.active?('covid_19') %>
      <h2 class="govuk-heading-m">Coronavirus (COVID-19)</h2>
      <p class="govuk-body">We’ve made some changes to response deadlines to give providers more time to make decisions. This may affect your response deadlines too.</p>
      <p class="govuk-body"><%= govuk_link_to 'We’ll keep deadlines up to date on your application dashboard.', candidate_interface_application_complete_path %></p>
    <% end %>

    <h2 class="govuk-heading-m">Interview</h2>
    <p class="govuk-body">Your training provider will be in touch with you if they want to arrange an interview.</p>

    <h2 class="govuk-heading-m">Track, edit or withdraw</h2>
    <p class="govuk-body">You have <%= @editable_days %> to edit your application. We'll only send your application to your provider(s) when this editing period is over.</p>
    <p class="govuk-body"><%= govuk_link_to 'To edit your application, return to your application dashboard.', candidate_interface_application_complete_path %></p>

    <h2 class="govuk-heading-m">Tell us what you think of this service</h2>
    <p class="govuk-body">Your feedback will help us improve.</p>
    <%= govuk_link_to 'Give feedback', candidate_interface_satisfaction_survey_recommendation_path, class: 'govuk-button' %>
  </div>
</div>
