<% content_for :title, 'Validation error summary' %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    'Performance': support_interface_performance_path,
    'Validation errors': support_interface_validation_errors_path,
    'Candidate': support_interface_validation_errors_candidate_path,
    'Validation error summary': nil,
  }) %>
<% end %>

<div class="validation-results-header">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form_with(url: support_interface_validation_errors_candidate_summary_path, method: 'get', class: 'govuk-form') do |f| %>
        <div class="govuk-form-group">
          <%= f.govuk_collection_select(
                :sortby,
                select_sort_options,
                :value,
                :text,
                label: {
                  text: 'Sorted by',
                  class: 'govuk-label govuk-label--inline sortedby-label',
                },
                options: {
                  selected: params['sortby'] || 'all_time',
                },
                class: 'sortedby-label',
                selected: 2,
                onchange: 'this.form.submit()',
                role: 'listbox',
              ) %>
        </div>
        <%= f.govuk_submit('Update') %>
      <% end %>
    </div>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"></th>
      <th class="govuk-table__header"></th>
      <th class="govuk-table__header govuk-table__header--numeric" colspan="2" width="10%">All time</th>
      <th class="govuk-table__header govuk-table__header--numeric" colspan="2" width="10%">Last month</th>
      <th class="govuk-table__header govuk-table__header--numeric" colspan="2" width="10%">Last week</th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header--numeric"></th>
      <th class="govuk-table__header govuk-table__header--numeric"></th>
      <th class="govuk-table__header govuk-table__header--numeric">Error<br>count</th>
      <th class="govuk-table__header govuk-table__header--numeric">Unique<br>users</th>
      <th class="govuk-table__header govuk-table__header--numeric">Error<br>count</th>
      <th class="govuk-table__header govuk-table__header--numeric">Unique<br>users</th>
      <th class="govuk-table__header govuk-table__header--numeric">Error<br>count</th>
      <th class="govuk-table__header govuk-table__header--numeric">Unique<br>users</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @validation_error_summary.each do |row| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <%= govuk_link_to(
          row['form_object'].to_s.demodulize.underscore.humanize,
          support_interface_validation_errors_candidate_search_path(form_object: row['form_object'].to_s),
        ) %>
      </td>
      <td class="govuk-table__cell">
        <%= govuk_link_to(
          row['attribute'].to_s.humanize,
          support_interface_validation_errors_candidate_search_path(form_object: row['form_object'], attribute: row['attribute']),
        ) %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <%= row['incidents_all_time'] %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <%= row['unique_users_all_time'] %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <%= row['incidents_last_month'] %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <%= row['unique_users_last_month'] %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <%= row['incidents_last_week'] %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <%= row['unique_users_last_week'] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
