<table class="govuk-table govuk-!-margin-bottom-9">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= subject_table ? 'Subject' : 'Level' %></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">This cycle</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Last cycle</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Change</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% model.each do |row| %>
      <% if top_level_only %>
        <% next unless row['level'] == 'top' %>
      <% end %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular <%= row['level'] == 'top' ? '' : 'govuk-!-padding-left-2' %>">
          <%= row['tad_subject'] %>
        </th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= row[first_column] %></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= row[second_column] %></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= row[third_column] %></td>
      </tr>
    <% end %>
  </tbody>
  <% if include_total %>
    <tfoot>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total</th>
        <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_with_delimiter(model.select { |row| row['level'] == 'top' }.map { |row| row[first_column].delete(',').to_i }.sum, delimiter: ',') %></td>
        <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_with_delimiter(model.select { |row| row['level'] == 'top' }.map { |row| row[second_column].delete(',').to_i }.sum, delimiter: ',') %></td>
        <td scope="row" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
          <% first_total = model.select { |row| row['level'] == 'top' }.map { |row| row[first_column].delete(',').to_i }.sum %>
          <% second_total = model.select { |row| row['level'] == 'top' }.map { |row| row[second_column].delete(',').to_i }.sum %>
          <% percentage_change = (first_total - second_total).to_f / second_total * 100 %>
          <%= number_with_precision(percentage_change, precision: 0) %>%</td>
      </tr>
    </tfoot>
  <% end %>
</table>
