<%= content_for :title, 'National recruitment performance for the 2022 to 2023 recruitment cycle - Apply for teacher training - GOV.UK' %>

<% if @national_data.nil? || Time.zone.now < @publication_date %>
  <h1 class="govuk-heading-l">
    National recruitment performance for the 2022 to 2023 recruitment cycle
  </h1>
  <p class="govuk-body">This report is not ready to view.</p>
  <% if @publication_date %>
    <p class="govuk-body">It will be published on <%= @publication_date.to_fs(:govuk_date) %></p>
  <% end %>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        National recruitment performance for the 2022 to 2023 recruitment cycle
      </h1>
      <div class="govuk-grid-row">
        <div class="metadata-wrapper">
          <div class="govuk-grid-column-two-thirds metadata-column">
            <dl class="gem-c-metadata">
              <dt class="gem-c-metadata__term">Published</dt>
              <dd class="gem-c-metadata__definition"><%= @publication_date.to_fs(:govuk_date) %></dd>
            </dl>
          </div>
        </div>
      </div>
      <p class="govuk-body">These statistics show the recruitment performance of all initial teacher training (ITT) providers in England from 11 October 2022 to 3 April 2023.</p>
      <p class="govuk-body">If your organisation is an ITT provider, and you use the Manage teacher training applications (Manage) service, you can view your own organisation's recruitment performance by <%= govuk_link_to('signing in to Manage', provider_interface_sign_in_path) %>.</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</h2>
          <ol class="govuk-list govuk-!-margin-bottom-8 app-toc">
            <li>
              <a href="#data" class="govuk-link app-toc__link">
                <span class="app-toc__number">1.</span>
                <span class="app-toc__content">About this data</span>
              </a>
            </li>
            <li>
              <a href="#submitted" class="govuk-link app-toc__link">
                <span class="app-toc__number">2.</span>
                <span class="app-toc__content">Candidates who’ve submitted applications</span>
              </a>
            </li>
            <li>
              <a href="#number-applications" class="govuk-link app-toc__link">
                <span class="app-toc__number">3.</span>
                <span class="app-toc__content">Number of applications</span>
              </a>
            </li>
            <li>
              <a href="#offer" class="govuk-link app-toc__link">
                <span class="app-toc__number">4.</span>
                <span class="app-toc__content">Applications with an offer</span>
              </a>
            </li>
            <li>
              <a href="#accepted" class="govuk-link app-toc__link">
                <span class="app-toc__number">5.</span>
                <span class="app-toc__content">Offers accepted</span>
              </a>
            </li>
            <li>
              <a href="#deferrals" class="govuk-link app-toc__link">
                <span class="app-toc__number">6.</span>
                <span class="app-toc__content">Deferrals</span>
              </a>
            </li>
            <li>
              <a href="#rejected" class="govuk-link app-toc__link">
                <span class="app-toc__number">7.</span>
                <span class="app-toc__content">Applications rejected</span>
              </a>
            </li>
            <li>
              <a href="#automatically" class="govuk-link app-toc__link">
                <span class="app-toc__number">8.</span>
                <span class="app-toc__content">Applications rejected automatically</span>
              </a>
            </li>
            <li>
              <a href="#proportion" class="govuk-link app-toc__link">
                <span class="app-toc__number">9.</span>
                <span class="app-toc__content">Proportion of applications rejected</span>
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="data">1. About this data</h2>
      <p class="govuk-body">The page showing <%= govuk_link_to('monthly statistics for courses starting in the 2023 to 2024 academic year', publications_monthly_report_itt_path(RecruitmentCycle.current_year)) %>, calculates data using the same method UCAS used to. This method counts a candidate’s furthest application. For example, if an application moves from ‘recruited’ to ‘deferred’ the recruited count will go down, and the deferred count will go up. This method does not easily show where a candidate ends up over time.</p>
      <p class="govuk-body">This page about national recruitment performance, calculates data in a new way by counting all submitted applications, regardless of their outcome. It also counts all offers regardless of if the offer is accepted, declined or waiting for a decision.</p>
      <p class="govuk-body">With each page using a different method, you should not compare this page with the monthly statistics page.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="submitted">2. Candidates who’ve submitted applications</h2>
      <p class="govuk-body">The number of candidates who’ve submitted at least one application to an ITT provider between 11 October 2022 to 3 April 2023.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'table', model: @national_data, first_column: 'Candidates submitted', second_column: 'Candidates submitted (previous cycle)', third_column: 'Candidates submitted change', include_total: false, top_level_only: true, subject_table: false %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="number-applications">3. Number of applications</h2>
      <p class="govuk-body">The total number of applications received by all ITT providers from 11 October 2022 to 3 April 2023.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'table', model: @national_data, first_column: 'Applications submitted (this cycle)', second_column: 'Applications submitted (previous cycle)', third_column: 'Applications submitted change', include_total: true, top_level_only: false, subject_table: true %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="offer">4. Applications with an offer</h2>
      <p class="govuk-body">The number of applications with an offer made to a candidate between 11 October 2022 and 3 April 2023.</p>
      <p class="govuk-body">The table includes applications:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          with offers withdrawn by the provider
        </li>
        <li>
          withdrawn by candidates
        </li>
        <li>
          deferred until next cycle
        </li>
      </ul>
      <p class="govuk-body">The table does not include deferrals from a previous cycle and then reconfirmed by the provider this cycle.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'table', model: @national_data, first_column: 'Offers made (this cycle)', second_column: 'Offers made (previous cycle)', third_column: 'Offers made change', include_total: true, top_level_only: false, subject_table: true %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="accepted">5. Offers accepted</h2>
      <p class="govuk-body">The number of candidates who accepted an offer so far this cycle.</p>
      <p class="govuk-body">The table includes candidates who accepted and then deferred an offer in a previous cycle, and the provider has reconfirmed the same offer this cycle.</p>
      <p class="govuk-body">The table does not include applications:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          with offers withdrawn by the provider
        </li>
        <li>
          withdrawn by candidates
        </li>
        <li>
          deferred until the next cycle
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'table', model: @national_data, first_column: 'Acceptances (this cycle)', second_column: 'Acceptance (previous cycle)', third_column: 'Acceptances change', include_total: true, top_level_only: false, subject_table: true %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="deferrals">6. Deferrals</h2>
      <P class="govuk-body">The number of deferrals so far this cycle from 11 October 2022 to 3 April 2023.</p>
      <p class="govuk-body">The table includes candidates who:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          accepted and deferred an offer in a previous cycle, and the provider has reconfirmed the same offer this cycle
        </li>
        <li>
          accepted an offer this cycle, but deferred the same offer until the next cycle
        </li>
      </ul>
      <p class="govuk-body">The table does not include withdrawn applications.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Deferrals</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deferrals this cycle (as of 3 April 2023) to next cycle</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deferrals from last cycle to this cycle</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">All providers (national data)</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_with_delimiter(@national_data.map { |row| row['Deferrals into cycle'].delete(',').to_i }.sum, delimiter: ',') %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_with_delimiter(@national_data.map { |row| row['Deferrals out of cycle'].delete(',').to_i }.sum, delimiter: ',') %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="rejected">7. Applications rejected</h2>
      <p class="govuk-body">The number of applications rejected from all ITT providers from 11 October 2022 to 3 April 2023.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'table', model: @national_data, first_column: 'Application rejections (this cycle)', second_column: 'Application rejections (previous cycle)', third_column: 'Application rejections change', include_total: true, top_level_only: false, subject_table: true %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="automatically">8. Applications rejected automatically</h2>
      <p class="govuk-body">The percentage of applications rejected automatically from all ITT providers from 11 October 2022 to 3 April 2023.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'table', model: @national_data, first_column: 'RBD (this cycle)', second_column: 'RBD (previous cycle)', third_column: 'RBD change', include_total: true, top_level_only: false, subject_table: true %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="proportion">9. Proportion of applications rejected</h2>
      <p class="govuk-body">The proportion of overall applications rejected from all ITT providers from 11 October 2022 to 3 April 2023. </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'table', model: @national_data, first_column: 'Application rejection rate (this cycle)', second_column: 'Application rejection rate (previous cycle)', third_column: 'Rejection rate change', include_total: false, top_level_only: false, subject_table: true %>
    </div>
  </div>
<% end %>
