<% content_for :title, t('confirm_selection.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @course_selection_form, url: candidate_interface_course_complete_selection_path, method: :post do |f| %>
      <h1 class="govuk-heading-xl">
        <%= t('confirm_selection.heading') %>
      </h1>

      <div class="govuk-inset-text">
        <%= govuk_link_to @course_selection_form.course_and_provider_name, '#' %>
      </div>

      <%= f.govuk_radio_buttons_fieldset :confirm, legend: { size: 'm', text: t('confirm_selection.question') } do %>
        <%= f.govuk_radio_button :confirm, true, label: { text: 'Yes' } %>
        <%= f.govuk_radio_button :confirm, false, label: { text: 'No' } %>
      <% end %>

      <%= f.govuk_submit t('confirm_selection.submit_button') %>
    <% end %>
  </div>
</div>
