<% content_for :title, page_title('course_choices') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.course_choices') %>
</h1>

<% @course_choices.map.each do |course_choice| %>
  <%= render(SummaryCardComponent, rows: [
    { key: 'Course', value: "#{course_choice.course.name} (#{course_choice.course.code})" },
    { key: 'Location', value: course_choice.site.name },
  ]) do %>
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        <%= course_choice.provider.name %>
      </h3>
      <div class="app-summary-card__actions">
        <%= link_to t('application_form.courses.delete'), candidate_interface_confirm_destroy_course_choice_path(course_choice.id), class: 'govuk-link' %>
      </div>
    </header>
  <% end %>
<% end %>

<%= govuk_button_link_to 'Add course', candidate_interface_course_choices_choose_path %>
