<% content_for :title, page_title('which_provider') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_index_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: Provider.new, url: candidate_interface_course_choices_provider_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.which_provider') %>
      </h1>

      <%= f.govuk_collection_select :code, @providers.map { |provider| OpenStruct.new(code: provider.code, name: "#{provider.name} (#{provider.code})") }, :code, :name, label: { text: 'Enter training provider name' } %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
