<% content_for :title, t('page_titles.which_provider') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_choose_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @pick_provider, url: candidate_interface_course_choices_provider_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :code, legend: { size: 'xl', text: t('page_titles.which_provider') } do %>
        <div class="govuk-!-margin-top-6">
          <% @pick_provider.available_providers.each_with_index do |provider, i| %>
            <%= f.govuk_radio_button :code, provider.code, label: { text: "#{provider.name} (#{provider.code})" }, link_errors: i.zero? %>
          <% end %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button :code, :other, label: { text: 'Another provider' } %>
        </div>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
