<% content_for :title, title_with_error_prefix(t('page_titles.which_provider'), @pick_provider.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_choose_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @pick_provider, url: candidate_interface_course_choices_provider_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_select :code, select_provider_options(@pick_provider.available_providers), :id, :name, label: { text: t('page_titles.which_provider'), size: 'xl' } do %>
        <p class="govuk-body">You can
          <%= link_to candidate_interface_providers_path, class: 'govuk-link' do %>
            preview a list of training providers and courses
          <% end %>
        currently available on Apply for teacher training.</p>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
