<% content_for :title, title_with_error_prefix(t('page_titles.which_location'), @pick_site.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_course_path(provider_code: params[:provider_code])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @pick_site, url: candidate_interface_course_choices_site_path(provider_code: params[:provider_code], course_code: params[:course_code]), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :course_option_id, legend: { size: 'xl', text: t('page_titles.which_location') } do %>
        <div class="govuk-!-margin-top-6">
          <% @pick_site.available_sites.each_with_index do |option, i| %>
            <%= f.govuk_radio_button :course_option_id, option.id, label: { text: option.site.name }, link_errors: i.zero?, hint_text: option.site.full_address %>
          <% end %>
        </div>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
