<% title = "You can choose #{pluralize(current_application.choices_left_to_make, 'more course')}" %>
<% content_for :title, title_with_error_prefix(title, @add_another_course.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @add_another_course, url: candidate_interface_course_choices_add_another_course_selection_path do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl"><%= title %></h1>
      <p class="govuk-body">After you submit your application you cannot apply for more courses through this service.</p>

      <%= f.govuk_radio_buttons_fieldset :add_another_course, legend: { text: 'Do you want to add another course?', size: 'm' } do %>
        <%= f.govuk_radio_button :add_another_course, :yes, label: { text: 'Yes, add another course' }, link_errors: true %>
        <%= f.govuk_radio_button :add_another_course, :no, label: { text: 'No, not at the moment' } %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    </div>
  </div>
<% end %>
