<%= render 'support_interface/performance/performance_navigation', title: 'Vendor API monitoring' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(
      count: @monitor.never_connected.size,
      label: "#{'provider'.pluralize(@monitor.never_connected.size)} (out of #{@monitor.all_providers.size}) #{'has'.pluralize(@monitor.never_connected.size)} never connected to the API",
      colour: :blue,
      href: '#not-connected',
    ) %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(
      count: @monitor.no_sync_in_24h.size,
      label: "connected #{'provider'.pluralize(@monitor.no_sync_in_24h.size)} #{'has'.pluralize(@monitor.no_sync_in_24h.size)} not synced for at least 24 hours",
      colour: :blue,
      href: '#not-synced',
    ) %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(
      count: @monitor.no_decisions_in_7d.size,
      label: "connected #{'provider'.pluralize(@monitor.no_decisions_in_7d.size)} #{'has'.pluralize(@monitor.no_decisions_in_7d.size)} not posted a decision for at least 7 days",
      colour: :blue,
      href: '#not-posted-decision',
    ) %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(
      count: @monitor.providers_with_errors.size,
      label: "connected #{'provider'.pluralize(@monitor.providers_with_errors.size)} #{'has'.pluralize(@monitor.providers_with_errors.size)} caused an error in the last 7 days",
      colour: :blue,
      href: '#received-error-response',
    ) %>
  </div>
</div>

<h2 class="govuk-heading-m" id="not-connected">Never connected</h2>

<% if @monitor.never_connected.any? %>
  <table class="govuk-table" data-qa="not-connected">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-third">Provider</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-third">Vendor</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-third">API token issued</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @monitor.never_connected.each do |provider| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= govuk_link_to provider.name, support_interface_provider_path(provider) %>
          </td>
          <td class="govuk-table__cell">
            <%= provider.vendor.name.humanize %>
          </td>
          <td class="govuk-table__cell">
            <% if token = provider.vendor_api_tokens.first %>
              <%= token.created_at.to_fs(:govuk_date_and_time) %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">🥂 All providers have connected to the API at least once</p>
<% end %>

<h2 class="govuk-heading-m" id="not-synced">No sync in last 24 hours</h2>

<% if @monitor.no_sync_in_24h.any? %>
  <table class="govuk-table" data-qa="not-synced">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Provider</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Vendor</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Time since last sync</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Time of last sync</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @monitor.no_sync_in_24h.each do |provider| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= govuk_link_to provider.name, support_interface_provider_path(provider.id) %>
          </td>
          <td class="govuk-table__cell">
            <%= provider.vendor.name.humanize %>
          </td>
          <td class="govuk-table__cell">
            <% if provider.last_sync %>
              <%= time_ago_in_words(provider.last_sync) %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="govuk-table__cell">
            <% if provider.last_sync %>
              <%= provider.last_sync.to_fs(:govuk_date_and_time) %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">⚡️ All connected providers have synced in the last 24 hours</p>
<% end %>

<h2 class="govuk-heading-m" id="not-posted-decision">No decisions in last 7 days</h2>

<% if @monitor.no_decisions_in_7d.any? %>
  <table class="govuk-table" data-qa="not-posted-decision">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Provider</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Vendor</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Time since last decision</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Time of last decision</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @monitor.no_decisions_in_7d.each do |provider| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= govuk_link_to provider.name, support_interface_provider_path(provider.id) %>
          </td>
          <td class="govuk-table__cell">
            <%= provider.vendor.name.humanize %>
          </td>
          <td class="govuk-table__cell">
            <% if provider.last_decision %>
              <%= time_ago_in_words(provider.last_decision) %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="govuk-table__cell">
            <% if provider.last_decision %>
              <%= provider.last_decision.to_fs(:govuk_date_and_time) %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">💪 All connected providers have made at least one decision in the last 7 days</p>
<% end %>

<h2 class="govuk-heading-m" id="received-error-response">Error rate in last 7 days</h2>

<% if @monitor.providers_with_errors.any? %>
  <table class="govuk-table" data-qa="received-error-response">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Provider</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Vendor</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Requests</th>
        <th class="govuk-table__header govuk-table__header govuk-!-width-one-quarter">Errors (error rate)</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @monitor.providers_with_errors.each do |provider| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= govuk_link_to provider.name, support_interface_provider_path(provider.id) %>
          </td>
          <td class="govuk-table__cell">
            <%= provider.vendor.name.humanize %>
          </td>
          <td class="govuk-table__cell">
            <%= number_with_delimiter(provider.request_count) %>
          </td>
          <td class="govuk-table__cell">
            <%= number_with_delimiter(provider.error_count) %> (<%= provider.error_rate.round(1) %>%)
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">🤯 No providers have encountered API errors in the last 7 days</p>
<% end %>
