<% content_for :browser_title, t('.title') %>
<% content_for :before_content, govuk_back_link_to(cancel_interview_path_for(@application_choice, @wizard, @interview, @wizard.previous_step, back: true)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l">
          <%= @interview.application_choice.application_form.full_name %>
        </span>
        <%= t('.title') %>
      </label>
    </h1>

    <%= render SummaryCardComponent.new(editable: true, border: false, rows: [
      {
        key: t('.cancellation_reason'),
        value: @wizard.cancellation_reason,
        action: {
          href: new_provider_interface_application_choice_interview_cancel_path(@application_choice, @interview),
          visually_hidden_text: t('.cancellation_reason').downcase,
        },
      },
    ]) %>

    <%= form_with model: @wizard, url: provider_interface_application_choice_interview_path(@application_choice, @interview), method: :delete do |f| %>
      <div class='govuk-form-group'>
        <%= f.hidden_field :cancellation_reason, value: @wizard.cancellation_reason %>
      </div>
      <%= f.govuk_submit 'Send cancellation' %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to t('cancel'), provider_interface_application_choice_interviews_path(@application_choice), no_visited_state: true %>
    </p>
  </div>
</div>
