<% content_for :title, title_with_error_prefix(t('page_titles.eligibility'), @eligibility_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_start_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @eligibility_form, url: candidate_interface_eligibility_path(providerCode: params[:providerCode], courseCode: params[:courseCode]), method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.eligibility') %>
      </h1>

      <%= f.govuk_radio_buttons_fieldset :eligible_citizen, inline: true, legend: { size: 'm', text: 'Are you a citizen of the UK, EU or EEA?', tag: 'span' } do %>
        <%= f.govuk_radio_button :eligible_citizen, 'yes', label: { text: 'Yes' }, link_errors: true %>
        <%= f.govuk_radio_button :eligible_citizen, 'no', label: { text: 'No' } %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset :eligible_qualifications, inline: true, legend: { size: 'm', text: 'Did you gain all your qualifications at institutions based in the UK?', tag: 'span' } do %>
        <%= f.govuk_radio_button :eligible_qualifications, 'yes', label: { text: 'Yes' }, link_errors: true %>
        <%= f.govuk_radio_button :eligible_qualifications, 'no', label: { text: 'No' } %>
      <% end %>

      <% fieldset_label = capture do %>
        Are you applying to one of the following training providers?

        <ul class='govuk-list govuk-list--bullet govuk-!-margin-top-2 govuk-hint'>
          <li>The Royal Academy of Dance</li>
          <li>Gorse SCITT</li>
          <li>Somerset SCITT Consortium</li>
        </ul>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
