<% content_for :title, t('page_titles.application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('start.heading') %>
    </h1>

    <p class="govuk-body">
      <%= t('start.what_is_it') %>
    </p>

    <h2 class="govuk-heading-m">
      <%= t('start.what_you_will_need') %>
    </h2>

    <p class="govuk-body">
      <%= t('start.to_be_eligible') %>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('start.a_degree') %></li>
      <li><%= t('start.grade_4_english_maths') %></li>
      <li><%= t('start.grade_4_science') %></li>
    </ul>

    <p class="govuk-body">
      <%= t('start.before_you_start') %>
    </p>

    <h2 class="govuk-heading-m">
      <%= t('start.no_degree') %>
    </h2>
    <p class="govuk-body">
      <%= t('start.you_can_teach') %>
      <a class="govuk-link" href="https://getintoteaching.education.gov.uk/eligibility-for-teacher-training"><%= t('start.learn_more') %></a>.
    </p>

    <%= link_to candidate_interface_sign_up_path, role: 'button', class: 'govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-3 govuk-button--start', 'data-module': 'govuk-button' do %>
      <%= t('application_form.begin_button') %>
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    <% end %>
  </div>
</div>
