<% content_for :title, t('page_titles.application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= service_name %></h1>
    <p class="govuk-body-l">We’re trialling this service with teacher training providers in England.</p>
    <div class="govuk-inset-text">
      <p class="govuk-body">Learn more about teacher training in <%= govuk_link_to('Wales', 'https://www.discoverteaching.wales/routes-into-teaching/') %>, <%= govuk_link_to('Scotland', 'https://teachinscotland.scot/') %> and <%= govuk_link_to('Northern Ireland', 'https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland') %></p>
    </div>

    <h2 class="govuk-heading-m">Eligibility for teacher training</h2>
    <p class="govuk-body">You need these qualifications or their equivalents:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a degree</li>
      <li>English GCSE grade 4 (C) or above</li>
      <li>Maths GCSE grade 4 (C) or above</li>
      <li>Science GCSE grade 4 (C) or above if you want to teach in primary education</li>
    </ul>
    <p class="govuk-body">Your provider will also ask you to fill out a health questionnaire to check that teacher training is suitable for you.</p>
    <p class="govuk-body"><%= govuk_link_to('Learn more about eligibility for teacher training', 'https://getintoteaching.education.gov.uk/eligibility-for-teacher-training') %></p>

    <h2 class="govuk-heading-m">If you’re disabled or have a health condition</h2>
    <p class="govuk-body">Training providers should be able to tell you how they can support you to attend the interview or do the course.</p>
    <p class="govuk-body"><%= govuk_link_to('Learn more about training to teach if you’re disabled', 'https://getintoteaching.education.gov.uk/train-to-teach-with-a-disability') %></p>

    <%= link_to candidate_interface_create_account_or_sign_in_path, role: 'button', class: 'govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-4 govuk-button--start', 'data-module': 'govuk-button' do %>
      <%= t('application_form.begin_button') %>
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    <% end %>
  </div>
</div>
