<% content_for :title, t('page_titles.application') %>

<h1 class="govuk-heading-xl">
  <%= service_name %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l"><%= service_name %> is a new GOV.UK service being trialled with a small number of training providers in England.</p>
    <p class="govuk-body">You can <%= govuk_link_to('preview training providers and courses currently available', candidate_interface_providers_path) %> on this service.</p>
    <p class="govuk-body">For all other courses in England, <%= govuk_link_to('you will need to apply through UCAS Teacher Training', 'https://2020.teachertraining.apply.ucas.com/apply/student/login.do', target: :_blank) %>.

    <h2 class="govuk-heading-m govuk-!-font-size-27">What you’ll need</h2>
    <p class="govuk-body">To be eligible for teacher training, you need these qualifications (or their non-UK equivalents):</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a degree</li>
      <li>grade 4 (C) or above in English and maths GCSEs</li>
      <li>grade 4 (C) or above in GCSE science if you want to teach primary</li>
    </ul>
    <p class="govuk-body">Before you start a teacher training course you’ll also need to:
    <ul class="govuk-list govuk-list--bullet">
      <li>confirm you have the health and physical capacity to start training</li>
      <li>undergo a <%= govuk_link_to('criminal record check', 'https://www.gov.uk/dbs-check-applicant-criminal-record', target: :_blank) %></li>
    </ul>

    <h3 class="govuk-heading-s">If you have a criminal record</h3>
    <p class="govuk-body"><%= govuk_link_to('Not all convictions prevent you teaching', 'https://www.gov.uk/exoffenders-and-employment', target: :_blank) %>. If you have chosen a training provider, you can ask about their policy on criminal convictions.</p>

    <h3 class="govuk-heading-s">If you have a disability</h3>
    <p class="govuk-body">It’s unlawful to discriminate against you, and you don’t have to disclose a disability. <%= govuk_link_to 'Learn more about training to teach if you have a disability', 'https://getintoteaching.education.gov.uk/train-to-teach-with-a-disability' %>.</p>

    <h3 class="govuk-heading-s">If you do not have a degree</h3>
    <p class="govuk-body">You can teach in further education (age 14 to adult), or study for a degree leading to qualified teacher status. <%= govuk_link_to('Learn more about eligibility for teacher training', 'https://getintoteaching.education.gov.uk/eligibility-for-teacher-training', target: :_blank) %>.

    <h3 class="govuk-heading-s">You can only apply for 3 courses and accept one offer</h3>
    <p class="govuk-body"><%= govuk_link_to('Learn more about the application process', 'https://getintoteaching.education.gov.uk/the-way-you-apply-for-teacher-training-is-changing', target: :_blank) %>.</p>

    <%= link_to candidate_interface_eligibility_path, role: 'button', class: 'govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-3 govuk-button--start', 'data-module': 'govuk-button' do %>
      <%= t('application_form.begin_button') %>
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    <% end %>
    <p class="govuk-body">If you have teacher training applications in progress, please <%= govuk_link_to 'sign in', candidate_interface_sign_in_path %></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: '/candidate_interface/shared/training_outside_england' %>
  </div>
</div>
