<% content_for :title, t('page_titles.application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply for postgraduate teacher training
    </h1>
    <p class="govuk-body">
      Apply for teacher training is a new GOV.UK service being trialled with a small number of training providers.
    </p>
    <div class="govuk-inset-text">
      Learn more about teacher training in <%= govuk_link_to('Wales', 'https://www.discoverteaching.wales/routes-into-teaching/', target: :_blank) %>, <%= govuk_link_to('Scotland', 'https://teachinscotland.scot/', target: :_blank) %> and <%= govuk_link_to('Northern Ireland', 'https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland', target: :_blank) %>
    </div>
    <h2 class="govuk-heading-m">What you’ll need</h2>
    <p class="govuk-body">
      To be eligible for teacher training, you need these qualifications (or their non-UK equivalents):
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a degree</li>
      <li>grade 4 (C) or above in English and maths GCSEs</li>
      <li>grade 4 (C) or above in GCSE science if you want to teach primary</li>
    </ul>
    <p class="govuk-body">
      Before you start a teacher training course you’ll also need to confirm you have the health and physical capacity to start training.
    </p>
    <h2 class="govuk-heading-m">If you don’t have a degree</h2>
    <p class="govuk-body">
      You can teach in further education (age 14 to adult), or study for a degree leading to qualified teacher status.
      <%= govuk_link_to('Learn more', 'https://getintoteaching.education.gov.uk/eligibility-for-teacher-training', target: :_blank) %>.
    </p>
    <%= link_to candidate_interface_eligibility_path, role: 'button', class: 'govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-3 govuk-button--start', 'data-module': 'govuk-button' do %>
      <%= t('application_form.begin_button') %>
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    <% end %>
    <p class="govuk-body">If you have teacher training applications in progress, please <%= govuk_link_to 'sign in', candidate_interface_sign_in_path %></p>
  </div>
</div>
