<%= render ProviderInterface::RecruitmentPerformanceReport::SubjectTableComponent.new(
  @provider,
  table_caption: 'candidates_with_an_offer',
  subject_rows: @row_builder.subject_rows,
  summary_row: @row_builder.summary_row,
) do %>
  <span>
    <p class="govuk-body">
      <%= t('.candidates_who_have_received_offer', provider_name: @provider.name) %>
    </p>
    <p class="govuk-body">
      <%= t('.you_can_compare_the_data_to') %>
    </p>
    <%= govuk_list([t('.last_cycle'), t('.national_data')], type: :bullet) %>

    <p class="govuk-body">
      <%= t('.table_includes') %>
    </p>
    <%= govuk_list([
         t('.declined'),
         t('.withdrawn_before_they_could_accept'),
         t('.deferred_withdrawn_unsuccessful'),
       ], type: :bullet) %>
  </span>
<% end %>
