<% content_for :browser_title, t('.title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render ServiceInformationBanner.new(namespace: :provider) %>

    <h1 class="govuk-heading-l"><%= t('.title') %> PROVIDER <%= current_provider_user.provider_ids %> </h1>

    <p class="govuk-body">
      These candidates have agreed to share their application details.
    </p>
    <p class="govuk-body">
      You can review their applications and decide whether to invite them to apply.
    </p>
  </div>

  <div class="govuk-grid-column-full">
    <%= govuk_table do |table| %>
      <%= table.with_head do |head| %>
        <%= head.with_row do |row| %>
          <%= row.with_cell(text: 'Name') %>
          <%= row.with_cell(text: 'Email address') %>
          <%= row.with_cell(text: 'provider_id') %>
        <% end %>
      <% end %>

      <%= table.with_body do |body| %>
        <% @candidates.each do |candidate| %>
          <%= body.with_row do |row| %>
            <%= row.with_cell(text: candidate.application_forms.last.redact_name) %>
            <%= row.with_cell(text: candidate.email_address) %>
            <%= row.with_cell(text: candidate.application_forms.last.application_choices.rejected.first.provider_ids) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <%= govuk_pagination(pagy: @pagy) %>
    </div>
  </div>
</div>
