<%= form_with model: preference_form, url:, method: do |f| %>
  <%= f.govuk_error_summary %>

  <% content_for(:fieldset_hint) do %>
    <span class="radio-buttons-fieldset-hint">
      <%= t('.hint_html', link: govuk_link_to(t('.link_text'), candidate_interface_share_details_path)) %>
    </span>
  <% end %>

  <%= f.govuk_radio_buttons_fieldset(:pool_status, legend: { text: t('.title') }, hint: -> { content_for(:fieldset_hint) }) do %>
    <%= f.govuk_radio_button :pool_status, :opt_in, label: { text: 'Yes' }, link_errors: true %>
    <%= f.govuk_radio_button :pool_status, :opt_out, label: { text: 'No' } do %>
      <%= f.govuk_text_area(
        :opt_out_reason,
        label: { text: t('.reason_for_opting_out') },
        max_words: 200,
      ) %>
    <% end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
