<% content_for :browser_title, 'Delete reference' %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@reference.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @form,
      url: support_interface_destroy_reference_path(@form.reference),
      method: :post,
    ) do |form_builder| %>
      <%= form_builder.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Are you sure you want to delete the reference from <%= @reference.name %>?
      </h1>

      <p class="govuk-body">
        This operation cannot be undone.
      </p>

      <%= render(SummaryCardComponent.new(rows: [
      {
        key: 'Reference name',
        value: @reference.name,
      },
      {
        key: 'Reference email address',
        value: @reference.email_address,
      },
      {
        key: 'Reference has safeguarding concerns',
        value: @reference.has_safeguarding_concerns_to_declare? ? 'Yes' : 'No concerns.',
      },
      ])) %>

      <%= form_builder.govuk_text_field(
        :audit_comment_ticket,
        label: {
          text: t('support_interface.audit_comment_ticket.label'),
          size: 'm',
        },
        rows: 1,
        hint: { text: t('support_interface.audit_comment_ticket.hint') },
      ) %>

      <%= form_builder.govuk_check_boxes_fieldset :accept_guidance, legend: nil do %>
        <%= form_builder.govuk_check_box :accept_guidance, true, multiple: false, label: { text: 'I have read the guidance' }, link_errors: true %>
      <% end %>

      <%= form_builder.govuk_submit 'Permanently delete reference' %>
    <% end %>
  </div>
</div>
