<div data-qa="course__scholarship_and_bursary_details">
  <p class="govuk-body">
    You could be eligible for either:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li data-qa="course__scholarship_amount">a scholarship of <%= number_to_currency(course.scholarship_amount) %></li>
    <li data-qa="course__bursary_amount">a bursary of <%= number_to_currency(course.bursary_amount) %></li>
  </ul>

  <% if course.has_early_career_payments? %>
    <p class="govuk-body" data-qa="course__early_career_payment_details">
      With a scholarship or bursary, you’ll also get early career payments of £2,000 in your second, third and fourth years of teaching (£3,000 in <%= link_to 'some areas of England', 'https://www.gov.uk/guidance/mathematics-early-career-payments-guidance-for-teachers-and-schools', class: "govuk-link" %>).
    </p>
  <% end %>

  <p class="govuk-body">
    To qualify for a scholarship you’ll need a degree of 2:1 or above in <%= course.subject_name %> or a related subject. For a bursary you’ll need a 2:2 or above in any subject.
  </p>

  <p class="govuk-body">
    You can’t claim both a bursary and a scholarship - you can only claim one.
  </p>

  <p class="govuk-body">
    Find out how to <%= link_to "apply for a scholarship", "https://getintoteaching.education.gov.uk/funding-and-salary/overview/scholarships", class: "govuk-link" %>. You don’t need to apply for a bursary - if you’re eligible, you’ll automatically start receiving it once you begin your course. Find out <%= link_to "how you’ll be paid", "https://getintoteaching.education.gov.uk/funding-and-salary/overview/how-you-will-be-paid", class: "govuk-link" %>.
  </p>

  <p class="govuk-body">
    You may also be eligible for a <%= link_to "loan while you study", "https://getintoteaching.education.gov.uk/funding-my-teacher-training/tuition-fee-and-maintenance-loans", class: "govuk-link" %> – note that you’ll have to apply for <%= link_to "undergraduate student finance", "https://www.gov.uk/student-finance", class: "govuk-link" %>.
  </p>

  <p class="govuk-body">
    Find out about financial support if you’re from <%= link_to "outside the UK", "https://getintoteaching.education.gov.uk/explore-my-options/overseas-graduates", class: "govuk-link" %>.
  </p>
</div>
