<%= f.govuk_error_summary %>
<% if @degree_institution_form.international? %>
  <h1 class="govuk-heading-xl">
    <%= t('page_titles.degree_institution') %>
  </h1>

  <%= f.govuk_text_field(
    :institution_name,
    label: { text: t('application_form.degree.international_institution_name.label') },
  ) %>
  <%= f.govuk_collection_select(
    :institution_country,
    select_country_options,
    :id,
    :name,
    label: { text: t('application_form.degree.institution_country.label') },
  ) %>
<% else %>
  <%= render DfE::Autocomplete::View.new(
    f,
    attribute_name: :institution_name,
    form_field: f.govuk_select(
    :institution_name,
    options_for_select(
      dfe_autocomplete_options(@institutions, synonyms_fields: [:suggestion_synonyms, :match_synonyms]),
      f.object.institution_name
    ),
    label: { text: t('application_form.degree.institution_name.label'), size: 'xl', tag: 'h1' }
  )) %>
<% end %>
<%= f.govuk_submit t('save_and_continue') %>
