<% content_for :title, t('page_titles.apply_to_provider_on_ucas') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_course_choices_provider_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render CandidateInterface::UCASDowntimeComponent.new %>

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @provider.name %></span>
      <%= t('page_titles.apply_to_provider_on_ucas') %>
    </h1>

    <p class="govuk-body"><%= @provider.name %> is not yet signed up to the <%= service_name %> service. You must apply to their courses using UCAS.</p>

    <p class="govuk-body">You can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>submit an application to <%= @provider.name %> through UCAS</li>
      <li>still submit your current application to other providers</li>
    </ul>

    <p class="govuk-body govuk-!-margin-bottom-6">
      For more information, see our <%= govuk_link_to "#{t('service_name.get_into_teaching')} guidance on applying for teacher training", t('get_into_teaching.url_applying') %>
    </p>

    <p class="govuk-body govuk-!-margin-bottom-0"><%= govuk_link_to t('apply_from_find.ucas_apply_button'), UCAS.apply_url, button: true %></p>
    <p class="govuk-body">or</p>
    <p class="govuk-body"><%= govuk_link_to 'Return to your application', candidate_interface_application_form_path %></p>
  </div>
</div>
