<% content_for :browser_title, t('page_titles.sign_in') %>
<% content_for :before_content, govuk_back_link_to(provider_interface_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_notification_banner(title: t('notification_banner.info')) do |notification_banner| %>
      <%= notification_banner.slot(:heading, text: 'Temporary login') %>
      <p class="govuk-body">DfE Sign In is experiencing problems. You need to sign in using your email address.</p>
    <% end %>

    <h1 class="govuk-heading-xl">
      <%= t('page_titles.sign_in') %>
    </h1>

    <p class="govuk-body-l">You must sign in to your account to manage teacher training applications.</p>

    <%= form_with model: ProviderUser.new, url: provider_interface_sign_in_by_email_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_email_field :email_address, label: { text: 'Email address', size: 'm' }, width: 'two-thirds', autocomplete: 'email', spellcheck: false %>

      <%= f.govuk_submit t('continue') %>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Ask for an account</h2>
    <p class="govuk-body">Do not have an account? You can get one by emailing <%= bat_contact_mail_to %>. Please include the full names and email addresses of anyone who needs access.</p>
  </div>
</div>
