<% content_for :before_content, govuk_back_link_to(@back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: commit_provider_interface_rejections_path do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">Reject application - <%= @application_choice.application_form.full_name %></span>
      <h1 class="govuk-heading-l">Check details and reject application</h1>

      <% if @interview_cancellation_presenter.render? %>
        <p class="govuk-body"><%= @interview_cancellation_presenter.text %></p>
      <% end %>

        <p class="govuk-body">The candidate will be sent this email:</p>
        <div class="app-email-preview">
          <p class="govuk-body">Dear <%= @application_choice.application_form.first_name %>,</p>

          <p class="govuk-body">Thank you for your application to study <%= @application_choice.current_course_option.course.name_and_code %> at <%= @application_choice.current_course_option.course.provider.name %>.</p>

          <p class="govuk-body">On this occasion, the provider is not offering you a place on this course.</p>

          <p class="govuk-body">They’ve given the following feedback to explain their decision:</p>

          <div class="govuk-inset-text">
            <% @wizard.object.selected_reasons.as_json.each do |reason| %>
              <h1 class="govuk-heading-m"><%= reason[:label] %></h1>
              <% if reason[:selected_reasons].nil? %>
                <p class="govuk-body"><%= reason[:text] %></p>
                <% if reason[:details].present? %>
                  <% if reason[:details].text.empty? %>
                    <p class="govuk-body"><%= reason[:label] %></p>
                  <% else %>
                    <p class="govuk-body"><%= reason[:label] %>:</p>
                    <p class="govuk-body"><%= reason[:details].text %></p>
                  <% end %>
                <% else %>
                  <p class="govuk-body"><%= reason[:label] %></p>
                <% end %>
              <% else %>
                <% reason[:selected_reasons].each do |reason| %>
                  <% if reason.details.present? %>
                    <% if reason.details.text.empty? %>
                      <p class="govuk-body"><%= reason.label %></p>
                    <% else %>
                      <p class="govuk-body"><%= reason.label %>:</p>
                      <p class="govuk-body"><%= reason.details.text %></p>
                    <% end %>
                  <% else %>
                    <p class="govuk-body"><%= reason.label %></p>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <p class="govuk-body"> Contact <%= @application_choice.current_course_option.course.provider.name %> if you would like to talk about their feedback.</p>
        </div>

      <%= f.govuk_submit 'Reject application' %>
    <% end %>

    <p class="govuk-body"><%= govuk_link_to t('cancel'), provider_interface_application_choice_path(@application_choice), no_visited_state: true %></p>
  </div>
</div>
