<% if @application_choice.rejected_by_default? %>
  <% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_path(@application_choice)) %>
<% else %>
  <% content_for :before_content, govuk_back_link_to(new_provider_interface_application_choice_decision_path(@application_choice)) %>
<% end -%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_rejections_path do |f| %>

      <%= f.govuk_error_summary %>

      <% content_for(:fieldset_legend) do %>
        <h1 class="govuk-heading-l">
          Tell <%= @application_choice.application_form.full_name %> why you are rejecting their application
        </h1>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :selected_reasons, legend: -> { content_for(:fieldset_legend) }, form_group: { classes: 'govuk-!-margin-bottom-2' } do %>
        <% @wizard.selectable_reasons(@application_choice).each_with_index do |reason, index| %>
          <%= f.govuk_check_box :selected_reasons, reason.id, label: { text: reason.label }, link_errors: index.zero? do %>
            <% if reason.details.present? %>
              <%= f.govuk_text_area reason.details.id.to_sym,
                  label: { text: safe_join([reason.details.label, ' ', tag.span(reason.details.visually_hidden, class: 'govuk-visually-hidden')]), size: 's' }, max_words: RejectionReasons::Details::MAX_WORDS %>
            <% elsif reason.reasons&.any? %>
              <%= f.govuk_check_boxes_fieldset reason.selected_reasons_attr_name, legend: { text: safe_join(['Reasons', ' ', tag.span(reason.reasons_visually_hidden, class: 'govuk-visually-hidden')]), size: 's' } do %>
                <% reason.reasons.each_with_index  do |nested_reason, index| %>
                  <%= f.govuk_check_box reason.selected_reasons_attr_name,
                    nested_reason.id,
                    label: { text: nested_reason.label },
                    link_errors: index.zero? do %>
                    <% if nested_reason.details.present? %>
                      <%= f.govuk_text_area nested_reason.details.id.to_sym,
                        label: {
                          text: safe_join([nested_reason.details.label, ' ', tag.span(nested_reason.details.visually_hidden, class: 'govuk-visually-hidden')]),
                          size: 's',
                        },
                        max_words: RejectionReasons::Details::MAX_WORDS %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>

    <p class="govuk-body"><%= govuk_link_to t('cancel'), provider_interface_application_choice_path(@application_choice), no_visited_state: true %></p>
  </div>
</div>
