<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_rejections_path do |f| %>

      <%= f.govuk_error_summary %>

      <% content_for(:fieldset_legend) do %>
        <h1 class="govuk-heading-l">
          <% if rbd_application_with_no_feedback? %>
            <span class="govuk-caption-l">Give feedback - <%= @application_choice.application_form.full_name %></span>
            Reasons the application was rejected
          <% else %>
            <span class="govuk-caption-l">Reject application - <%= @application_choice.application_form.full_name %></span>
            Reasons for rejecting the application
          <% end %>
        </h1>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :selected_reasons, legend: -> { content_for(:fieldset_legend) }, form_group: { classes: 'govuk-!-margin-bottom-2' } do %>
        <% @wizard.class.reasons.each do |reason| %>
          <%= f.govuk_check_box :selected_reasons, reason.id, label: { text: reason.label }, link_errors: true do %>
            <% if reason.details.present? %>
              <%= f.govuk_text_area reason.details.id.to_sym,
                  label: { text: reason.details.label, class: 'govuk-label govuk-label--s' }, max_words: 100 %>
            <% elsif reason.reasons&.any? %>
              <%= f.govuk_check_boxes_fieldset reason.selected_reasons_attr_name, legend: { text: 'Reasons', size: 's' } do %>
                <% reason.reasons.each do |nested_reason| %>
                  <%= f.govuk_check_box reason.selected_reasons_attr_name,
                    nested_reason.id,
                    label: { text: nested_reason.label },
                    link_errors: true do %>
                    <% if nested_reason.details.present? %>
                      <%= f.govuk_text_area nested_reason.details.id.to_sym,
                          label: { text: nested_reason.details.label, class: 'govuk-label govuk-label--s' }, max_words: 100 %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>

    <p class="govuk-body"><%= govuk_link_to t('cancel'), provider_interface_application_choice_path(@application_choice), no_visited_state: true %></p>
  </div>
</div>
