<%= render 'support_interface/settings/settings_navigation', title: 'Support users' %>

<%= govuk_link_to 'Add support user', new_support_interface_support_user_path, button: true %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Email</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">DfE Sign-in UID</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @support_users.each do |support_user| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to support_user.display_name, support_interface_support_user_path(support_user) %>
        </td>
        <td class="govuk-table__cell">
          <%= support_user.dfe_sign_in_uid %>
        </td>
        <td class="govuk-table__cell">
          <% link_action = support_user.discarded? ? 'Restore' : 'Remove' %>
          <% link_path = support_user_account_management_path(support_user) %>
          <%= govuk_link_to(link_path) do %>
            <%= link_action %> user<span class="govuk-visually-hidden"> <%= support_user.display_name %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="govuk-body"><%= govuk_link_to 'Restore a removed user', support_interface_support_users_path(removed: true) unless params[:removed] == 'true' %></p>
