<% content_for :browser_title, title_with_error_prefix('Add support user', @support_user.errors.any?) %>

<% content_for :navigation do %>
  <%= render 'support_interface/settings/settings_navigation', current: 'Support users' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @support_user, url: support_interface_support_users_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class='govuk-heading-xl'>Add support user</h1>

      <%= f.govuk_text_field :email_address, label: { text: 'Email address', size: 'm' } %>
      <%= f.govuk_text_field :dfe_sign_in_uid, label: { text: 'DfE Sign-in UID', size: 'm' } %>

      <%= f.govuk_submit 'Add support user' %>
    <% end %>
  </div>
</div>
