<h2 class="govuk-heading-l"><%= title %></h2>

<% if provider_deadline_content.present? %>
  <p class="govuk-body"><%= provider_deadline_content %></p>
<% end %>

<% if approaching_winter_reject_by_default? %>
  <% if reject_by_default_explanation.present? %>
    <p class="govuk-body"><%= reject_by_default_explanation %></p>
  <% end %>

  <% if decline_by_default_explanation.present? %>
    <p class="govuk-body"><%= decline_by_default_explanation %></p>
  <% end %>

  <% if awaiting_provider_decision_content.present? %>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><%= awaiting_provider_decision_content[:title] %></h3>
    <p class="govuk-body"><%= awaiting_provider_decision_content[:content] %></p>
  <% end %>

  <% if offered_content.present? %>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><%= offered_content[:title] %></h3>
    <p class="govuk-body"><%= offered_content[:content] %></p>
  <% end %>
<% end %>

<%= render CandidateInterface::ApplicationChoiceListComponent.new(
  application_form:,
  application_choices: application_choices,
  current_tab_name: nil,
  with_tabs: false,
) %>
