<h2 class=<%= heading_class %>><%= heading %></h2>

<% if after_reject_by_default? %>
  Some of your applications have been rejected because the provider did not respond before the deadline.
<% end %>

<% if after_decline_by_default? %>
  Some of your offers have been declined because you did not respond before the deadline.
<% end %>

<% if awaiting_provider_decision_content.present? %>
  <h3 class="govuk-heading-s"><%= awaiting_provider_decision_content[:title] %></h3>
  <p class="govuk-body"><%= awaiting_provider_decision_content[:content] %></p>
<% end %>

<% if offered_content.present? %>
  <h3 class="govuk-heading-s"><%= offered_content[:title] %></h3>
  <p class="govuk-body"><%= offered_content[:content] %></p>
<% end %>

<%= render CandidateInterface::ApplicationChoiceListComponent.new(
  application_form:,
  application_choices: application_choices,
  current_tab_name: params[:current_tab_name],
  with_tabs:,
) %>
