<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% content_for :title, title_with_error_prefix(t('page_titles.degree_level'), @wizard.errors.any?) %>
  <% content_for :before_content, govuk_back_link_to(@wizard.degree_level_back_link) %>

  <%= form_with model: @wizard, url: candidate_interface_degree_degree_level_path, method: :post do |f| %>
    <%= f.govuk_error_summary %>

    <%= f.govuk_radio_buttons_fieldset :degree_level, legend: { text: 'What type of degree is it?', tag: 'h1', size: 'l' } do %>

      <% CandidateInterface::DegreeWizard::DEGREE_LEVEL.each_with_index do |name, index| %>
        <%= f.govuk_radio_button :degree_level, name, label: { text: name }, hint: -> { tag.span(t('application_form.degree.level.bachelor_degree')) if name == 'Bachelor degree' }, link_errors: index.zero? %>
      <% end %>

      <%= f.govuk_radio_divider %>

      <%= f.govuk_radio_button :degree_level, 'Another qualification equivalent to a degree', label: { text: 'Another qualification equivalent to a degree' } do %>
        <%= f.govuk_text_field :equivalent_level, label: { text: 'Qualification type' } %>
      <% end %>

    <% end %>
      <%= f.govuk_submit t('save_and_continue') %>
  <% end %>
  </div>
</div>
