<% content_for :title, title_with_error_prefix(t('page_titles.degree_enic'), @wizard.errors.any?) %>
<%= content_for :before_content, govuk_back_link_to(@wizard.enic_back_link) %>

<%= form_with model: @wizard, url: candidate_interface_degree_enic_path do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_error_summary %>

    <h1 class="govuk-heading-l"><%= t('page_titles.degree_enic') %></h1>

    <p class="govuk-body"> <%= t('application_form.degree.enic_statement.apply_enic') %></p>
    <p class="govuk-body">
      <%= govuk_link_to(
            t('application_form.degree.enic_statement.enic_link'),
            t('service_name.enic.statement_of_comparability_url'),
            new_tab: true,
          ) %>
    </p>
    <p class="govuk-body"> <%= t('application_form.degree.enic_statement.percentage_text_html') %></p>
    <p class="govuk-body"> <%= t('application_form.degree.enic_statement.enic_cost') %></p>

    <%= f.govuk_radio_buttons_fieldset :enic_details, legend: { text: t('application_form.degree.enic_statement.label'), size: 'm' } do %>
      <% ApplicationQualification.enic_reasons.keys.each_with_index do |enic_reason, index| %>
        <%= f.govuk_radio_button(
          :enic_reason,
          enic_reason,
          label: { text: t("application_form.degree.enic_statement.#{enic_reason}") },
          link_errors: index.zero?,
        ) %>
      <% end %>
    <% end %>

    <%= f.govuk_submit t('save_and_continue') %>
  <% end %>
  </div>
</div>
