<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% content_for :title, title_with_error_prefix(t('page_titles.degree_subject'), @wizard.errors.any?) %>
  <% content_for :before_content, govuk_back_link_to(@wizard.international? ? candidate_interface_degrees_country_path : candidate_interface_degrees_level_path) %>

  <%= form_with model: @wizard, url: candidate_interface_degrees_subject_path do |f| %>
    <%= f.govuk_error_summary %>
    <%= f.govuk_fieldset legend: { text: 'What subject is your degree?', size: 'l' } do %>
      <%= f.govuk_collection_select :subject, @wizard.subjects, :name, :name, hint: { text: t('application_form.degree.subject.hint') }, label: -> {} %>
    <% end %>
    <%= f.govuk_submit t('save_and_continue') %>
  <% end %>
  </div>
</div>
