<% content_for :browser_title, title_with_error_prefix(t('.title'), @unlink_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @unlink_form, url: support_interface_one_login_auths_path(@application_form), method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= t('.heading', name: @application_form.full_name.presence || @candidate.email_address) %>
      </h1>

      <%= f.govuk_text_field(
          :audit_comment,
          label: { text: t('.audit_log_comment_label'), size: 'm' },
          hint: { text: t('.audit_log_comment_hint') },
        ) %>

      <%= f.govuk_submit t('.continue') %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to t('.cancel'), support_interface_application_form_path(@application_form) %>
    </p>
  </div>
</div>
