<% content_for :browser_title, title_with_error_prefix("Change #{@form.provider_user.display_name}’s permissions", @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_provider_user_path(@form.provider_user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: support_interface_update_permissions_path(provider_user_id: @form.provider_user.id), patch: true do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :provider, legend: { text: "Change #{@form.provider_user.display_name}’s permissions", tag: 'h1', size: 'l' }, classes: 'govuk-!-margin-top-6' do %>
        <%= render 'edit_provider_permissions', f: f %>
      <% end %>

      <%= f.govuk_submit 'Save permissions' %>
    <% end %>
  </div>
</div>
