<% content_for :browser_title, title_with_error_prefix(t('provider_interface.deferred_offer.conditions.show.page_title'), @conditions_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_deferred_offer_check_path(@conditions_form.application_choice)) %>

<%= form_with model: @conditions_form, url: provider_interface_deferred_offer_conditions_path, method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @conditions_form.application_choice.application_form.full_name %></span>
        <%= t('provider_interface.deferred_offer.conditions.show.page_title') %>
      </h1>

      <div class="app-offer-panel">
        <%= render ProviderInterface::ConditionsComponent.new(application_choice: @conditions_form.application_choice) %>
      </div>

      <%= f.govuk_radio_buttons_fieldset :conditions_status,
                                         legend: {
                                           text: t(@conditions_form.offer_conditions_status, scope: 'provider_interface.deferred_offer.conditions.show.conditions_status.fieldset_legend'),
                                           size: 'm',
                                         } do %>
        <%= f.govuk_radio_button :conditions_status, :met,
                                 label: {
                                   text: t(@conditions_form.offer_conditions_status, scope: 'provider_interface.deferred_offer.conditions.show.conditions_status.labels.met'),
                                 },
                                 link_errors: true %>

        <%= f.govuk_radio_button :conditions_status, :pending,
                                 label: {
                                   text: t(@conditions_form.offer_conditions_status, scope: 'provider_interface.deferred_offer.conditions.show.conditions_status.labels.pending'),
                                 } %>
      <% end %>

      <p class="govuk-body"><%= t('provider_interface.deferred_offer.conditions.show.next_steps.email_candidate') %></p>
      <p class="govuk-body"><%= t('provider_interface.deferred_offer.conditions.show.next_steps.unsatisfactory') %></p>

      <%= f.govuk_submit t('provider_interface.deferred_offer.conditions.show.submit') %>
      <%#= govuk_button_link_to t('provider_interface.deferred_offer.conditions.show.submit'), provider_interface_application_choice_path(@conditions_form.application_choice) %>
    </div>
  </div>
<% end %>
