<% content_for :title, t('page_titles.application_guidance') %>

<% if current_candidate.present? %>
  <% content_for :before_content, govuk_back_link_to(@back_link) %>
<% else %>
  <% content_for :before_content, govuk_back_link_to(candidate_interface_create_account_or_sign_in_path, 'Back') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('.heading', this_cycle: @recruitment_cycle_year) %>
    </h1>

    <p class="govuk-body">
      <%= t('.you_can_start_applying', this_cycle: @recruitment_cycle_year, last_cycle: @recruitment_cycle_year - 1) %>
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <%= t('.duration') %>
    </p>

    <div class="app-timeline">
      <div class="app-timeline__item">
        <div class="app-timeline__header">
          <h2 class="app-timeline__title">
            <%= @current_timetable.find_opens_at.to_fs(:govuk_date_and_time) %>
          </h2>
        </div>

        <div class="app-timeline__description">
          <div class="app-timeline__log-card">
            <div class="app-timeline__log-card__note">
              <p class="app-timeline__log-card__note--title">
                <%= t('.find_courses_html', link: govuk_link_to('finding teacher training courses', find_url)) %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="app-timeline__item">
        <div class="app-timeline__header">
          <h2 class="app-timeline__title">
            <%= @current_timetable.apply_opens_at.to_fs(:govuk_date_and_time) %>
          </h2>
        </div>

        <div class="app-timeline__description">
          <div class="app-timeline__log-card">
            <div class="app-timeline__log-card__note">
              <div class="app-timeline__log-card__note--title govuk-body">
             <%= simple_format(t('.start_applying', max_courses: ApplicationForm::MAXIMUM_NUMBER_OF_COURSE_CHOICES)) %>

              <% if current_candidate.present? %>
                <% if current_application.submitted_applications? && FeatureFlag.active?(:candidate_preferences) %>
                  <%= t('.if_unsuccessful_html', link: govuk_link_to('choose to share your details', candidate_interface_share_details_path)) %>
                <% else %>
                  <%= t('.if_unsuccessful_html', link: 'choose to share your details') %>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-timeline__item">
        <div class="app-timeline__header">
          <h2 class="app-timeline__title">
            <%= @current_timetable.apply_deadline_at.to_fs(:govuk_date_and_time) %>
          </h2>
        </div>

        <div class="app-timeline__description">
          <div class="app-timeline__log-card">
            <div class="app-timeline__log-card__note">
              <div class="app-timeline__log-card__note--title govuk-body">
                <%= simple_format(t('.last_day_to_submit')) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-timeline__item">
        <div class="app-timeline__header">
          <h2 class="app-timeline__title">
            <%= @current_timetable.reject_by_default_at.to_fs(:govuk_date_and_time) %>
          </h2>
        </div>

        <div class="app-timeline__description">
          <div class="app-timeline__log-card">
            <div class="app-timeline__log-card__note">
              <div class="app-timeline__log-card__note--title govuk-body">
                <%= simple_format(t('.last_day_to_decide', this_cycle: @recruitment_cycle_year)) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
