<%= render 'support_interface/settings/settings_navigation', title: 'Tasks' %>
<h1 class="govuk-heading-l">Tasks</h1>

<section class="app-section app-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Run end-of-cycle related jobs</h2>
      <p class="govuk-body">This task will run any jobs that should have been run by this point in the cycle. It will make the application data more realistic if you have recently updated the cycle dates.</p>
      <p class="govuk-body">Changes to the application states cannot be undone. You may need to ask a developer to reseed test data after you have run this task</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= govuk_button_to 'Run end of cycle jobs', support_interface_run_task_path('run_end_of_cycle_jobs'), warning: true %>
    </div>
  </div>
</section>

<% if DeleteTestApplications.can_run_in_this_environment? %>
  <section class="app-section app-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Delete test applications</h2>
        <p class="govuk-body">This task deletes all candidates with emails that end in <code>@example.com</code>, their applications and associated data.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= govuk_button_link_to 'Delete test applications', support_interface_confirm_delete_test_applications_path, warning: true %>
      </div>
    </div>
  </section>
<% end %>

<% if HostingEnvironment.test_environment? %>
  <section class="app-section app-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Generate test applications for the <%= @current_timetable.recruitment_cycle_year %> recruitment cycle</h2>
        <p class="govuk-body">This task generates about 10 mostly-random test applications in all states.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= govuk_button_to "Generate #{@current_timetable.recruitment_cycle_year} applications", support_interface_run_task_path('generate_test_applications'), secondary: true %>
      </div>
    </div>
  </section>

  <section class="app-section app-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Generate test applications for the <%= @current_timetable.relative_next_year %> recruitment cycle</h2>
        <p class="govuk-body">This task generates mostly random test applications for the <%= @current_timetable.relative_next_year %> recruitment cycle.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= govuk_button_to "Generate #{@current_timetable.relative_next_year} applications", support_interface_run_task_path('generate_next_cycle_test_applications'), secondary: true %>
      </div>
    </div>
  </section>

  <section class="app-section app-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Create a fake provider for vendors</h2>
        <p class="govuk-body">This task creates a fake provider with 10 courses and 3 ratified courses. You will be shown their name, code and vendor API token.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= govuk_button_to 'Create a fake provider', support_interface_tasks_create_fake_provider_path, secondary: true %>
      </div>
    </div>
  </section>
<% end %>
