<% content_for :title, 'Tasks' %>

<div>
  <h2 class='govuk-heading-m'>Sync providers</h2>
  <div class='govuk-body'>
    Download providers from Find.
  </div>
  <%= button_to 'Sync Providers from Find', support_interface_run_task_path('sync_providers'), class: 'govuk-button' %>
</div>

<div>
  <h2 class='govuk-heading-m'>Recalculate dates</h2>
  <div class='govuk-body'>
    Runs the RecalculateDates worker when we add or remove business time holidays in response to things like COVID-19.
  </div>
  <%= button_to 'Recalculate dates', support_interface_run_task_path('recalculate_dates'), class: 'govuk-button' %>
</div>

<% if DeleteTestApplications.can_run_in_this_environment? %>
  <div>
    <h2 class='govuk-heading-m'>Delete test applications</h2>
    <div class='govuk-body'>
      This will delete all candidates with emails that end in "@example.com", their applications and associated data.
    </div>
    <%= button_to 'Delete test applications', support_interface_confirm_task_path('delete_test_applications'), class: 'govuk-button govuk-button--warning' %>
  </div>
<% end %>

<% unless HostingEnvironment.production? %>
  <div>
    <h2 class='govuk-heading-m'>Test applications</h2>
    <div class='govuk-body'>
      This will generate ~10 mostly-random test applications in all of the states.
    </div>
    <%= button_to 'Generate test applications', support_interface_run_task_path('generate_test_applications'), class: 'govuk-button' %>
  </div>

  <div>
    <h2 class='govuk-heading-m'>Vendor providers</h2>
    <div class='govuk-body'>
      This will generate providers for providers to test with. It also generates 10 courses run by those providers and 3 courses ratified by them.
    </div>
    <%= button_to 'Generate providers for vendors', support_interface_run_task_path('create_vendor_providers'), class: 'govuk-button' %>
  </div>

  <div>
    <h2 class='govuk-heading-m'>Fake provider for vendors</h2>
    <div class='govuk-body'>
      This will generate a fake provider with 10 courses and 3 ratified courses. You will be shown their name, code and vendor API token.
    </div>
    <%= button_to 'Generate a fake provider for a vendor', support_interface_tasks_create_fake_provider_path, class: 'govuk-button' %>
  </div>
<% end %>
