<% content_for :browser_title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code} - Review Interview cancellation reason" %>
<% content_for :before_content, govuk_back_link_to(request.referer) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l">
          <%= @interview.application_choice.application_form.full_name %>
        </span>
        Check and send interview cancellation
      </label>
    </h1>

    <%= render SummaryCardComponent.new(editable: true, border: false, rows: [
    {
      key: 'Reason for cancelling interview',
      value: @interview.cancellation_reason
    },
    {}
    ]
    ) %>

    <%= form_with model: @interview, url: cancel_confirm_provider_interface_application_choice_interview_path(@application_choice, @interview), method: :post do |f| %>
      <div class='govuk-form-group'>
        <%= f.hidden_field :cancellation_reason, value: @interview.cancellation_reason %>
      </div>
      <%= f.govuk_submit 'Send cancellation' %>
    <% end %>
  </div>
</div>
