<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :title, title_with_error_prefix(t('page_titles.degree_country'), @form.errors.any?) %>

    <% content_for :before_content, govuk_back_link_to(@form.back_link) %>

    <%= form_with model: @form, url: candidate_interface_degree_country_path, scope: :candidate_interface_degree_form do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :uk_or_non_uk, legend: { text: 'Which country was the degree from?', tag: 'h1', size: 'l' } do %>
        <%= f.govuk_radio_button :uk_or_non_uk, 'uk', label: { text: 'United Kingdom' }, link_errors: true %>

        <%= f.govuk_radio_button :uk_or_non_uk, 'non_uk', label: { text: 'Another country' } do %>
          <%= f.govuk_collection_select :country, select_degree_country_options, :id,
                                        :name, label: { text: 'Country or territory', size: 's' } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
