<%= f.govuk_error_summary %>
<%= f.hidden_field(:provider_id) %>

<% if @wizard.current_step.provider_exists? %>
  <span class="govuk-caption-xl govuk-!-margin-top-0">
    <%= @wizard.current_step.provider.name %>
  </span>
<% end %>

<% if @wizard.current_step.available_courses.count > 20 %>
  <%= f.govuk_collection_select(
    :course_id,
    select_course_options(@wizard.current_step.dropdown_available_courses),
    :id,
    :name,
    label: { text: t('page_titles.which_course'), size: 'xl', tag: 'h1' },
    options: { selected: nil },
  ) %>
<% else %>
  <%= f.govuk_radio_buttons_fieldset :course_id, legend: { size: 'xl', text: t('page_titles.which_course'), tag: 'h1' } do %>
    <% @wizard.current_step.radio_available_courses.each_with_index do |course, i| %>
      <%= f.govuk_radio_button :course_id, course.id, label: { text: course.label }, hint: { text: course.hint }, link_errors: i.zero? %>
    <% end %>
  <% end %>
<% end %>

<%= f.govuk_submit t('continue') %>
