<%= content_for :title, t('service_down.title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('service_down.title') %></h1>
    <p class="govuk-body"><%= t('service_down.try_later') %></p>
    <p class="govuk-body"><%= t('service_down.progress_not_saved') %></p>
    <p class="govuk-body">
      <%= t('service_down.questions_intro') %><br>
      <a class="govuk-link" href="mailto:<%= t('service_down.questions_email') %>"><%= t('service_down.questions_email') %></a>
    </p>
  </div>
</div>
