<%= form_with(model: form, url:, method:) do |f| %>
  <%= f.govuk_error_summary %>

  <% content_for(:hint) do %>
    <p class="govuk-body govuk-hint">
      <%= t('.body') %>
    </p>
    <p class="govuk-body govuk-hint">
      <%= t('.you_must_add_all') %>
    </p>
    <p class="govuk-body govuk-hint">
      <%= t('.if_your_entry_does_not_match') %>
    </p>
    <%= govuk_inset_text(
          text: t(
            '.hint_html',
            link: govuk_link_to(t('.link_text'), candidate_interface_review_other_qualifications_path),
          ),
        ) %>
  <% end %>

  <%= f.govuk_collection_radio_buttons(
    :started,
    @form.options,
    :value,
    :name,
    bold_labels: false,
    legend: { text: t('candidate_interface.previous_teacher_trainings.start.new.title'), size: 'xl' },
    hint: -> { content_for(:hint) },
  ) %>

  <%= f.govuk_submit %>
<% end %>
