<% content_for :browser_title, title_with_error_prefix(t('.title'), @wizard.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(offer_path_for(@application_choice, @wizard.previous_step, :new, back: true)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_application_choice_offer_ske_standard_flow_path(@application_choice), method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= t('caption.make_offer', name: @application_choice.application_form.full_name) %></span>
      <h1 class="govuk-heading-l">Subject knowledge enhancement (SKE) courses</h1>

      <p class="govuk-body">The Department for Education (DfE) will pay candidates to take a SKE course if they need one, so long as they:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have a 2:2 degree or higher, or are expected to get this when they graduate</li>
        <li>are eligible for student finance (home fee status)</li>
      </ul>

      <%= f.govuk_radio_buttons_fieldset :ske_required, legend: { text: "Do you require #{@application_choice.application_form.full_name} to take a SKE course in #{@application_choice.current_course.subjects.first&.name} that will be funded by the DfE?", size: 'm' } do %>
        <%= f.govuk_radio_button :ske_required, true, label: { text: 'Yes' }, link_errors: true %>
        <%= f.govuk_radio_button :ske_required, false, label: { text: 'No' } %>
      <% end %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
