<% content_for :title, title_with_error_prefix(t('page_titles.suitability_to_work_with_children_review'), @section_complete_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_complete_safeguarding_path, method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <%= t('page_titles.suitability_to_work_with_children_review') %>
  </h1>

  <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>
  <%= render CandidateInterface::SafeguardingReviewComponent.new(application_form: @current_application, editable: @section_policy.can_edit?) %>

  <% if @can_complete %>
    <%= render CandidateInterface::CompleteSectionComponent.new(section_policy: @section_policy, form: f) %>
  <% end %>
<% end %>
