<%= render 'support_interface/providers/provider_navigation', title: 'Recruitment performance weekly report' %>
<%= govuk_back_link(href: support_interface_provider_recruitment_report_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @form,
      url: support_interface_provider_recruitment_report_path
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons(
        :region,
        @form.options,
        :value,
        :label,
        bold_labels: false,
        legend: { text: 'Set a comparison area', size: 'm' },
      ) %>

      <%= f.govuk_submit 'Update comparison area' %>
    <% end %>
  </div>
</div>
