<%= render 'support_interface/providers/provider_navigation', title: t('page_titles.recruitment_performance_report') %>
<% if @statistics.present? && @provider_data.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.title', cycle_year_range: @provider_report.cycle_range_name) %></h1>
      <% unless RecruitmentPerformanceReportTimetable.report_season? %>
        <p class="govuk-body govuk-!-font-weight-bold"><%= t('.not_available_yet_to_providers', first_publication_date: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:govuk_date)) %></p>
      <% end %>
    </div>

    <%= render(
      RecruitmentPerformanceReport::ReportMethodologyComponent.new(
        provider_report: @provider_report,
        current_timetable: @current_timetable,
        interface: 'support',
        region: @region,
      ),
    ) %>
    <%= render RecruitmentPerformanceReport::SubmittedApplicationsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::CandidatesWithOffersTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::ProportionCandidatesWithOffersTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::OffersAcceptedTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::DeferralsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::CandidatesRejectedTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::ProportionWithInactiveApplicationsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="edi_title">
        8. Sex, disability, ethnicity and age of candidates
      </h2>
      <p class= "govuk-body">
        This report shows the sex, disability, ethnicity and age of candidates who applied to your organisation from 8 October 2024 onwards.
      </p>

      <p class= "govuk-body">
        Sex, disability and ethnicity data comes from candidates who completed the equal opportunities questionnaire when applying. Not all candidates answer these questions.
      </p>

      <p class= "govuk-body">
        Ages shown are as of the current report date.
      </p>

      <%= govuk_details(summary_text: 'Full methodology') do %>
        <h2 class="govuk-heading-s">When this data starts</h2>
        <p class="govuk-body">
          Diversity data is available for candidates who submitted applications from <%= @current_timetable.apply_opens_at.to_fs(:govuk_date) %> onwards.
        </p>
        <p class="govuk-body">
          Not all candidates answer the sex, disability and ethnicity questions. Candidates can select "prefer not to say" for any question.
        </p>

        <h2 class="govuk-heading-s">Age</h2>
        <p class="govuk-body">
          Age data comes from all candidates. It's based on each candidate's date of birth, which they must enter as part of their application. Ages shown in this report are calculated as of the current report date.
        </p>

        <h2 class="govuk-heading-s">How candidates are asked about their disabilities and health conditions</h2>
        <p class="govuk-body">
          Candidates are asked: "Do you have a disability or health condition?"
        </p>
        <p class="govuk-body">
          If they answer yes, they can select one or more types from a list. Candidates can select multiple options, so the numbers in disability tables may not match the totals.
        </p>

        <h2 class="govuk-heading-s">How candidates are asked about their ethnicity</h2>
        <p class="govuk-body">
          Candidates are asked to select an ethnic group from a list. If candidates select an ethnic group, they're then asked to select a more specific background. For example, if they select "Asian or Asian British", they can then choose backgrounds such as "Bangladeshi", "Indian", "Pakistani" or others.
        </p>
      <% end %>
    </div>

    <div class="govuk-grid-column-full">
      <% @provider_edi_reports.each do |report| %>
        <%= govuk_table do |table| %>
          <%= table.with_caption(text: 'Regional equality diversity and inclusion report', html_attributes: { class: 'govuk-visually-hidden' }) %>

          <%= table.with_head do |head| %>
            <%= head.with_row do |row| %>
              <%= row.with_cell(text: report.category.titleize) %>
              <%= row.with_cell(scope: false) %>
              <%= row.with_cell(scope: false) %>
              <%= row.with_cell(text: 'Applied') %>
              <%= row.with_cell(text: 'Offered') %>
              <%= row.with_cell(text: 'Recruited') %>
            <% end %>
          <% end %>

          <%= table.with_body do |body| %>
            <% report.ordered_statistics.each do |data| %>
              <%= body.with_row do |row| %>
                <%= row.with_cell(rowspan: 4) do %>
                  <%= data['nonprovider_filter'] %>
                <% end %>

                <%= row.with_cell(rowspan: 2, header: true, text: @provider.name) %>
                <%= row.with_cell(header: true, text: 'This cycle') %>

                <%= row.with_cell(
                  text: data['number_of_candidates_submitted_to_date'],
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: data['number_of_candidates_with_offers_to_date'],
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: report.recruited_number(
                    data['number_of_candidates_accepted_to_date'],
                    data['number_of_candidates_accepted_to_date_as_proportion_of_last_cycle']
                  ),
                  numeric: true
                ) %>
              <% end %>

              <%= body.with_row do |row| %>
                <%= row.with_cell(header: true, text: 'Last cycle') %>

                <%= row.with_cell(
                  text: data['number_of_candidates_submitted_to_same_date_previous_cycle'],
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: data['number_of_candidates_with_offers_to_same_date_previous_cycle'],
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: data['number_of_candidates_accepted_to_same_date_previous_cycle'],
                  numeric: true
                ) %>
              <% end %>

              <%= body.with_row do |row| %>
                <%= row.with_cell(rowspan: 2, header: true, text: t("shared.#{@region}")) %>
                <%= row.with_cell(header: true, text: 'This cycle') %>

                <%= row.with_cell(
                  text: report.regional_report_submitted_to_date(data['nonprovider_filter']),
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: report.regional_report_offered_to_date(data['nonprovider_filter']),
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: report.regional_report_recruited_to_date(data['nonprovider_filter']),
                  numeric: true
                ) %>
              <% end %>

              <%= body.with_row(html_attributes: { class: 'condition-divider' }) do |row| %>
                <%= row.with_cell(header: true, text: 'Last cycle') %>

                <%= row.with_cell(
                  text: report.regional_report_submitted_to_date_previous_cycle(data['nonprovider_filter']),
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: report.regional_report_offered_to_date_previous_cycle(data['nonprovider_filter']),
                  numeric: true
                ) %>
                <%= row.with_cell(
                  text: report.regional_report_recruited_to_date_previous_cycle(data['nonprovider_filter']),
                  numeric: true
                ) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.title') %></h1>
      <% if RecruitmentPerformanceReportTimetable.report_season? %>
        <p class="govuk-body"><%= t('.not_ready_to_view') %></p>
        <%= govuk_link_to(
          'Set your comparison area',
          new_support_interface_regional_report_filter_path(region: @region),
          class: 'govuk-button govuk-button--secondary',
        ) %>
      <% else %>
        <%= t(
              '.available_in_the_future_html',
              current_cycle_range: @current_timetable.cycle_range_name,
              first_publication_date: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:govuk_date),
              first_publication_date_no_year: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:day_and_month),
            ) %>
      <% end %>
    </div>
  </div>
<% end %>
