<%= render 'support_interface/providers/provider_navigation', title: 'Recruitment performance weekly report' %>
<% if @statistics.present? && @provider_data.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.title', cycle_year_range: @provider_report.cycle_range_name) %></h1>
      <% unless RecruitmentPerformanceReportTimetable.report_season? %>
        <p class="govuk-body govuk-!-font-weight-bold"><%= t('.not_available_yet_to_providers', first_publication_date: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:govuk_date)) %></p>
      <% end %>
    </div>

    <%= render(
      RecruitmentPerformanceReport::ReportMethodologyComponent.new(
        provider_report: @provider_report,
        current_timetable: @current_timetable,
        interface: 'support',
        region: @region,
      ),
    ) %>
    <%= render RecruitmentPerformanceReport::SubmittedApplicationsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::CandidatesWithOffersTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::ProportionCandidatesWithOffersTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::OffersAcceptedTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::DeferralsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::CandidatesRejectedTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
    <%= render RecruitmentPerformanceReport::ProportionWithInactiveApplicationsTableComponent.new(
      @provider, @provider_data, @statistics, report_type: @report_type, region: @region
    ) %>
  </div>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t('.title') %></h1>
      <% if RecruitmentPerformanceReportTimetable.report_season? %>
        <p class="govuk-body"><%= t('.not_ready_to_view') %></p>
        <%= govuk_link_to(
          'Set your comparison area',
          new_support_interface_regional_report_filter_path(region: @region),
          class: 'govuk-button govuk-button--secondary',
        ) %>
      <% else %>
        <%= t(
              '.available_in_the_future_html',
              current_cycle_range: @current_timetable.cycle_range_name,
              first_publication_date: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:govuk_date),
              first_publication_date_no_year: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:day_and_month),
            ) %>
      <% end %>
    </div>
  </div>
<% end %>
