<% content_for :title, title_with_error_prefix(t('page_titles.edit_other_qualification'), @qualification.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_review_other_qualifications_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @qualification, url: candidate_interface_edit_other_qualification_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.edit_other_qualification') %>
      </h1>

      <%= f.hidden_field :id, value: @qualification.id %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
