<% content_for :browser_title, title_with_error_prefix('Edit reference details', @details_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@reference.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @details_form, url: support_interface_application_form_update_reference_details_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class='govuk-heading-l'>Edit reference details</h1>

      <%= f.govuk_text_field :name, label: { text: t('support_interface.edit_reference_form.name.label'), size: 'm' }, autocomplete: 'name' %>
      <%= f.govuk_text_field :email_address, label: { text: t('support_interface.edit_reference_form.email_address.label'), size: 'm' }, hint: { text: t('support_interface.edit_reference_form.email_address.hint_text') }, autocomplete: 'email_addess' %>
      <%= f.govuk_text_field :relationship, label: { text: t('support_interface.edit_reference_form.relationship.label'), size: 'm' }, autocomplete: 'relationship' %>
      <%= f.govuk_text_field :audit_comment, label: { text: 'Audit log comment', size: 'm' }, hint: { text: 'This will appear in the audit log alongside this change. If the change originated in a Zendesk ticket, paste the Zendesk URL here' } %>

      <%= f.govuk_submit 'Update reference' %>
    <% end %>
  </div>
</div>
