<h2 class="govuk-heading-l">Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="govuk-form-group">
    <%= f.label :email, class: "govuk-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :password, class: "govuk-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "govuk-input" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="govuk-form-group">
      <div class="govuk-checkboxes__item">
        <%= f.check_box :remember_me, class: "govuk-checkboxes__input" %>
        <%= f.label :remember_me, class: "govuk-label govuk-checkboxes__label" %>
      </div>
    </div>
  <% end -%>

  <div class="govuk-form-group">
    <%= f.submit "Sign in", class: "govuk-button govuk-button--start" %>
  </div>
<% end %>

<%= render "candidates/shared/links" %>
