<% content_for :title, t('page_titles.references_interruption') %>
<% content_for :before_content, govuk_back_link_to(@back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="app-grid-column--grey">
      <h1 class="govuk-heading-l"><%= t('references_interruption.heading', email_address: @reference.email_address) %></h1>
      <p class="govuk-body"><%= t('references_interruption.many_providers_will_not_accept') %></p>
      <p class="govuk-body"><%= t('references_interruption.ask_for_professional_email_address', reference_name: @reference.name) %></p>
      <p class="govuk-body"><%= t('references_interruption.if_you_cannot') %></p>
      <p class="govuk-body">
        <%= govuk_link_to(t('references_interruption.go_back_and_change'), @back_link) %>
      </p>
    </div>

    <%= govuk_button_to(t('save_and_continue'), @next_step, method: :get) %>
  </div>
</div>
