<% content_for :title, title_with_error_prefix(t('page_titles.qualification_details'), @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: candidate_interface_edit_other_qualification_details_path(@return_to[:params]), method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= other_qualifications_title(current_application) %></span>
        Edit <%= @form.qualification_type_name %> qualification
      </h1>

      <%= render partial: 'form', locals: { f: f, subjects: @form.subjects, grades: @form.grades } %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
