<% content_for :title, title_with_error_prefix(t('page_titles.qualification_details'), @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: candidate_interface_edit_other_qualification_details_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Academic and other relevant qualifications</span>
        Edit <%= @form.qualification_type_name %> qualification
      </h1>

      <%= render partial: 'form', locals: { f: f, subject_autocomplete_data: @subject_autocomplete_data, grade_autocomplete_data: @grade_autocomplete_data } %>

      <%= f.govuk_submit t('application_form.other_qualification.base.button') %>
    <% end %>
  </div>
</div>
