<% content_for :title, title_with_error_prefix(t('page_titles.qualification_details'), @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: candidate_interface_other_qualification_details_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= other_qualifications_title(current_application) %></span>
        Add <%= @form.qualification_type_name %> qualification
      </h1>

      <%= render partial: 'form', locals: { f: f, subjects: @form.subjects, grades: @form.grades } %>

      <%= f.govuk_radio_buttons_fieldset :add_another_qualification, legend: { text: 'Do you want to add another qualification?', size: 'm' } do %>
        <%= f.govuk_radio_button :choice, 'same_type', label: { text: "Yes, add another #{@form.qualification_type_name}" }, link_errors: true %>
        <%= f.govuk_radio_button :choice, 'different_type', label: { text: 'Yes, add a different qualification' } %>
        <%= f.govuk_radio_button :choice, 'no', label: { text: 'No, not at the moment' } %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
