<% content_for :title, t('page_titles.destroy_degree') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_degrees_review_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree, url: candidate_interface_confirm_degrees_destroy_path(@degree.id), method: :delete do |f| %>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @degree.title %></span>
        <%= t('page_titles.destroy_degree') %>
      </h1>

      <%= f.submit t('application_form.degree.confirm_delete'), class: 'govuk-button govuk-button--warning', data: { module: 'govuk-button' } %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', candidate_interface_degrees_review_path %>
      </p>
    <% end %>
  </div>
</div>
