<%= content_for :browser_title, t('page_titles.provider.account') %>

<h1 class="govuk-heading-l"><%= t('page_titles.provider.account') %></h1>

<% if FeatureFlag.active?(:account_and_org_settings_changes) %>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to t('page_titles.provider.personal_details'), provider_interface_personal_details_path %>
  </li>
  <li>
    <%= govuk_link_to t('page_titles.provider.user_permissions'), provider_interface_personal_permissions_path %>
  </li>
  <li>
    <%= govuk_link_to t('page_titles.provider.email_notifications'), provider_interface_notifications_path %>
  </li>
</ul>
<% else %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-m">
      <%= govuk_link_to t('page_titles.provider.profile'), provider_interface_profile_path %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change your name</li>
      <li>change your email address</li>
      <li>change your password</li>
      <li>check your permissions</li>
    </ul>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to t('page_titles.provider.notifications'), provider_interface_notifications_path %>
    </h2>

    <p class="govuk-body">Use this section to choose whether to receive notifications about applications.</p>

  </div>
</div>
<% end %>
