<%= content_for :browser_title, t('page_titles.provider.account') %>

<h1 class="govuk-heading-l"><%= t('page_titles.provider.account') %></h1>

<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to t('page_titles.provider.your_personal_details'), provider_interface_personal_details_path %>
  </li>
  <% if current_provider_user.providers.any? %>
    <li>
      <%= govuk_link_to t('page_titles.provider.your_user_permissions'), provider_interface_personal_permissions_path %>
    </li>
    <li>
      <%= govuk_link_to t('page_titles.provider.email_notifications'), provider_interface_notifications_path %>
    </li>
  <% end %>
</ul>
