<%= content_for :title, t('page_titles.continuous_applications.your_applications') %>
<%= render ServiceInformationBanner.new(namespace: :candidate) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% if CycleTimetable.apply_deadline_has_passed?(current_application) %>
<!--      It is after the deadline, but candidate has inflight applications (eg, awaiting decision) -->
    <%= render CandidateInterface::AfterDeadlineContentComponent.new(application_form: current_application) %>
  <% elsif CycleTimetable.between_cycles? %>
<!--      The candidate has carried over an application, but is not yet able to submit choices-->
    <%= render CandidateInterface::CarriedOverContentComponent.new(application_form: current_application) %>
  <% else %>
    <!--      This is BAU, candidates can find courses and apply-->
    <%= render CandidateInterface::MidCycleContentComponent.new(application_form: current_application) %>
  <% end %>
  </div>
  <div class="govuk-grid-column-full">
    <%= render CandidateInterface::ApplicationChoiceListComponent.new(
      application_form: current_application,
      application_choices: @application_choices,
      current_tab_name: params[:current_tab_name],
    ) %>
  </div>
</div>
