<h1 class="govuk-heading-l"><%= t('.title') %></h1>

<% application_form.application_choices.each_with_index do |choice, index| %>
  <h2 class="govuk-heading-m"><%= t('.subtitle', counter: index + 1) %></h3>
  <%= govuk_summary_list do |summary_list| %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { t('.subject') } %>
      <% row.with_value { choice.course.subjects.pluck(:name).join(',') } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { t('.location') } %>
      <% row.with_value do %>
        <p class='govuk-body'>
          <%= course_address(choice) %>
        </p>
        <p class='govuk-body'>
          <%= choice.course_option.site_postcode %>
        </p>
      <% end %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { t('.status') } %>
      <% row.with_value { render(ProviderInterface::ApplicationStatusTagComponent.new(application_choice: choice)) } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { t('.rejection_reason') } %>
      <% row.with_value { rejection_reason_value(choice) } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { t('.qualification') } %>
      <% row.with_value { choice.course.qualifications_to_s } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { t('.funding_type') } %>
      <% row.with_value { choice.course.funding_type.capitalize } %>
    <% end %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t('.personal_statement') %></h3>
  <%= govuk_details(summary_text: 'Guidance given to candidates', classes: 'govuk-!-margin-bottom-4') do %>
    <%= render 'candidate_interface/personal_statement/guidance' %>
  <% end %>

  <p class='govuk-body'><%= choice.personal_statement %></p>
<% end %>
