<% if show_full_personal_statement? %>
  <%= simple_format(personal_statement, class: 'govuk-body') %>
<% else %>
  <div id="app-truncated-personal-statement" class="govuk-visually-hidden govuk-body">
    <%= simple_format(truncated_personal_statement) %>
  </div>

  <div id="app-full-personal-statement" tabindex='-1' class="govuk-visually-hidden govuk-body">
    <%= simple_format(personal_statement) %>
  </div>

  <%= govuk_link_to(
        t('.read_more'),
        '#',
        class: 'govuk-body app-show-more-toggle govuk-visually-hidden',
        data: { action: 'toggle-personal-statement' },
      ) %>

  <%= govuk_link_to(
        t('.read_less'),
        '#',
        class: 'govuk-body app-show-less-toggle govuk-visually-hidden',
        data: { action: 'toggle-personal-statement' },
      ) %>

  <noscript>
    <%= simple_format(personal_statement, class: 'govuk-body') %>
  </noscript>
<% end %>
