<% content_for :title, t("gcse_summary.page_titles.#{@subject}") %>
<% content_for(:before_content, govuk_back_link_to(application_form_path)) %>

<%= form_with model: @section_complete_form, url: candidate_interface_gcse_complete_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= t("gcse_summary.page_titles.#{@subject}") %></h1>

  <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>

  <%= render CandidateInterface::GcseQualificationReviewComponent.new(
    application_form: @application_form,
    application_qualification: @application_qualification,
    subject: @subject,
    editable: @section_policy.can_edit?,
  ) %>

  <% unless @application_qualification.incomplete_gcse_information? %>
    <%= render CandidateInterface::CompleteSectionComponent.new(section_policy: @section_policy, form: f) %>
  <% end %>
<% end %>
