<% content_for :title, title_with_error_prefix(t('page_titles.which_provider'), @wizard.current_step.errors.any?) %>
<% content_for(:before_content, govuk_back_link_to(@wizard.previous_step_path)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard.current_step, url: @wizard.current_step_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.hidden_field :course_id %>

      <%= render DfE::Autocomplete::View.new(
        f,
        attribute_name: :provider_id,
        form_field:
          f.govuk_select(
            :provider_id,
            options_for_select(@wizard.current_step.select_provider_options, @wizard.current_step.provider_id),
            data: { controller: 'autocomplete' },
            label: { text: t('page_titles.which_provider'), size: 'xl', tag: 'h1' },
          ),
      ) %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
