<div class="itt-status-totals itt-status-totals--grey">
  <div>
    <h2 class="govuk-heading-m"><%= title %></h2>
    <p class="govuk-body-s"><%= summary %></p>
  </div>
  <div>
    <div class="govuk-!-display-inline-block govuk-!-margin-right-9">
      <h3 class="govuk-heading-s itt-status-totals__count-header"><%= heading_one %></h3>
      <span class="govuk-heading-s"><%= status_total_one.to_fs(:delimited) %></span>
    </div>

    <div class="govuk-!-display-inline-block">
      <h3 class="govuk-heading-s itt-status-totals__count-header"><%= heading_two %></h3>
      <span class="govuk-heading-s"><%= status_total_two.to_fs(:delimited) %></span>
    </div>
  </div>
</div>
