<div class="govuk-grid-column-one-half">
  <div class="app-grid-column--grey">
    <h2 class="govuk-heading-m"><%= title %></h2>
    <p class="govuk-body-s"><%= summary %></p>
    <div class="flex-container">

      <div class="govuk-!-display-inline-block govuk-!-margin-right-9">
        <h3 class="govuk-heading-s app-count-header"><%= heading1 %></h3>
        <h3 class="govuk-heading-s"><%= value1 %></h3>
      </div>

      <div class="govuk-!-display-inline-block">
        <h3 class="govuk-heading-s app-count-header"><%= heading2 %></h3>
        <h3 class="govuk-heading-s"><%= value2 %></h3>
      </div>
    </div>
  </div>
</div>
