<div class="itt-status-totals itt-status-totals--grey">
  <div>
    <h3 class="govuk-heading-m"><%= title %></h3>
    <p class="govuk-body-s"><%= summary %></p>
  </div>
  <dl>
    <div class="govuk-!-display-inline-block govuk-!-margin-right-9">
      <dt class="govuk-heading-s itt-status-totals__count-header"><%= heading_one %></dt>
      <dd class="govuk-heading-s itt-status-totals__count-data"><%= status_total_one.to_fs(:delimited) %></dd>
    </div>

    <div class="govuk-!-display-inline-block">
      <dt class="govuk-heading-s itt-status-totals__count-header"><%= heading_two %></dt>
      <dd class="govuk-heading-s itt-status-totals__count-data"><%= status_total_two.to_fs(:delimited) %></dd>
    </div>
  </dl>
</div>
