<div class="itt-status-totals govuk-grid-column-one-half">
  <div class="app-grid-column--grey">
    <h2 class="govuk-heading-m"><%= title %></h2>
    <p class="govuk-body-s"><%= summary %></p>
    <div class="itt-status-totals__row">
      <div class="govuk-!-display-inline-block govuk-!-margin-right-9">
        <h3 class="govuk-heading-s itt-status-totals__count-header"><%= heading_one %></h3>
        <span class="govuk-heading-s"><%= status_total_one %></span>
      </div>

      <div class="govuk-!-display-inline-block">
        <h3 class="govuk-heading-s itt-status-totals__count-header"><%= heading_two %></h3>
        <span class="govuk-heading-s"><%= status_total_two %></span>
      </div>
    </div>
  </div>
</div>
