<% content_for :title, title_with_error_prefix(t('page_titles.efl.type'), @type_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class='govuk-heading-xl class='govuk-heading-xl''>
      <span class="govuk-caption-xl"><%= t('page_titles.efl.start') %></span>
      <%= t('page_titles.efl.type') %>
    </h1>

    <%= form_with(model: @type_form, url: candidate_interface_english_language_type_path) do |f| %>
      <%= f.govuk_radio_buttons_fieldset :type do %>
        <%= f.govuk_radio_button :type, 'ielts', label: { text: 'International English Language Testing System (IELTS)' } %>
      <% end %>

      <%= f.govuk_submit t('application_form.continue') %>
    <% end %>

  </div>
</div>

