<% content_for :title, t('page_titles.provider.reports') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.provider.reports') %>
    </h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to t('page_titles.provider.export_application_data'), provider_interface_new_application_data_export_path %>
      </li>
      <li>
        <%= govuk_link_to t('page_titles.provider.export_hesa_data'), provider_interface_reports_hesa_exports_path %>
      </li>
      <% if @providers.one? %>
        <li>
          <%= govuk_link_to t('page_titles.provider.status_of_active_applications'), provider_interface_reports_provider_status_of_active_applications_path(provider_id: @providers.first) %>
        </li>
        <li>
          <%= govuk_link_to t('page_titles.provider.diversity_report'), provider_interface_reports_provider_diversity_report_path(provider_id: @providers.first) %>
        </li>
        <li>
          <%= govuk_link_to t('page_titles.provider.withdrawal_report'), provider_interface_reports_provider_withdrawal_report_path(provider_id: @providers.first) %>
        </li>
        <% if mid_cycle_report_present_for?(@providers.first) %>
          <%= govuk_link_to mid_cycle_report_label_for(@providers.first), provider_interface_reports_provider_mid_cycle_report_path(provider_id: @providers.first) %>
        <% end %>
        <li>
          <%= govuk_link_to t('page_titles.provider.reference_status_report'), provider_interface_reports_provider_reference_status_report_path(provider_id: @providers.first) %>
        </li>
      <% end %>
    </ul>
    <% if @providers.many? %>
      <% @providers.each do |provider| %>
        <h2 class="govuk-heading-m"><%= provider.name %></h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <%= govuk_link_to t('page_titles.provider.status_of_active_applications'), provider_interface_reports_provider_status_of_active_applications_path(provider_id: provider) %>
          </li>
          <li>
            <%= govuk_link_to t('page_titles.provider.diversity_report'), provider_interface_reports_provider_diversity_report_path(provider_id: provider) %>
          </li>
          <li>
            <%= govuk_link_to t('page_titles.provider.withdrawal_report'), provider_interface_reports_provider_withdrawal_report_path(provider_id: provider) %>
          </li>
          <li>
            <%= govuk_link_to t('page_titles.provider.reference_status_report'), provider_interface_reports_provider_reference_status_report_path(provider_id: provider) %>
          </li>
          <% if mid_cycle_report_present_for?(provider) %>
            <%= govuk_link_to mid_cycle_report_label_for(provider), provider_interface_reports_provider_mid_cycle_report_path(provider_id: provider) %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
