<% content_for :title, t('page_titles.provider.reports') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.provider.reports') %>
    </h1>

    <% if @performance_reports %>
      <h2 class="govuk-heading-m">
        <%= t('.performance_report_heading') %>
      </h2>

      <% unless RecruitmentPerformanceReportTimetable.report_season? %>
        <%= t(
              '.available_in_the_future_html',
              current_cycle_range: @current_timetable.cycle_range_name,
              first_publication_date: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:govuk_date),
              first_publication_date_no_year: RecruitmentPerformanceReportTimetable.first_publication_date.to_fs(:day_and_month),
            ) %>
      <% end %>
    <% end %>

    <% @providers.select { it.performance_reports.any? }.each do |provider| %>
      <% if @providers.many? %>
        <h3 class="govuk-heading-s"><%= provider.name %></h3>
      <% end %>
      <% report = provider.performance_reports.order(:recruitment_cycle_year, :cycle_week).last %>
      <ul class="govuk-list govuk-list--spaced">
        <li><%= govuk_link_to("Weekly report for week ending #{report.reporting_end_date.to_fs(:govuk_date)}", provider_interface_reports_provider_recruitment_performance_report_path(provider.id)) %></li>
      </ul>
    <% end %>

    <h2 class="govuk-heading-m"><%= t('.application_data_heading') %></h2>
    <% @providers.each do |provider| %>
      <% if @providers.many? %>
        <h3 class="govuk-heading-s"><%= provider.name %></h3>
      <% end %>
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <%= govuk_link_to t('page_titles.provider.status_of_active_applications'), provider_interface_reports_provider_status_of_active_applications_path(provider_id: provider) %>
        </li>
        <li>
          <%= govuk_link_to t('page_titles.provider.diversity_report'), provider_interface_reports_provider_diversity_report_path(provider_id: provider) %>
        </li>
        <li>
          <%= govuk_link_to t('page_titles.provider.withdrawal_report'), provider_interface_reports_provider_withdrawal_reasons_report_path(provider) %>
        </li>
      </ul>
    <% end %>

    <h2 class="govuk-heading-m"><%= t('.download_export_heading') %></h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to t('page_titles.provider.export_application_data'), provider_interface_new_application_data_export_path %>
      </li>
      <li>
        <%= govuk_link_to t('page_titles.provider.export_hesa_data'), provider_interface_reports_hesa_exports_path %>
      </li>
    </ul>
  </div>
</div>
