<h1 class="govuk-heading-xl">Choose a course first</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t('service_name.apply') %> is a new service that will eventually replace UCAS Teacher Training.</p>
    <p class="govuk-body">For now, you can only apply to some courses using <%= t('service_name.apply') %>.</p>
    <p class="govuk-body">Choose a course first to check it’s available on <%= t('service_name.apply') %> before you do your application.</p>
    <p class="govuk-body">If your course is not available, we’ll send you to UCAS to apply there.</p>

    <hr class="govuk-section-break govuk-section-break--m">

    <%= govuk_link_to 'Choose a course', candidate_interface_course_choices_choose_path, button: true, class: 'govuk-!-margin-bottom-5' %>
    <p class="govuk-body">or</p>
    <%= govuk_link_to 'Go to your application form', candidate_interface_application_form_path, class: 'govuk-body' %>
  </div>
</div>
