<% content_for :title, title_with_error_prefix(t('review_application.title'), @incomplete_sections && @incomplete_sections.any?) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= render(CandidateInterface::DeadlineBannerComponent.new(application_form: @application_form, flash_empty: flash.empty?)) %>
<%= render(CandidateInterface::ReopenBannerComponent.new(phase: @application_form.phase, flash_empty: flash.empty?)) %>

<% if @incomplete_sections.present? || @application_choice_errors.present? || @reference_section_errors %>
  <div class="govuk-error-summary" role="alert" data-module="govuk-error-summary" aria-labelledby="error-summary-title">
    <h2 id="error-summary-title" class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @incomplete_sections.each do |section| %>
          <li>
            <a href="<%= "#incomplete-#{section.name}-error" %>">
              <%= t(section.message, minimum_references: ApplicationForm::REQUIRED_REFERENCE_SELECTIONS) %>
            </a>
          </li>
        <% end %>

        <% @application_choice_errors.each do |error| %>
          <li><%= link_to error.message, error.anchor %></li>
        <% end %>

        <% @reference_section_errors.each do |error| %>
          <li><%= link_to error.message, error.anchor %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<h1 class="govuk-heading-xl">
  <%= t('review_application.heading') %>
</h1>

<%= render partial: 'candidate_interface/application_form/review', locals: { application_form: @application_form, editable: true } %>

<% if @application_form.candidate&.submission_blocked? %>
  <p class='govuk-body'>You’ve created more than one account.</p>
  <p class='govuk-body'>You can no longer submit applications from this account. Visit your other account to continue your application.</p>
  <p class='govuk-body'>You can apply for up to <%= max_course_choices %> courses at a time.</p>
  <p class='govuk-body'>Email becomingateacher@digital.education.gov.uk if you have any questions.</p>
<% elsif @courses_not_yet_open.any? || @full_courses.any? %>
  <p class='govuk-body'>You cannot submit this application as:<p>
  <ul class="govuk-list govuk-list--bullet">
    <% @courses_not_yet_open.each do |course| %>
      <li><%= course.name_and_code %> will not open for applications until <%= course.applications_open_from.to_fs(:govuk_date) %></li>
    <% end %>
    <% @full_courses.each do |course| %>
      <li><%= course.name_and_code %> has no vacancies </li>
    <% end %>
  </ul>
<% elsif !CycleTimetable.between_cycles?(@application_form.phase) %>
  <%= govuk_button_link_to t('continue'), candidate_interface_application_submit_show_path %>
<% end %>
