<% content_for :title, title_with_error_prefix(t('review_application.title'), @incomplete_sections && @incomplete_sections.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path) %>

<%= render(CandidateInterface::DeadlineBannerComponent.new(application_form: @application_form, flash_empty: flash.empty?)) %>
<%= render(CandidateInterface::ReopenBannerComponent.new(phase: @application_form.phase, flash_empty: flash.empty?)) %>

<% if @incomplete_sections.present? || @application_choice_errors.present? || @reference_section_errors.present? %>
  <div class="govuk-error-summary" tabindex="-1" role="alert" data-module="govuk-error-summary" aria-labelledby="error-summary-title">
    <h2 id="error-summary-title" class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @incomplete_sections.each do |section| %>
          <li>
            <a href="<%= "#incomplete-#{section.name}-error" %>">
              <%= t(section.message, minimum_references: ApplicationForm::MINIMUM_COMPLETE_REFERENCES) %>
            </a>
          </li>
        <% end %>

        <% @application_choice_errors.each do |error| %>
          <li><%= link_to error.message, error.anchor %></li>
        <% end %>

        <% @reference_section_errors.each do |error| %>
          <li><%= link_to error.message, error.anchor %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<h1 class="govuk-heading-xl">
  <%= t('review_application.heading') %>
</h1>

<%= render partial: 'candidate_interface/application_form/review', locals: { application_form: @application_form, editable: true } %>

<% unless CycleTimetable.between_cycles?(@application_form.phase) %>
  <%= govuk_link_to t('continue'), candidate_interface_start_equality_and_diversity_path, button: true %>
<% end %>
