<% content_for :title, t('page_titles.application_form') %>

<%= render CandidateInterface::CarryOverInsetTextComponent.new(application_form: @application_form) %>
<%= render CandidateInterface::DeadlineBannerComponent.new(application_form: @application_form, flash_empty: flash.empty?) %>
<%= render CandidateInterface::ReopenBannerComponent.new(phase: @application_form.phase, flash_empty: flash.empty?) %>

<%= render ServiceInformationBanner.new(namespace: :candidate) %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><%= t('page_titles.application_form') %></h1>
<p class="govuk-hint govuk-!-margin-bottom-8"><%= @application_form_presenter.updated_at %></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if !CycleTimetable.can_add_course_choice?(@application_form) %>
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.courses') %></h2>
          <p class="govuk-body">
            You can find courses from 9am on <%= CycleTimetable.find_reopens.to_s(:govuk_date) %>. You can keep making changes to the rest of your application until then.
          </p>
      </section>
    <% else %>
      <% if @application_form.candidate_has_previously_applied? && @application_form.previous_application_form.application_choices.rejected.any? %>
        <%= render(CandidateInterface::RejectionReasonsComponent.new(application_form: @application_form.previous_application_form)) %>
      <% end %>
      <% if @application_form.candidate_has_previously_applied? && @application_form.apply_2? %>
        <%= render(CandidateInterface::ApplicationFormCourseChoiceComponent.new(
          completed: @application_form_presenter.course_choices_completed?,
        )) %>
      <% else %>
        <%= render(CandidateInterface::ApplicationFormCourseChoicesComponent.new(
          choices_are_present: @application_form_presenter.application_choices_added?,
          completed: @application_form_presenter.course_choices_completed?,
        )) %>
      <% end %>
    <% end %>

    <% cache(@application_cache_key, expires_in: 5.minutes) do %>
      <%= render 'task_list', application_form: @application_form, application_form_presenter: @application_form_presenter %>
    <% end %>

    <section>
      <% if CycleTimetable.between_cycles?(@application_form.phase) %>
        <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.review') %></h2>
        <p class="govuk-body">You cannot submit your application until 9am on <%= CycleTimetable.apply_opens.to_s(:govuk_date) %>. You can keep making changes to the rest of your application until then.</p>
        <%= govuk_link_to 'Review your application', candidate_interface_application_review_path, button: true %>
      <% elsif CycleTimetable.can_submit?(@application_form) %>
        <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.check_and_submit') %></h2>
        <%= govuk_link_to t('section_items.check_and_submit'), candidate_interface_application_review_path, button: true %>
      <% end %>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: '/candidate_interface/shared/support', locals: { support_reference: @application_form.support_reference } %>

    <% if @application_form.candidate_has_previously_applied? %>
      <h2 class="govuk-heading-s"><%= t('section_groups.previous_applications') %></h2>
      <%= render(CandidateInterface::LinksToPreviousApplicationsComponent.new(application_form: @application_form)) %>
    <% end %>
  </div>
</div>
