<% content_for :browser_title, "Candidate ##{@candidate.id}" %>
<% content_for :title do %>
  <span class="govuk-caption-xl">Candidate #<%= @candidate.id %></span>
  <%= @candidate.email_address %>
<% end %>

<% unless HostingEnvironment.production? %>
  <%= button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@candidate), class: 'govuk-button' %>
<% end %>

<% if @candidate.hide_in_reporting? %>
  <%= button_to 'Include this candidate in service performance data', support_interface_show_candidate_path(@candidate), class: 'govuk-button govuk-button--secondary' %>
<% else %>
  <%= button_to 'Exclude this candidate from service performance data', support_interface_hide_candidate_path(@candidate), class: 'govuk-button govuk-button--secondary' %>
<% end %>

<% unless @application_forms.empty? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">Candidate’s applications</h2>
  <%= render SupportInterface::ApplicationsTableComponent, application_forms: @application_forms %>
<% end %>
