<% content_for :browser_title, "Candidate ##{@candidate.id}" %>
<% content_for :title, @candidate.email_address %>

<% content_for :before_content do %>
  <%= breadcrumbs({
    'Candidates': support_interface_applications_path,
    @candidate.email_address => nil,
  }) %>
<% end %>

<% unless HostingEnvironment.production? %>
  <%= govuk_button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@candidate), form_class: 'govuk-!-display-inline-block' %>
<% end %>

<% if @candidate.hide_in_reporting? %>
  <%= govuk_button_to 'Include this candidate in service performance data', support_interface_show_candidate_path(@candidate), class: 'govuk-button--secondary', form_class: 'govuk-!-display-inline-block' %>
<% else %>
  <%= govuk_button_to 'Exclude this candidate from service performance data', support_interface_hide_candidate_path(@candidate), class: 'govuk-button--secondary', form_class: 'govuk-!-display-inline-block' %>
<% end %>

<% unless @application_forms.empty? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">Candidate’s applications</h2>
  <%= render SupportInterface::ApplicationsTableComponent.new(application_forms: @application_forms) %>
<% end %>
