<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_error_summary %>

    <%= f.govuk_radio_buttons_fieldset :english_main_language, legend: { text: t('application_form.personal_details.english_main_language.label'), size: 'xl', tag: 'h1' } do %>
      <%= f.govuk_radio_button :english_main_language, 'yes', label: { text: 'Yes' }, link_errors: true do %>
        <%= f.govuk_text_area :other_language_details, label: { text: t('application_form.personal_details.english_main_language.yes_label') }, max_words: 200 %>
      <% end %>

      <%= f.govuk_radio_button :english_main_language, 'no', label: { text: 'No' } do %>
        <%= f.govuk_text_area :english_language_details, label: { text: t('application_form.personal_details.english_main_language.no_label') }, max_words: 200 %>
      <% end %>
    <% end %>

    <%= f.govuk_submit 'Save and continue' %>
  </div>
</div>
