<% content_for :title, title_with_error_prefix(t('page_titles.languages'), @languages_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @languages_form, url: candidate_interface_languages_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.languages') %>
      </h1>

      <%= f.govuk_radio_buttons_fieldset :english_main_language, legend: { size: 'm', text: t('application_form.personal_details.english_main_language.label'), tag: 'span' } do %>
        <%= f.govuk_radio_button :english_main_language, 'yes', label: { text: 'Yes' }, link_errors: true do %>
          <%= f.govuk_text_area :other_language_details, label: { text: t('application_form.personal_details.english_main_language.yes_label') }, max_words: 200 %>
        <% end %>

        <%= f.govuk_radio_button :english_main_language, 'no', label: { text: 'No' } do %>
          <%= f.govuk_text_area :english_language_details, label: { text: t('application_form.personal_details.english_main_language.no_label') }, max_words: 200 %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
