<% content_for :title, t('page_titles.work_history') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.work_history') %>
    </h1>

    <%= govuk_link_to candidate_interface_new_work_history_path, button: true, class: 'govuk-button--secondary' do %>
      <%= @application_form.application_work_experiences.any? ? t('application_form.work_history.another.button') : t('application_form.work_history.add.button') %>
    <% end %>
  </div>
</div>

<%= render(CandidateInterface::WorkHistoryReviewComponent.new(application_form: @application_form)) %>

<%= form_with model: @application_form, url: candidate_interface_work_history_complete_path do |f| %>
  <div class="govuk-form-group">
    <%= f.hidden_field :work_history_completed, value: false %>
    <%= f.govuk_check_box :work_history_completed, true, multiple: false, label: { text: t('application_form.work_history.review.completed_checkbox') } %>
  </div>

  <%= f.govuk_submit t('continue') %>
<% end %>
