<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: form_object, url: form_path, method: form_method do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons attribute,
                                           collection,
                                           value_method,
                                           text_method,
                                           hint_method,
                                           legend: { text: page_title, size: 'l' },
                                           caption: { text: caption, size: 'l' } %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
    <%= content %>
  </div>
</div>
