<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <code><%= column_name %></code><br>
  </dt>

  <dd class="govuk-summary-list__value">
    <p class="govuk-hint govuk-!-margin-top-0"><%= type_description %></p>

    <% if description? %>
      <p class="govuk-body"><%= description %></p>
    <% end %>

    <% if example? %>
      <p class="govuk-body">Example: <code><%= example %></code></p>
    <% end %>

    <% if column['enum'] %>
      <p class="govuk-body">Possible values:</p>

      <ul class="govuk-list govuk-list--bullet">
        <% column['enum'].each do |item| %>
          <li><code><%= item.inspect %></code></li>
        <% end %>
      </ul>
    <% end %>
  </dd>
</div>
