<div class='moj-filter-layout'>
  <div class="mobile-only-search">
    <%= render PrimaryFilterComponent.new(filters:, primary_filter:, secondary_filters:) %>
  </div>

  <div class="moj-filter-layout__filter app-filter">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="moj-filter__header-action">
        </div>
      </div>

      <div class="moj-filter__content" tabindex="-1">
        <% if active_filters.any? %>
          <div class="moj-filter__selected">
            <div class="moj-filter__selected-heading">
              <div class="moj-filter__heading-title">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h3>
                <p class="govuk-body">
                  <%= govuk_link_to 'Clear filters', clear_filters_link, no_visited_state: true %>
                </p>
              </div>
            </div>

            <% active_filters.each do |active_filter| %>
              <h4 class="govuk-heading-s govuk-!-margin-bottom-0"><%= active_filter[:heading] %></h4>
              <ul class="moj-filter-tags">
                <% tags_for_active_filter(active_filter).each do |tag| %>
                  <li>
                    <%= link_to(tag[:remove_link], class: 'app-checkbox-filter__tag', id: "tag-#{tag[:title].parameterize}") do %>
                      <span class="govuk-visually-hidden">Remove this filter</span>
                      <%= tag[:title] %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
        <div class="moj-filter__options">
          <form method="get">
           <%= hidden_field_tag(:resolved, params[:resolved]) if params[:resolved].present? %>
            <%= submit_tag 'Apply filters', class: 'govuk-button' %>

            <%= hidden_field_tag primary_filter[:name], primary_filter[:value] if primary_filter && primary_filter[:value].present? %>
            <% secondary_filters.each do |filter, idx| %>
              <div class="govuk-form-group filter-group">
                <% if filter[:title].present? %>
                  <h3 class="govuk-heading-m"><%= filter[:title] %></h3>
                <% end %>

                <% if multiple_fields?(filter) %>
                  <fieldset class="govuk-fieldset">
                    <legend id="filter-legend-<%= filter[:name] %>-" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <%= filter[:heading] %>
                    </legend>
                <% else %>
                  <label class="govuk-label govuk-label--s" for="<%= filter[:name] %>">
                    <%= filter[:heading] %>
                  </label>
                <% end %>

                <% if filter[:type] == :location_search %>
                  <%= render ProviderInterface::LocationFilterComponent.new(filter:) %>
                <% elsif filter[:type] == :search %>
                  <input class="govuk-input <%= filter[:css_classes] %>" id="<%= filter[:name] %>" name="<%= filter[:name] %>" type="text" value="<%= filter[:value] %>" aria-labelledby="filter-legend-<%= filter[:name] %>" autocomplete="off">
                <% elsif filter[:type] == :checkboxes %>
                  <input value="" name="<%= filter[:name] %>[]" type="hidden">
                  <% filter[:options].each do |option| %>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="<%= filter[:name] %>-<%= option[:value] %>" name="<%= filter[:name] %>[]" type="checkbox" <%= 'checked' if option[:checked] %> value="<%= option[:value] %>">
                        <label class="govuk-label govuk-checkboxes__label" for="<%= filter[:name] %>-<%= option[:value] %>">
                          <%= option[:label] %>
                        </label>
                      </div>
                    </div>
                  <% end %>
                <% elsif filter[:type] == :checkbox_filter %>
                  <div id="<%= filter[:name] %>" class="app-checkbox-filter app-checkbox-filter--enhanced">
                    <% if active_filters&.find { |f| f[:name] == filter[:name] } && filter[:hide_tags].blank? %>
                      <div class="app-checkbox-filter__selected">
                        <ul class="app-checkbox-filter__tags">
                          <% tags_for_active_filter(filter).each do |tag| %>
                            <li>
                              <%= link_to(tag[:remove_link], class: 'app-checkbox-filter__tag', id: "tag-#{tag[:title].parameterize}") do %>
                                <span class="govuk-visually-hidden">Remove this filter</span>
                                <%= tag[:title] %>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="app-checkbox-filter__container">
                      <div class="govuk-checkboxes govuk-checkboxes--small app-checkbox-filter__container-inner">
                        <input value="" name="<%= filter[:name] %>[]" type="hidden">
                        <% filter[:options].each do |option| %>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="<%= filter[:name] %>-<%= option[:value] %>" name="<%= filter[:name] %>[]" type="checkbox"<%= 'checked' if option[:checked] %> value="<%= option[:value] %>">
                            <label class="govuk-label govuk-checkboxes__label" for="<%= filter[:name] %>-<%= option[:value] %>">
                              <%= option[:label] %>
                            </label>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% if multiple_fields?(filter) %>
                  </fieldset>
                <% end %>
              </div>
            <% end %>
            <% if show_bottom_button? %>
              <div><%= submit_tag 'Apply filters', class: 'govuk-button govuk-!-margin-bottom-0' %></div>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class='moj-filter-layout__content'>
    <div class="desktop-only-search">
      <%= render PrimaryFilterComponent.new(filters:, primary_filter:, secondary_filters:) %>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="filter-toggle-button">

        </div>
      </div>
    </div>

    <%= content %>
  </div>
</div>
