<div class='moj-filter-layout'>
  <div class="moj-filter-layout__filter app-filter">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="moj-filter__header-action">
        </div>
      </div>

      <div class="moj-filter__content" tabindex="-1">
        <% if active_filters.any? %>
          <div class="moj-filter__selected">
            <div class="moj-filter__selected-heading">
              <div class="moj-filter__heading-title">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h3>
                <p class="govuk-body">
                  <%= govuk_link_to 'Clear filters', clear_filters_link, class: 'govuk-link--no-visited-state' %>
                </p>
              </div>
            </div>

            <% active_filters.each do |active_filter| %>
              <h4 class="govuk-heading-s govuk-!-margin-bottom-0"><%= active_filter[:heading] %></h4>
              <ul class="moj-filter-tags">
                <% tags_for_active_filter(active_filter).each do |tag| %>
                  <li>
                    <%= link_to(tag[:remove_link], class: 'app-checkbox-filter__tag', id: "tag-#{tag[:title].parameterize}") do %>
                      <span class="govuk-visually-hidden">Remove this filter</span>
                      <%= tag[:title] %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
        <div class="moj-filter__options">
          <form method="get">
            <%= submit_tag 'Apply filters', class: 'govuk-button' %>

            <%= hidden_field_tag primary_filter[:name], primary_filter[:value] if primary_filter && primary_filter[:value].present? %>
            <% secondary_filters.each do |filter, idx| %>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend id="filter-legend-<%= filter[:name] %>" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <%= filter[:heading] %>
                  </legend>
                  <% if filter[:type] == :search %>
                    <input class="govuk-input <%= filter[:css_classes] %>" id="<%= filter[:name] %>" name="<%= filter[:name] %>" type="text" value="<%= filter[:value] %>" aria-labelledby="filter-legend-<%= filter[:name] %>" autocomplete="off">
                  <% elsif filter[:type] == :checkboxes %>
                    <% filter[:options].each do |option| %>
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="<%= filter[:name] %>-<%= option[:value] %>" name="<%= filter[:name] %>[]" type="checkbox" <%= 'checked' if option[:checked] %> value="<%= option[:value] %>">
                          <label class="govuk-label govuk-checkboxes__label" for="<%= filter[:name] %>-<%= option[:value] %>">
                            <%= option[:label] %>
                          </label>
                        </div>
                      </div>
                    <% end %>
                     <% elsif filter[:type] == :checkbox_filter %>
                    <div id="<%= filter[:name] %>" class="app-checkbox-filter app-checkbox-filter--enhanced">
                      <% if active_filters&.find { |f| f[:name] == filter[:name] } %>
                        <div class="app-checkbox-filter__selected">
                          <ul class="app-checkbox-filter__tags">
                            <% tags_for_active_filter(filter).each do |tag| %>
                              <li>
                                <%= link_to(tag[:remove_link], class: 'app-checkbox-filter__tag', id: "tag-#{tag[:title].parameterize}") do %>
                                  <span class="govuk-visually-hidden">Remove this filter</span>
                                  <%= tag[:title] %>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <div class="app-checkbox-filter__container">
                        <div class="govuk-checkboxes govuk-checkboxes--small app-checkbox-filter__container-inner">
                          <% filter[:options].each do |option| %>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="<%= filter[:name] %>-<%= option[:value] %>" name="<%= filter[:name] %>[]" type="checkbox" <%= 'checked' if option[:checked] %> value="<%= option[:value] %>">
                              <label class="govuk-label govuk-checkboxes__label" for="<%= filter[:name] %>-<%= option[:value] %>">
                                <%= option[:label] %>
                              </label>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </fieldset>
              </div>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class='moj-filter-layout__content'>
    <% if primary_filter %>
      <div class="app-search<% if primary_filter[:value].blank? %> govuk-!-margin-bottom-7<% end %>">
        <form method="get">
          <% filters_to_params(secondary_filters).each do |name, value| %>
            <% if value.is_a?(Array) %>
              <% value.each do |v| %><%= hidden_field_tag "#{name}[]", v, html: { autocomplete: 'off' } %><% end %>
            <% else %>
              <%= hidden_field_tag name, value, html: { autocomplete: 'off' } %>
            <% end %>
          <% end %>
          <div class="govuk-form-group">
            <label class="govuk-label app-search__label govuk-label--m" for="<%= primary_filter[:name] %>">
              Search by candidate name or reference
            </label>

            <input class="govuk-input <%= primary_filter[:css_classes] %>" id="<%= primary_filter[:name] %>" name="<%= primary_filter[:name] %>" type="text" value="<%= primary_filter[:value] %>" aria-labelledby="filter-legend-<%= primary_filter[:name] %>" autocomplete="off">
          </div>
          <button class="govuk-button app-search__button" data-module="govuk-button">
            Search
          </button>
        </form>
      </div>
      <% if primary_filter[:value].present? %>
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-7">
          <%= govuk_link_to('Clear search', remove_search_tag_link(primary_filter[:name]), class: 'govuk-link--no-visited-state') %>
        </p>
      <% end %>
    <% end %>
    <%= content %>
  </div>
</div>
