<div class="app-primary-navigation govuk-!-display-none-print">
  <div class="app-primary-navigation--justify-between">
    <nav class="app-primary-navigation__nav" aria-label="main menu">
      <ul class="app-primary-navigation__list">
        <% items.each do |item| %>
          <li class="app-primary-navigation__item <%= item.classes %>">
            <% if item.active %>
              <%= govuk_link_to item.text, item.href, class: 'app-primary-navigation__link', aria: { current: 'page' } %>
            <% else %>
              <%= govuk_link_to item.text, item.href, class: 'app-primary-navigation__link' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <ul class="app-primary-navigation__list">
      <% @items_right.each do |item| %>
        <li class="app-primary-navigation__item <%= item.classes %>">
          <%= govuk_link_to item.text, item.href, class: 'app-primary-navigation__link' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
