<div class="app-search<% if primary_filter[:value].blank? %> govuk-!-margin-bottom-7<% end %>">
  <form method="get">
    <% filters_to_params(secondary_filters).each do |name, value| %>
      <% if value.is_a?(Array) %>
        <% value.each do |v| %><%= hidden_field_tag "#{name}[]", v, html: { autocomplete: 'off' } %><% end %>
      <% else %>
        <%= hidden_field_tag name, value, html: { autocomplete: 'off' } %>
      <% end %>
    <% end %>
    <div class="govuk-form-group">
      <label class="govuk-label app-search__label govuk-label--m" for="<%= primary_filter[:name] %>">
        Search by candidate name or application number
      </label>

      <input class="govuk-input app-search__input <%= primary_filter[:css_classes] %>" id="<%= primary_filter[:name] %>" name="<%= primary_filter[:name] %>" type="text" value="<%= primary_filter[:value] %>" autocomplete="off">
    </div>
    <button class="govuk-button app-search__button" data-module="govuk-button">
      Search
    </button>
  </form>
</div>

<% if primary_filter[:value].present? %>
  <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-7">
    <%= govuk_link_to('Clear search', remove_search_tag_link(primary_filter[:name]), no_visited_state: true) %>
  </p>
<% end %>
