<% content_for :title, title_with_error_prefix(t('page_titles.edit_degree_type'), @degree_type_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_degrees_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @degree_type_form,
      url: candidate_interface_edit_degree_type_path(@degree_type_form.degree),
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :uk_degree, legend: { text: t('page_titles.edit_degree_type'), size: 'xl', tag: 'h1' } do %>
        <%= render 'form_fields', f: f %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
