<% content_for :title, title_with_error_prefix(t('page_titles.add_undergraduate_degree'), @degree_type_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path(params[:id]), 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @degree_type_form, url: candidate_interface_new_degree_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :uk_degree, legend: { text: t('page_titles.add_undergraduate_degree'), size: 'xl', tag: 'h1' } do %>
        <p class="govuk-body">
          Your undergraduate degree confirms your eligibility to teach.
          Enter the details of your degree as they appear on your certificate,
          translating them into English if necessary.
        </p>

        <p class="govuk-body">
          If you have further postgraduate degrees, you’ll be able to add them next.
        </p>

        <%= render 'form_fields', f: f %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
