<% content_for :title, t('page_titles.application_review_and_submit', provider_name: @application_choice.provider.name) %>
<% content_for(:before_content, govuk_back_link_to(candidate_interface_application_choices_path)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="app-grid-column--grey">
      <h1 class="govuk-heading-l"><%= t('review_interruption.title') %></h1>
      <p class="govuk-body"><%= t('review_interruption.statement_count', word_count: "#{@word_count} #{'word'.pluralize(@word_count)}") %></p>
      <p class="govuk-body"><%= t('review_interruption.success_percentage', word_count: ApplicationForm::RECOMMENDED_PERSONAL_STATEMENT_WORD_COUNT) %></p>
      <p class="govuk-body"><%= t('review_interruption.increase_chances') %></p>
    </div>

    <div class="govuk-button-group app-course-choice__confirm-submission">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <%= t('review_interruption.edit_statement') %>
        </legend>
      </fieldset>

      <%= govuk_button_to(t('review_interruption.edit_statement_button_text'), candidate_interface_edit_becoming_a_teacher_path, method: :get) %>

      <%= govuk_link_to(
            t('review_interruption.continue_without_editing'),
            @continue_path,
          ) %>

    </div>
  </div>
</div>
