<% content_for :title, title_with_error_prefix(t('page_titles.referee.refuse_feedback', full_name: @application.full_name), @refuse_feedback_form.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @refuse_feedback_form,
      url: referee_interface_refuse_feedback_path(token: @token_param, from: params[:from]),
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= t('referee.refuse_feedback.choice.heading', full_name: @application.full_name) %>
      </h1>

      <% if @accepted_choice.present? %>
        <p class="govuk-body">
          <%= @application.full_name %> has accepted an offer from <%= @accepted_choice.provider.name %> for a place on a teacher training course.
          They’ve said that you can give them a reference.
        </p>
      <% else %>
        <p class="govuk-body">
          <%= @application.full_name %> has said you can give them a reference for their teacher training application.
        </p>
      <% end %>

      <% if FeatureFlag.active?(:show_reference_confidentiality_status) %>

        <p class="govuk-body">You can choose whether <%= @application.full_name %> should be able to see the contents of your reference or if it should be confidential.</p>

      <% else %>

        <p class="govuk-body">Your reference will not be sent to  <%= @application.full_name %>.</p>

      <% end %>

      <%= f.govuk_radio_buttons_fieldset :refused, legend: { text: t('referee.refuse_feedback.choice.label', full_name: @application.full_name) } do %>
        <%= f.govuk_radio_button :refused, :no, label: { text: t('referee.refuse_feedback.choice.cancel') }, link_errors: true %>
        <%= f.govuk_radio_button :refused, :yes, label: { text: t('referee.refuse_feedback.choice.confirm') } %>
      <% end %>

    <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
