<% content_for :title, title_with_error_prefix(t('page_titles.referee.relationship', full_name: @application.full_name), @relationship_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @relationship_form,
      url: referee_interface_confirm_relationship_path(token: @token_param),
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.referee.relationship', full_name: @application.full_name) %>
      </h1>

      <p class="govuk-body"><%= @application.full_name %> describes your relationship as follows:</p>

      <%= govuk_inset_text(text: @relationship) %>

      <%= f.govuk_radio_buttons_fieldset :relationship_confirmation, legend: { text: t('referee.relationship_confirmation.legend') } do %>
        <%= f.govuk_radio_button :relationship_confirmation, :yes, label: { text: t('referee.relationship_confirmation.yes.label') }, link_errors: true %>
        <%= f.govuk_radio_button :relationship_confirmation, :no, label: { text: t('referee.relationship_confirmation.no.label') } do %>
          <%= f.govuk_text_area :relationship_correction, label: { text: t('referee.relationship_correction.label', full_name: @application.full_name) }, max_words: 50, rows: 5 %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
