<% content_for :title, t('page_titles.referee.review') %>
<% content_for :before_content, govuk_back_link_to(referee_interface_reference_feedback_path(token: @token_param)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference_form,
      url: referee_interface_submit_reference_path(token: @token_param),
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.referee.review') %>
      </h1>

      <p class="govuk-body">If you’re not ready to submit yet, you can return using the link in your email.</p>

      <%= render(RefereeInterface::ReferenceReviewComponent.new(reference: @reference_form.reference, token_param: @token_param)) %>

      <%= f.govuk_submit t('referee.review.submit') %>
    <% end %>
  </div>
</div>
