<%= content_for :title, t('page_titles.monthly_statistics', academic_year_name: @presenter.next_cycle_name) %>
<% content_for :before_content, govuk_back_link_to(publications_monthly_reports_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      <%= t('.caption') %>
    </span>
    <h1 class="govuk-heading-l">
      <%= @presenter.generation_date.to_fs(:month_and_year) %>
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="metadata-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <dl class="gem-c-metadata">
        <dt class="gem-c-metadata__term">Generated</dt>
        <dd class="gem-c-metadata__definition"><%= @presenter.generation_date.to_fs(:govuk_date) %></dd>

        <dt class="gem-c-metadata__term">Published</dt>
        <dd class="gem-c-metadata__definition"><%= @presenter.publication_date.to_fs(:govuk_date) %></dd>

        <% if @presenter.current_cycle? %>
          <dt class="gem-c-metadata__term">Next update</dt>
          <dd class="gem-c-metadata__definition"><%= @presenter.next_publication_date.to_fs(:govuk_date) %></dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</h2>

    <ol class="govuk-list govuk-!-margin-bottom-8 app-toc">
      <li>
        <a href="#introduction" class="govuk-link app-toc__link">
          <span class="app-toc__number">1.</span>
          <span class="app-toc__content">Introduction</span>
        </a>
      </li>
      <li>
        <a href="#by-candidate-status" class="govuk-link app-toc__link">
          <span class="app-toc__number">2.</span>
          <span class="app-toc__content">Candidate status</span>
        </a>
      </li>
      <li>
        <a href="#by-application-status" class="govuk-link app-toc__link">
          <span class="app-toc__number">3.</span>
          <span class="app-toc__content">Application status</span>
        </a>
      </li>
      <li>
        <a href="#by-age-group" class="govuk-link app-toc__link">
          <span class="app-toc__number">4.</span>
          <span class="app-toc__content">Candidate age group</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-sex" class="govuk-link app-toc__link">
          <span class="app-toc__number">5.</span>
          <span class="app-toc__content">Candidate sex</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-area" class="govuk-link app-toc__link">
          <span class="app-toc__number">6.</span>
          <span class="app-toc__content">Candidate area</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-course-age-group" class="govuk-link app-toc__link">
          <span class="app-toc__number">7.</span>
          <span class="app-toc__content">Course phase</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-route" class="govuk-link app-toc__link">
          <span class="app-toc__number">8.</span>
          <span class="app-toc__content">Route into teaching</span>
        </a>
      </li>
      <li>
        <a href="#by-primary-specialist-subject" class="govuk-link app-toc__link">
          <span class="app-toc__number">9.</span>
          <span class="app-toc__content">Primary specialist subject</span>
        </a>
      </li>
      <li>
        <a href="#by-secondary-subject" class="govuk-link app-toc__link">
          <span class="app-toc__number">10.</span>
          <span class="app-toc__content">Secondary subject</span>
        </a>
      </li>
      <li>
        <a href="#by-provider-area" class="govuk-link app-toc__link">
          <span class="app-toc__number">11.</span>
          <span class="app-toc__content">Provider region</span>
        </a>
      </li>
      <li>
        <a href="#downloads" class="govuk-link app-toc__link">
          <span class="app-toc__number">12.</span>
          <span class="app-toc__content">Download the data</span>
        </a>
      </li>
      <li>
        <a href="#footnotes" class="govuk-link app-toc__link">
          <span class="app-toc__number">13.</span>
          <span class="app-toc__content">Footnotes</span>
        </a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="introduction">1. Introduction</h2>

    <p class="govuk-body">These statistics cover applications for courses in England starting in the <%= @presenter.next_cycle_name %> academic year.</p>

    <% if @presenter.current_cycle? %>
      <p class="govuk-body"><%= govuk_link_to "View statistics for the #{@presenter.previous_year} to #{@presenter.current_year} academic year", publications_monthly_report_itt_path(@presenter.previous_year) %> for course applications in England.</p>
    <% else %>
      <p class="govuk-body"><%= govuk_link_to "View statistics for the #{@presenter.next_year} to #{@presenter.next_year + 1} academic year", publications_monthly_report_itt_path(@presenter.next_year) %> for course applications in England.</p>
    <% end %>

    <p class="govuk-body">Applications for courses starting in the <%= @presenter.next_cycle_name %> academic year are submitted
      in the <%= @presenter.current_cycle_verbose_name %> recruitment cycle (ITT<%= @presenter.current_year %>) or deferred from the previous cycle for a <%= @presenter.next_cycle_name %> course start date.</p>
    <p class="govuk-body">Teacher training applications made directly to providers or Teach First are not included. Undergraduate teacher training is also not included.</p>

    <p class="govuk-body">These statistics collect data from <%= @presenter.current_reporting_period %>
      (ITT<%= @presenter.current_year %>) and include deferred applications from the <%= @presenter.previous_cycle_verbose_name %> recruitment cycle (ITT<%= @presenter.previous_year %>).</p>
    <p class="govuk-body">There will be monthly updates throughout the recruitment cycle.</p>

    <h2 class="govuk-heading-l" id="by-candidate-status">2. Candidate status</h2>

    <p class="govuk-body">When applying for the first time in a recruitment cycle, candidates can make up to <%= max_course_choices %> applications
      at the same time.</p>
    <p class="govuk-body">The “first application” column in the first table below counts only the status of a candidate’s most
      “advanced” application, if they had more than one application in progress at the same time.</p>
    <p class="govuk-body">So if a candidate is recruited to one course but rejected from another, only their recruited
      application is counted.</p>
    <p class="govuk-body">“Advanced” is defined by the following order for the purpose of this data:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>recruited (most “advanced”)</li>
      <li>offer accepted by the candidate, but they still need to meet the conditions of the offer</li>
      <li>offer made by provider, but the candidate has not responded yet</li>
      <li>awaiting provider decisions</li>
      <li>offer declined by candidate</li>
      <li>application withdrawn by candidate</li>
      <li>application rejected by provider (least “advanced”)</li>
    </ul>

    <p class="govuk-body">If a candidate’s first set of applications do not lead to a place, they can apply again
      to up to <%= max_course_choices %> courses at a time. There’s no limit to the number of times someone can apply again. As soon as their application ends (for example, all <%= max_course_choices %> applications were unsuccessful) they’re invited to apply again.</p>
    <p class="govuk-body">The “apply again” column of the first table below counts only the status of a candidate’s most
      recent “apply again” application. Their previous “apply again” applications are not counted anywhere in the table.</p>
    <p class="govuk-body">The status of any one application changes throughout its lifecycle. Statuses are captured at
      the end of the data period.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table shows candidates applying to ITT courses
        in England only and thus is not directly comparable to previous figures
        published by UCAS, which also included candidates applying to providers in
        Wales.</p>
    <% end %>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 2.1: Candidates by most “advanced” application status', statistics: @presenter.statistics['candidates_by_status']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-application-status">3. Application status</h2>

    <p class="govuk-body">This table counts all applications by their status.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table shows candidates applying to ITT courses
        in England only and thus is not directly comparable to previous figures
        published by UCAS, which also included applications to providers in
        Wales.</p>
    <% end %>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 3.1: Applications by status', statistics: @presenter.statistics['applications_by_status']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-age-group">4. Candidate age group</h2>
    <p class="govuk-body">Candidate age is calculated from the date of birth they provide when applying.</p>
    <p class="govuk-body">Ages are calculated as of 1 August <%= @presenter.current_year %>, just before courses start for the
      <%= @presenter.next_cycle_name %> academic year. Courses usually start in September, but sometimes in January.</p>
    <p class="govuk-body">This data therefore reflects the likely age of a candidate at the point of starting
      a course, rather than their age when they apply.</p>
    <p class="govuk-body">This table counts all candidates by their age group.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table shows candidates applying to ITT courses
        in England only and thus is not directly comparable to previous figures
        published by UCAS, which also included candidates applying to providers in
        Wales.</p>
    <% end %>
    <p class="govuk-body">The unsuccessful count reported in Tables 4.1 to 11.1
      includes candidates who have withdrawn their application or declined an
      offer.</p>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 4.1: Candidates by age group', statistics: @presenter.statistics['by_age_group']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="applications-by-sex">5. Candidate sex</h2>
    <p class="govuk-body">This table counts all candidates by their sex, indicated in the optional declaration by the candidate when applying.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table shows candidates applying to ITT courses
        in England only and thus is not directly comparable to previous figures
        published by UCAS, which also included candidates applying to providers in
        Wales.</p>
    <% end %>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 5.1: Candidates by sex', statistics: @presenter.statistics['by_sex']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="applications-by-area">6. Candidate area</h2>
    <p class="govuk-body">This table counts all candidates by their UK region or country, or other area. Candidate
      areas are generated by the contact address they gave when applying.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table shows candidates applying to ITT courses
        in England only and thus is not directly comparable to previous figures
        published by UCAS, which also included candidates applying to providers in
        Wales.</p>
    <% end %>
    <p class="govuk-body">European Economic Area (EEA) here relates to
      individuals with the European Union, European Economic Area or Swiss
      nationality, excluding the UK.</p>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 6.1: Candidates by UK region or country, or other area', statistics: @presenter.statistics['by_area']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="applications-by-course-age-group">7. Course phase</h2>
    <p class="govuk-body">“Course phase” refers to whether a course trains candidates to teach in primary, secondary or further education.</p>
    <p class="govuk-body">This table counts all applications by course phase.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table is comparable to previous figures published by UCAS for applications to providers in England.</p>
      <p class="govuk-body">In previous figures published by UCAS, further education was included within an ‘other’ category alongside middle school education.</p>
    <% end %>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 7.1: Applications by course phase', statistics: @presenter.statistics['by_course_age_group']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="applications-by-route">8. Route into teaching</h2>
    <p class="govuk-body">Apply for teaching training allows candidates to apply for most <%= govuk_link_to('routes into teaching', I18n.t('get_into_teaching.url_ways_to_train')) %>, outlined
      in the table below, but it does not include applications made direct to providers, Teach First or undergraduate teacher training.</p>
    <p class="govuk-body">This table counts all applications by the training route chosen.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table is comparable to previous figures published by UCAS for applications to providers in England.</p>
    <% end %>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 8.1: Applications by route', statistics: @presenter.statistics['by_course_type']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-primary-specialist-subject">9. Primary specialist subject</h2>
    <p class="govuk-body">Some primary courses allow candidates to specialise in a particular subject. This may help candidates
      influence the way a particular subject is taught in their school when they start teaching.</p>
    <p class="govuk-body">This table counts all applications by primary specialist subject.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table is comparable to previous figures published by UCAS for applications to providers in England.</p>
    <% end %>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 9.1: Applications by primary specialist subject', statistics: @presenter.statistics['by_primary_specialist_subject']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-secondary-subject">10. Secondary subject</h2>
    <p class="govuk-body">Candidates choose a subject for secondary teacher training.</p>
    <p class="govuk-body">This table counts all applications by secondary subject. If a course has more than one subject,
      the main subject is counted.</p>

    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table is not directly comparable to previous
        figures published by UCAS for applications to providers in England. In
        previous publications, applications for courses with multiple subjects
        (e.g. “French and German”) were counted in the table under both subjects
        separately. This means that some applications were double-counted.
        Therefore, tables by secondary subject in previous UCAS publications are
        not comparable with this table. </p>
    <% end %>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 10.1: Applications by secondary subject', statistics: @presenter.statistics['by_secondary_subject']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-provider-area">11. Provider region</h2>
    <p class="govuk-body">Provider areas are derived from their contact address. These areas may be different to where students
      do their training.</p>
    <p class="govuk-body">This table counts all applications by the area of the provider they applied to.</p>
    <% if @presenter.first_published_cycle? %>
      <p class="govuk-body">This table is not directly comparable to previous
        figures published by UCAS for applications to providers in England.
        Previous UCAS tables excluded non-UK residents from their table of provider
        regions, whereas this table includes non-UK residents.</p>
    <% end %>
    <p class="govuk-body">This table details the region of the training provider, not the accrediting provider.</p>
  </div>
</div>

<%= render CandidateInterface::MonthlyStatisticsTableComponent.new(caption: 'Table 11.1: Applications by provider region of England', statistics: @presenter.statistics['by_provider_area']) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="downloads">12. Download the data</h2>

    <p class="govuk-body">You can download all of the data on this page in CSV (comma separated values) format, which can be opened in a spreadsheet and used in other analysis tools.</p>

    <% @csv_export_types_and_sizes.each do |export_type, size| %>
      <p class='govuk-body'>
        <%= govuk_link_to t("#{export_type}.label") + " #{size.to_fs(:human_size)}", publications_monthly_report_download_path(export_type: export_type, month: @presenter.month, format: :csv) %>
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="footnotes">13. Footnotes</h2>

    <p class="govuk-body">The Apply for teacher training service is the sole service for postgraduate Initial Teacher Training (ITT) applications in England to Higher Education Institution (HEI), School Centred Initial Teacher Training (SCITT)-based, School Direct, School Direct (salaried) and Teaching Apprenticeship courses.</p>

    <p class="govuk-body">
      Deferred candidates are counted in a separate column in the tables.
    </p>

    <% if @presenter.deferred_applications_count.zero? %>
      <p class="govuk-body">
        They’re counted in the statistics report for the academic year in which they start their training after their offer is re-confirmed, as well as the year in which they apply.
      </p>

      <p class="govuk-body">
        This means that anyone who applied this year but deferring until next year will be counted in next year’s report, as well as this one.
      </p>

    <% elsif @presenter.first_published_cycle? %>
      <p class="govuk-body">
        There <%= 'is'.pluralize(@presenter.deferred_applications_count) %> <%= pluralize(@presenter.deferred_applications_count, 'deferred candidate') %> in this data report that <%= 'was'.pluralize(@presenter.deferred_applications_count) %> also counted in last year’s publication by UCAS.
      </p>

      <p class="govuk-body">
        This is because UCAS counted deferred candidates in the statistics report for the academic year in which they applied, rather than the year in which they start training.
      </p>

      <p class="govuk-body">
        This report, on the other hand, counts deferred candidates in the year in which they start their training, as well as the year in which they apply.
      </p>

      <p class="govuk-body">
        Anyone who applied this year but deferring until next year will be counted in next year’s report, as well as this one.
      </p>
    <% end %>

    <p class="govuk-body">
      Deferred candidates are counted in the academic year in which they start their course after training providers have re-confirmed their deferred offer. Providers need to do this before candidates intend to start their training.
    </p>

    <p class="govuk-body">
      Statistical releases from previous months during ITT2022 can be found here:
      <%= govuk_link_to 'https://www.gov.uk/government/publications/monthly-statistics-on-initial-teacher-training-itt-recruitment', 'https://www.gov.uk/government/publications/monthly-statistics-on-initial-teacher-training-itt-recruitment' %>.
    </p>

    <p class="govuk-body">
      If you have any feedback on the monthly ITT statistical reports, please
      get in touch at <%= bat_contact_mail_to %>.
    </p>
  </div>
</div>
