<%= content_for :title, t('page_titles.monthly_statistics', academic_year_name: @presenter.academic_year_name) %>

<% if @presenter.draft? %>
  <%= govuk_notification_banner(title_text: 'Draft report') do |notification_banner| %>
    <% notification_banner.with_heading(text: 'Report not published yet') %>
    <p class="govuk-body">
      This is currently a draft. The report will be published on <%= @presenter.publication_date.to_fs(:govuk_date) %>.
    </p>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Statistics</span>
    <h1 class="govuk-heading-l">
      Initial teacher training applications for courses starting in the <%= @presenter.academic_year_name %> academic year
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <dl class="gem-c-metadata">
        <dt class="gem-c-metadata__term">Generated</dt>
        <dd class="gem-c-metadata__definition"><%= @presenter.generation_date.to_fs(:govuk_date) %></dd>

        <dt class="gem-c-metadata__term">Published</dt>
        <dd class="gem-c-metadata__definition"><%= @presenter.publication_date.to_fs(:govuk_date) %></dd>

        <% if @presenter.current_cycle? %>
          <dt class="gem-c-metadata__term">Next planned update</dt>
          <dd class="gem-c-metadata__definition"><%= @presenter.next_publication_date.to_fs(:govuk_date) %></dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</h2>

    <ol class="govuk-list govuk-!-margin-bottom-8 app-toc">
      <li>
        <a href="#introduction" class="govuk-link app-toc__link">
          <span class="app-toc__number">1.</span>
          <span class="app-toc__content">Introduction</span>
        </a>
      </li>
      <li>
        <a href="#headline-statistics" class="govuk-link app-toc__link">
          <span class="app-toc__number">2.</span>
          <span class="app-toc__content">Candidate headline statistics</span>
        </a>
      </li>
      <li>
        <a href="#by-age-group" class="govuk-link app-toc__link">
          <span class="app-toc__number">3.</span>
          <span class="app-toc__content">Candidate age group</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-sex" class="govuk-link app-toc__link">
          <span class="app-toc__number">4.</span>
          <span class="app-toc__content">Candidate sex</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-area" class="govuk-link app-toc__link">
          <span class="app-toc__number">5.</span>
          <span class="app-toc__content">Candidate area</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-course-phase" class="govuk-link app-toc__link">
          <span class="app-toc__number">6.</span>
          <span class="app-toc__content">Course phase</span>
        </a>
      </li>
      <li>
        <a href="#applications-by-route" class="govuk-link app-toc__link">
          <span class="app-toc__number">7.</span>
          <span class="app-toc__content">Route into teaching</span>
        </a>
      </li>
      <li>
        <a href="#by-primary-specialist-subject" class="govuk-link app-toc__link">
          <span class="app-toc__number">8.</span>
          <span class="app-toc__content">Primary specialist subject</span>
        </a>
      </li>
      <li>
        <a href="#by-secondary-subject" class="govuk-link app-toc__link">
          <span class="app-toc__number">9.</span>
          <span class="app-toc__content">Secondary subject</span>
        </a>
      </li>
      <li>
        <a href="#by-provider-region" class="govuk-link app-toc__link">
          <span class="app-toc__number">10.</span>
          <span class="app-toc__content">Provider region</span>
        </a>
      </li>
      <li>
        <a href="#downloads" class="govuk-link app-toc__link">
          <span class="app-toc__number">11.</span>
          <span class="app-toc__content">Download the data</span>
        </a>
      </li>
      <li>
        <a href="#footnotes" class="govuk-link app-toc__link">
          <span class="app-toc__number">12.</span>
          <span class="app-toc__content">Footnotes</span>
        </a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="introduction">1. Introduction</h2>

    <p class="govuk-body">
      This report contains data collected during the <%= @presenter.current_cycle_name %> recruitment cycle for applications in the academic year starting in <%= @presenter.academic_year_start_month %>. Statistics covering the <%= @presenter.previous_cycle_name %>, for courses starting in the <%= @presenter.previous_academic_year_name %>, are also included to allow for comparison.
    </p>

    <% if @presenter.first_year_of_continuous_applications? %>
      <p class="govuk-body">New definitions and methodology have been introduced for the 2024 to 2025 academic year
        because candidates can now submit applications to courses individually up to a maximum
        of <%= ApplicationForm::MAXIMUM_NUMBER_OF_COURSE_CHOICES %> open applications at a time. Previously, candidates
        submitted one application form with up to <%= ApplicationForm::MAXIMUM_NUMBER_OF_COURSE_CHOICES %> course
        choices at the same time. All <%= ApplicationForm::MAXIMUM_NUMBER_OF_COURSE_CHOICES %> course choices had to
        receive a decision before the candidate could submit another application form in the same recruitment cycle.
      </p>

      <p class="govuk-body">Improvements have also been made for clarity. Statistics published for cycles before 2024 use different definitions and methodology, so they cannot be compared with the
        statistics below.</p>
    <% end %>

    <p class="govuk-body">Statistics are not comparable to previous figures published by UCAS, which used a different methodology and included candidates applying to providers in Wales.</p>

    <% if @presenter.pre_tda? %>
      <p class="govuk-body">Teacher training applications made directly to providers are not included. Undergraduate
        teacher training is also not included. Applications to train to teach in Further Education are also not
        included.</p>
    <% else %>
      <p class="govuk-body">
        The following applications are not included in these statistics:
        <%= govuk_list(
            [
              'teacher training applications made directly to providers',
              'undergraduate teacher training except for teacher degree apprenticeships (TDA)',
              'applications to train to teach in Further Education',
            ],
            type: :bullet,
          ) %>
      </p>
    <% end %>
    <p class="govuk-body">
      There will be monthly updates throughout the recruitment cycle, which runs from <%= @presenter.full_cycle_dates %>.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="headline-statistics">2. Candidate headline statistics</h2>

    <p class="govuk-body">All figures in this table are counts of candidates. A candidate is a person who has submitted at least one application to an initial teacher training (ITT) course in England.</p>

    <p class="govuk-body">Candidates can apply for different courses. On later dates they may then apply for further courses. Any of their applications may change status throughout their lifecycle. This means that over time, some statistics may go up or down.</p>

    <p class="govuk-body">For example, if a candidate’s initial <%= ApplicationForm::MAXIMUM_NUMBER_OF_COURSE_CHOICES %> applications had been rejected, they may have submitted a fifth application. Before this date, they would have been included in the count of candidates with rejected applications. After this date, they would not be included in this count. If that fifth application were also rejected, they would then be included in the count of rejected applications again. </p>

    <p class="govuk-body">
      The data is collected throughout the recruitment cycle which runs a year before the academic year that the applicants will start training in. The data is from the <%= @presenter.current_cycle_name %> recruitment cycle which covers application for courses starting in the <%= @presenter.academic_year_name %> academic year.
    </p>

    <p class="govuk-body">
      Each recruitment cycle does not start on the same date each calendar year. The figures for 'last cycle' include data up to and including the date which was the same number of days from the first day of the previous cycle as the publication date is from the first day of this cycle. This means days in last cycle will not be the same calendar date as days in this cycle. For example, day one of last cycle was on <%= @presenter.previous_timetable.find_opens_at.to_fs(:govuk_date) %>, but day one of this cycle was <%= @presenter.report_timetable.find_opens_at.to_fs(:govuk_date) %>.
    </p>
  </div>

  <div class="govuk-grid-column-full">
    <div class="itt-grid">
      <% @presenter.headline_stats.each do |status| %>
        <%= render Publications::StatusTotalsComponent.new(title: status[:title], summary: status[:summary], heading_one: 'This cycle', heading_two: 'Last cycle', status_total_one: status[:this_cycle], status_total_two: status[:last_cycle]) %>
      <% end %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-age-group">3. Candidate age group</h2>

    <p class="govuk-body">This table counts candidates by their age group. Candidate age is calculated from the date of birth they provide when applying.</p>

    <p class="govuk-body">Ages are calculated at the end of the recruitment cycle, just before courses start for the next academic year. Courses usually start in September, but sometimes in January. This data therefore reflects the likely age of a candidate at the point of starting a course, rather than their age when they apply.</p>
  </div>
</div>
<%= render Publications::DataTableComponent.new(caption: "Table 3.1: #{@presenter.by_age[:title]}", title: @presenter.by_age[:subtitle], data: @presenter.by_age[:data]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="applications-by-sex">4. Candidate sex</h2>

    <p class="govuk-body">This table counts candidates by their sex. It is optional for candidates to declare their sex when they are applying.</p>
  </div>
</div>

<%= render Publications::DataTableComponent.new(caption: "Table 4.1: #{@presenter.by_sex[:title]}", title: @presenter.by_sex[:subtitle], data: @presenter.by_sex[:data]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-age-group">5. Candidate area</h2>

    <p class="govuk-body">This table counts all candidates by their region in the UK, or country, or other area. Candidate areas are generated from the contact address they gave when applying.</p>
  </div>
</div>

<%= render Publications::DataTableComponent.new(caption: "Table 5.1: #{@presenter.by_area[:title]}", title: @presenter.by_area[:subtitle], data: @presenter.by_area[:data]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="applications-by-course-phase">6. Course phase</h2>

    <p class="govuk-body">This table counts candidates by their course phase. ‘Course phase’ refers to whether a course trains candidates to teach in primary or secondary education. Further education applications are not included in these statistics.</p>
    <p class="govuk-body">Candidates may make different applications to more than one course phase. These candidates are counted under all course phases that apply. This means that the total of these rows does not equal the total in the ‘Candidate headline statistics’ section.</p>
  </div>
</div>

<%= render Publications::DataTableComponent.new(caption: "Table 6.1: #{@presenter.by_phase[:title]}", title: @presenter.by_phase[:subtitle], data: @presenter.by_phase[:data]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="applications-by-route">7. Route into teaching</h2>

    <p class="govuk-body">This table counts candidates by the route into teaching that they applied to. </p>
    <p class="govuk-body">Apply for teacher training (Apply) allows candidates to apply for most routes into teaching, but it does not include applications:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>made directly to training providers</li>
      <% if @presenter.pre_tda? %>
        <li>for undergraduate teacher training</li>
      <% else %>
        <li>for undergraduate teacher training (except TDA)</li>
      <% end %>
    </ul>
    <p class="govuk-body">Candidates may make different applications to more than one route into teaching. These candidates are counted under all routes that they apply to. This means that the total of these rows does not equal the total in the ‘Candidate headline statistics’ section.</p>
  </div>
</div>

<%= render Publications::DataTableComponent.new(caption: "Table 7.1: #{@presenter.by_route[:title]}", title: @presenter.by_route[:title], data: @presenter.by_route[:data]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-primary-specialist-subject">8. Primary specialist subject</h2>

    <p class="govuk-body">Some primary courses allow candidates to specialise in a particular subject. This may help candidates influence the way a particular subject is taught in their school when they start teaching. This table counts candidates who applied to primary courses by their specialist subject.</p>
    <p class="govuk-body">Candidates may make different applications to courses with different specialist subjects. These candidates are counted under all subjects that apply. This means that the total of these rows does not equal the total in the ‘Candidate headline statistics’ section.</p>

  </div>
</div>

<%= render Publications::DataTableComponent.new(caption: "Table 8.1: #{@presenter.by_primary_subject[:title]}", title: @presenter.by_primary_subject[:subtitle], data: @presenter.by_primary_subject[:data], key: 'primary-subject') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-secondary-subject">9. Secondary subject</h2>

    <p class="govuk-body">Candidates choose a subject for secondary teacher training. This table counts candidates who applied to secondary courses by subject.</p>
    <p class="govuk-body">Candidates may make different applications to courses with different subjects. These candidates are counted under all subjects that apply. This means that the total of these rows does not equal the total in the ‘Candidate headline statistics’ section.</p>
  </div>
</div>

<%= render Publications::DataTableComponent.new(caption: "Table 9.1: #{@presenter.by_secondary_subject[:title]}", title: @presenter.by_secondary_subject[:subtitle], data: @presenter.by_secondary_subject[:data], key: 'secondary-subject') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="by-provider-region">10. Training provider region</h2>

    <p class="govuk-body">Training provider regions are derived from their contact address. These areas may be different to where students do their training. </p>
    <p class="govuk-body">This table counts all applications by the area of the training provider they applied to.</p>
    <p class="govuk-body">This table shows the region of the training provider, not the accrediting provider.</p>
    <p class="govuk-body">Candidates may make different applications to the same training provider more than once. These candidates are counted in all figures that apply. This means that the total of these rows does not equal the total in the ‘Candidate headline statistics’ section.</p>
  </div>
</div>

<%= render Publications::DataTableComponent.new(caption: "Table 10.1: #{@presenter.by_provider_region[:title]}", title: @presenter.by_provider_region[:subtitle], data: @presenter.by_provider_region[:data]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="downloads">11. Download the data</h2>

    <p class="govuk-body">You can download all of the data on this page in CSV (comma separated values) format, which can be opened in a spreadsheet and used in other analysis tools.</p>

    <% @presenter.csvs.each do |section_identifier, csv| %>
      <p class="govuk-body">
        <%= govuk_link_to t("publications.itt_monthly_report_generator.#{section_identifier}.title") + " (CSV) #{csv[:size].to_fs(:human_size)}", publications_monthly_report_download_path(export_type: section_identifier, month: @presenter.month, format: :csv) %>
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-4" id="footnotes">12. Footnotes</h2>

    <p class="govuk-body">The Apply for teacher training (Apply) service is the only service for initial teacher training (ITT) applications in England to Higher Education Institution (HEI), School Centred Initial Teacher Training (SCITT)-based, School Direct (salaried) and Teaching Apprenticeship courses.</p>

    <% if @presenter.previous_cycle_url.present? %>
      <p class="govuk-body">
        <%= govuk_link_to "View statistical releases from previous months during ITT#{@presenter.previous_year}", @presenter.previous_cycle_url %>.
      </p>
    <% end %>

    <p class="govuk-body">
      If you have any feedback on the monthly ITT statistical reports,
      get in touch at <%= bat_contact_mail_to %>.
    </p>
  </div>
</div>
