<% content_for :title, t('page_titles.referee_type') %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @reference_type_form, url: candidate_interface_decoupled_references_create_type_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :referee_type, legend: { text: t('page_titles.referee_type'), size: 'xl' } do %>
        <div class="govuk-!-margin-top-7">
          <%= f.govuk_radio_button :referee_type, 'academic', link_errors: true, label: { text: 'Academic' }, hint_text: 'For example: a university tutor.' %>
          <%= f.govuk_radio_button :referee_type, 'professional', label: { text: 'Professional' }, hint_text: 'For example: a manager.' %>
          <%= f.govuk_radio_button :referee_type, 'school-based', label: { text: 'School-based' }, hint_text: 'For example: a colleague from a school where you did experience.' %>
          <%= f.govuk_radio_button :referee_type, 'character', label: { text: 'Character' }, hint_text: 'For example: a mentor, or someone you know from volunteering.' %>
        </div>
      <% end %>

      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
