<h2 class="govuk-heading-m">References</h2>

<%= render CandidateInterface::ReferenceConditionHeaderComponent.new(reference_condition: @application_choice.offer.reference_condition, provider_name: @provider.name) %>

<%= render CandidateInterface::ReferencesComponent.new(references: @references, reference_condition: @application_choice.offer.reference_condition) %>

<% unless @application_choice.offer.reference_condition&.met? %>
  <%= govuk_button_link_to 'Request another reference', candidate_interface_request_reference_references_start_path, secondary: true %>
<% end %>

<% if (ske_conditions = @application_choice.offer.ske_conditions).any? %>
  <h2 class="govuk-heading-m">Subject knowledge enhancement course</h2>
  <%= render CandidateInterface::SkeConditionsComponent.new(ske_conditions:) %>
<% end %>

<% unless @application_choice.unconditional_offer? %>
  <h2 class="govuk-heading-m">Offer conditions</h2>
  <% unless @application_choice.recruited? && @application_choice.all_conditions_met? %>
    <p class="govuk-body"><%= @provider.name %> will mark these conditions as met once you have completed them.</p>
  <% end %>
  <%= render CandidateInterface::ConditionsComponent.new(application_choice: @application_choice) %>
<% end %>
