<% content_for :title, 'Your teacher training course' %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_offer_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Reference request from <%= @reference.name %></h1>
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('review_application.references.name.label') %></th>
        <td class="govuk-table__cell"><%= @reference.name %></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('review_application.references.email.label') %></th>
        <td class="govuk-table__cell"><%= @reference.email_address %></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('review_application.references.type.label') %></th>
        <td class="govuk-table__cell"><%= @reference.referee_type.humanize %></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('review_application.references.relationship.label') %></th>
        <td class="govuk-table__cell"><%= @reference.relationship %></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('review_application.references.status.label') %></th>
        <td class="govuk-table__cell">
          <%= render CandidateInterface::ReferenceStatusesComponent.new(reference: @reference) %>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">History</th>
        <td class="govuk-table__cell">
          <%= render(CandidateInterface::ReferenceHistoryComponent.new(@reference)) %>
        </td>
      </tr>
    </tbody>
  </table>

  <% if CandidateInterface::ApplicationReferencePolicy.new(current_candidate, @reference).show_cancel_link? %>
    <div class="govuk-button-group">
      <%= render(CandidateInterface::ReferenceSendReminderComponent.new(@reference)) %>

      <%= govuk_link_to candidate_interface_references_confirm_cancel_reference_path(@reference.id) do %>
        <%= t('application_form.references.cancel_request.action') %>
        <span class="govuk-visually-hidden"> <%= @reference.name %></span>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
