<% content_for :before_content, govuk_back_link_to(previous_page, 'Back') %>
<% content_for :title, 'Providers' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard, url: provider_interface_update_invitation_provider_permissions_path do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-xl">Invite user</span>
      <h1 class="govuk-heading-xl">Set permissions for <%= @provider.name %></h1>

      <%= f.fields_for "provider_permissions[]", @permissions_form do |pf| %>
        <%= pf.hidden_field :provider_id %>
        <%= pf.govuk_collection_check_boxes :permissions, @permissions_form.available_permissions, :slug, :name, :hint %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
