<% content_for :title, t('page_titles.decisions.accept_offer') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_offer_path) %>

<%= form_with model: @accept_offer, url: candidate_interface_accept_offer_path(@application_choice) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary(link_base_errors_to: 'add-new-reference') %>

        <h1 class="govuk-heading-xl">
          <%= t('page_titles.decisions.accept_offer_confirm_references') %>
        </h1>

        <p class="govuk-body">
          <%= t('decisions.accept_offer.references_description') %>
        </p>

        <%= render CandidateInterface::ReferenceConditionHeaderComponent.new(reference_condition: @application_choice.offer.reference_condition, provider_name: @application_choice.current_provider.name, show_extra_content: false) %>

        <% if FeatureFlag.active?(:show_reference_confidentiality_status) %>
          <p class="govuk-body">
            <%= t('decisions.accept_offer.reference_confidentiality') %>
          </p>
        <% end %>

        <p class="govuk-body">
          <%= t('decisions.accept_offer.change_reference_details') %>
        </p>
      </div>
    </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render CandidateInterface::AcceptOfferAddNewReferenceComponent.new(
            application_form: current_application,
            application_choice: @application_choice,
          ) %>

      <%= render(
            CandidateInterface::AcceptOfferReviewComponent.new(
              application_form: current_application,
              application_choice: @application_choice,
            ),
          ) %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if !single_application_choice? %>
        <p class="govuk-body">Your other applications will be withdrawn and any upcoming interviews will be cancelled.</p>
      <% end %>

      <%= f.govuk_submit t('decisions.accept_offer.confirm') %>

    </div>
  </div>
<% end %>
