<% content_for :title, t('page_titles.decisions.accept_offer') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_offer_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if current_application.show_new_reference_flow? %>
      <h1 class="govuk-heading-xl">
        <%= t('page_titles.decisions.accept_offer_confirm_references') %>
      </h1>

      <p class="govuk-body">
        <%= t('decisions.accept_offer.references_description') %>
      </p>

      <p class="govuk-body">
        <%= t('decisions.accept_offer.change_reference_details') %>
      </p>

      <%= render CandidateInterface::AcceptOfferAddNewReferenceComponent.new(
            application_form: current_application,
            application_choice: @application_choice
      ) %>

      <%= render(
            CandidateInterface::NewReferencesAcceptOfferReviewComponent.new(
              application_form: current_application,
              application_choice: @application_choice
            )
          ) %>
    <% else %>
      <h1 class="govuk-heading-xl">
        <%= t('page_titles.decisions.accept_offer') %>
      </h1>

      <%= render(CandidateInterface::OfferReviewComponent.new(course_choice: @application_choice)) %>
    <% end %>

    <% if !single_application_choice? %>
      <p class="govuk-body">Your other applications will be withdrawn and any upcoming interviews will be cancelled.</p>
    <% end %>

    <%= form_with model: @respond_to_offer, url: candidate_interface_accept_offer_path(@application_choice) do |f| %>
      <%= f.govuk_submit t('decisions.accept_offer.confirm') %>
    <% end %>
  </div>
</div>
