<% content_for :title, t('page_titles.view_and_respond_to_offer') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_complete_path, 'Back to application dashboard') %>

<h1 class="govuk-heading-xl govuk-heading-xl">
  <span class="govuk-caption-xl"><%= @application_choice.provider.name %> - <%= @application_choice.course_option.course.name %> (<%= @application_choice.course_option.course.code %>)</span>
  <%= t('page_titles.view_and_respond_to_offer') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(OfferReviewComponent, course_choice: @application_choice) %>

    <p class="govuk-body">Remember:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you are under no obligation to accept or decline an offer at this stage</li>
      <li>you can only accept one offer, across both <%= service_name %> and UCAS Teacher Training</li>
    </ul>

    <h2 class="govuk-heading-xl govuk-heading-m">
      Do you want to respond to your offer to study
      <%= @application_choice.course.name_and_code %>
      at <%= @application_choice.provider.name %> now?
    </h2>

    <p class="govuk-body">
      Please email us at <%= bat_contact_mail_to %> with your decision to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>accept this offer and conditions</li>
      <li>decline this offer</li>
    </ul>

    <p class="govuk-body">
      We’ll notify your training provider and update your application to this
      course on your application dashboard.
    </p>
  </div>
</div>
