<% content_for :title, title_with_error_prefix(t('page_titles.decisions.offer'), @respond_to_offer.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_complete_path, 'Back to application dashboard') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @respond_to_offer,
      url: candidate_interface_respond_to_offer_path(@application_choice)
    ) do |f| %>
      <%= render CandidateInterface::UCASDowntimeComponent.new  %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl govuk-heading-xl">
        <%= t('page_titles.decisions.offer') %>
      </h1>

      <%= render(CandidateInterface::OfferReviewComponent.new(course_choice: @application_choice)) %>

      <p class="govuk-body">Remember:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you can only accept one offer, across both Apply for teacher training and UCAS teacher training</li>
        <li>if you fail to respond, or you decline all your offers, you can still apply to other courses this year through <%= govuk_link_to 'UCAS Teacher Training', UCAS.apply_url %></li>
        <li>you can register with <%= govuk_link_to 'Get Into Teaching', 'https://getintoteaching.education.gov.uk' %> to get help from a teacher training advisor</li>
      </ul>

      <%= f.govuk_radio_buttons_fieldset :response, legend: { size: 'm', text: 'How do you want to respond to this offer?' } do %>
        <%= f.govuk_radio_button :response, 'accept', label: { text: 'Accept offer and conditions' }, link_errors: true %>
        <%= f.govuk_radio_button :response, 'decline', label: { text: 'Decline offer' } %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
