<% content_for :title, title_with_error_prefix(t('page_titles.decisions.offer'), @respond_to_offer.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @respond_to_offer,
      url: candidate_interface_respond_to_offer_path(@application_choice),
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        <%= t('page_titles.decisions.offer') %>
      </h1>

      <% if RecruitmentCycleTimetable.current_timetable.between_apply_deadline_and_decline_by_default? %>
        <%= govuk_warning_text do %>
          <%= t('decisions.offer.respond_before', date: @decline_by_default_date.to_fs(:govuk_time_first_no_year_date_time)).strip.gsub("\n", '<br>').html_safe %>
        <% end %>
      <% end %>

      <%= render(CandidateInterface::OfferReviewComponent.new(course_choice: @application_choice)) %>

      <% if @offer_count > 1 %>
         <p class="govuk-body">If you accept this offer, your other <%= 'offer'.pluralize(@offer_count - 1) %> will be automatically declined.</p>

      <% end %>

      <%= f.govuk_radio_buttons_fieldset :response, legend: { text: t('decisions.response.legend'), size: 'm' } do %>
        <% if @application_choice.unconditional_offer? %>
          <%= f.govuk_radio_button :response, 'accept', label: { text: t('decisions.response.accept_no_conditions.label') }, link_errors: true %>
        <% else %>
          <%= f.govuk_radio_button :response, 'accept', label: { text: t('decisions.response.accept.label') }, link_errors: true %>
        <% end %>
        <%= f.govuk_radio_button :response, 'decline', label: { text: t('decisions.response.decline.label') } %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
