<% content_for :title, title_with_error_prefix(t('page_titles.decisions.offer'), @respond_to_offer.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_complete_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @respond_to_offer,
      url: candidate_interface_respond_to_offer_path(@application_choice),
    ) do |f| %>
      <%= render CandidateInterface::UCASDowntimeComponent.new %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t('page_titles.decisions.offer') %>
      </h1>

      <%= render(CandidateInterface::OfferReviewComponent.new(course_choice: @application_choice)) %>

      <p class="govuk-body">Before you accept:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if you accept this offer, you cannot also accept another offer through UCAS teacher training</li>
        <% if @offer_count > 1 %>
          <li>if you accept this offer, your other <%= 'offer'.pluralize(@offer_count - 1) %> will be automatically declined</li>
        <% end %>
        <li>if you decline all of your offers, or do not respond in time, you can still apply for courses that start this academic year</li>
      </ul>

      <p class="govuk-body">If you need help, you can speak to our <%= govuk_link_to 'teacher training advisers', t('get_into_teaching.url_get_an_advisor') %>.</p>

      <%= f.govuk_radio_buttons_fieldset :response, legend: { text: t('decisions.response.legend'), size: 'm' } do %>
        <% if @application_choice.offer&.dig('conditions')&.present? %>
          <%= f.govuk_radio_button :response, 'accept', label: { text: t('decisions.response.accept.label') }, link_errors: true %>
        <% else %>
          <%= f.govuk_radio_button :response, 'accept', label: { text: t('decisions.response.accept_no_conditions.label') }, link_errors: true %>
        <% end %>
        <%= f.govuk_radio_button :response, 'decline', label: { text: t('decisions.response.decline.label') } %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
