<% content_for :title, t('page_titles.decisions.withdraw') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_details_path, back_link_text, force_text: true) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.decisions.withdraw') %>
    </h1>

    <%= render(SummaryListComponent.new(rows: course_choice_rows)) %>

    <% unless CycleTimetable.between_cycles? %>
      <p class="govuk-body">Once you have a total of <%= ApplicationForm::MAXIMUM_NUMBER_OF_UNSUCCESSFUL_APPLICATIONS %> unsuccessful or withdrawn applications, you will not be able to apply for any more courses until October <%= RecruitmentCycle.real_current_year %>.</p>
    <% end %>

    <p class="govuk-body">Do not withdraw if you need to change information on your application. Tell your training provider instead.</p>

    <% if @application_choice.interviewing? %>
      <p class="govuk-body">If you do withdraw, your scheduled interview for this application will be cancelled.</p>
    <% end %>

    <%= govuk_button_to t('decisions.withdraw.confirm'), candidate_interface_withdraw_path, warning: true %>
  </div>
</div>
