<div class="app-cookie-preferences">
  <%= render partial: "find_interface/shared/error_message", locals: { error_anchor_id: "cookie-consent-accept" } %>
  <h2 class="govuk-heading-l">Cookies that measure website use</h2>
  <p class="govuk-body">
    We use Google Analytics software to collect information about how you use ‘Find postgraduate teacher training’.
    We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
  </p>
  <p class="govuk-body">Google Analytics stores information about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the pages you visit on ‘Find postgraduate teacher training’</li>
    <li>how long you spend on each page</li>
    <li>how you got to the site</li>
    <li>what you click on while you’re visiting the site</li>
  </ul>
  <p class="govuk-body">We don’t allow Google to use or share our analytics data.</p>
  <%= form_with url: create_cookie_preferences_path, method: :post do |form| %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Do you accept Google Analytics cookies?
          </h3>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%=
              form.radio_button(
                :cookie_consent,
                true,
                id: "cookie-consent-accept",
                class: "govuk-radios__input",
                checked: cookies["consented-to-cookies"] == "true",
                data: { qa: "cookie-consent-accept" },
              )
            %>
            <label class="govuk-label govuk-radios__label" for="cookie-consent-accept">
              Yes, opt-in to Google Analytics cookies
            </label>

          </div>
          <div class="govuk-radios__item">
            <%=
              form.radio_button(
                :cookie_consent,
                false,
                id: "cookie-consent-deny",
                class: "govuk-radios__input",
                checked: cookies["consented-to-cookies"] == "false",
                data: { qa: "cookie-consent-deny" },
              )
            %>
            <label class="govuk-label govuk-radios__label" for="cookie-consent-deny">
              No, do not track my website usage
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <%= form.submit "Save changes", name: nil, class: "govuk-button", data: { qa: "save-changes" } %>
  <% end %>
</div>
