<% if @degree_grade_form.international? %>

  <%= f.govuk_radio_buttons_fieldset :grade, legend: { text: @page_title, size: 'xl', tag: 'h1' } do %>
    <p class="govuk-body"><%= t('application_form.degree.grade.international.grade_examples') %></p>

    <%= f.govuk_radio_button :grade, 'other', label: { text: 'Yes' }, link_errors: true do %>
      <% if degree.predicted_grade? %>
        <% text_field_options = { label: nil, hint: { text: t('application_form.degree.grade.international.hint_text') } } %>
      <% else %>
        <% text_field_options = { label: { text: t('application_form.degree.grade.international.label') } } %>
      <% end %>
      <% text_field_options.merge(width: 20) %>
      <%= f.govuk_text_field(:other_grade, text_field_options) %>
    <% end %>
    <% @international_main_grades.each do |grade| %>
      <%= f.govuk_radio_button :grade, grade, label: { text: grade } %>
    <% end %>
  <% end %>

<% else %>

  <% if degree.predicted_grade? %>
    <%= govuk_inset_text(text: 'You must give an academic referee who can agree that you’re aiming for this grade.') %>
  <% end %>

  <%= f.govuk_radio_buttons_fieldset :grade, legend: { text: @page_title, size: 'xl', tag: 'h1' } do %>
    <% @main_grades.each_with_index do |grade, i| %>
      <%= f.govuk_radio_button :grade, grade, label: { text: grade }, link_errors: i.zero? %>
    <% end %>
    <%= f.govuk_radio_button :grade, 'other', label: { text: t('application_form.degree.grade.other.label') } do %>
      <%= f.govuk_text_field :other_grade, label: { text: t('application_form.degree.grade.other.conditional.label') }, width: 10 %>
      <%= tag.div(id: 'degree-grade-autosuggest', data: { source: @other_grades }) %>
    <% end %>
  <% end %>
<% end %>

<%= f.govuk_submit t('save_and_continue') %>
