<% if @provider.courses.any? %>
  <%= form_with model: @provider, url: support_interface_provider_path(@provider), method: :post do |f| %>
    <h3 class="govuk-heading-m">
      Open all courses
    </h3>

    <p class="govuk-body">This will toggle every course on this provider to be available through Apply.</p>

    <%= f.govuk_submit "Open #{pluralize(@provider.courses.size, 'course')}" %>
  <% end %>
<% end %>

<h2 class='govuk-heading-m'>Offers <%= pluralize(@provider.courses.count(&:exposed_in_find?), 'course') %> - <%= @provider.courses.count(&:applyable?) %> on DfE Apply</h2>

<%= render(SupportInterface::ProviderCoursesTableComponent, provider: @provider, courses: @provider.courses) %>

<% if @provider.accredited_courses.any? %>
  <h2 class='govuk-heading-m'>Accredits <%= pluralize(@provider.accredited_courses.size, 'course') %> (<%= @provider.accredited_courses.count(&:applyable?) %> on DfE Apply)</h2>
  <%= render(SupportInterface::ProviderCoursesTableComponent, provider: @provider, courses: @provider.accredited_courses) %>
<% end %>

<h2 class='govuk-heading-l'>Sites (<%= @provider.sites.size %>)</h2>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th scope='col' class='govuk-table__header'>Name</th>
    </tr>
  </thead>

  <tbody class='govuk-table__body'>
    <% @provider.sites.each do |site| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'><%= site.name_and_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
