<%= render 'provider_navigation', title: 'Courses' %>

<% if @provider.courses.current_cycle.any? || @provider.accredited_courses.current_cycle.any? %>
  <%= govuk_button_link_to "Download #{RecruitmentCycle.current_year} courses and ratified courses as CSV", support_interface_provider_courses_csv_path, secondary: true, class: 'govuk-!-margin-bottom-5' %>
<% end %>

<% if @provider.courses.any? %>
  <% @courses_by_year.each do |year, courses| %>
    <% if courses.any? %>
      <h2 class="govuk-heading-m"><%= year %>: <%= pluralize(courses.size, 'course') %> (<%= courses.count(&:open_on_apply?) %> on DfE Apply) <%= 'Not yet published' if RecruitmentCycle.next_year == year %></h2>

      <% if RecruitmentCycle.next_year == year %>
        <p class="govuk-body">These courses will be published on Find and Apply when the recruitment cycle opens.</p>
      <% end %>

      <%= render(SupportInterface::ProviderCoursesTableComponent.new(provider: @provider, courses: courses)) %>
    <% else %>
      <h3 class="govuk-heading-m"><%= year %>: No courses</h3>

      <p class="govuk-body">There aren’t any courses for <%= year %>.</p>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-body">There aren’t any courses for this provider currently.</p>
<% end %>
