<%= render 'provider_navigation', title: 'Courses' %>

<%= render(SupportInterface::ProviderSyncCoursesToggleComponent.new(provider: @provider)) %>

<% if @provider.courses.any? %>
  <%= form_with model: @provider, url: support_interface_provider_path(@provider), method: :post do |f| %>
    <h3 class="govuk-heading-m">
      Open all courses
    </h3>

    <p class="govuk-body">This will toggle every course on this provider to be available through Apply.</p>

    <%= f.govuk_submit "Open #{pluralize(@provider.courses.size, 'course')}" %>
  <% end %>
<% end %>

<h2 class='govuk-heading-l'>Offers <%= pluralize(@provider.courses.size, 'course') %> (<%= @provider.courses.open_on_apply.size %> on DfE Apply)</h2>
<%= render(SupportInterface::ProviderCoursesTableComponent.new(provider: @provider, courses: @provider.courses.includes(:accrediting_provider))) %>

<% if @provider.accredited_courses.any? %>
  <h2 class='govuk-heading-l'>Accredits <%= pluralize(@provider.accredited_courses.size, 'course') %> (<%= @provider.accredited_courses.open_on_apply.size %> on DfE Apply)</h2>
  <%= render(SupportInterface::ProviderCoursesTableComponent.new(provider: @provider, courses: @provider.accredited_courses)) %>
<% end %>
