<%= render 'provider_navigation', title: 'Courses' %>

<% if @provider.courses.current_cycle.any? || @provider.accredited_courses.current_cycle.any? %>
  <%= govuk_button_link_to "Download #{RecruitmentCycle.current_year} courses and ratified courses as CSV", support_interface_provider_courses_csv_path, secondary: true, class: 'govuk-!-margin-bottom-5' %>
<% end %>

<% if @provider.courses.any? %>
  <% RecruitmentCycle.years_visible_in_support.each do |year| %>
    <% if @courses[year] %>
      <h2 class="govuk-heading-m"><%= year %>: <%= pluralize(@courses[year].size, 'course') %> (<%= @courses[year].count(&:open_on_apply?) %> on DfE Apply)</h2>

      <%= render(SupportInterface::ProviderCoursesTableComponent.new(provider: @provider, courses: @courses[year])) %>
    <% else %>
      <h3 class="govuk-heading-m"><%= year %>: No courses</h3>

      <p class="govuk-body">There aren’t any courses for <%= year %>.</p>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-body">There aren’t any courses for this provider currently.</p>

<% end %>
