<%= render 'providers_navigation', title: 'Providers' %>

<%= render PaginatedFilterComponent.new(filter: @filter, collection: @providers) do %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Provider name</th>
        <th scope="col" class="govuk-table__header">Courses open</th>
        <th scope="col" class="govuk-table__header">DSA signed date</th>
      </tr>
    </thead>

    <% if @filter.search_results_filtered_out_count.positive? %>
      <p class="govuk-body">
      <%= pluralize(@filter.search_results_filtered_out_count, 'search result') %> filtered out.
      </p>
    <% end %>

    <tbody class="govuk-table__body">
      <% @providers.each do |provider| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= govuk_link_to provider.name_and_code, support_interface_provider_path(provider) %>
            </span>
            <%= render SupportInterface::ProviderTypeTagComponent.new(provider: provider) %>
            <% if provider.lacks_admin_users? %>
              <span class="govuk-caption-m">No admin user</span>
            <% end %>
          </td>
          <td class="govuk-table__cell">
            <% if provider.courses.any? %>
              <%= provider.courses.current_cycle.open_on_apply.size %> out of
              <%= provider.courses.current_cycle.size %>
            <% else %>
              No courses synced
            <% end %>
          </td>
          <td class="govuk-table__cell">
            <% if provider.provider_agreements.data_sharing_agreements.any? %>
              <%= provider.provider_agreements.data_sharing_agreements.first.accepted_at.to_s(:govuk_date_short_month) %>
            <% else %>
              Not accepted yet
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
