<% content_for :title, 'Providers' %>

<%= form_tag support_interface_providers_sync_path, method: :post do %>
  <%= submit_tag('Sync Providers from Find', class: 'govuk-button') %>
<% end %>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th scope='col' class='govuk-table__header govuk-!-width-one-half'>Provider Name</th>
      <th scope='col' class='govuk-table__header govuk-!-width-one-quarter'>Courses</th>
      <th scope='col' class='govuk-table__header govuk-!-width-one-quarter'>Sites</th>
    </tr>
  </thead>

  <tbody class='govuk-table__body'>
    <% @providers.each do |provider| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          <%= govuk_link_to provider.name_and_code, support_interface_provider_path(provider) %>
        </td>
        <td class='govuk-table__cell'>
          <% if provider.sync_courses? %>
            <%= pluralize provider.courses.size, 'course' %> (<%= provider.courses.applyable.size %> on DfE Apply)
          <% else %>
            Not synced from Find
          <% end %>
        </td>
        <td class='govuk-table__cell'>
          <%= provider.sites.size %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
