<%= render 'provider_navigation', title: 'Ratified courses' %>

<% RecruitmentCycleTimetable.years_visible_in_support.each do |year| %>
  <% if @ratified_courses[year] %>
    <h2 class="govuk-heading-m"><%= year %>: ratifies <%= pluralize(@ratified_courses[year].size, 'course') %> (<%= @ratified_courses[year].count(&:open?) %> on DfE Apply)</h2>

    <%= render(SupportInterface::ProviderCoursesTableComponent.new(provider: @provider, courses: @ratified_courses[year])) %>
  <% else %>
    <h2 class="govuk-heading-m"><%= year %>: No courses</h2>

    <p class="govuk-body">There aren’t any courses for <%= year %>.</p>
  <% end %>
<% end %>
