<%= render 'provider_navigation', title: 'Ratified courses' %>

<% %w[2021 2020 2019].map(&:to_i).each do |year| %>
  <% if @ratified_courses[year] %>
    <h2 class='govuk-heading-l'><%= year %>: ratifies <%= pluralize(@ratified_courses[year].size, 'course') %> (<%= @ratified_courses[year].count(&:open_on_apply?) %> on DfE Apply)</h2>
    <%= render(SupportInterface::ProviderCoursesTableComponent.new(provider: @provider, courses: @ratified_courses[year])) %>
  <% else %>
    <h2 class='govuk-heading-l'><%= year %>: No courses</h2>
    <p class='govuk-body'>
      There aren't any courses for <%= year %>.
    </p>
  <% end %>
<% end %>
