<%= render 'provider_navigation', title: 'Relationships' %>

<%= form_with model: @relationships_form, url: support_interface_update_provider_relationships_path do |f| %>

  <%= f.govuk_error_summary %>

  <% @relationships_form.relationships.each do |r| %>
    <%= f.fields_for 'relationships[]', r do |rf| %>
      <%= rf.hidden_field :id %>
      <%= rf.hidden_field :training_provider_id %>
      <%= rf.hidden_field :ratifying_provider_id %>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= r.training_provider.name %><br role="presentation">(training provider)</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= r.ratifying_provider.name %><br role="presentation">(ratifying provider)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Can make decisions</th>
            <td class="govuk-table__cell">
              <%= rf.govuk_check_box :training_provider_can_make_decisions, true, multiple: false, label: { text: 'Permit' }, link_errors: true %>
            </td>
            <td class="govuk-table__cell">
              <%= rf.govuk_check_box 'ratifying_provider_can_make_decisions', true, multiple: false, label: { text: 'Permit' } %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Can view safeguarding information</th>
            <td class="govuk-table__cell">
              <%= rf.govuk_check_box 'training_provider_can_view_safeguarding_information', true, multiple: false, label: { text: 'Permit' } %>
            </td>
            <td class="govuk-table__cell">
              <%= rf.govuk_check_box 'ratifying_provider_can_view_safeguarding_information', true, multiple: false, label: { text: 'Permit' } %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Can view diversity information</th>
            <td class="govuk-table__cell">
              <%= rf.govuk_check_box 'training_provider_can_view_diversity_information', true, multiple: false, label: { text: 'Permit' } %>
            </td>
            <td class="govuk-table__cell">
              <%= rf.govuk_check_box 'ratifying_provider_can_view_diversity_information', true, multiple: false, label: { text: 'Permit' } %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <%= f.govuk_submit 'Update relationships' %>
<% end %>
