<% content_for :title, @provider.name_and_code %>

<h2 class='govuk-heading-l'>Courses (<%= @provider.courses.size %>)</h2>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th scope='col' class='govuk-table__header'>Course</th>
      <th scope='col' class='govuk-table__header'>Level</th>
      <th scope='col' class='govuk-table__header'>Start date</th>
      <th scope='col' class='govuk-table__header'>Apply from Find</th>
      <th scope='col' class='govuk-table__header'>Page on Find</th>
    </tr>
  </thead>

  <tbody class='govuk-table__body'>
    <% @provider.courses.order(:name).each do |course| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'><%= govuk_link_to course.name_and_code, support_interface_course_path(course) %></td>
        <td class='govuk-table__cell'><%= course.level %></td>
        <td class='govuk-table__cell'><%= course.start_date %></td>
        <td class='govuk-table__cell'>
          <% if course.open_on_apply? %>
            <%= govuk_link_to 'Apply from Find (Apply & UCAS)', candidate_interface_apply_from_find_path(providerCode: course.provider.code, courseCode: course.code) %>
          <% elsif course.exposed_in_find? %>
            <%= govuk_link_to 'Apply from Find (UCAS only)', candidate_interface_apply_from_find_path(providerCode: course.provider.code, courseCode: course.code) %>
          <% else %>
            <em>N/A - hidden in Find</em>
          <% end %>
        </td>
        <td class='govuk-table__cell'>
          <% if course.exposed_in_find? %>
            <%= govuk_link_to 'Find course page', "https://www.find-postgraduate-teacher-training.service.gov.uk/course/#{course.provider.code}/#{course.code}" %>
          <% else %>
            <em>N/A - hidden in Find</em>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class='govuk-heading-l'>Sites (<%= @provider.sites.size %>)</h2>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th scope='col' class='govuk-table__header'>Name</th>
    </tr>
  </thead>

  <tbody class='govuk-table__body'>
    <% @provider.sites.each do |site| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'><%= site.name_and_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
