<% content_for :title, "Courses for #{@provider.name_and_code}" %>

<%= render 'nav' %>

<% if @provider.sync_courses? %>
  <p class="govuk-body"><%= t('provider_sync_courses.status_label.enabled') %></p>

  <%= render 'courses' %>
<% else %>
  <p class="govuk-body"><%= t('provider_sync_courses.status_label.disabled') %></p>

  <%= form_with model: @provider, url: support_interface_enable_provider_course_syncing_path(@provider), method: :post do |f| %>
    <%= f.govuk_submit t('provider_sync_courses.button_label.enable') %>
  <% end %>
<% end %>
