<% content_for :before_content do %>
  <%= govuk_back_link_to 'Back', previous_page %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with model: @wizard, url: provider_interface_save_provider_relationship_permissions_path(@permissions_model) do |f| %>
      <%= f.govuk_error_summary %>

      <%= hidden_field_tag :checking_answers, params[:checking_answers] %>

      <span class="govuk-caption-l">Set up permissions</span>
      <h1 class="govuk-heading-l"><%= @permissions_model.training_provider.name %> and <%= @permissions_model.ratifying_provider.name %></h1>

      <div class="govuk-body">
        <h2 class="govuk-heading-m">Who can view applications?</h2>
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-6">
          <li><%= render IconComponent.new(type: 'check') %><%= @permissions_model.training_provider.name %></li>
          <li><%= render IconComponent.new(type: 'check') %><%= @permissions_model.ratifying_provider.name %> – can only see courses they ratify</li>
        </ul>
      </div>

      <%= f.fields_for 'provider_relationship_permissions[]', @permissions_form do |pf| %>
        <% ProviderRelationshipPermissions::PERMISSIONS.each do |permission_name| %>
          <div class="govuk-form-group <%= permission_name.to_s.dasherize %>" id="<%= permission_name %>">
            <%= pf.govuk_check_boxes_fieldset permission_name, legend: { text: "Who can #{permission_name.to_s.humanize.downcase}?" } do %>
              <div id="makedecisions-hint" class="govuk-hint"><%= t("provider_relationship_permissions.#{permission_name}") %></div>
              <%= hidden_field_tag "#{pf.object_name}[#{permission_name}][]", '' %>
              <%= pf.govuk_check_box permission_name, 'training',
                                     label: { text: @permissions_model.training_provider.name },
                                     link_errors: true %>

              <%= pf.govuk_check_box permission_name, 'ratifying',
                                     label: { text: @permissions_model.ratifying_provider.name } %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
