<% content_for :title, t('page_titles.provider.export_application_data') %>
<%= content_for :before_content, breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path,
                                             t('page_titles.provider.export_application_data') => nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with(
      model: @application_data_export_form,
      url: provider_interface_application_data_export_path,
      method: :get,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= t('page_titles.provider.export_application_data') %>
      </h1>

      <%= f.govuk_check_boxes_fieldset :recruitment_cycle_years, legend: { text: 'Recruitment cycle', size: 'm' } do %>
        <% RecruitmentCycle.years_visible_to_providers.each_with_index do |year, index| %>
          <%= f.govuk_check_box :recruitment_cycle_years, year.to_s, label: { text: RecruitmentCycle.cycle_string(year) }, link_errors: index.zero? %>
        <% end %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset :application_status_choice, legend: { text: 'Status', size: 'm' } do %>
        <%= f.govuk_radio_button :application_status_choice, 'all', label: { text: 'All statuses' }, link_errors: true %>
        <%= f.govuk_radio_button :application_status_choice, 'custom', label: { text: 'Specific statuses' } do %>
          <%= f.govuk_check_boxes_fieldset :statuses, legend: { size: 's', text: 'Status' } do %>
            <% ApplicationStateChange.states_visible_to_provider_without_inactive.each_with_index do |state_name, i| %>
              <%= f.govuk_check_box :statuses, state_name.to_s, label: { text: t("provider_application_states.#{state_name}") }, link_errors: i.zero? %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if @application_data_export_form.actor_has_more_than_one_provider? %>
        <%= f.govuk_collection_check_boxes :provider_ids, @application_data_export_form.providers_that_actor_belongs_to.order('name ASC'), ->(p) { p.id.to_s }, :name, legend: { text: 'Organisation', size: 'm' } %>
      <% end %>

      <%= f.govuk_submit 'Export application data (CSV)' %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', provider_interface_reports_path %>
      </p>
    <% end %>
  </div>
</div>
