<% content_for :title, t('page_titles.provider.export_application_data') %>

<%= breadcrumbs({
  t('page_titles.provider.reports') => provider_interface_reports_path,
  t('page_titles.provider.export_application_data') => nil,
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.provider.export_application_data') %>
    </h1>

    <%= form_with(
      model: @application_data_export_form,
      url: provider_interface_application_data_export_path,
      method: :get,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :recruitment_cycle_years, legend: { text: 'Select year', size: 'm' } do %>
        <% RecruitmentCycle.years_visible_to_providers.each do |year| %>
          <%= f.govuk_check_box :recruitment_cycle_years, year.to_s, label: { text: RecruitmentCycle::CYCLES[year.to_s] }, link_errors: true %>
        <% end %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset :application_status_choice, legend: { text: 'Select applications', size: 'm' } do %>
        <%= f.govuk_radio_button :application_status_choice, 'all', label: { text: 'All applications' }, link_errors: true %>
        <%= f.govuk_radio_button :application_status_choice, 'custom', label: { text: 'Applications with a specific status' } do %>
          <%= f.govuk_check_boxes_fieldset :statuses, legend: { size: 's', text: 'Select statuses' } do %>
            <% ApplicationStateChange.states_visible_to_provider.each_with_index do |state_name, i| %>
              <%= f.govuk_check_box :statuses, state_name.to_s, label: { text: t("provider_application_states.#{state_name}") }, link_errors: i.zero? %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if @application_data_export_form.actor_has_more_than_one_provider? %>
        <%= f.govuk_collection_check_boxes :provider_ids, @application_data_export_form.providers_that_actor_belongs_to, ->(p) { p.id.to_s }, :name, legend: { text: 'Select applications for certain organisations', size: 'm' } %>
      <% end %>

      <div class="govuk-inset-text">
        Sex, disability and ethnicity information will be marked as confidential if you do not have permission to view it, or if the candidate has not accepted your offer.
      </div>

      <%= f.govuk_submit 'Export application data (CSV)' %>
    <% end %>
  </div>
</div>
