<% content_for :title, t('page_titles.referee_destroy') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_review_referees_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @referee, url: candidate_interface_destroy_referee_path(@referee.id), method: :delete do |f| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl"><%= @referee.name %></span>
            <%= t('page_titles.referee_destroy') %>
          </h1>
        </legend>

        <%= f.submit t('application_form.referees.sure_delete_entry'), class: 'govuk-button govuk-button--warning', data: { module: 'govuk-button' } %>

        <p class="govuk-body">
          <%= govuk_link_to 'Cancel', candidate_interface_review_referees_path %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>
