<% content_for :title, t('page_titles.referee_cancel') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_review_referees_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @referee, url: candidate_interface_cancel_referee_path(@referee.id), method: :patch do |f| %>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @referee.name %></span>
        <%= t('page_titles.referee_cancel') %>
      </h1>

      <p class='govuk-body'>You will need to give details of a new referee.</p>

      <p class='govuk-body'>We cannot send your application to your provider(s) without 2 references.</p>

      <p class='govuk-body'> We’ll tell <%= @referee.name %> that they do not need to give a reference.</p>

      <%= f.submit t('application_form.referees.sure_cancel_entry'), class: 'govuk-button govuk-button--warning', data: { module: 'govuk-button' } %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', candidate_interface_review_referees_path %>
      </p>
    <% end %>
  </div>
</div>
