<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if @referees.empty? %>
      <% content_for :title, t('page_titles.referees_choosing') %>
      <h1 class="govuk-heading-xl">
        <%= t('page_titles.referees_choosing') %>
      </h1>
      <%= render partial: 'intro' %>
    <% else %>
      <%= render(CandidateInterface::RefereesReviewComponent, application_form: @application_form) %>

      <% content_for :title, t('page_titles.referees') %>
      <h1 class="govuk-heading-xl">
        <%= t('page_titles.referees') %>
      </h1>
      <%= govuk_button_link_to t('application_form.referees.review.button'), candidate_interface_application_form_path %>
    <%- end %>

  </div>
</div>
