<% content_for :title, t('page_titles.referees') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.referees') %>
</h1>

<%= render(CandidateInterface::RefereesReviewComponent.new(application_form: @application_form, editable: true)) %>

<%- if @referees.count < ApplicationForm::MINIMUM_COMPLETE_REFERENCES %>
  <p class="govuk-body">
    <% if @referees.any? %>
      <%= govuk_button_link_to t('application_form.referees.add_second_referee'), candidate_interface_referees_type_path %>
    <% else %>
      <%= govuk_button_link_to t('application_form.referees.add_referee'), candidate_interface_referees_type_path %>
    <% end %>
  </p>

  <p class="govuk-body">
    <% if @referees.any? %>
      <%= govuk_link_to t('application_form.referees.add_another_later'), candidate_interface_application_form_path %>
    <% else %>
      <%= govuk_link_to t('application_form.referees.add_referees_later'), candidate_interface_application_form_path %>
    <% end %>
  </p>
<%- else %>
  <p class="govuk-body">
    <%= govuk_button_link_to t('application_form.referees.review.button'), candidate_interface_application_form_path %>
  </p>
<%- end %>
