<% content_for :browser_title, title_with_error_prefix("#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code} - Add Note", @new_note_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(request.referer) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @new_note_form,
      url: provider_interface_application_choice_notes_path(@application_choice.id),
      method: :post,
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= @application_choice.application_form.full_name %></span>
      <h1 class="govuk-heading-l">Add note</h1>

      <%= f.govuk_text_area :message, label: { text: 'Note', size: 'm' }, max_chars: 500 %>

      <%= f.govuk_submit 'Save note' %>
    <% end %>
  </div>
</div>
