<% content_for :title, title_with_error_prefix(other_qualifications_title(@application_form), @section_complete_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(application_form_path) %>

<%= form_with model: @section_complete_form, url: candidate_interface_complete_other_qualifications_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <%= other_qualifications_title(@application_form) %>
  </h1>

  <%= render CandidateInterface::EditableSectionWarning.new(section_policy: @section_policy, current_application:) %>
  <%= render CandidateInterface::OtherQualificationsReviewComponent.new(application_form: @application_form, editable: @section_policy.can_edit?, deletable: @section_policy.can_delete?) %>
  <%= render CandidateInterface::CompleteSectionComponent.new(section_policy: @section_policy, form: f) %>
<% end %>
