<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @request_form, url: candidate_interface_decoupled_references_create_request_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :request_now, legend: { text: "Are you ready to send a reference request to #{@request_form.referee_name}?", size: 'xl' } do %>
        <div class="govuk-!-margin-top-7">
          <%= f.govuk_radio_button :request_now, 'yes', link_errors: true, label: { text: 'Yes, send a reference request now' }, hint_text: 'For example: a university tutor.' %>
          <%= f.govuk_radio_button :request_now, 'no', label: { text: 'Professional' }, hint_text: 'No, not at the moment' %>
        </div>
      <% end %>

      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>

