<p class="govuk-body">Include all your paid work in this section.</p>
<p class="govuk-body">Do not include voluntary or unpaid experience – we’ll ask you about that later.</p>

<%= f.govuk_text_field :role, label: { text: t('application_form.work_history.role.label'), size: 'm' } %>

<%= f.govuk_text_field :organisation, label: { text: t('application_form.work_history.organisation.label'), size: 'm' }, hint: { text: t('application_form.work_history.organisation.hint_text') } %>

<%= f.govuk_radio_buttons_fieldset :commitment, legend: { text: t('application_form.work_history.commitment.label'), size: 'm' } do %>
  <%= f.govuk_radio_button :commitment, 'full_time', label: { text: t('application_form.work_history.commitment.full_time.label') }, link_errors: true %>
  <%= f.govuk_radio_button :commitment, 'part_time', label: { text: t('application_form.work_history.commitment.part_time.label') } do %>
    <%= f.govuk_text_area :working_pattern, label: { text: t('application_form.work_history.working_pattern.label'), size: 's' }, hint: { text: t('application_form.work_history.working_pattern.hint_text') }, rows: 3 %>
  <% end %>
<% end %>

<div class="app-work-experience__start-date" data-qa="start-date">
  <%= f.govuk_date_field :start_date, omit_day: true, legend: { text: t('application_form.work_history.start_date.label'), size: 'm' }, hint: { text: t('application_form.work_history.start_date.hint_text') } %>
</div>

<div class="app-work-experience__end-date" data-qa="end-date">
  <%= f.govuk_date_field :end_date, omit_day: true, legend: { text: t('application_form.work_history.end_date.label'), size: 'm' }, hint: { text: t('application_form.work_history.end_date.hint_text') } %>
</div>

<%= f.govuk_text_area :details, label: { text: t('application_form.work_history.details.label'), size: 'm' }, hint: { text: t('application_form.work_history.details.hint_text') }, max_words: 150 %>

<%= f.govuk_radio_buttons_fieldset :working_with_children, legend: { text: t('application_form.work_history.working_with_children.label'), size: 'm' } do %>
  <%= f.govuk_radio_button :working_with_children, true, label: { text: t('application_form.work_history.working_with_children.yes.label') }, link_errors: true %>
  <%= f.govuk_radio_button :working_with_children, false, label: { text: t('application_form.work_history.working_with_children.no.label') } %>
<% end %>
