<% content_for :title, title_with_error_prefix(t('page_titles.edit_job'), @work_experience_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_work_history_show_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @work_experience_form, url: candidate_interface_work_history_edit_path do |f| %>
      <fieldset class="govuk-fieldset">
        <%= f.govuk_error_summary %>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl"><%= t('page_titles.work_history') %></span>
            <%= t('page_titles.edit_job') %>
          </h1>
        </legend>

        <%= render 'form', f: f %>
      </fieldset>
    <% end %>
  </div>
</div>
