<% content_for :title, title_with_error_prefix(t('page_titles.add_job'), @work_experience_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_work_history_show_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @work_experience_form, url: candidate_interface_new_work_history_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= t('page_titles.work_history') %></span>
        <%= t('page_titles.add_job') %>
      </h1>

      <%= render 'form', f: f %>

      <%= f.govuk_radio_buttons_fieldset :add_another_job, legend: { text: 'Do you want to add another job?', size: 'm' } do %>
        <%= f.govuk_radio_button :add_another_job, 'yes', label: { text: 'Yes, I want to add another job' }, link_errors: true %>
        <%= f.govuk_radio_button :add_another_job, 'no', label: { text: 'No, not at the moment' } %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
