<% content_for :title, title_with_error_prefix(t('page_titles.efl.type'), @type_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@return_to[:back_path]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @type_form, url: candidate_interface_english_foreign_language_type_path(@return_to[:params])) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :type,
        legend: { text: t('page_titles.efl.type'), size: 'xl', tag: 'h1' },
        caption: { text: t('page_titles.efl.start'), size: 'xl' } do %>
        <%= f.govuk_radio_button :type, 'ielts', label: { text: 'International English Language Testing System (IELTS)' }, link_errors: true %>
        <%= f.govuk_radio_button :type, 'toefl', label: { text: 'Test of English as a Foreign Language (TOEFL)' } %>
        <%= f.govuk_radio_button :type, 'other', label: { text: 'Other' } %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>

  </div>
</div>
