<% content_for :title, title_with_error_prefix(t('page_titles.new_adviser_sign_up'), @adviser_sign_up.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @adviser_sign_up, url: candidate_interface_adviser_sign_ups_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l"><%= t('application_form.adviser_sign_up.heading') %></h1>

      <p class="govuk-body">Our advisers can answer your questions about how to put together the best application you can. They can help you with:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>writing your personal statement</li>
        <li>understanding your different training options</li>
        <li>preparing for interviews</li>
      </ul>


      <% subjects = "Art and design", "Biology", "Business studies", "Chemistry", "Citizenship", "Classics", "Communication and media studies", "Computing", "Dance", "Design and technology", "Drama", "Economics", "English", "French", "Geography", "German", "Health and social care", "History", "Maths", "Music", "Physical education", "Physics", "Psychology", "Religious education", "Social sciences", "Spanish", "Languages (other)"  %>

      <%= f.govuk_radio_buttons_fieldset(:preferred_teaching_subject, legend: { size: 'm', text: 'What are you interested in teaching?'}, hint: {text: "We’re asking this so that a dedicated adviser can be assigned to you."}) do %>
        <%= f.govuk_radio_button :preferred_teaching_subject, '1', label: { text: 'Primary' }, link_errors: true %>
        <%= f.govuk_radio_divider "or" %>
        <% subjects.each do |subject| %>
          <%= f.govuk_radio_button :preferred_teaching_subject, '1', label: { text: subject } %>
        <% end %>
    <% end %>


      <%#= render DfE::Autocomplete::View.new(
        f,
        attribute_name: :preferred_teaching_subject,
        form_field: f.govuk_select(
          :preferred_teaching_subject,
          options_for_select(dfe_autocomplete_options(lookup_item_options(@adviser_sign_up.teaching_subjects)), f.object.preferred_teaching_subject),
          label: { text: t('application_form.adviser_sign_up.preferred_teaching_subject.label'), tag: 'h2', size: 'm' },
          hint: { text: t('application_form.adviser_sign_up.preferred_teaching_subject.hint') },
        ),
      ) %>

      <p class="govuk-body">If you continue, we’ll share your personal details and the status of your application with a dedicated adviser. We will not share your personal statement, qualifications or work history with them.</p>

      <%= f.govuk_submit t('application_form.adviser_sign_up.submit_text') %>
    <% end %>
  </div>
</div>
