<% content_for :title, title_with_error_prefix(t('page_titles.new_adviser_sign_up'), @adviser_sign_up_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_details_path, t('.back')) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @adviser_sign_up_form, url: continue_candidate_interface_adviser_sign_ups_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l"><%= t('.heading') %></h1>

      <p class="govuk-body"><%= t('.introduction') %></p>

      <%= govuk_list [t('.help_with_1'), t('.help_with_2'), t('.help_with_3')], type: :bullet %>

      <%= f.govuk_radio_buttons_fieldset(:preferred_teaching_subject_id, legend: { size: 'm' }) do %>
        <% @adviser_sign_up_form.primary_teaching_subjects_for_select.each do |subject| %>
          <%= f.govuk_radio_button :preferred_teaching_subject_id, subject.external_identifier, label: { text: subject.title }, link_errors: true %>
        <% end %>
        <%= f.govuk_radio_divider 'or' %>
        <% @adviser_sign_up_form.secondary_teaching_subjects_for_select.each do |subject| %>
          <%= f.govuk_radio_button :preferred_teaching_subject_id, subject.external_identifier, label: { text: subject.title }, link_errors: true %>
        <% end %>
      <% end %>

      <p class="govuk-body">
        <%= t('.disclaimer') %>
      </p>

      <%= f.govuk_submit t('.submit_text') %>
    <% end %>
  </div>
</div>
