<%= render ProviderInterface::ApplicationChoiceHeaderComponent.new(
  application_choice: @application_choice,
  provider_can_respond: @provider_user_can_make_decisions,
  course_associated_with_user_providers: @course_associated_with_user_providers,
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Offer</h2>

    <% if %w[pending_conditions recruited].include?(@application_choice.status) %>
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <p>
          To change this offer, send proof that the candidate agrees and details of the changes to <%= govuk_link_to 'becomingateacher@digital.education.gov.uk', 'mailto:becomingateacher@digital.education.gov.uk' %>.
        </p>
      </div>
    <% end %>

    <% if @provider_user_can_make_decisions %>
      <p class="govuk-body govuk-!-margin-bottom-7">
        <% if %i[pending_conditions recruited].include?(@application_choice.status.to_sym) %>
          <%= govuk_link_to 'Defer offer', provider_interface_application_choice_new_defer_offer_path(@application_choice) %>
        <% end %>

        <% if @application_choice.offer? %>
          <%= govuk_link_to 'Withdraw offer', provider_interface_application_choice_withdraw_offer_path(@application_choice) %>
        <% end %>
      </p>
    <% end %>

    <% if @provider_user_can_make_decisions && @application_choice.offer? %>
      <%= render ProviderInterface::CompletedOfferSummaryComponent.new(
            application_choice: @application_choice,
            course_option: @application_choice.current_course_option,
            conditions: @conditions,
            course: @application_choice.current_course,
            available_providers: @providers,
            available_courses: @courses,
            available_course_options: @course_options,
            border: false,
            ske_conditions: @application_choice.offer.ske_conditions,
          ) %>
    <% else %>
      <%= render ProviderInterface::PendingConditionsOfferSummaryComponent.new(
        application_choice: @application_choice,
        course_option: @application_choice.current_course_option,
        conditions: @conditions,
        course: @application_choice.current_course,
        available_providers: @providers,
        available_courses: @courses,
        available_course_options: @course_options,
        border: false,
        editable: @provider_user_can_make_decisions,
        ske_conditions: @application_choice.offer.ske_conditions,
        show_recruit_pending_button: true,
      ) %>
    <% end %>
  </div>
</div>
