<% content_for :browser_title, t('support_interface.change_course.page_title') %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(@change_course_form.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @change_course_form, url: support_interface_change_course_path(@change_course_form.application_form) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :change_type, legend: { size: 'xl', text: t('support_interface.change_course.page_title'), tag: 'h1' } do %>
        <div class="govuk-!-margin-top-6">
          <% if @change_course_form.can_add_course? %>
            <%= f.govuk_radio_button :change_type, :add_course, label: { text: t('support_interface.change_course.add_course') } %>
          <% end %>

          <% if @change_course_form.can_withdraw_course? %>
            <%= f.govuk_radio_button :change_type, :withdraw_choice, label: { text: t('support_interface.change_course.remove_course') } %>
          <% end %>

          <%= f.govuk_radio_button :change_type, :cancel_application, label: { text: t('support_interface.change_course.cancel_application') } %>
        </div>
      <% end %>

      <% unless @change_course_form.can_add_course? %>
        <div class='govuk-body'>
          Note that you can no longer add a course because this application already has 3.
        </div>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
