<% content_for :browser_title, title_with_error_prefix("Add a course to #{@form.application_form.full_name}’s application", @form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_change_course_path(@form.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: support_interface_add_course_to_application_path(@form.application_form), method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= @form.application_form.support_reference %></span>
      <h1 class="govuk-heading-l">Add a course to <%= @form.application_form.full_name %>’s application</h1>

      <%= f.govuk_text_field :course_option_id,
        label: { text: t('support_interface.change_course.course_option_id.label'), size: 'm' },
        hint_text: t('support_interface.change_course.course_option_id.hint') %>

      <p class="govuk-body">
        Adding a new course will not email the candidate.
      </p>

      <%= f.govuk_submit 'Add course' %>
    <% end %>
  </div>
</div>
