<% content_for :browser_title, "Add a course to #{@form.application_form.full_name}'s application" %>
<% content_for :before_content, govuk_back_link_to(support_interface_change_course_path(@form.application_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: support_interface_add_course_to_application_path(@form.application_form), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class='govuk-heading-xl'>
        Add a course to <%= @form.application_form.full_name %>'s application
      </h1>

      <p class="govuk-body">
        Adding a new course will not email the candidate.
      </p>

      <%= f.govuk_text_field :course_option_id,
        label: { text: 'Course Option ID' },
        hint_text: "You can find this in the Vacancies tab on the provider page" %>

      <%= f.govuk_submit 'Add course' %>
    <% end %>
  </div>
</div>
