<% content_for :browser_title, title_with_error_prefix('Change offered course', @course_search.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @course_search,
      url: support_interface_application_form_application_choice_change_offered_course_search_path(
        application_form_id: params[:application_form_id],
        application_choice_id: params[:application_choice_id],
      ),
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Change offered course</h1>

      <p class="govuk-body">An offered course can only be changed if a request is made before the end of the cycle.</p>

      <h2 class="govuk-heading-m">Search for a course code</h2>
      <p class="govuk-body">
        Find courses by searching on
        <%= govuk_link_to(
          'Find postgraduate teacher training',
          'https://www.find-postgraduate-teacher-training.service.gov.uk/',
          target: '_blank',
          rel: 'nofollow',
        ) %>.
        Course codes are shown in brackets after the name of a course.
      </p>

      <%= f.govuk_text_field :course_code, label: { text: 'Course code', size: 's' }, width: 5 %>
      <%= f.govuk_submit 'Search' %>
    <% end %>
  </div>
</div>
