<% content_for :title, title_with_error_prefix("Choose a course to replace #{@application_choice.current_course.name_and_code} at #{@application_choice.current_provider.name_and_code}", @pick_course.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_application_choice_change_offered_course_search_path(course_code: @pick_course.course_code)) %>

<% if @pick_course.course_options.present? %>
  <%= form_with model: @pick_course, url: support_interface_application_form_application_choice_choose_offered_course_option_path(course_code: @pick_course.course_code) do |f| %>
    <%= f.govuk_error_summary %>
    <%= f.govuk_radio_buttons_fieldset :course_option_id, legend: { text: 'Which course should be added to the application?', size: 'm' } do %>
      <p class="govuk-hint">All courses shown are from the current recruitment cycle (<%= @current_timetable.recruitment_cycle_year %>).</p>

      <% if @options_from_same_provider.present? %>
        <h2 class="govuk-heading-s">Courses from the same provider (<%= @application_choice.current_provider.name_and_code %>)</h2>
        <div class="same-provider govuk-!-margin-bottom-6">
          <% @options_from_same_provider.each_with_index do |co, i| %>
            <%= f.govuk_radio_button :course_option_id, co.course_option_id, label: { text: "#{co.course_name} (#{co.course_code})" }, hint: { text: "#{co.site_name} – #{co.study_mode}" }, link_errors: i.zero? %>
          <% end %>
        </div>
      <% end %>

      <% if @options_from_ratified_provider.present? %>
        <h2 class="govuk-heading-s">Courses ratified by the same provider (<%= @application_choice.current_provider.name_and_code %>)</h2>
        <div class="same-provider govuk-!-margin-bottom-6">
          <% @options_from_ratified_provider.each_with_index do |co, i| %>
            <%= f.govuk_radio_button :course_option_id, co.course_option_id, label: { text: "#{co.provider_name} (#{co.provider_code}) – #{co.course_name} (#{co.course_code})" }, hint: { text: "#{co.site_name} – #{co.study_mode}" }, link_errors: i.zero? %>
          <% end %>
        </div>
      <% end %>

      <% if @options_from_other_providers.present? %>
        <h2 class="govuk-heading-s">Courses from other providers</h2>
        <div class="other-providers">
          <% @options_from_other_providers.each_with_index do |co, i| %>
            <%= f.govuk_radio_button :course_option_id, co.course_option_id, label: { text: "#{co.provider_name} (#{co.provider_code}) – #{co.course_name} (#{co.course_code})" }, hint: { text: "#{co.site_name} – #{co.study_mode}" }, link_errors: i.zero? %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= f.govuk_submit 'Continue' %>
  <% end %>
<% else %>
  <p class="govuk-body">No open courses found for current recruitment cycle.</p>
  <%= govuk_button_link_to('Search again', support_interface_application_form_application_choice_change_offered_course_search_path(course_code: @pick_course.course_code)) %>
<% end %>
