<% content_for :title, t('page_titles.references') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back to application') %>

<% if @enough_references_provided %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= form_with(model: @selection_form, url: candidate_interface_select_references_path, method: :patch) do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-xl"><%= t('page_titles.references_select') %></h1>

        <%= f.govuk_check_boxes_fieldset :selected, multiple: true, legend: { text: '' } do %>
          <% @selection_form.available_references.each do |reference| %>
            <%= f.govuk_check_box(
              :selected,
              reference.id,
              label: { text: reference.name, size: 's' },
              hint: { text: "#{reference.referee_type.capitalize.dasherize} reference" },
            ) %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t('save_and_continue') %>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= t('page_titles.references_selection') %></h1>

      <p class="govuk-body">Once you’ve received 2 or more references, you can select which ones to include in your application.</p>

      <p class="govuk-body">You can <%= govuk_link_to 'request references and track their progress', candidate_interface_references_review_path %> in the references section.</p>

      <%= govuk_link_to 'Return to application', candidate_interface_application_form_path, button: true %>
    </div>
  </div>

<% end %>
