<% content_for :browser_title, title_with_error_prefix(t('.title'), @preference_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(@back_path || new_candidate_interface_draft_preference_training_location_path(@preference)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @preference_form,
      url: candidate_interface_draft_preference_path(@preference.id, return_to: params[:return_to]),
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('.title') %></h1>
      <p class="govuk-body"><%= t('.body') %></p>

      <% if @location_preferences.blank? %>
        <p class="govuk-body"><%= t('.no_location_preferences') %></p>
        <%= govuk_button_link_to(
          t('.add_location'),
          new_candidate_interface_draft_preference_location_preference_path(@preference),
          secondary: true,
        ) %>
      <% else %>
        <h2 class="govuk-heading-m"><%= t('.select_locations') %></h2>

        <%= govuk_table(html_attributes: { class: 'app-table__row--no-bottom-border govuk-!-margin-bottom-0' }) do |table| %>
          <% table.with_head do |head| %>
            <% head.with_row do |row| %>
              <%= row.with_cell(text: t('.distance_from_location')) %>
              <%= row.with_cell(text: t('.location')) %>
            <% end %>
          <% end %>

          <% table.with_body do |body| %>
            <% @location_preferences.each do |location| %>
              <% body.with_row do |row| %>
                <%= row.with_cell(text: t('.within', within: location.within)) %>

                <%= row.with_cell(text: location.decorated_name) %>
                <%= row.with_cell do %>
                  <%= govuk_link_to(
                        t('.change'),
                        edit_candidate_interface_draft_preference_location_preference_path(@preference, location),
                        visually_hidden_suffix: location.decorated_name,
                      ) %>
                <% end %>
                <%= row.with_cell do %>
                  <%= govuk_link_to(
                        t('.remove'),
                        candidate_interface_draft_preference_location_preference_path(@preference, location),
                        visually_hidden_suffix: location.decorated_name,
                      ) %>
                <% end %>
              <% end %>
            <% end %>

            <% body.with_row do |row| %>
              <%= row.with_cell(colspan: 4) do %>
                <%= govuk_button_link_to(
                  t('.add_another_location'),
                  new_candidate_interface_draft_preference_location_preference_path(@preference),
                  secondary: true,
                ) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <div><%= f.govuk_submit %></div>
    <% end %>
  </div>
</div>
