<% content_for :browser_title, "#{@application_choice.application_form.full_name} – #{@application_choice.course.name_and_code} - References" %>

<%= render ProviderInterface::ApplicationChoiceHeaderComponent.new(
  application_choice: @application_choice,
  provider_can_respond: @provider_user_can_make_decisions,
  provider_can_set_up_interviews: @provider_user_can_set_up_interviews,
  course_associated_with_user_providers: @course_associated_with_user_providers,
) %>
<h2 class="govuk-heading-l">References</h2>

<p class="govuk-body govuk-!-display-none-print">
  <%= govuk_link_to(
    'Download references (PDF)',
    provider_interface_application_choice_references_path(@application_choice.id, format: :pdf),
    download: "#{@application_choice.application_form.support_reference}-references",
  ) %>
</p>

<% if @application_choice.accepted_choice? %>
  <%= render(
        ProviderInterface::ReferencesSummaryMessage.new(@references, @application_choice.application_form.full_name),
        ) %>

  <% if @references.feedback_provided.present? %>
    <h3 class="govuk-heading-m">Received references</h3>
    <%= render partial: 'provider_interface/references/reference', collection: @references.feedback_provided, as: :reference, locals: { application_choice: @application_choice } %>
  <% end %>

  <% if @references.feedback_requested.present? %>
    <h3 class="govuk-heading-m">Requested references</h3>
    <%= render partial: 'provider_interface/references/reference', collection: @references.feedback_requested, as: :reference, locals: { application_choice: @application_choice } %>
  <% end %>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        References will be requested when the candidate accepts an offer. Do not contact these people before then without permission from the candidate.
      </p>
    </div>
  </div>

  <%= render partial: 'provider_interface/references/reference', collection: @references, as: :reference, locals: { application_choice: @application_choice } %>
<% end %>
