<tr class="govuk-table__row gov uk-accordion__section">
  <td class="govuk-table__cell" title="<%= l(audit.created_at, format: :long_with_seconds) %>">
    <%= l(audit.created_at, format: :long) %>
  </td>
  <td class="govuk-table__cell">
    <div class="govuk-!-margin-0">
      <div class="govuk-heading-m">
        <%= audit_entry_event_label %>
        <span class="govuk-caption-m"><%= audit_entry_user_label %></span>
      </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-!-font-size-16">
        <% changes.each_with_index do |(attr, values), index| %>
          <%= render SupportInterface::AuditTrailChangeComponent,
            attribute: attr,
            values: values,
            last_change: index + 1 == changes.size
          %>
        <% end %>
      </dl>
    </div>
  </td>
</tr>
