<tr class="govuk-table__row" data-qa="audit-trail-item">
  <td class="govuk-table__cell" title="<%= l(audit.created_at, format: :long_with_seconds) %>">
    <%= l(audit.created_at.to_date, format: :long) %> <br><%= l(audit.created_at, format: :time) %>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= audit_entry_event_label %>
      <span class="govuk-caption-m"><%= audit_entry_user_label %></span>
    </h2>
    <%= govuk_summary_list(classes: 'govuk-!-font-size-16') do |component| %>
      <% changes.each do |change| %>
        <%= component.slot(
          :row,
          key: change.attribute,
          value: change.formatted_values,
        ) %>
      <% end %>
    <% end %>
  </td>
</tr>
