<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Last name</th>
      <th scope="col" class="govuk-table__header">First names</th>
      <th scope="col" class="govuk-table__header">Candidate email addresses</th>
      <th scope="col" class="govuk-table__header">Send email?</th>
      <th scope="col" class="govuk-table__header">Email sent</th>
      <th scope="col" class="govuk-table__header">Fradulent?</th>
      <th scope="col" class="govuk-table__header">Submitted?</th>
      <th scope="col" class="govuk-table__header">Block submission?</th>
      <th scope="col" class="govuk-table__header">Remove access</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% table_rows.each do |table_row| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= table_row[:last_name] %>
        </td>

        <td class="govuk-table__cell">
          <% table_row[:first_names].each do |first_name| %>
            <%= first_name %><br>
          <% end %>
        </td>

        <td class="govuk-table__cell">
          <% table_row[:email_addresses].each do |candidate| %>
            <%= govuk_link_to(candidate.email_address, support_interface_candidate_path(candidate)) %><br>
          <% end %>
        </td>

        <td class="govuk-table__cell">
          <%= table_row[:candidate_last_contacted_at] %>
        </td>

        <td class="govuk-table__cell">
        </td>

        <td class="govuk-table__cell">
          <%= table_row[:fraudulent] %><br><br>
          <% if table_row[:match].fraudulent? %>
            <%= govuk_link_to support_interface_fraud_auditing_matches_fraudulent_path(table_row[:match].id) do %>
              <%= 'Mark as non fraudulent' %>
              <span class="govuk-visually-hidden"> <%= table_row[:match].last_name %></span>
            <% end %>
          <% else %>
            <%= govuk_link_to support_interface_fraud_auditing_matches_fraudulent_path(table_row[:match].id) do %>
              <%= 'Mark as fraudulent' %>
              <span class="govuk-visually-hidden"> <%= table_row[:match].last_name %></span>
            <% end %>
          <% end %>
        </td>


        <td class="govuk-table__cell">
          <% table_row[:submitted_at].each do |submitted_at| %>
            <%= submitted_at %><br>
          <% end %>
        </td>

        <td class="govuk-table__cell">
        <% if FeatureFlag.active?(:block_fraudulent_submission) %>
          <% if candidate_blocked?(table_row[:blocked]) %>
            <%= govuk_link_to 'Unblock', support_interface_fraud_auditing_matches_confirm_unblock_submission_path(table_row[:blocked]) %>
          <% else %>
            <%= govuk_link_to 'Block', support_interface_fraud_auditing_matches_confirm_block_submission_path(table_row[:blocked]) %>
          <% end %>
        <% else %>
          Currently unavailable
        <% end %>
        </td>

        <td class="govuk-table__cell">
          <% table_row[:remove_access_links].each do |link| %>
            <%= link %><br><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
