<section id="<%= @heading.parameterize %>" class="app-section">
  <h2 class="govuk-heading-m govuk-!-margin-top-7">
    <%= govuk_link_to(
      @heading,
      support_interface_reasons_for_rejection_application_choices_path(
        'structured_rejection_reasons[id]' => @reason_key,
        'recruitment_cycle_year' => @recruitment_cycle_year,
      ),
    ) %>
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= render SupportInterface::TileComponent.new(
        count: percentage_rejected_for_reason,
        label: number_of_rejections_out_of_total_rejections,
        colour: 'light-blue',
        size: :reduced,
      ) %>
    </div>
    <% if current_cycle? %>
      <div class="govuk-grid-column-one-half">
        <%= render SupportInterface::TileComponent.new(
          count: percentage_rejected_for_reason_this_month,
          label: number_of_rejections_out_of_total_this_month,
          size: :reduced,
        ) %>
      </div>
    <% end %>
  </div>
  <% if @sub_reasons_result %>
    <%= render SupportInterface::SubReasonsForRejectionTableComponent.new(
      reason: @reason_key,
      sub_reasons: @sub_reasons_result,
      total_all_time: @total_rejection_count,
      total_this_month: @total_rejection_count_this_month,
      total_for_reason_all_time: rejection_count,
      total_for_reason_this_month: rejection_count(:this_month),
      recruitment_cycle_year: @recruitment_cycle_year,
    ) %>
  <% end %>
</section>
