<section id="<%= @heading.parameterize %>" class="app-section">
  <h2 class="govuk-heading-m govuk-!-font-size-27">
    <%= govuk_link_to(
      @heading,
      support_interface_reasons_for_rejection_application_choices_path(
        "structured_rejection_reasons[#{@reason_key}]" => 'Yes',
      ),
    ) %>
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= render SupportInterface::TileComponent.new(
        count: @percentage_rejected,
        label: number_of_rejections_out_of_total_rejections,
        colour: :blue,
        size: :reduced,
      ) %>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <%= render SupportInterface::TileComponent.new(
        count: @total_count,
        label: 'total',
        size: :reduced,
      ) %>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <%= render SupportInterface::TileComponent.new(
        count: @this_month,
        label: 'this month',
        size: :reduced,
      ) %>
    </div>
  </div>
  <% if @sub_reasons_result %>
    <%= render SupportInterface::SubReasonsForRejectionTableComponent.new(
      reason: @reason_key,
      sub_reasons: @sub_reasons_result,
      total: @total_structured_rejection_reasons_count,
    ) %>
  <% end %>
</section>
