<div data-qa="reference">
  <%= render SummaryCardComponent.new(rows:, editable: true, warning_text:) do %>
    <%= render(SummaryCardHeaderComponent.new(title: title, heading_level: 3)) do %>
      <div class="app-summary-card__actions">
        <ul class="app-summary-card__actions-list">
          <% if @editable && true %>
            <li class="app-summary-card__actions-list-item">
              <%= govuk_link_to support_interface_destroy_reference_path(reference) do %>
                <%= t('application_form.references.delete_reference.action') %>
              <% end %>
            </li>
            <% if @editable && reference.feedback_refused? %>
              <li class="app-summary-card__actions-list-item">
                <%= govuk_link_to support_interface_reinstate_reference_path(reference) do %>
                Undo refusal<span class="govuk-visually-hidden"> for <%= reference.name %></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
