<section id="safeguarding-section" class="app-section govuk-!-width-two-thirds">
  <% if previous_training_record.present? %>
    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">
      <%= t('support_interface.safeguarding_issues_component.previous_training_heading') %>
    </h2>

    <%= render PreviousTeacherTraining::StartedDeclarationComponent.new(application_form: @application_form) %>
    <%= render PreviousTeacherTraining::ListComponent.with_collection(@application_form.previous_teacher_trainings.published.started_yes.order_by_dates, heading_level: 3) %>
  <% end %>

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">
    <%= t('support_interface.safeguarding_issues_component.criminal_convictions_heading') %>
  </h2>
  <p class="govuk-body">
    <%= message %>
  </p>
</section>
