<table class="govuk-table govuk-!-margin-top-2">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="40%">Reason</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="20%">Percentage of all rejections</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="20%">Percentage of all rejections within this category</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="20%">Percentage of all rejections this month</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="20%">Percentage of all rejections within this category this month</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% sub_reasons.each do |sub_reason, sub_reason_result| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <%= govuk_link_to(
            sub_reason_label(sub_reason),
            support_interface_reasons_for_rejection_application_choices_path(
              "structured_rejection_reasons[#{sub_reason_key}]": sub_reason,
            ),
          ) %>
        </th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= sub_reason_percentage(sub_reason) %><br>
          <%= "#{sub_reason_count(sub_reason)} of #{total_all_time}" %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= sub_reason_percentage_of_reason(sub_reason) %><br>
          <%= "#{sub_reason_count(sub_reason)} of #{total_for_reason}" %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= sub_reason_percentage(sub_reason, :this_month) %><br>
          <%= "#{sub_reason_count(sub_reason, :this_month)} of #{total_this_month}" %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= sub_reason_percentage_of_reason(sub_reason, :this_month) %><br>
          <%= "#{sub_reason_count(sub_reason, :this_month)} of #{total_for_reason(:this_month)}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
