<table class="govuk-table" data-qa="ucas-matched-courses">
  <caption class="govuk-table__caption govuk-!-font-weight-regular"><%= @summary %></caption>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Course code</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Course choice</th>
      <th scope="col" class="govuk-table__header">Status on&nbsp;UCAS</th>
      <th scope="col" class="govuk-table__header">Status on&nbsp;Apply</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% table_rows.each do |table_row| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= table_row[:course_code] %></td>
        <td class="govuk-table__cell">
          <%= table_row[:course_details] %>
          <% if table_row[:course_provider_contacts].any? %>
            <%= render GovukComponent::Details.new(
              summary: 'Contact details',
              classes: 'govuk-!-padding-bottom-0',
            ) do %>
              <% table_row[:course_provider_contacts].each do |provider_contact| %>
                <dl class="app-provider_contacts_list govuk-!-margin-0 govuk-!-padding-bottom-2">
                  <dt class="govuk-visually-hidden">Full name</dt>
                  <dd class="govuk-heading-s govuk-!-margin-0"><%= provider_contact.full_name %></dd>
                  <dt class="govuk-visually-hidden">email address</dt>
                  <dd class="govuk-body govuk-!-margin-0"><%= provider_contact.email_address %></dd>
                </dl>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if table_row[:status_on_ucas] == 'N/A' %>
            N/A
          <% else %>
            <%= render SupportInterface::ApplicationStatusTagComponent.new(status: table_row[:status_on_ucas]) %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if table_row[:status_on_apply] == 'N/A' %>
            N/A
          <% elsif table_row[:status_on_apply] == 'invalid_data' %>
            <%= render TagComponent.new(text: 'Invalid data', type: :red) %>
          <% else %>
            <%= render SupportInterface::ApplicationStatusTagComponent.new(status: table_row[:status_on_apply]) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
