
<%= govuk_inset_text(classes: 'govuk-!-margin-top-0 govuk-!-width-two-thirds') do %>
  <h2 class="govuk-heading-s">
    <%= inset_text_header %>
  </h2>
  <% if action_details.present? %>
    <%= action_details %>
  <% end %>
  <% if @match.action_needed? && @match.requires_manual_action? %>
    <%= form_with url: button[:path], method: :post do |f| %>
      <%= f.govuk_submit button[:text] %>
    <% end %>
  <% end %>
<% end %>
