<ul class="govuk-list">
  <li><b><%= candidates_on_apply_count %></b> candidates on Apply with submitted application</li>
  <li>
    <b><%= candidates_matched_with_ucas_count_and_percentage %></b> candidates matched with UCAS, of which</li>
    <ul class="govuk-list govuk-!-margin-left-4">
      <li><b><%= applied_for_the_same_course_on_both_services %></b> have applied for the same course on both services</li>
      <li><b><%= accepted_offers_on_both_services %></b> have accepted offers on both services</li>
    </ul>
  </li>
</ul>

<div class="govuk-grid-row app-grid-row--flex">
  <div class="govuk-grid-column-full">
    <%= render SupportInterface::TileComponent.new(count: candidates_with_dual_applications_or_dual_acceptance || '0', label: 'candidates with dual application or multiple acceptances', colour: :blue) %>
  </div>
</div>

<div class="govuk-grid-row app-grid-row--flex">
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(count: unresolved_count || '0', label: 'unresolved', colour: :blue) %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(count: action_taken_count['resolved_on_ucas'] || '0', label: 'resolved on UCAS') %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(count: action_taken_count['resolved_on_apply'] || '0', label: 'resolved on Apply') %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render SupportInterface::TileComponent.new(count: action_taken_count['manually_resolved'] || '0', label: 'resolved manually') %>
  </div>
</div>

<% if action_taken_count['no_application_choice'].present? %>
  <div class="govuk-grid-row app-grid-row--flex govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-quarter">
      <%= render SupportInterface::TileComponent.new(count: action_taken_count['no_application_choice'] || '0', label: 'bad data') %>
    </div>
  </div>
<% end %>

<p class="govuk-body">For the matches which have not been resolved yet, we have taken the following actions</p>

<div class="govuk-grid-row app-grid-row--flex">
  <div class="govuk-grid-column-one-third">
    <%= render SupportInterface::TileComponent.new(count: action_taken_count['initial_emails_sent'] || '0', label: "#{'set'.pluralize(action_taken_count['initial_emails_sent'])} of initial emails sent", size: :reduced) %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render SupportInterface::TileComponent.new(count: action_taken_count['reminder_emails_sent'] || '0', label: "reminder #{'email'.pluralize(action_taken_count['reminder_emails_sent'])} sent", size: :reduced) %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render SupportInterface::TileComponent.new(count: action_taken_count['ucas_withdrawal_requested'] || '0', label: "UCAS #{'withdrawal'.pluralize(action_taken_count['ucas_withdrawal_requested'])} requested", size: :reduced) %>
  </div>
</div>
