<% content_for :title, title_with_error_prefix(@page_title, @reference.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: reference, url: url do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= page_title %>
      </h1>

      <p class="govuk-body">Contact your referee in advance to check they are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>happy to give you a reference</li>
        <li>able to submit the reference as soon as possible</li>
        <li>comfortable submitting a reference online</li>
      </ul>

      <p class="govuk-body">Referees should not be family members, partners or friends. Training providers will only accept character references if there's also an academic or professional reference.</p>
      <p class="govuk-body">If you have trouble finding a suitable referee, contact your provider to discuss this.</p>

      <%= f.govuk_text_field :name, label: { text: t('application_form.referees.name.label'), size: 'm' } %>
      <%= f.govuk_text_field :email_address, type: 'email', label: { text: t('application_form.referees.email_address.label'), size: 'm' }, hint_text: t('application_form.referees.email_address.hint_text').second %>
      <%= f.govuk_text_area :relationship, label: { text: t('application_form.referees.relationship.label'), size: 'm' }, hint_text: t('application_form.referees.relationship.hint_text'), max_words: 50 %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
