<% content_for :title, title_with_error_prefix('Add a new referee', @reference.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_form_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @reference, url: candidate_interface_edit_additional_referee_path(@reference) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        Add a new referee
      </h1>

      <p class="govuk-body">Contact your referee in advance to check they are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>happy to give you a reference</li>
        <li>able to submit the reference as soon as possible</li>
        <li>comfortable submitting a reference online</li>
      </ul>

      <%= f.govuk_text_field :name, label: { text: t('application_form.referees.name.label'), size: 'm' } %>
      <%= f.govuk_text_field :email_address, type: 'email', label: { text: t('application_form.referees.email_address.label'), size: 'm' } %>
      <%= f.govuk_text_area :relationship, label: { text: t('application_form.referees.relationship.label'), size: 'm' }, hint_text: t('application_form.referees.relationship.hint_text'), max_words: 50 %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
