<%= f.govuk_error_summary %>

<%= f.govuk_radio_buttons_fieldset :right_to_work_or_study, legend: { size: 'xl', text: t('page_titles.right_to_work'), tag: 'h1' } do %>
  <%= f.govuk_radio_button :right_to_work_or_study, 'yes', label: { text: 'Yes – I have the right to work or study in the UK' }, link_errors: true do %>
    <%= f.govuk_text_area :right_to_work_or_study_details, label: { text: 'Give details' }, hint: { text: 'For example, you have settled status or a permanent residence card' } %>
  <% end %>

  <%= f.govuk_radio_button :right_to_work_or_study, 'no', label: { text: 'Not yet – I will need to apply for permission to work or study in the UK' } do %>
    <p class="govuk-body">Visit <%= govuk_link_to t('service_name.get_into_teaching'), t('get_into_teaching.url_international_candidates') %> for guidance on immigration. You can also <%= govuk_link_to 'speak to an adviser', t('get_into_teaching.url_online_chat') %> if you need help.</p>
  <% end %>
  <%= f.govuk_radio_button :right_to_work_or_study, 'decide_later', label: { text: 'I do not know' } do %>
    <p class="govuk-body">Visit <%= govuk_link_to t('service_name.get_into_teaching'), t('get_into_teaching.url_international_candidates') %> for guidance on immigration. You can also <%= govuk_link_to 'speak to an adviser', t('get_into_teaching.url_online_chat') %> if you need help.</p>
  <% end %>
<% end %>

<%= f.govuk_submit t('save_and_continue') %>
