<%= content_for :body_class, 'app-start-page' %>

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl">Manage your applications quickly and easily</h1>
        <div class="app-masthead__description">
          <p class="govuk-body-l">Try our new service to see how easy it is to use. It’s free for providers and candidates.</p>
        </div>
        <%= govuk_start_now_button(
          text: 'Get started',
          href: @pilot_enrolment_form_url,
          classes: 'govuk-!-margin-bottom-0 app-button--inverted',
        ) %>
        <span class="app-masthead__alternative-action">or <%= govuk_link_to 'sign in', provider_interface_sign_in_path %> if you’ve used it before</span>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-masthead__image">
          <img src="/provider/hero.svg" alt="" role="presentation">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <section class="app-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render ProviderInterface::InformationBannerComponent.new %>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">View applications</h2>
        <p class="govuk-body">See newly submitted applications at a glance.</p>
        <p class="govuk-body">Filter by status, training provider, ratifying body – and soon, reject by default date.</p>
        <p class="govuk-body">Choose who in your organisation can make decisions and view sensitive info.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img src="/provider/view.png" alt="A screenshot of the service showing a list of applications and their statuses.">
      </div>
    </div>
  </section>

  <section class="app-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Review applications</h2>
        <p class="govuk-body">See if candidates have worked with children.</p>
        <p class="govuk-body">Get explanations for gaps in work history.</p>
        <p class="govuk-body">Add notes and create an audit trail.</p>

      </div>
      <div class="govuk-grid-column-one-half">
        <img src="/provider/review.png" alt="A screenshot of the service showing a candidate’s work history.">
      </div>
    </div>
  </section>

  <section class="app-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Respond to applications</h2>
        <p class="govuk-body">Offer a different course, training provider or location.</p>
        <p class="govuk-body">When you reject, give helpful feedback easily and quickly.</p>
        <p class="govuk-body">Notify candidates automatically.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img src="/provider/respond.png" alt="A screenshot of the service showing the ability to respond to an application, and an example of the email a candidate would receive.">
      </div>
    </div>
  </section>

  <section class="app-section app-section--with-top-border">
    <h2 class="govuk-heading-m">Who’s using Apply?</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <dl class="app-count">
          <%= govuk_link_to candidate_interface_providers_path, class: 'app-count__item govuk-link--no-visited-state' do %>
            <dt class="app-count__key">Providers</dt>
            <dd class="app-count__value"><%= number_with_delimiter(@provider_count) %></dd>
          <% end %>
          <%= govuk_link_to candidate_interface_providers_path, class: 'app-count__item govuk-link--no-visited-state' do %>
            <dt class="app-count__key">Courses</dt>
            <dd class="app-count__value"><%= number_with_delimiter(@course_count) %></dd>
          <% end %>
        <dl>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <img src="/provider/providers.png" alt="Logos for Royal Academy of Dance, Shotton Hall SCITT, Suffolk and Norfolk SCITT, Gorse SCITT, Alliance of Leading Learning and SCITTELS.">
      </div>
    </div>
  </section>

  <section class="app-section app-section--with-top-border">
    <h2 class="govuk-heading-m">What providers say</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <blockquote class="govuk-!-margin-0">
          <p class="govuk-body-l">I like the fact that the layout is very clear and easy to read. I like the personal statement split into ‘why’ and ‘subject knowledge’, it really makes a difference. I was singing the service’s praises after the initial meeting and I have been ever since!</p>
        </blockquote>
        <p class="govuk-caption-m">Somerset SCITT</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <blockquote class="govuk-!-margin-0">
          <p class="govuk-body-l">I really like the new DfE system, it’s so much simpler for the candidate. In particular, we like the work history. The way you calculate gaps, so we can explore these at interview, is great – it’s very clever!</p>
        </blockquote>
        <p class="govuk-caption-m">Alliance of Leading Learning</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <blockquote class="govuk-!-margin-0">
          <p class="govuk-body-l">We’re delighted to be one of the providers taking part in the pilot for DfE Apply. We’re passionate about improving the application journey for candidates, so we jumped at the chance to test and shape this new service.</p>
        </blockquote>
        <p class="govuk-caption-m">Gorse SCITT</p>
      </div>
    </div>
  </section>

  <section class="app-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m app-section__title--with-top-border">The team</h2>
        <p class="govuk-body">Our team is constantly making improvements based on feedback from users. To get involved so you can shape the service, email us at <%= bat_contact_mail_to %></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img src="/provider/team.jpg" alt="The Apply team sat round a desk.">
      </div>
    </div>
  </section>
</div>
