<h1 class="govuk-heading-xl">Your profile</h1>

<p class="govuk-body">Title: <%= @candidate.title %></p>

<p class="govuk-body">First name: <%= @candidate.first_name %></p>

<p class="govuk-body">Surname: <%= @candidate.surname %></p>

<p class="govuk-body">Date of birth: <%= @candidate.date_of_birth %></p>

<p class="govuk-body">Gender: <%= @candidate.gender.humanize %></p>

<p class="govuk-body">Address 1: <%= @candidate.address_1 %></p>
<p class="govuk-body">Address 2: <%= @candidate.address_2 %></p>
<p class="govuk-body">Town: <%= @candidate.town %></p>
<p class="govuk-body">County: <%= @candidate.county %></p>
<p class="govuk-body">Post code: <%= @candidate.post_code %></p>
<p class="govuk-body">Country: <%= @candidate.country %></p>
<p class="govuk-body">Mobile: <%= @candidate.mobile %></p>
<p class="govuk-body">Telephone: <%= @candidate.telephone %></p>

<%= link_to 'Edit your profile', profile_edit_path, class: 'govuk-button' %>
