<h1 class="govuk-heading-xl">Your profile</h1>

<p>Title: <%= @candidate.title %></p>

<p>First name: <%= @candidate.first_name %></p>

<p>Surname: <%= @candidate.surname %></p>

<p>Date of birth: <%= @candidate.date_of_birth %></p>

<p>Gender: <%= @candidate.gender.humanize %></p>

<p>Address 1: <%= @candidate.address_1 %></p>
<p>Address 2: <%= @candidate.address_2 %></p>
<p>Town: <%= @candidate.town %></p>
<p>County: <%= @candidate.county %></p>
<p>Post code: <%= @candidate.post_code %></p>
<p>Country: <%= @candidate.country %></p>
<p>Mobile: <%= @candidate.mobile %></p>
<p>Telephone: <%= @candidate.telephone %></p>

<%= link_to 'Edit your profile', profile_edit_path, class: 'govuk-button' %>
