<% content_for :title, 'API tokens' %>

<%= form_with model: VendorApiToken.new, url: support_interface_api_tokens_path do |f| %>
  <%= f.govuk_collection_select :provider_id, Provider.all, :id, :name, label: { text: 'Provider' } %>
  <%= f.govuk_submit 'Create new token' %>
<% end %>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th scope='col' class='govuk-table__header'>ID</th>
      <th scope='col' class='govuk-table__header govuk-!-width-one-third'>Provider</th>
      <th scope='col' class='govuk-table__header govuk-!-width-one-quarter'>Last used at</th>
      <th scope='col' class='govuk-table__header govuk-!-width-one-quarter'>Created at</th>
    </tr>
  </thead>

  <tbody class='govuk-table__body'>
    <% @api_tokens.each do |token| %>
    <tr class='govuk-table__row'>
      <td class='govuk-table__cell'>#<%= token.id %></td>
      <td class='govuk-table__cell'><%= token.provider.name %></td>
      <td class='govuk-table__cell'><%= token.last_used_at ? token.last_used_at.to_s(:govuk_date_and_time) : 'Never' %></td>
      <td class='govuk-table__cell'><%= token.created_at.to_s(:govuk_date_and_time) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
