<% content_for :browser_title, title_with_error_prefix(t('.page_title'), @vendor_api_token.errors.any?) %>

<%= render 'support_interface/providers/providers_navigation', title: 'API tokens' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @vendor_api_token, scope: :vendor_api_token, url: support_interface_api_tokens_path do |form| %>
      <%= form.govuk_error_summary %>

      <h2 class='govuk-heading-l'><%= t('.page_title') %></h2>

      <%= form.govuk_collection_select(
        :provider_id,
        @vendor_api_token.providers_for_select,
        :id,
        :name,
        label: { text: 'Select a provider to generate a token for' },
        aria: { label: 'vendor-api-token-provider-id-field-select' },
        options: { include_blank: true }
      ) %>
      <%= form.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
