<%= content_for :title, t('page_titles.provider.withdrawal_report') %>
<%= content_for :before_content, breadcrumbs(t('page_titles.provider.reports') => provider_interface_reports_path,
                                             t('page_titles.provider.withdrawal_report') => nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"> <%= @provider.name %></span>
      <%= t('.heading') %>
    </h1>
    <%= t('.description_html', link: govuk_link_to(t('.withdrawal_reasons_report_link_text'), provider_interface_reports_provider_withdrawal_reasons_report_path(@provider))) %>
    </div>
  </div>

<% if @submitted_withdrawal_reason_count >= ProviderReports::MINIMUM_DATA_SIZE_REQUIRED %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render ProviderInterface::ReportTableComponent.new(headers: ['Reason',
                                                                       'Withdrawn before a decision',
                                                                       'Withdrawn after accepting',
                                                                       'Total'],
                                                             rows: @withdrawal_data,
                                                             show_footer: true,
                                                             bold_row_headers: false) %>
    </div>
  </div>
<% end %>
