<h2 class="govuk-heading-l" id="important">Version 1.3 changes</h2>

<p class="govuk-heading-s">Show referee details before offer acceptance</p>

<p class="govuk-body">
  Referee details will appear as soon as a reference is added by the candidate,
  but reference feedback will only be included once a candidate has accepted
  an offer and has received a reference.
</p>

<p class="govuk-body">
  As such the following fields have been marked as optional in the <%= govuk_link_to 'reference', '#reference-object' %> objects:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li><code>reference</code></li>
  <li><code>safeguarding_concerns</code></li>
</ul>

<p class="govuk-body">
  References will not appear if their application is unsuccessful (e.g. offer declined, application rejected).
</p>

<p class="govuk-heading-s">Add missing fields to work/volunteering experience</p>

<p class="govuk-body">
  The following object types have been added:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li><%= govuk_link_to 'Month', '#month-object' %></li>
</ul>

<p class="govuk-body">
  The following fields have been added to the <%= govuk_link_to 'work (and volunteering) experience', '#workexperience-object' %> objects:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li><code>skills_relevant_to_teaching</code> (boolean, optional)</li>
  <li><code>start_month</code> (<%= govuk_link_to 'Month', '#month-object' %>)</li>
  <li><code>end_month</code> (<%= govuk_link_to 'Month', '#month-object' %>, optional)</li>
</ul>

<p class="govuk-body">
  The following fields have been deprecated in the <%= govuk_link_to 'work (and volunteering) experience', '#workexperience-object' %> objects:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li><code>start_date</code></li>
  <li><code>end_date</code></li>
</ul>

<p class="govuk-body">
  The following fields have been marked as optional in the <%= govuk_link_to 'work (and volunteering) experience', '#workexperience-object' %> objects:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li><code>description</code></li>
</ul>

<p class="govuk-heading-s">Mark fields as deprecated in <%= govuk_link_to 'application attributes', '#applicationattributes-object' %></p>

<p class="govuk-body">
  The following fields have been marked as deprecated and will be removed in a future release:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li><code>phase</code></li>
</ul>
