<h2 class="govuk-heading-l" id="important">Version 1.6 changes</h2>

<p class="govuk-heading-s">Add the confidentiality status, selected by the referee for the reference</p>

<p class="govuk-body">
  The following field has been added to the <%= govuk_link_to 'reference', '#reference-object' %> object:

<ul class="govuk-list govuk-list--bullet">
  <li><code>confidential</code> (boolean) - This value must be selected by the referee when submitting the reference</li>
</ul>
</p>

<p class="govuk-heading-s">Add inactive to the ApplicationAttribute</p>

<p class="govuk-body">
  The following field has been added to the <%= govuk_link_to 'application', '#applicationattributes-object' %> object:

<ul class="govuk-list govuk-list--bullet">
  <li><code>inactive</code> (boolean, required)</li>
</ul>
</p>

<h3 class="govuk-heading-m govuk-!-margin-top-8">Added to this version in October 2025: </h3>

<p class="govuk-heading-s">Add PreviousTeacherTraining to the ApplicationAttribute<p>

<p class="govuk-body">
  The following field has been added to the <%= govuk_link_to 'application', '#applicationattributes-object' %> object:

<ul class="govuk-list govuk-list--bullet">
  <li><code>previous_teacher_training</code> (<%= govuk_link_to 'PreviousTeacherTraining object', '#previousteachertraining-object' %> , required)</li>
</ul>
</p>

<p class="govuk-heading-s">Add optional course parameter to confirm-deferred-offer endpoint<p>

<p class="govuk-body">
  The following field has been added to the <%= govuk_link_to 'ConfirmDeferredOffer', '#confirmdeferredoffer-object' %> object:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><code>course</code> (<%= govuk_link_to 'Course object', '#course-object' %>, optional) - If provided with requests to the <%= govuk_link_to 'confirm-deferred-offer', '#post-applications-application_id-confirm-deferred-offer' %> endpoint, the call will succeed with updated course details.</li>
</ul>
