<% content_for :before_content, govuk_back_link_to(:back, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.accessibility') %></h1>

    <h2 class="govuk-body">Apply for teacher training run by the Department for Education.</h2>

    <h2 class="govuk-body">To make this service accessible, we:</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>designed it using GOV.UK accessible design principles</li>
      <li>carried out an accessibility audit</li>
      <li>tested the service with users who have access needs</li>
    </ul>

    <h2 class="govuk-heading-m">What to do if you cannot access parts of this website</h2>

    <p class="govuk-body">If you need information on this website in a different format, such as accessible PDF,
      large print, easy read, audio recording or braille, email <%= bat_contact_mail_to %></p>

    <p class="govuk-body">We’ll respond within 5 working days.</p>

    <p class="govuk-body"><%= govuk_link_to('AbilityNet', t('ability_net.url')) %> has advice on making your device
      easier to use if you’re disabled.</p>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>

    <p class="govuk-body">If you have any problems accessing the service or want to give feedback, email
      <%= bat_contact_mail_to %></p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>

    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public
      Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
      (the ‘accessibility regulations’).</p>

    <p class="govuk-body">If you’re not happy with how we respond to your complaint, you can contact the
      <%= govuk_link_to('Equality Advisory and Support Service (EASS)', t('equality_advisory_service.url')) %></p>

    <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>

    <p class="govuk-body">The Department for Education is committed to making its website services accessible,
      in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations
      2018.</p>

    <p class="govuk-body">This website is compliant with the
      <%= govuk_link_to('Web Content Accessibility Guidelines version 2.1', t('web_content_accessibility_guidelines.url')) %> AA standard.</p>

    <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

    <p class="govuk-body">We’ll continue to test the accessibility of this service as it develops.</p>

    <p class="govuk-body">This statement was prepared on 29 November 2019.</p>
  </div>
</div>
