<%= content_for :title, t('page_titles.sandbox') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('page_titles.sandbox') %></h1>

    <p class="govuk-body">The Apply sandbox is a test environment which allows you to experience the service as a candidate, training provider and software vendor.</p>

    <p class="govuk-body">You can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>sign in as a candidate and submit an application</li>
      <li>sign in as a training provider and process an application</li>
      <li>test Apply’s <%= govuk_link_to 'API integrations', 'https://www.apply-for-teacher-training.service.gov.uk/api-docs' %></li>
    </ul>

    <p class="govuk-body">Throughout, you will be able to give us feedback so we can improve the service.</p>

    <h2 class="govuk-heading-l">Course data in the sandbox</h2>
    <p class="govuk-body"><strong>The live Apply service</strong> gets its course data from the <%= govuk_link_to 'Teacher training courses API', t('teacher_training_courses_api.documentation_url') %>. Training providers update those courses using <%= govuk_link_to 'Publish teacher training courses', t('publish_teacher_training_courses.production_url') %>.</p>

    <p class="govuk-body"><strong>The Apply sandbox</strong> gets its course data from a sandbox version of the Teacher training courses API. As a training provider you can access <%= govuk_link_to 'a sandbox version of Publish', t('publish_teacher_training_courses.sandbox_url') %> where you will be able to create and edit courses just as you would on the live service, and see them on the <%= govuk_link_to "sandbox version of #{t('service_name.find')}", t('find_postgraduate_teacher_training.sandbox_url') %>.</p>

    <p class="govuk-body">To request access to the Publish sandbox, email us at <%= bat_contact_mail_to %>.</p>

    <h2 class="govuk-heading-l">Get started as a candidate</h2>

    <p class="govuk-body">You will be asked to enter your email address to open a candidate account in the Apply sandbox.</p>

    <p class="govuk-body">Please do not use anybody else’s address, as the system will generate real emails as part of the test.</p>

    <p class="govuk-body">Any other data you enter should be anonymised or invented.</p>

    <h3 class="govuk-heading-m">A note on references</h3>

    <p class="govuk-body">The way references are requested changed in September 2022. Previously candidates needed to receive 2 references before they submitted their application. Now candidates just need to give details of at least 2 people who can give a reference if they later accept an offer. </p>

    <p class="govuk-body">Once a provider makes an offer to a candidate, the candidate will review the details of the people they gave as references and then emails are sent to those people to ask for a reference. Providers will be able to see the references as soon as they are given.</p>

    <p class="govuk-body">In the Apply sandbox, when you give details of 2 references in your test application, you can use your own email address or you can use dummy email addresses that we've set up, these are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>refbot1@example.com</li>
      <li>refbot2@example.com</li>
    </ul>

    <%= govuk_start_button(
      text: 'Continue as a candidate',
      href: candidate_interface_account_path,
    ) %>

    <h2 class="govuk-heading-l">Get started as a training provider</h2>

    <p class="govuk-body">To test the service as a training provider, you will need to open a Department for Education (DfE) Sign-In account.</p>

    <p class="govuk-body">Email <%= bat_contact_mail_to %> to request access.</p>

    <h3 class="govuk-heading-m">Test as a candidate</h3>

    <p class="govuk-body">From the provider interface in the sandbox, you will be able to sign in as a specific candidate. This is useful if you have generated test applications via the API.</p>

    <%= govuk_start_button(
      text: 'Continue as a training provider',
      href: provider_interface_path,
    ) %>

    <h2 class="govuk-heading-l">Get started with the API</h2>

    <p class="govuk-body">Our API allows you to integrate your software with our service.</p>

    <p class="govuk-body">In the sandbox, you will be able to test your integration. You will also be able to generate dummy applications to process as a training provider.</p>

    <%= govuk_start_button(
      text: 'Review our API documentation',
      href: 'https://www.apply-for-teacher-training.service.gov.uk/api-docs',
    ) %>

    <h2 class="govuk-heading-l">Help and support</h2>

    <p class="govuk-body">Email us at <%= bat_contact_mail_to %> for support using Apply sandbox or any other aspect of the <%= service_name %> service.</p>
  </div>
</div>
