<%= content_for :title, t('page_titles.apply_privacy_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.apply_privacy_title') %></h1>

    <p class='govuk-body'>
      Read the Privacy information: <%= govuk_link_to(
        "education providers' workforce, including teachers",
        t('privacy_urls.education_providers_workforce.url'),
      ) %>.
    </p>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to('Section 6', t('privacy_urls.education_providers_workforce.section_6')) %>
        tells you what we do with your data to help support teaching as a career.
      </li>
      <li>
        <%= govuk_link_to('Section 14', t('privacy_urls.education_providers_workforce.section_14')) %>
        tells you how we use your data to contact you for research or feedback on services we provide to you.
      </li>
      <li>
        <%= govuk_link_to('Section 15', t('privacy_urls.education_providers_workforce.section_15')) %>
        tells you how we use your data to gather evidence for policy development, evaluation and delivery.
      </li>
      <li>
        <%= govuk_link_to('Section 18', t('privacy_urls.education_providers_workforce.section_18')) %>
        tells you how we use your data for safeguarding.
      </li>
      <li>
        <%= govuk_link_to('Section 25', t('privacy_urls.education_providers_workforce.section_25')) %>
        tells you how we use your data to maintain a list of teachers.
      </li>
      <li>
        <%= govuk_link_to('Section 29', t('privacy_urls.education_providers_workforce.section_29')) %>
        tells you how we use your data when you contact us to make an enquiry.
      </li>
      <li>
        <%= govuk_link_to('Section 30', t('privacy_urls.education_providers_workforce.section_30')) %>
        tells you how we use your data when you use our websites.
      </li>
      <li>
        <%= govuk_link_to('Section 41', t('privacy_urls.education_providers_workforce.section_41')) %>
        tells you how we use your data when we are testing our IT systems.
      </li>
      <li>
        <%= govuk_link_to('Section 43', t('privacy_urls.education_providers_workforce.section_43')) %>
        tells you how to contact us to make a complaint.
      </li>
    </ul>
  </div>
</div>
