<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('page_titles.terms_candidate') %></h1>

    <h2 class="govuk-heading-m">Your responsibility</h2>

    <p class="govuk-body">These terms and conditions set out the standards the Department for Education (DfE) expects when you use this service to: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>apply to initial teacher training courses</li>
      <li>contact other people using this service</li>
      <li>link to this service, or interact with it in any other way</li>
    </ul>

    <p class="govuk-body">By using Apply for teacher training (Apply) you are agreeing to these terms. If you do not agree, you must stop using the service.</p>

    <p class="govuk-body">If you do not follow these terms and conditions, your application might be withdrawn and your account might be blocked.</p>

    <p class="govuk-body">Using this service also means you agree to the <%= govuk_link_to('GOV.UK terms and conditions', t('govuk.terms_conditions_url')) %>.</p>

    <p class="govuk-body">Everything you include in your application form must be truthful and accurate.</p>

    <p class="govuk-body">When you use this service, you will create an account. It is your responsibility to keep your account details safe. You should not share them with anyone else.</p>

    <h2 class="govuk-heading-m">Prohibited uses</h2>

    <p class="govuk-body">You must not:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>use the service for illegal or fraudulent reasons</li>
      <li>gather or use data from the service</li>
      <li>use abusive language or act abusively towards anyone you come into contact with through using this service</li>
    </ul>

    <h2 class="govuk-heading-m">Applying for courses</h2>

    <h3 class="govuk-heading-s">Submitting your applications</h3>

    <p class="govuk-body">You can submit up to <%= max_course_choices %> applications to different training providers or courses.</p>

    <h3 class="govuk-heading-s">Applying again if an application does not lead to a place on a course</h3>

    <p class="govuk-body">After you have submitted 4 applications, you can submit another application if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a training provider does not make a decision on an application within 30 working days</li>
      <li>you decline an offer</li>
      <li>an application is unsuccessful</li>
      <li>you withdraw an application</li>
    </ul>

    <p class="govuk-body">You will not be able to submit another application in the same recruitment cycle if you have already submitted more than <%= ApplicationForm::MAXIMUM_NUMBER_OF_UNSUCCESSFUL_APPLICATIONS %> applications in that cycle that have a status of:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>withdrawn</li>
      <li>unsuccessful</li>
      <li>declined</li>
      <li>conditions not met</li>
      <li>offer withdrawn</li>
    </ul>

    <p class="govuk-body">A recruitment cycle starts in October and lasts for 12 months.</p>

    <h3 class="govuk-heading-s">Making changes to your application</h3>

    <p class="govuk-body">After submitting your first application, you can email becomingateacher@digital.education.gov.uk within 5 working days to ask to make changes to some sections if you have made a mistake.</p>
    <p class="govuk-body">You can ask for these sections to be changed:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your English, maths or science GCSE or equivalent qualifications</li>
      <li>your A levels and other qualifications</li>
      <li>your degree</li>
      <li>your work history</li>
      <li>unpaid experience</li>
      <li>your references</li>
      <li>safeguarding information</li>
    </ul>

    <p class="govuk-body">Some sections are always editable after you have submitted your first application. You will not need to email us to make changes to the following sections:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Personal information</li>
      <li>Contact information</li>
      <li>Personal statement</li>
      <li>Asking for support if you are disabled</li>
      <li>Interview availability</li>
      <li>Equality and diversity questions</li>
    </ul>

    <p class="govuk-body">If you make changes to your application after submitting it, you should tell the training provider you applied to.</p>

    <h3 class="govuk-heading-s">Withdrawing your application</h3>

    <p class="govuk-body">You can withdraw your application at any point, even after you have accepted an offer. If you withdraw, we will ask you why, but telling us why you are withdrawing is optional.</p>

    <h3 class="govuk-heading-s">Application outcome</h3>

    <p class="govuk-body">If a training provider wants to make a change to an offer you have accepted, they will contact you to get your permission.</p>

    <h3 class="govuk-heading-s">Criminal convictions</h3>

    <p class="govuk-body">You will be asked about any criminal convictions in the application form. You will need to have an enhanced DBS check if you accept a place on a course. This will show up spent or unspent criminal convictions. </p>

    <p class="govuk-body">Your name will also be checked against a list of people who’ve been barred from working with children. It is an offence to apply for a course if you have been barred from working with children.</p>

    <p class="govuk-body">Some convictions will not show up on a DBS check, and do not need to be disclosed. You can <%= govuk_link_to('check if you need to tell someone about your criminal record', t('tell_employee_about_criminal_record.url')) %>. Not all convictions will stop you from teaching. Talk to your provider about their policy on criminal convictions.</p>

    <h3 class="govuk-heading-s">Your account</h3>

    <p class="govuk-body">When you start your application, you will create an account. You must not create more than one account.</p>

    <h2 class="govuk-heading-m">Breach of our terms and conditions</h2>

    <p class="govuk-body">If you breach these terms and conditions, your account could be blocked and you may be prevented from making another account.</p>

    <h2 class="govuk-heading-m">Department for Education (DfE) responsibility</h2>

    <p class="govuk-body">The DfE does not make any decisions on individual applications.</p>

    <p class="govuk-body">The DfE does not investigate complaints about individual applications.</p>

    <h2 class="govuk-heading-m">Other policies</h2>

    <p class="govuk-body">You can <%= govuk_link_to('make a complaint or give feedback about this service', candidate_interface_complaints_path) %>.</p>

    <p class="govuk-body">Our <%= govuk_link_to('privacy notice', candidate_interface_privacy_policy_path) %> explains how we keep your data safe.</p>

    <h2 class="govuk-heading-m">Changes to these terms and conditions</h2>

    <p class="govuk-body">Check these terms and conditions regularly. The DfE can update them at any time without notice.</p>

    <p class="govuk-body">If you continue to use our service once the terms and conditions are updated, you agree to any of the changes we’ve made.</p>

    <p class="govuk-body">Last updated 9 October 2023.</p>

  </div>
</div>
