<% content_for :title, t('page_titles.references_send_request') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_references_review_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @request_form,
      url: candidate_interface_references_create_request_path(@reference.id),
    ) do |f| %>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @reference.name %></span>
        <%= t('page_titles.references_send_request') %>
      </h1>

      <p class="govuk-body">
        We’ll send <%= @reference.name %> an email asking them to give you a reference.
      </p>

      <%= f.govuk_text_field :request_now, label: { hidden: true }, hidden: true %>

      <%= f.govuk_submit t('application_form.references.send_request.confirm') %>

      <p class="govuk-body">
        <%= govuk_link_to t('application_form.references.send_request.cancel'), candidate_interface_references_review_path %>
      </p>
    <% end %>
  </div>
</div>
