<h2 class="govuk-heading-m">Need help?</h2>
<p class="govuk-footer__meta-custom">
  Email us on <%= bat_contact_mail_to(html_options: { class: 'govuk-footer__link' }) %> and we can give you personalised&nbsp;support.
</p>
<ul class="govuk-footer__inline-list">
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.accessibility'), candidate_interface_accessibility_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.terms_of_use'), candidate_interface_terms_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.privacy_policy'), candidate_interface_privacy_policy_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.cookie_policy'), candidate_interface_cookies_path, class: 'govuk-footer__link' %>
  </li>
</ul>
