<h2 class="govuk-heading-m">Need help?</h2>
<div class="govuk-footer__meta-custom">
  Call <%= link_to 'Get into Teaching', 'https://getintoteaching.education.gov.uk', class: 'govuk-footer__link' %> on Freephone 0800 389 2500 or chat to an adviser using their <%= link_to 'online chat service', 'https://getintoteaching.education.gov.uk/lp/live-chat', class: 'govuk-footer__link' %> between 8am and 8pm, Monday to Friday
</div>
<ul class="govuk-footer__inline-list">
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.accessibility'), candidate_interface_accessibility_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.terms_of_use'), candidate_interface_terms_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.privacy_policy'), candidate_interface_privacy_policy_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.cookie_policy'), candidate_interface_cookies_path, class: 'govuk-footer__link' %>
  </li>
</ul>
