<h2 class="govuk-heading-m"><%= t('layout.support.title') %></h2>
<p class="govuk-body-s govuk-!-margin-bottom-1">Call <%= t('get_into_teaching.tel') %> or <%= govuk_link_to_with_utm_params 'chat online', t('get_into_teaching.url_online_chat'), utm_campaign(params), current_candidate&.current_application.present? ? current_candidate.current_application.phase : t('layout.support_links.not_logged_in'), class: 'govuk-footer__link' %>.</p>
<p class="govuk-body-s govuk-!-margin-bottom-1"><%= t('get_into_teaching.opening_times') %></p>

<div class="govuk-!-margin-bottom-5">
  <%= link_to t('layout.support_links.candidate_complaints'), candidate_interface_complaints_path, class: 'govuk-footer__link' %>
</div>

<h2 class="govuk-visually-hidden"><%= t('layout.support_links.title') %></h2>
<ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.accessibility'), candidate_interface_accessibility_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.cookies'), candidate_interface_cookies_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.privacy_policy'), candidate_interface_privacy_policy_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.terms_of_use'), candidate_interface_terms_path, class: 'govuk-footer__link' %>
  </li>
    <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.guidance_for_using_ai'), candidate_interface_guidance_for_using_ai_path, class: 'govuk-footer__link' %>
  </li>
</ul>
