<h2 class="govuk-heading-m"><%= t('layout.support.title') %></h2>
<ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
  <li>Email: <%= bat_contact_mail_to(html_options: { class: 'govuk-footer__link' }) %></li>
  <li><%= t('layout.support.response_time') %></li>
</ul>
<h2 class="govuk-visually-hidden"><%= t('layout.support_links.title') %></h2>
<ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.accessibility'), candidate_interface_accessibility_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.cookies'), candidate_interface_cookies_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.complaints'), candidate_interface_complaints_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.privacy_policy'), candidate_interface_privacy_policy_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.terms_of_use'), candidate_interface_terms_path, class: 'govuk-footer__link' %>
  </li>
</ul>
