<h2 class="govuk-heading-m"><%= t('layout.support.title') %></h2>

<div class="govuk-footer__meta-custom">
  <div class="govuk-grid-row">
    <% if FeatureFlag.active?(:enable_chat_support) %>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-!-padding-right-1">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Online chat
          </h3>

          <noscript>
            <p><%= t('layout.support_links.enable_javascript') %></p>
          </noscript>

          <%= govuk_link_to t('layout.support_links.speak_to_adviser'), '#', style: 'display: none', id: 'messaging-button' %>
        </div>
      </div>
    <% end %>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1"> Email </h3>
      <p class="govuk-!-margin-top-0 govuk-!-font-size-16 govuk-!-margin-bottom-1"><%= bat_contact_mail_to(html_options: { class: 'govuk-footer__link' }) %></p>
      <p class="govuk-!-margin-top-0 govuk-!-font-size-16"><%= t('layout.support.response_time') %></p>
    </div>
  </div>
</div>

<h2 class="govuk-visually-hidden"><%= t('layout.support_links.title') %></h2>
<ul class="govuk-footer__inline-list">
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support.provider_service_guidance'), provider_interface_service_guidance_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.accessibility'), provider_interface_accessibility_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.cookies'), provider_interface_cookies_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.privacy_policy'), provider_interface_privacy_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.guidance_for_using_ai'), provider_interface_guidance_for_using_ai_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.find_candidates_roadmap'), provider_interface_roadmap_path, class: 'govuk-footer__link' %>
  </li>
</ul>
