<% if current_support_user %>
  <h2 class="govuk-heading-m">Product development</h2>

  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <%= govuk_link_to 'Provider application flow', support_interface_provider_flow_path %>
    </li>

    <li class="govuk-footer__inline-list-item">
      <%= govuk_link_to 'Candidate application flow', support_interface_candidate_flow_path %>
    </li>

    <li class="govuk-footer__inline-list-item">
      <%= govuk_link_to 'When emails are sent', support_interface_when_emails_are_sent_path %>
    </li>

    <% if Rails.application.config.action_mailer.show_previews %>
    <li class="govuk-footer__inline-list-item">
      <%= govuk_link_to 'Mail previews', '/rails/mailers' %>
    </li>
    <% end %>

    <% if Rails.application.config.view_component.show_previews %>
    <li class="govuk-footer__inline-list-item">
      <%= govuk_link_to 'Component previews', '/rails/components' %>
    </li>
    <% end %>
  </ul>
<% end %>
