<ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
  <% if current_support_user %>
    <%= nav_link 'Candidates', support_interface_candidates_path, active: %w[candidates import_references] %>
    <%= nav_link 'API Tokens', support_interface_tokens_path, active: 'api_tokens' %>
    <%= nav_link 'Providers', support_interface_providers_path, active: 'providers' %>
    <%= nav_link 'Features', support_interface_feature_flags_path, active: 'feature_flags' %>
    <%= nav_link 'Performance', support_interface_performance_path, active: 'performance' %>
    <%= nav_link 'Tasks', support_interface_tasks_path, active: 'tasks' %>
    <%= nav_link 'Users', support_interface_support_users_path, active: 'users' %>
  <% end %>

  <% if dfe_sign_in_user %>
    <li class="govuk-header__navigation-item">
      <b><%= dfe_sign_in_user.email_address %></b>
    </li>

    <li class="govuk-header__navigation-item">
      <%= link_to 'Sign out', support_interface_sign_out_path, class: 'govuk-header__link' %>
    </li>
  <% end %>
</ul>
