<!DOCTYPE html>
<html>
  <head>
    <title>Apply to become a teacher - Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>Admin</h1>

    <p><%= link_to('Logout', destroy_admin_user_session_path, method: :delete) %></p>

    <%= yield %>
  </body>
</html>
