<!DOCTYPE html>
<html>
  <head>
    <title>Apply to become a teacher - Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>Apply to become a teacher: Admin</h1>

    <% if current_admin_user.present? %>
      <p><%= link_to 'Sign out', destroy_admin_user_session_path, method: :delete %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
