<% content_for :body do %>
  <div class="govuk-width-container">
    <%= render 'layouts/phase_banner' %>

    <%= yield(:before_content) %>
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= render(FlashMessageComponent, flash: flash) %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </div>
<% end %>

<%= render template: 'layouts/base' %>
