<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%= render 'shared/analytics' if @google_analytics_id.present? %>
    <%= render 'shared/tag_manager' if @google_tag_manager_id.present? %>
    <meta charset="utf-8">
    <title><%= try(:browser_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="<%= asset_pack_path('media/images/favicon.ico') %>" type="image/x-icon">
    <link rel="mask-icon" href="<%= asset_pack_path('media/images/govuk-mask-icon.svg') %>" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png') %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png') %>">
    <link rel="apple-touch-icon" href="<%= asset_pack_path('media/images/govuk-apple-touch-icon.png') %>">

    <meta property="og:image" content="<%= asset_pack_path('media/images/govuk-opengraph-image.png') %>">

    <% case try(:current_namespace) %>
    <% when 'candidate_interface' %>
      <%= stylesheet_pack_tag 'application-candidate', media: 'all' %>
    <% when 'support_interface' %>
      <%= stylesheet_pack_tag 'application-support', media: 'all' %>
    <% when 'provider_interface' %>
      <%= stylesheet_pack_tag 'application-provider', media: 'all' %>
    <% when /api_docs/ %>
      <%= stylesheet_pack_tag 'application-api-docs', media: 'all' %>
    <% else %>
      <%= stylesheet_pack_tag 'application', media: 'all' %>
    <% end %>
  </head>

  <body class="govuk-template__body <%= yield :body_class %>">
    <script nonce="<%= request.content_security_policy_nonce %>">
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= render CookieBannersComponent.new(current_namespace: try(:current_namespace), request_path: request.path) %>

    <%= govuk_skip_link %>

    <%= render 'layouts/header' %>

    <%= content_for?(:body) ? yield(:body) : yield %>

  <% if @render_application_feedback_component %>
    <%= render(CandidateInterface::ApplicationFeedbackComponent.new(
      path: request.env['PATH_INFO'],
      page_title: try(:browser_title).split(' - Apply for teacher training - GOV.UK').first,
    )) %>
  <% end %>

    <%= render 'layouts/footer' %>

    <% case try(:current_namespace) %>
    <% when 'candidate_interface' %>
      <%= javascript_pack_tag 'application-candidate' %>
      <%= render 'shared/zendesk_snippet' if HostingEnvironment.test_environment? %>
    <% when 'support_interface' %>
      <%= javascript_pack_tag 'application-support' %>
    <% when 'provider_interface' %>
      <%= render 'shared/zendesk_snippet' if HostingEnvironment.test_environment? %>
      <%= javascript_pack_tag 'application-provider' %>
    <% when /api_docs/ %>
      <%= javascript_pack_tag 'application-api-docs' %>
    <% else %>
      <%= javascript_pack_tag 'application' %>
    <% end %>

  </body>
</html>
