<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <head>
    <%= render 'shared/analytics' if @google_analytics_id.present? %>
    <%= render 'shared/tag_manager' if @google_tag_manager_id.present? %>
    <meta charset="utf-8">
    <title><%= try(:browser_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="<%= asset_pack_path('media/images/favicon.ico') %>" type="image/x-icon">
    <link rel="mask-icon" href="<%= asset_pack_path('media/images/govuk-icon-mask.svg') %>" color="#0b0c0c">
    <link rel="apple-touch-icon" href="<%= asset_pack_path('media/images/govuk-icon-180.png') %>">

    <meta property="og:image" content="<%= asset_pack_path('media/images/govuk-opengraph-image.png') %>">

    <% case try(:current_namespace) %>
    <% when 'candidate_interface' %>
      <%= stylesheet_pack_tag 'application-candidate', media: 'all' %>
    <% when 'support_interface' %>
      <%= stylesheet_pack_tag 'application-support', media: 'all' %>
    <% when 'provider_interface' %>
      <%= stylesheet_pack_tag 'application-provider', media: 'all' %>
    <% when 'publications' %>
      <%= stylesheet_pack_tag 'application-publications', media: 'all' %>
    <% when /api_docs/ %>
      <%= stylesheet_pack_tag 'application-api-docs', media: 'all' %>
    <% else %>
      <%= stylesheet_pack_tag 'application', media: 'all' %>
    <% end %>
  </head>

  <body class="govuk-template__body <%= yield :body_class %>">
    <script nonce="<%= request.content_security_policy_nonce %>">
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= render CookieBannersComponent.new(current_namespace: try(:current_namespace), request_path: request.path, cookies: cookies) %>

    <%= govuk_skip_link %>

    <%= render 'layouts/header' %>

    <%= content_for?(:body) ? yield(:body) : yield %>

  <% if @render_application_feedback_component %>
    <%= render(CandidateInterface::ApplicationFeedbackComponent.new(
      path: request.env['PATH_INFO'],
      page_title: try(:browser_title).split(' - Apply for teacher training - GOV.UK').first,
    )) %>
  <% end %>

    <%= render 'layouts/footer' %>

    <% case try(:current_namespace) %>
    <% when 'candidate_interface' %>
      <%= javascript_pack_tag 'application-candidate', data: { 'clarity-id': ENV.fetch('CLARITY_PROJECT_ID', '') } %>
    <% when 'support_interface' %>
      <%= javascript_pack_tag 'application-support' %>
    <% when 'provider_interface' %>
      <%= javascript_pack_tag 'application-provider', data: { 'clarity-id': ENV.fetch('CLARITY_PROJECT_ID', '') } %>
      <% if FeatureFlag.active?(:enable_chat_support) %>
        <%= render 'shared/zendesk_snippet' %>
        <%= javascript_pack_tag 'user-support-webchat' %>
      <% end %>
    <% when 'publications' %>
      <%= javascript_pack_tag 'application-publications' %>
    <% when /api_docs/ %>
      <%= javascript_pack_tag 'application-api-docs' %>
    <% else %>
      <%= javascript_pack_tag 'application' %>
    <% end %>

  </body>
</html>
