<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= try(:browser_title) %></title>

    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="<%= image_path('rebrand/images/favicon.ico') %>" type="image/x-icon">
    <link rel="mask-icon" href="<%= image_path('rebrand/images/govuk-icon-mask.svg') %>" color="#0b0c0c">
    <link rel="apple-touch-icon" href="<%= image_path('rebrand/images/govuk-icon-180.png') %>">

    <meta property="og:image" content="<%= image_path('rebrand/images/govuk-opengraph-image.png') %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="govuk-template__body">
    <%= render(HeaderComponent.new(
      classes: "app-header--#{HostingEnvironment.environment_name}",
      service_name: t('service_name.apply'),
      service_link: '#',
    )) %>
    <%= render PhaseBannerComponent.new %>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
    <%= govuk_footer(classes: 'govuk-!-display-none-print') do |footer| %>
      <%= footer.meta do %>
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-heading-m">Get help</h2>
        <div class="govuk-grid-row govuk-!-margin-bottom-5">
          <div class=" govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
            <p class="govuk-!-margin-top-0 govuk-!-font-size-16 govuk-!-margin-bottom-1">
              <a class="govuk-footer__link" href=" mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>
            <p class="govuk-!-margin-top-0 govuk-!-font-size-16"><%= t('layout.support.response_time') %></p>
          </div>
        </div>
      </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo govuk-!-margin-bottom-1" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
