<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<p class="govuk-body">
  <% if reference_status.number_of_references_that_currently_need_replacing == 1 %>
    <%= reason_for_replacement(references_that_need_replacement.first) %>.
  <% else %>
    Your referees have not given us a reference:
    <ul class="govuk-list govuk-list--bullet">
      <% references_that_need_replacement.each do |ref| %>
        <li class="govuk-body"><%= reason_for_replacement(ref) %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p class="govuk-body">We can’t send your application to your teacher training providers without 2 complete references.</p>

<% if reference_status.number_of_references_that_currently_need_replacing == 1 %>
  <p> <%= govuk_button_link_to 'Add a new referee', candidate_interface_new_additional_referee_path %></p>
  <p class="govuk-body"><%= govuk_link_to 'Continue without adding a new referee', candidate_interface_application_complete_path %></p>
<% else %>
   <%= govuk_button_link_to 'Add new referees', candidate_interface_new_additional_referee_path %>
  <p class="govuk-body"><%= govuk_link_to 'Continue without adding new referees', candidate_interface_application_complete_path %></p>
<% end %>
