<%= content_for :title, t('page_titles.your_applications') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.your_applications') %>
</h1>

<p class="govuk-body">
  The deadline for applying to courses in the <%= academic_year %> academic year had passed.
</p>

<% if january_courses? %>
  <div>
    <%= render CandidateInterface::ApplicationChoices::SeptemberStartContentComponent.new(application_form: relative_application_form) %>
  </div>

  <div class="govuk-!-margin-top-4">
    <%= render CandidateInterface::ApplicationChoices::JanuaryStartContentComponent.new(application_form: relative_application_form) %>
  </div>
<% else %>
  <div>
    <%= render CandidateInterface::ApplicationChoices::SeptemberStartContentComponent.new(
      application_form: relative_application_form,
      heading: 'What happens next?',
      heading_class: 'govuk-heading-m',
      with_tabs: true,
    ) %>
  </div>
<% end %>

<div class="govuk-!-margin-top-4">
  <%= render CandidateInterface::PrepareForNextCycleContentComponent.new(application_form: application_form) %>
</div>


