<% content_for :title, t('page_titles.start_carry_over_between_cycles') %>

<h1 class="govuk-heading-l">
  <%= t('page_titles.start_carry_over_between_cycles') %>
</h1>

<p class="govuk-body">
  <%= t(
        '.application_deadline_has_passed_for_academic_year',
        academic_year: academic_year,
        start_month_year: application_form_start_month_year,
      ) %>
</p>

<% application_choices_conditional_content.each do |paragraph| %>
  <p class="govuk-body">
    <%= paragraph %>
  </p>
<% end %>

<h2 class="govuk-heading-m">
  <%= t('.what_happens_next', next_academic_year: next_academic_cycle) %>
</h2>

<p class="govuk-body">
  <%= find_opens_text %>
</p>

<p class="govuk-body">
  <%= apply_opens_text %>
</p>

<p class="govuk-body">
  <%= t('.before_you_can_apply_again') %>
  <%= govuk_list(
        [
          t('.confirm_references'),
          t('.enter_equality_and_diversity'),
          t('.enter_previous_teacher_training'),
        ],
        type: :bullet,
      ) %>
</p>

<% if show_button? %>
  <%= govuk_button_link_to t('carried_over_content_component.add_application_choice'), candidate_interface_course_choices_do_you_know_the_course_path %>
<% end %>
