<% if application_choice.inactive? && can_add_more_choices? %>
  <%= govuk_warning_text(text: "Application submitted #{time_ago_in_words(application_choice.sent_to_provider_at)} ago. You can #{govuk_link_to('add an application', candidate_interface_course_choices_do_you_know_the_course_path)} for a different training provider while you wait for a decision on this application.".html_safe) %>
<% end %>

<%= render SummaryListComponent.new(rows: rows) %>

<% if show_what_happens_next? %>
  <h2 class="govuk-heading-m">What happens next</h2>
  <% if application_choice.awaiting_provider_decision? %>
    <p class="govuk-body">The provider will review your application and let your know when they have a made a decision. In the meantime, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>contact the provider directly if you have any questions</li>
      <li>find out more about <%= govuk_link_to('funding your training', t('get_into_teaching.url_funding_and_support'), target: '_blank') %></li>
      <li>get help from a <%= govuk_link_to('teacher training advisor', t('get_into_teaching.url_get_an_adviser_signup'), target: '_blank') %></li>
    </ul>
  <% elsif application_choice.interviewing? %>
    <p class="govuk-body">Congratulations on being invited for an interview! This is an important stage in successfully getting a place on a teacher training course.</p>
    <p class="govuk-body">Learn more about what to expect and <%= govuk_link_to 'how to prepare for an interview', t('get_into_teaching.url_teacher_training_interview'), target: '_blank' %>.</p>
  <% elsif application_choice.inactive? %>
    <p class="govuk-body">The provider will review your application and let you know when they have made a decision. In the meantime, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <% if can_add_more_choices? %>
        <li><%= govuk_link_to 'submit another application', candidate_interface_course_choices_do_you_know_the_course_path %> while you wait for a decision on this one</li>
      <% end %>
      <li>contact the provider directly if you have any questions</li>
      <li>find out more about <%= govuk_link_to 'funding your training', t('get_into_teaching.url_funding_and_support'), target: '_blank' %></li>
      <li>get help from a <%= govuk_link_to 'teacher training adviser', t('get_into_teaching.url_get_an_adviser_signup'), target: '_blank' %></li>
    </ul>
  <% end %>
<% end %>

<% if show_withdraw? %>
  <h2 class="govuk-heading-m">Withdraw your application</h2>
  <p class="govuk-body">You can <%= govuk_link_to 'withdraw this application', path_for_withdrawals %> if you no longer wish to be considered for this course.</p>
<% end %>

<% if show_provider_contact_component? %>
  <%= render(CandidateInterface::ProviderContactInformationComponent.new(provider:)) %>
<% end %>
