<% application_choices.each do |application_choice| %>
  <div class="<%= container_class(application_choice) %>" id="course-choice-<%= application_choice.id %>" data-qa="application-choice-<%= application_choice.id %>">
  <%= render(SummaryCardComponent.new(rows: course_choice_rows(application_choice), editable: @editable)) do %>
    <%= render(SummaryCardHeaderComponent.new(
      title: title_for(application_choice),
      heading_level: @heading_level,
    )) do %>
      <div class="app-summary-card__actions">
        <%= govuk_link_to 'View application', candidate_interface_application_review_submitted_path %>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
