<% if any_enrolled? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">
    <%= t('application_complete.dashboard.enrolled') %>
  </h2>
<% elsif any_accepted_offer? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">
    <%= t('application_complete.dashboard.accepted_offer') %>
  </h2>

  <p class="govuk-body">
    We’ve sent you an email to confirm this. Your training provider will be in
    touch with you direct to explain what happens next.
  </p>
<% elsif all_choices_withdrawn? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">
    <%= t('application_complete.dashboard.all_withdrawn') %>
  </h2>
<% elsif all_provider_decisions_made? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">
    <%= t('application_complete.dashboard.all_provider_decisions_made') %>
  </h2>

  <% if any_offers? %>
    <p class="govuk-body">
      You have <%= decline_by_default_remaining_days %> days (until <%= decline_by_default_date %>) to respond to any offers. If you
      don’t respond, your applications will be automatically withdrawn.
    </p>
  <% end %>
<% elsif any_offers? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">
    <%= t('application_complete.dashboard.some_provider_decisions_made') %>
  </h2>

  <p class="govuk-body">
    <%= t('application_complete.dashboard.providers_respond_by', date: respond_by_date) %>
  </p>

  <p class="govuk-body">
    If you accept an offer now, your remaining applications will be withdrawn.
  </p>
<% elsif any_awaiting_provider_decision? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">Courses you’ve applied to</h2>

  <p class="govuk-body">
    <%= t('application_complete.dashboard.providers_respond_by', date: respond_by_date) %>
  </p>
<% elsif editable? %>
  <h2 class="govuk-heading-m govuk-!-font-size-27">Courses you’ve applied to</h2>

  <div class="govuk-inset-text">
    <p class="govuk-body">
      You have <%= formatted_days_remaining %>
      (until <%= edit_by_date %>)
      to edit your application or change your choice of provider, course or
      training location.
    </p>

    <%= govuk_link_to t('application_complete.dashboard.edit_link'), candidate_interface_application_edit_path %>
  </div>
<% end %>
