<div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
  <h2 class="govuk-heading-m"><%= t('.title') %> </h2>
  <% if visible_to_providers? %>
    <%= t('.opt_in_and_visible_html') %>
  <% elsif pool_opt_in? && waiting_for_provider_decision? %>
    <%= t('.opt_in_and_waiting_for_decision_html') %>
  <% elsif pool_opt_in? && offer? %>
    <%= t('.opt_in_and_has_offer_html') %>
  <% elsif pool_opt_out_or_no_preference? %>
    <%= t('.opt_out_html') %>
  <% end %>

  <p class="govuk-body"><%= govuk_link_to(t('.how_sharing_works'), candidate_interface_share_details_path) %></p>
</div>
