<div class="app-application-item">
  <%= govuk_link_to view_application_path do %>
    <div class="app-application-item__body">
      <div class="app-application-item__status govuk-!-margin-bottom-0">
        <div class="app-application-item__status_tag">
          <%= render(CandidateInterface::ApplicationStatusTagComponent.new(application_choice:, display_info_text: false)) %>
        </div>

        <% if show_decline_by_default_text? %>
          <p class="govuk-body app-course-choice__deadline-reminder govuk-!-margin-top-1">
            <%= t('.respond_before', date: decline_by_default_at.to_fs(:govuk_time_first_no_year_date_time)) %>
          </p>
        <% end %>
      </div>
      <div class="app-application-item__details">
        <div class="app-application-item__provider_id">
          <h2 class="govuk-heading-s">
            <%= provider_name %>
          </h2>
          <p class="govuk-body-s"><%= application_id %></p>
        </div>
        <p class="govuk-body-s"><%= course_option_summary %></p>
      </div>
    </div>
  <% end %>
</div>
