<% if @application_form.ended_without_success? %>
  <%= render CandidateInterface::CarryOverBannerComponent.new(application_form: @application_form) %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><%= title %></h1>

<%= render(CandidateInterface::ApplicationDashboardGuidanceComponent.new(application_form: @application_form)) %>
<% if @application_form.ended_without_success? %>
  <%= render CandidateInterface::ApplyAgainCallToActionComponent.new(application_form: @application_form) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(CandidateInterface::ApplicationCompleteContentComponent.new(application_form: @application_form)) %>
    <%= render(CandidateInterface::CourseChoicesReviewComponent.new(application_form: @application_form, editable: false, heading_level: 3, show_status: true, render_link_to_find_when_rejected_on_qualifications: true, display_accepted_application_choices: true)) %>
    <%= render(CandidateInterface::PreviousApplicationsComponent.new(candidate: @candidate)) %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: '/candidate_interface/shared/support', locals: { support_reference: @application_form.support_reference } %>

    <aside class="app-related" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Updating your contact details</h2>

      <p class="govuk-body-s">
        You can update your contact details at any point during the application process. To do this, email us at <%= bat_contact_mail_to %>.
      </p>
    </aside>
  </div>
</div>
