<%= govuk_tag(text: text, colour: colour) %>
<% supplementary_tags do |supplementary_tag_text, supplementary_tag_colour| %>
  <%= govuk_tag(text: supplementary_tag_text, colour: supplementary_tag_colour) %>
<% end %>

<% if @display_info_text %>
  <% if @application_choice.application_not_sent? %>
    <p class="govuk-body govuk-!-margin-top-2">
      Your application was not sent for this course because it was not submitted before the deadline.
    </p>
  <% elsif @application_choice.unsubmitted? && @application_choice.course_available? %>
    <p class="govuk-body govuk-!-margin-top-2">
      <%= govuk_link_to candidate_interface_course_choices_course_review_path(@application_choice) do %>
        <%= t('application_form.courses.continue_application') %>
        <span class="govuk-visually-hidden"> <%= @application_choice.current_course.provider.name %></span>
      <% end %>
    </p>
  <% elsif (@application_choice.decision_pending? || @application_choice.inactive?) %>
    <% unless @application_choice.days_since_sent_to_provider.nil? %>
      <% days_since_sent_to_provider = @application_choice.days_since_sent_to_provider %>
      <p class="govuk-!-margin-top-2">
        <% if days_since_sent_to_provider.zero? %>
          Application submitted today.
        <% else %>
          Application submitted <%= days_since_sent_to_provider %> <%= 'day'.pluralize(days_since_sent_to_provider) %> ago.
        <% end %>
      </p>
    <% end %>

    <p class="govuk-body govuk-!-margin-top-2">
      <% if @application_choice.inactive? && @application_choice.application_form.can_add_more_choices? %>
        You can add an application for a different training provider while you wait for a decision on this application.
      <% else %>
        If you do not receive a response from this training provider, you can withdraw this application and apply to another provider.
      <% end %>
    </p>
  <% elsif @application_choice.withdrawn_at_candidates_request? %>
    <p class="govuk-body govuk-!-margin-top-2">
      You requested to withdraw your application. If you did not request this, email <%= govuk_link_to 'becomingateacher@digital.education.gov.uk', 'mailto:becomingateacher@digital.education.gov.uk' %>.
    </p>
  <% elsif  @application_choice.offer_deferred? %>
    <p class="govuk-body govuk-!-margin-top-2">
      Your training will now start in <%= (@application_choice.current_course_option.course.start_date + 1.year).to_fs(:month_and_year) %>.
    </p>
  <% elsif @application_choice.pending_conditions? || @application_choice.recruited? || @application_choice.offer? %>
    <%= govuk_details(
        summary_text: "What to do if you are unable to start training in #{@application_choice.current_course_option.course.start_date.to_fs(:month_and_year)}",
        classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-2',
      ) do %>
      <p>
        You can defer your offer and start your course a year later.
      </p>

      <p>
        Contact <%= @application_choice.current_course_option.course.provider.name %> to ask if it is possible to defer, this will not affect your existing offer.
      </p>

      <p>
        If your provider agrees, you will need to accept the offer first.
      </p>

    <% end %>
  <% end %>
<% end %>
