<section class="app-summary-card govuk-!-margin-bottom-6">
  <%= render(SummaryCardHeaderComponent.new(title: "You have a break in your work history in the last 5 years (#{format_months_to_years_and_months(@work_break.length)})", heading_level: @heading_level)) do %>
    <div class="app-summary-card__actions">
      <ul class="app-summary-card__actions-list">
        <li class="app-summary-card__actions-list-item">
          <%= govuk_link_to candidate_interface_new_work_history_break_path(start_date: work_break.start_date, end_date: work_break.end_date) do %>
            Explain break [<%= between_formatted_dates %>]
          <% end %>
        </li>
        <li class="app-summary-card__actions-list-item">
        or
        </li>
        <li class="app-summary-card__actions-list-item">
          <%= govuk_link_to candidate_interface_new_work_history_path(start_date: work_break.start_date, end_date: work_break.end_date) do %>
            add another job [<%= between_formatted_dates %>]
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</section>
