<% content_for :title, t('page_titles.start_carry_over') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"><%= t('page_titles.start_carry_over') %></h1>

    <p class="govuk-body">
      You started an application for courses starting in the <%= application_form_academic_cycle %> academic year, which have now closed.
    </p>

    <p class="govuk-body">
      Continue your application to apply for courses starting in the <%= next_academic_cycle %> academic year instead.
    </p>

    <%= render CandidateInterface::ApplicationChoiceListComponent.new(
      application_form: @application_form,
      application_choices:,
      current_tab_name: params[:current_tab_name]
    ) %>

    <%= govuk_button_to 'Continue', candidate_interface_carry_over_path %>
  </div>
</div>
