<%= content_for :title, t('page_titles.your_applications') %>

<h1 class="govuk-heading-l">
  <%= t('carried_over_content_component.title') %>
</h1>
<p class="govuk-body">
  <%= t('carried_over_content_component.view_courses', date_and_time_find_opens:) %>
</p>

<p class="govuk-body">
  <%= t('carried_over_content_component.apply_opens', application_form_academic_year_range_name:, date_and_time_apply_opens:) %>
</p>

<% if application_form_after_find_opens? %>
  <%= govuk_button_link_to t('carried_over_content_component.add_application_choice'), candidate_interface_course_choices_do_you_know_the_course_path %>
<% end %>
