<%= govuk_notification_banner(title: t('notification_banner.info')) do |notification_banner| %>
  <% if references_did_not_come_back_in_time? %>
    <%= notification_banner.slot(:heading, text: 'Courses for the 2020 to 2021 academic year are now closed') %>
    <p class="govuk-body">Your references did not come back in time, but you can <%= govuk_link_to 'apply again', start_path, class: 'govuk-notification-banner__link' %></p>
  <% elsif between_cycles? %>
    <%= notification_banner.slot(:heading, text: 'Courses for the 2020 to 2021 academic year are now closed') %>
    <p class="govuk-body">Your application did not lead to a place, but you can <%= govuk_link_to 'apply again', start_path, class: 'govuk-notification-banner__link' %></p>
  <% else %>
    <%= notification_banner.slot(:heading, text: 'Do you want to continue applying?') %>
    <p class="govuk-body">Applications are open for courses starting academic year <%= RecruitmentCycle.cycle_name(RecruitmentCycle.next_year) %>.</p>
    <p class="govuk-body"><%= govuk_link_to 'Continue your application', start_path, class: 'govuk-notification-banner__link' %></p>
  <% end %>
<% end %>
