<%= form_with model: section_complete_form, url: path, method: request_method do |f| %>
  <%= f.govuk_error_summary %>

  <%= render(review_component) %>

  <%= f.govuk_radio_buttons_fieldset :completed, classes: 'govuk-!-width-two-thirds ', legend: { text: t('application_form.completed_question'), size: 'm' } do %>
    <% if hint_text %>
      <div class="govuk-hint"><%= hint_text %></div>
    <% end %>
    <%= f.govuk_radio_button :completed, true, label: { text: complete_or_reviewed_radio_button_label }, link_errors: true %>
    <%= f.govuk_radio_button :completed, false, label: { text: t('application_form.incomplete_radio') } %>
  <% end %>

  <%= f.govuk_submit t('continue') %>
<% end %>
