<% @course_choices.each do |course_choice| %>
  <div id='course-choice-<%= course_choice.id %>' class='qa-application-choice-<%= course_choice.id %> <%= warning_container_css_class(course_choice) %>'>
  <% if FeatureFlag.active?('unavailable_course_option_warnings') && @editable %>
    <% if course_choice.course_not_available? %>
      <p class='app-review-warning__primary-message'><%= course_choice.course_not_available_error %>.</p>
      <p class='govuk-body'><%= course_choice.provider.name %> have decided not to run this course.</p>
      <p class='govuk-body'>You can:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li><%= govuk_link_to 'delete this choice', candidate_interface_confirm_destroy_course_choice_path(course_choice.id) %></li>
        <% if course_change_path(course_choice) %>
          <li><%= govuk_link_to 'change to another course', course_change_path(course_choice) %></li>
        <% end %>
        <li>
          <%= govuk_link_to 'contact the training provider', "#{course_choice.course.find_url}#section-contact" %>
          to discuss alternatives
        </li>
      </ul>
    <% elsif course_choice.course_closed_on_apply? %>
      <p class='app-review-warning__primary-message'><%= course_choice.course_closed_on_apply_error %>.</p>
      <p class='govuk-body'>You can still apply for '<%= course_choice.course.name_and_code %>' on UCAS.</p>
      <p class='govuk-body'>You can:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li><%= govuk_link_to 'delete this choice', candidate_interface_confirm_destroy_course_choice_path(course_choice.id) %></li>
        <% if course_change_path(course_choice) %>
          <li><%= govuk_link_to 'change to another course', course_change_path(course_choice) %></li>
        <% end %>
        <li>
          <%= govuk_link_to 'contact the training provider', "#{course_choice.course.find_url}#section-contact" %>
          to discuss alternatives
        </li>
        <li>
          <%= govuk_link_to 'apply for this course on UCAS', "#{UCAS.apply_url}" %>
        </li>
      </ul>
    <% elsif course_choice.course_full? %>
      <p class='app-review-warning__primary-message'><%= course_choice.course_full_error %>.</p>
      <p class='govuk-body'>You can:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li><%= govuk_link_to 'delete this choice', candidate_interface_confirm_destroy_course_choice_path(course_choice.id) %></li>
        <% if course_change_path(course_choice) %>
          <li><%= govuk_link_to 'change to another course', course_change_path(course_choice) %></li>
        <% end %>
        <li>
          <%= govuk_link_to 'contact the training provider', "#{course_choice.course.find_url}#section-contact" %>
          to see if the course will re-open or discuss alternatives
        </li>
      </ul>
    <% elsif course_choice.chosen_study_mode_full? %>
      <p class='app-review-warning__primary-message'><%= course_choice.chosen_study_mode_full_error %>.</p>
      <p class='govuk-body'>You can:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <% if site_change_path(course_choice) %>
          <li><%= govuk_link_to 'pick a new location', site_change_path(course_choice) %></li>
        <% end %>
        <li><%= govuk_link_to 'delete this choice', candidate_interface_confirm_destroy_course_choice_path(course_choice.id) %></li>
        <% if course_change_path(course_choice) %>
          <li><%= govuk_link_to 'change to another course', course_change_path(course_choice) %></li>
        <% end %>
        <li>
          <%= govuk_link_to 'contact the training provider', "#{course_choice.course.find_url}#section-contact" %>
          to see if the course will re-open or discuss alternatives
        </li>
      </ul>
    <% elsif course_choice.chosen_site_full? %>
      <p class='app-review-warning__primary-message'><%= course_choice.chosen_site_full_error %>.</p>
      <p class='govuk-body'>You can:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <% if site_change_path(course_choice) %>
          <li><%= govuk_link_to 'pick a new location', site_change_path(course_choice) %></li>
        <% end %>
        <li><%= govuk_link_to 'delete this choice', candidate_interface_confirm_destroy_course_choice_path(course_choice.id) %></li>
        <% if course_change_path(course_choice) %>
          <li><%= govuk_link_to 'change to another course', course_change_path(course_choice) %></li>
        <% end %>
        <li>
          <%= govuk_link_to 'contact the training provider', "#{course_choice.course.find_url}#section-contact" %>
          to see if the course will re-open or discuss alternatives
        </li>
      </ul>
    <% end %>
  <% end %>

  <%= render(SummaryCardComponent.new(rows: course_choice_rows(course_choice), editable: @editable)) do %>
    <%= render(SummaryCardHeaderComponent.new(title: course_choice.offered_course.provider.name, heading_level: @heading_level)) do %>
      <div class='app-summary-card__actions'>
        <% if course_choice.offer? %>
          <%= link_to candidate_interface_offer_path(course_choice.id), class: 'govuk-link', data: { action: :respond } do %>
            <%= t('application_form.courses.view_and_respond_to_offer') %>
            <span class="govuk-visually-hidden"> <%= course_choice.offered_course.name_and_code %></span>
          <% end %>
        <% elsif withdrawable?(course_choice) %>
          <%= link_to candidate_interface_withdraw_path(course_choice.id), class: 'govuk-link', data: { action: :withdraw } do %>
            <%= t('application_form.courses.withdraw') %>
            <span class="govuk-visually-hidden"> <%= course_choice.offered_course.name_and_code %></span>
          <% end %>
        <% elsif @editable %>
          <%= link_to candidate_interface_confirm_destroy_course_choice_path(course_choice.id), class: 'govuk-link', data: { action: :delete } do %>
            <%= t('application_form.courses.delete') %>
            <span class="govuk-visually-hidden"> <%= course_choice.offered_course.name_and_code %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>

<% if any_withdrawable? %>
  <p class="govuk-body"><%= t('application_form.courses.withdrawal_information') %></p>
<% end %>

<% if show_missing_banner? %>
  <%= render(SectionMissingBannerComponent.new(section: :course_choices, section_path: candidate_interface_course_choices_index_path, error: @missing_error)) %>
<% end %>
