<% references.each do |reference| %>
  <%= render(SummaryCardComponent.new(rows: reference_rows(reference), editable: editable && reference.editable?, ignore_editable: ['History'])) do %>
    <%= render(SummaryCardHeaderComponent.new(title: card_title(reference))) do %>
      <div class="app-summary-card__actions">
        <ul class="app-summary-card__actions-list">
          <% if reference.feedback_requested? %>
            <div class="app-summary-card__actions">
              <%= link_to candidate_interface_confirm_cancel_decoupled_reference_path(reference.id), class: 'govuk-link' do %>
                <%= t('application_form.references.cancel') %>
                <span class="govuk-visually-hidden"> <%= reference.name %></span>
              <% end %>
            </div>
          <% end %>

          <% if reference.can_be_destroyed? %>
            <li class="app-summary-card__actions-list-item">
              <%= link_to candidate_interface_destroy_decoupled_reference_path(reference), class: 'govuk-link' do %>
                <%= t('application_form.references.delete') %>
                <span class="govuk-visually-hidden"> <%= reference.name %></span>
              <% end %>
            </li>
          <% elsif reference.request_can_be_deleted? %>
            <li class="app-summary-card__actions-list-item">
              <%= link_to candidate_interface_delete_decoupled_reference_request_path(reference), class: 'govuk-link' do %>
                <%= t('application_form.references.delete_request.delete') %>
                <span class="govuk-visually-hidden"> <%= reference.name %></span>
              <% end %>
            </li>
          <% end %>

          <% if can_send?(reference) %>
            <li class="app-summary-card__actions-list-item">
              <%= link_to candidate_interface_decoupled_references_new_request_path(reference.id), class: 'govuk-link' do %>
                <%= t('application_form.references.send_request') %>
                <span class="govuk-visually-hidden"> <%= reference.name %></span>
              <% end %>
            </li>
          <% elsif can_resend?(reference) %>
            <li class="app-summary-card__actions-list-item">
              <%= link_to candidate_interface_decoupled_references_new_request_path(reference.id), class: 'govuk-link' do %>
                <%= t('application_form.references.resend_request') %>
                <span class="govuk-visually-hidden"> to <%= reference.name %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
