<% references.each do |reference| %>
  <%= render(SummaryCardComponent.new(rows: reference_rows(reference), editable: editable && reference.editable?)) do %>
    <%= render(SummaryCardHeaderComponent.new(title: card_title(reference))) do %>
          
      <div class="app-summary-card__actions">
        <ul class="app-summary-card__actions-list">
          <% if reference.feedback_requested? %>
            <% # TODO: add cancel path for decoupled references once it's ready %>
          <% elsif editable %>
            <li class="app-summary-card__actions-list-item">
              <%= link_to candidate_interface_destroy_decoupled_reference_path(reference), class: 'govuk-link' do %>
                <%= t('application_form.referees.delete') %>
                <span class="govuk-visually-hidden"> <%= reference.name %></span>
              <% end %>
            </li>
          <% end %>
          <% if can_send?(reference) %>
            <li class="app-summary-card__actions-list-item">
              <%= link_to candidate_interface_decoupled_references_new_request_path(reference.id), class: 'govuk-link' do %>
                <%= t('application_form.referees.send_request') %>
                <span class="govuk-visually-hidden"> <%= reference.name %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
