<p class="govuk-body">
  <%= t('gcse_edit_grade.guidance.main') %>
</p>

<% if science? %>
  <p class="govuk-body">
    <% if scottish_national_5? %>
      <%= t('gcse_edit_grade.guidance.triple_scottish_national_science') %>
    <% elsif gcse? || gce_o_level? %>
      <%= t('gcse_edit_grade.guidance.triple_gcse_science') %>
    <% end %>
  </p>
<% end %>

<% if english? && (gcse? || gce_o_level?) %>
  <% type = gcse? ? 'a GCSE' : 'an O level' %>
  <%= render DetailsComponent.new(
    summary_text: t('gcse_edit_grade.guidance.english_literature_only.summary', type: type),
    details_body: t('gcse_edit_grade.guidance.english_literature_only.details'),
    additional_css_classes: 'govuk-!-margin-bottom-2',
    )
  %>

  <%= render DetailsComponent.new(
    summary_text: t('gcse_edit_grade.guidance.multiple_english_qualifications.summary'),
    details_body: t('gcse_edit_grade.guidance.multiple_english_qualifications.details'),
    additional_css_classes: 'govuk-!-margin-bottom-6',
    )
  %>
<% end %>
