<p class="govuk-body">
  <% if gce_o_level? %>
    <%= simple_format t('gcse_edit_grade.guidance.o_level_guidance'), class: 'govuk-body' %>
  <% elsif scottish_national_5? %>
    <%= simple_format t('gcse_edit_grade.guidance.scottish_national_5'), class: 'govuk-body' %>
  <% else %>
    <%= simple_format t('gcse_edit_grade.guidance.main'), class: 'govuk-body' %>
    <% if english? %>
      <p class="govuk-body">
        <%= t('gcse_edit_grade.guidance.multiple_english_gcses.secondary') %>
      </p>
    <% end %>
  <% end %>
</p>

<% if science? && scottish_national_5? %>
  <p class="govuk-body">
    <%= t('gcse_edit_grade.guidance.triple_scottish_national_science') %>
  </p>
<% end %>
