<p class="govuk-body">
  <%= t('gcse_edit_grade.guidance.main') %>
</p>

<% if science? %>
  <p class="govuk-body">
    <% if scottish_national_5? %>
      <%= t('gcse_edit_grade.guidance.triple_scottish_national_science') %>
    <% elsif gcse? || gce_o_level? %>
      <%= t('gcse_edit_grade.guidance.triple_gcse_science') %>
    <% end %>
  </p>
<% end %>

<% if english? && (gcse? || gce_o_level?) %>
  <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <% type = gcse? ? 'a GCSE' : 'an O level' %>
        <%= t('gcse_edit_grade.guidance.english_literature_only.summary', type: type) %>
      </span>
    </summary>
    <div class="govuk-details__text">
      <%= t('gcse_edit_grade.guidance.english_literature_only.details') %>
    </div>
  </details>

  <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%= t('gcse_edit_grade.guidance.multiple_english_qualifications.summary') %>
      </span>
    </summary>
    <div class="govuk-details__text">
      <%= t('gcse_edit_grade.guidance.multiple_english_qualifications.details') %>
    </div>
  </details>
<% end %>
