<%= govuk_task_list(id_prefix: 'invites') do |task_list| %>
  <% invites.each do |invite| %>
    <%= task_list.with_item(html_attributes: { id: invite.id }) do |item| %>
      <%= item.with_title(
        text: t('.title_html', provider_name: invite.provider_name),
        hint: invite.course_name_code_and_study_mode,
      ) %>

      <%= item.with_status do %>
        <% if invite.applied? %>
          <div class="govuk-!-margin-bottom-1">
            <%= govuk_tag text: invite.candidate_decision.capitalize, colour: 'green' %>
          </div>
          <div>
            <%= govuk_link_to t('.view_application'), application_choice_link(invite) %>
          </div>
        <% else %>
          <%= govuk_link_to t('.view_invite'), candidate_interface_invite_path(invite) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
