<%= content_for :title, t('page_titles.your_applications') %>

<h1 class="govuk-heading-xl">
  <%= t('mid_cycle_content_component.title') %>
</h1>
<% if application_form_presenter.application_limit_reached? %>
  <%= govuk_warning_text(text: t('mid_cycle_content_component.you_cannot_submit_more')) %>
  <p class="govuk-body">This is because you have a total of 15 applications that have been either:</p>
  <%= govuk_list(
    [
      t('mid_cycle_content_component.rejected_by_provider'),
      t('mid_cycle_content_component.withdrawn_by_provider'),
      inactive_bullet,
      t('mid_cycle_content_component.declined_offer'),
      t('mid_cycle_content_component.conditions_not_met'),
    ],
    type: :bullet,
  ) %>
  <p class="govuk-body"><%= t('mid_cycle_content_component.you_will_be_able_to_apply_again', apply_reopens_date:, next_year:) %></p>
  <p class="govuk-body"><%= t('mid_cycle_content_component.email_for_help_html', email_address: govuk_mail_to(t('mid_cycle_content_component.becoming_a_teacher_email'))) %></p>
<% elsif application_form_presenter.can_add_more_choices? %>
  <%= christmas_response_time_warning_text %>
  <%= render CandidateInterface::ApplicationsLeftMessageComponent.new(application_form) %>
  <p class="govuk-body">
    <%= govuk_link_to t('mid_cycle_content_component.read_how_the_application_process_works'), candidate_interface_guidance_path %>.
  </p>
  <p class="govuk-body"><%= t('mid_cycle_content_component.training_providers_offer_places_throughout_the_year') %></p>
  <p class="govuk-body"><%= t('mid_cycle_content_component.once_a_course_is_full') %></p>

  <% if incomplete_details_message.present? %>
    <p class="govuk-body"><%= incomplete_details_message %></p>
  <% end %>

  <%= govuk_button_link_to t('mid_cycle_content_component.add_application'), candidate_interface_course_choices_do_you_know_the_course_path %>
<% else %>
  <p class="govuk-body">You have 4 applications in progress. This is the maximum allowed.</p>
  <%= govuk_warning_text(text: t('mid_cycle_content_component.you_cannot_add_any_more_applications')) %>
  <p class="govuk-body"><%= t('mid_cycle_content_component.you_can_add_more_applications_if') %></p>

  <%= govuk_list(
    [
      t('mid_cycle_content_component.rejected_by_provider'),
      t('mid_cycle_content_component.withdrawn_by_provider'),
      inactive_bullet,
      t('mid_cycle_content_component.declined_offer'),
      t('mid_cycle_content_component.conditions_not_met'),
    ],
    type: :bullet,
  ) %>
  <p class="govuk-body"><%= t('mid_cycle_content_component.once_you_have_reached_the_limit', max_number_of_applications:, next_year:) %></p>
  <p class="govuk-body">
    <%= govuk_link_to t('mid_cycle_content_component.read_how_the_application_process_works'), candidate_interface_guidance_path %>.
  </p>
<% end %>
