<% if ske_conditions.one? %>
  <p class="govuk-body">
    If you accept this offer, you will need to do <%= presenter.course_description %>. This is to help you improve your subject knowledge because <%= presenter.reason %>.
  </p>

  <p class="govuk-body">
    You should complete the course before your teacher training starts in <%= training_starts.to_fs(:month_and_year) %>.
  </p>

  <p class="govuk-body">
    The course will be free and you will receive £175 per week. How and when this is paid will depend on your provider.
  </p>

  <p class="govuk-body">
    You can choose how you study your course. Courses can be:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>full time (about 25 hours of studying a week)</li>
    <li>part time (the course might take longer than <%= ske_condition.length %> weeks if it is part time)</li>
    <li>online, in person, or a mixture of both</li>
  </ul>
<% else %>
  <p class="govuk-body">
    If you accept this offer, you will need to do:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <% ske_conditions.each do |sc| %>
      <li><%= presenter(sc).course_description %></li>
    <% end %>
  </ul>

  <p class="govuk-body">
    This is to help you improve your subject knowledge because:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <% ske_conditions.each do |sc| %>
      <li><%= presenter(sc).reason %></li>
    <% end %>
  </ul>

  <p class="govuk-body">
    You should complete these courses before your teacher training starts in <%= training_starts.to_fs(:month_and_year) %>.
  </p>
  <p class="govuk-body">
    The courses will be free and you will receive £175 per week. How and when this is paid will depend on your provider.
  </p>
  <p class="govuk-body">
    You can choose how you study your courses. Courses can be:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>full time (about 25 hours of studying a week)</li>
    <li>part time (your courses might take longer to complete if they are part time)</li>
    <li>online, in person, or a mixture of both</li>
  </ul>
<% end %>
