<% if @qualifications.present? %>
  <% if @submitting_application && !@application_form.other_qualifications_completed %>
    <%= render CandidateInterface::IncompleteSectionComponent.new(
      section: application_form.international? ? :other_qualifications_international : :other_qualifications,
      section_path: candidate_interface_review_other_qualifications_path,
      error: @missing_error,
    ) %>
  <% end %>

  <% if !@submitting_application %>
    <%= govuk_link_to t('application_form.other_qualification.another.button'),
      candidate_interface_other_qualification_type_path,
      button: true,
      class: 'govuk-button--secondary' %>
  <% end %>

  <% @qualifications.each do |qualification| %>
    <%= render(SummaryCardComponent.new(rows: other_qualifications_rows(qualification), editable: @editable)) do %>
      <%= render(SummaryCardHeaderComponent.new(title: qualification.title, heading_level: @heading_level)) do %>
        <% if @editable %>
          <div class="app-summary-card__actions">
            <%= govuk_link_to candidate_interface_confirm_destroy_other_qualification_path(qualification.id) do %>
              <%= t('application_form.other_qualification.delete') %><span class="govuk-visually-hidden"><%= generate_action(qualification: qualification) %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if @submitting_application && !application_form.other_qualifications_completed %>
    <%= render CandidateInterface::IncompleteSectionComponent.new(
      section: application_form.international? ? :other_qualifications_international : :other_qualifications,
      section_path: candidate_interface_other_qualification_type_path,
      error: @missing_error,
    ) %>
  <% elsif @submitting_application && application_form.other_qualifications_completed %>
    <%= render(SummaryCardComponent.new(rows: no_qualification_row, editable: @editable)) %>
  <% else %>
    <div class="govuk-inset-text govuk-!-width-two-thirds govuk-!-margin-top-0">
      <p class="govuk-body">Adding A levels and other qualifications makes your application stronger. They demonstrate subject knowledge not covered in your degree or work experience.</p>
      <p class="govuk-body">Training providers usually ask you for them later in the process.</p>

      <%= govuk_link_to t('application_form.other_qualification.first.button'),
        candidate_interface_other_qualification_type_path,
        button: true,
        class: 'govuk-button--secondary govuk-!-margin-bottom-0' %>
    </div>

    <%= render(SummaryCardComponent.new(rows: no_qualification_row, editable: @editable)) %>
  <% end %>
<% end %>
