<% if show_missing_banner? %>
  <%= render(CandidateInterface::IncompleteSectionComponent.new(section: :other_qualifications, section_path: candidate_interface_review_other_qualifications_path, error: @missing_error)) %>
<% end %>
<% @qualifications.each do |qualification| %>
  <%= render(SummaryCardComponent.new(rows: other_qualifications_rows(qualification), editable: @editable)) do %>
    <%= render(SummaryCardHeaderComponent.new(title: qualification.title, heading_level: @heading_level)) do %>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= govuk_link_to candidate_interface_confirm_destroy_other_qualification_path(qualification.id) do %>
            <%= t('application_form.other_qualification.delete') %><span class="govuk-visually-hidden"><%= generate_action(qualification: qualification) %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @qualifications.empty? %>
  <p class="govuk-body">No academic or other qualifications entered.</p>
<% end %>
