<h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.references') %></h2>

<%= render CandidateInterface::ReferencesGuidanceComponent.new(references: @application_form_presenter.references) %>

<%= render CandidateInterface::ReferenceStatusesComponent.new(references: @application_form_presenter.references) %>

<ol class="app-task-list">
  <li class="app-task-list__item">
    <%= render(CandidateInterface::TaskListItemReferencesComponent.new(references: @application_form_presenter.references)) %>
  </li>

  <li class="app-task-list__item">
    <%= render(CandidateInterface::TaskListItemSelectReferencesComponent.new(application_form_presenter: @application_form_presenter)) %>
  </li>
</ol>
