<% if reference.email_bounced? %>
  <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    Email could not be sent - check email address and send again
  </p>
<% elsif reference.feedback_requested? %>
  <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    <% if reference.reminder_sent_at.present? %>
      Reminder sent on <%= reference.reminder_sent_at.time.to_fs(:govuk_date) %>
    <% else %>
      Request sent on <%= request_sent_at.time.to_fs(:govuk_date) %>
    <% end %>

    <% if can_send_reminder? %>
      - <%= govuk_link_to(
        t('application_form.references.reminder_link'),
        candidate_interface_references_new_reminder_path(reference, return_to: 'offer-dashboard'),
      ) %>
    <% end %>

    <% if can_be_cancelled? %>
      <%= can_send_reminder? ? 'or' : '-' %> <%= govuk_link_to(
        t('application_form.references.cancel_link'),
        candidate_interface_references_confirm_cancel_reference_path(reference, return_to: 'offer-dashboard'),
        visually_hidden_suffix: "for #{reference.name}",
      ) %>
    <% end %>
  </p>
<% end %>
