<div class="<%= container_class %>">
  <% if too_many_complete_references? %>
    <p class="app-inset-text__title"><%= t('application_form.references.review.more_than_two') %></p>
    <p class="govuk-body"><%= too_many_references_error %></p>
  <% end %>

  <% references.each do |reference| %>
    <%= render(SummaryCardComponent.new(
      rows: reference_rows(reference),
      editable: editable && editable?(reference),
      ignore_editable: ignore_editable_for,
    )) do %>
      <%= render(SummaryCardHeaderComponent.new(title: card_title(reference), heading_level: @heading_level)) do %>
        <div class="app-summary-card__actions">
          <ul class="app-summary-card__actions-list">
            <% if reference.feedback_requested? %>
              <div class="app-summary-card__actions">
                <%= govuk_link_to candidate_interface_confirm_cancel_reference_path(reference.id) do %>
                  <%= t('application_form.references.cancel_request.action') %>
                  <span class="govuk-visually-hidden"> <%= reference.name %></span>
                <% end %>
              </div>
            <% elsif can_retry?(reference) %>
              <li class="app-summary-card__actions-list-item">
                <%= govuk_link_to candidate_interface_references_retry_request_path(reference.id) do %>
                  <%= t('application_form.references.retry_request.action') %>
                  <span class="govuk-visually-hidden"> to <%= reference.name %></span>
                <% end %>
              </li>
            <% end %>

            <% if reference.not_requested_yet? %>
              <li class="app-summary-card__actions-list-item">
                <%= govuk_link_to candidate_interface_confirm_destroy_referee_path(reference) do %>
                  <%= t('application_form.references.delete_referee.action') %>
                  <span class="govuk-visually-hidden"> <%= reference.name %></span>
                <% end %>
              </li>
            <% elsif reference.feedback_provided? %>
              <li class="app-summary-card__actions-list-item">
                <%= govuk_link_to candidate_interface_confirm_destroy_reference_path(reference) do %>
                  <%= t('application_form.references.delete_reference.action') %>
                  <span class="govuk-visually-hidden"> <%= reference.name %></span>
                <% end %>
              </li>
            <% elsif request_can_be_deleted?(reference) %>
              <li class="app-summary-card__actions-list-item">
                <%= govuk_link_to candidate_interface_confirm_destroy_reference_request_path(reference) do %>
                  <%= t('application_form.references.delete_request.action') %>
                  <span class="govuk-visually-hidden"> <%= reference.name %></span>
                <% end %>
              </li>
            <% end %>

            <% if can_send?(reference) %>
              <li class="app-summary-card__actions-list-item">
                <%= govuk_link_to candidate_interface_references_new_request_path(reference.id) do %>
                  <%= t('application_form.references.send_request.action') %>
                  <span class="govuk-visually-hidden"> <%= reference.name %></span>
                <% end %>
              </li>
            <% elsif can_resend?(reference) %>
              <li class="app-summary-card__actions-list-item">
                <%= govuk_link_to candidate_interface_references_new_request_path(reference.id) do %>
                  <%= t('application_form.references.resend_request.action') %>
                  <span class="govuk-visually-hidden"> to <%= reference.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
