<% if show_missing_banner? %>
  <%= render(CandidateInterface::IncompleteSectionComponent.new(**incomplete_section_params)) %>
<% end %>

<% references.each_with_index do |reference, index| %>
  <%= render(SummaryCardComponent.new(
    rows: reference_rows(reference),
    editable: editable && reference_editable?(reference),
    ignore_editable: ignore_editable_for,
  )) do %>
    <%= render(SummaryCardHeaderComponent.new(title: reference.name, heading_level: @heading_level)) do %>
      <div class="app-summary-card__actions">
        <ul class="app-summary-card__actions-list">
          <% if deletable? && reference_editable?(reference) %>
            <li class="app-summary-card__actions-list-item">
              <%= govuk_link_to confirm_destroy_path(reference), class: 'govuk-!-font-weight-bold' do %>
                <%= t('application_form.references.delete_reference.action') %>
                <span class="govuk-visually-hidden">reference from <%= reference.name %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
