<% content_for :title, t('page_titles.pick_replacement_action') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_application_complete_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: pick_replacement_action_form, url: candidate_interface_replace_course_choice_path(id: @course_choice.id), method: :post do |f| %>

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"> <%= "#{provider_name} - #{course_name_and_code}" %></span>
      <%= t('page_titles.pick_replacement_action') %>
    </h1>

    <% if course_only_available_on_ucas? %>
      <p class='govuk-body'><%= provider_name %> has said they do not want to get applications for <%= course_name_and_code %> through Apply for teacher training at the moment.</p>
      <p class='govuk-body'>You can contact your provider to find out if they’re still willing to consider your application through this service, or you can apply through UCAS Teacher Training instead.</p>
      <p class='govuk-body'>Alternatively, choose another course.</p>
      <p class='govuk-body'>Make a decision now: if you do nothing, we’ll send your application to <%= provider_name %> when your references come in.</p>
    <% elsif @course_choice.course.withdrawn %>
      <p class='govuk-body'><%= course_name_and_code %> is not running anymore.</p>
    <% elsif other_locations_available? && other_study_mode && other_study_mode.vacancies? %>
      <p class='govuk-body'> There are no more <%= study_mode %> places for <%= course_name_and_code %> at your choice of location.</p>
    <% elsif !other_locations_available? && other_study_mode && other_study_mode.vacancies? %>
      <p class='govuk-body'> There are no more <%= study_mode %> places for <%= course_name_and_code %>.</p>
    <% elsif other_locations_available? %>
        <p class='govuk-body'>There are no more places at <%= site_name %> for <%= course_name_and_code %>.</p>
    <% else %>
      <p class='govuk-body'><%= course_name_and_code %> is now full.</p>
    <% end %>

    <% unless course_only_available_on_ucas? %>
      <p class='govuk-body'>Update your course choice now: when your references come in we’ll send your application to your <%= pluralize_provider %>.</p>
    <% end %>

    <%= f.govuk_radio_buttons_fieldset :choices, legend: { text: 'What do you want to do?' } do %>
      <% if course_only_available_on_ucas? %>
        <%= f.govuk_radio_button :replacement_action, 'apply_through_ucas', label: { text: "Apply for this course through UCAS" } %>
        <%= f.govuk_radio_button :replacement_action, 'replace_course', label: { text: 'Choose a different course on Apply for teacher training' } %>
        <%= f.govuk_radio_button :replacement_action, 'keep_choice', label: { text: 'Keep this course choice anyway' }, hint_text: "When your references come in we'll send your application to #{provider_name}, but there’s no guarantee they’ll consider it." %>
      <% else %>
        <% if other_locations_available? %>
          <%= f.govuk_radio_button :replacement_action, 'replace_location', label: { text: 'Choose a different location' } %>
        <% end %>
        <% if other_study_mode && other_study_mode.vacancies? %>
          <%= f.govuk_radio_button :replacement_action, 'replace_study_mode', label: { text: "Study #{other_study_mode.study_mode.humanize.downcase} instead" } %>
        <% end %>
          <%= f.govuk_radio_button :replacement_action, 'replace_course', label: { text: 'Choose a different course' } %>
          <%= f.govuk_radio_button :replacement_action, 'remove_course', label: { text: 'Remove course from application' } %>
          <%= f.govuk_radio_button :replacement_action, 'keep_choice', label: { text: 'Keep this course choice anyway' }, hint_text: "When your references come in we'll send your application to #{provider_name}, but there’s no guarantee they’ll consider it." %>
      <% end %>
    <% end %>

    <%= f.govuk_submit 'Continue' %>
  <% end %>
  </div>
</div>
