<section>
  <% if CycleTimetable.between_cycles?(application_form.phase) %>
    <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.review') %></h2>
    <p class="govuk-body">You cannot submit your application until 9am on <%= reopen_date %>. You can keep making changes to the rest of your application until then.</p>
    <%= govuk_button_link_to 'Review your application', candidate_interface_application_review_path %>
  <% else %>
    <h2 class="govuk-heading-m govuk-!-font-size-27"><%= t('section_groups.check_and_submit') %></h2>
    <%= govuk_button_link_to t('section_items.check_and_submit'), candidate_interface_application_review_path %>
  <% end %>
</section>
