<% @volunteering_roles.each do |volunteering_role| %>
  <%= render(SummaryCardComponent.new(rows: volunteering_role_rows(volunteering_role), editable: @editable)) do %>
    <%= render(SummaryCardHeaderComponent.new(title: volunteering_role.role, heading_level: @heading_level)) do %>
      <% if @editable %>
        <div class="app-summary-card__actions">
          <%= govuk_link_to candidate_interface_confirm_destroy_volunteering_role_path(volunteering_role.id) do %>
            <%= t('application_form.volunteering.delete.action') %><span class="govuk-visually-hidden"><%= generate_action(volunteering_role: volunteering_role) %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if show_missing_banner? %>
  <%= render(CandidateInterface::IncompleteSectionComponent.new(section: :volunteering, section_path: candidate_interface_volunteering_experience_path, error: @missing_error)) %>
<% elsif @application_form.application_volunteering_experiences.empty? %>
  <section class="app-summary-card govuk-!-margin-bottom-6">
    <%= render(SummaryCardHeaderComponent.new(title: t('application_form.volunteering.no_experience.summary_card_title'), heading_level: @heading_level)) %>

    <div class="app-summary-card__body">
      The Department for Education have made it easier for teacher training
      applicants to gain experience in school. Learn more at
      <%= govuk_link_to 'Get school experience', 'https://schoolexperience.education.gov.uk/', target: :_blank, rel: 'noopener' %>.
    </div>
  </section>
<% end %>
