<% content_for :title, title_with_error_prefix("Select a course to add to #{@pick_course.applicant_name}’s application", @pick_course.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_search_course_new_path(course_code: @pick_course.course_code)) %>

<% if @pick_course.unavailable_courses.present? %>
  <h2 class="govuk-heading-m">Courses with no vacancies</h2>
  <% @pick_course.unavailable_courses.each do |course| %>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= "#{course.provider.name} (#{course.provider.code}) – #{course.name} (#{course.code})" %></li>
    </ul>
  <% end %>
<% end %>

<% if @pick_course.course_options.present? %>
  <%= form_with model: @pick_course, url: support_interface_application_form_create_course_path(course_code: @pick_course.course_code) do |f| %>
    <%= f.govuk_error_summary %>
    <%= f.govuk_radio_buttons_fieldset :course_option_id, legend: { text: 'Which course should be added to the application?', size: 'm' } do %>
      <% @pick_course.course_options.each_with_index do |co, i| %>
        <%= f.govuk_radio_button :course_option_id, co.course_option_id, label: { text: "#{co.provider_name} (#{co.provider_code}) – #{co.course_name} (#{co.course_code})" }, hint: { text: "#{co.site_name} – #{co.study_mode}" }, link_errors: i.zero? %>
      <% end %>
    <% end %>
    <%= f.govuk_submit 'Add course to application' %>
  <% end %>
<% else %>
  <p class="govuk-body">No open courses found for current recruitment cycle.</p>
  <%= govuk_link_to('Search again', support_interface_application_form_search_course_new_path(course_code: @pick_course.course_code), button: true) %>
<% end %>
