<% content_for :browser_title, title_with_error_prefix('Add a course', @course_search.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @course_search,
      url: support_interface_application_form_search_course_path,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Add a course</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>A candidate can only add up to 3 courses. They cannot add the same course twice.</li>
        <li>Course choices can only be changed within 5 working days of an application being submitted.</li>
        <li>Candidates should withdraw their own course choices if possible. If this is not possible, a course choice can be removed by a developer. A developer or support agent can then add a course choice.</li>
      </ul>

      <h2 class="govuk-heading-m">Search for a course code</h2>
      <p class="govuk-body">
        Find courses by searching on
        <%= govuk_link_to(
          'Find postgraduate teacher training',
          'https://www.find-postgraduate-teacher-training.service.gov.uk/',
          target: '_blank',
          rel: 'nofollow',
        ) %>.
        Course codes are shown in brackets after the name of a course.
      </p>

      <%= f.govuk_text_field :course_code, label: { text: 'Course code', size: 's' }, width: 5 %>
      <%= f.govuk_submit 'Search' %>
    <% end %>
  </div>
</div>
