<% content_for :title, t('page_titles.references_send_reminder') %>
<% content_for :before_content, govuk_back_link_to(candidate_interface_references_review_path, 'Back') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @reference,
      url: candidate_interface_references_new_reminder_path(@reference),
      method: :post,
    ) do |f| %>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl"><%= @reference.name %></span>
        <%= t('page_titles.references_send_reminder') %>
      </h1>

      <%= govuk_inset_text(text: 'You can only send one reminder to this referee.') %>

      <% if @reference.next_automated_chase_at.present? %>
        <p class="govuk-body">
          The referee will also get an automatic reminder on <%= @reference.next_automated_chase_at.strftime('%-d %B %Y') %>.
        </p>
      <% end %>

      <%= f.govuk_submit t('application_form.references.send_reminder.confirm') %>

      <p class="govuk-body">
        <%= govuk_link_to t('application_form.references.send_reminder.cancel'), candidate_interface_references_review_path %>
      </p>
    <% end %>
  </div>
</div>
